{{#> 
	layouts/main 
	title="Helpers" 
	pagename="ui_helpers" 
	heading="<i class='subheader-icon fal fa-window'></i> Helpers" 
	category_1="UI Components" 
	pagedescription="helpers description"
}}

{{#*inline "head-block"}}{{/inline}}

{{#*inline "content-block"}}

<div class="row">
	
	<div class="col-sm-12">

		<div class="container">
			
			<div class="card mb-g">

				<div class="card-body">

					<h3 class="mb-4">
						Width <span class="fw-300">Presets</span> 
						<small>
							Uniform widths to keep things aligned. See <code>variables.scss</code> file for more details on <code>$p-*</code> values.
						</small>
					</h3>

					<table class="table m-0">
						<thead>
							<tr>
								<th class="h5" style="width: 150px">Class</th>
								<th class="h5">Description</th>
								<th class="h5">Example</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><code>.width-1</code></td>
								<td>change width to { width: $p-4 }</td>
								<td>
									<div class="d-block bg-danger-50 width-1 opacity-50" style="height:20px"></div>
								</td>
							</tr>
							<tr>
								<td><code>.width-2</code></td>
								<td>change width to { width: $p-4 + $p-1 }</td>
								<td>
									<div class="d-block bg-danger-50 width-2 opacity-50" style="height:20px"></div>
								</td>
							</tr>
							<tr>
								<td><code>.width-3</code></td>
								<td>change width to { width: $p-4 + $p-2 }</td>
								<td>
									<div class="d-block bg-danger-50 width-3 opacity-50" style="height:20px"></div>
								</td>
							</tr>
							<tr>
								<td><code>.width-4</code></td>
								<td>change width to { width: $p-4 + $p-2 + $p-1 }</td>
								<td>
									<div class="d-block bg-danger-50 width-4 opacity-50" style="height:20px"></div>
								</td>
							</tr>
							<tr>
								<td><code>.width-5</code></td>
								<td>change width to { width: $p-4 + $p-3 }</td>
								<td>
									<div class="d-block bg-danger-50 width-5 opacity-50" style="height:20px"></div>
								</td>
							</tr>
							<tr>
								<td><code>.width-6</code></td>
								<td>change width to { width: $p-5 }</td>
								<td>
									<div class="d-block bg-danger-50 width-6 opacity-50" style="height:20px"></div>
								</td>
							</tr>
							<tr>
								<td><code>.width-7</code></td>
								<td>change width to { width: $p-5 + $p-1 }</td>
								<td>
									<div class="d-block bg-danger-50 width-7 opacity-50" style="height:20px"></div>
								</td>
							</tr>
							<tr>
								<td><code>.width-8</code></td>
								<td>change width to { width: $p-5 + $p-2 }</td>
								<td>
									<div class="d-block bg-danger-50 width-8 opacity-50" style="height:20px"></div>
								</td>
							</tr>
							<tr>
								<td><code>.width-9</code></td>
								<td>change width to { width: $p-5 + $p-2 + $p-1 }</td>
								<td>
									<div class="d-block bg-danger-50 width-9 opacity-50" style="height:20px"></div>
								</td>
							</tr>
							<tr>
								<td><code>.width-10</code></td>
								<td>change width to { width: $p-5 + $p-3 }</td>
								<td>
									<div class="d-block bg-danger-50 width-10 opacity-50" style="height:20px"></div>
								</td>
							</tr>
						</tbody>
					</table>


				</div>
				
			</div>

			<div class="card mb-g">

				<div class="card-body">

					<h3 class="mb-4">
						Text <span class="fw-300">Turncaters</span> 
						<small>
							Uniform widths to keep things aligned. See <code>variables.scss</code> file for more details on <code>$p-*</code> values.
						</small>
					</h3>

					<div class="row">
						<div class="col-sm-6">

							<ul>
								<li>
									<code>.opacity-5</code> 							
								</li>
								<li>
									<code>.opacity-10</code>							
								</li>
								<li>
									<code>.opacity-15</code>							
								</li>
								<li>
									<code>.opacity-20</code>							
								</li>
								<li>
									<code>.opacity-25</code>							
								</li>
								<li>
									<code>.opacity-30</code>							
								</li>
								<li>
									<code>.opacity-35</code>							
								</li>
								<li>
									<code>.opacity-40</code>							
								</li>
								<li>
									<code>.opacity-45</code>							
								</li>
								<li>
									<code>.opacity-50</code>							
								</li>
								<li>
									<code>.opacity-55</code>							
								</li>
								<li>
									<code>.opacity-60</code>							
								</li>
								<li>
									<code>.opacity-65</code>							
								</li>
								<li>
									<code>.opacity-70</code>							
								</li>
								<li>
									<code>.opacity-75</code>							
								</li>
								<li>
									<code>.opacity-80</code>							
								</li>
								<li>
									<code>.opacity-85</code>							
								</li>
								<li>
									<code>.opacity-90</code>							
								</li>
								<li>
									<code>.opacity-95</code>							
								</li>
								<li>
									<code>.opacity-100</code>							
								</li>
							</ul>
							
						</div>
						<div class="col-sm-6">
							
						</div>
					</div>



{{!-- 					<div class="d-table w-100 mb-2">
						<div class="d-table-cell v-align-m" style="width: 100px">
							<h5>Class</h5>
						</div>
						<div class="d-table-cell v-align-m">
							<code>.opacity-5</code> 
							<code>.opacity-10</code>
							<code>.opacity-15</code>
							<code>.opacity-20</code>
							<code>.opacity-25</code>
							<code>.opacity-30</code>
							<code>.opacity-35</code>
							<code>.opacity-40</code>
							<code>.opacity-45</code>
							<code>.opacity-50</code>
							<code>.opacity-55</code>
							<code>.opacity-60</code>
							<code>.opacity-65</code>
							<code>.opacity-70</code>
							<code>.opacity-75</code>
							<code>.opacity-80</code>
							<code>.opacity-85</code>
							<code>.opacity-90</code>
							<code>.opacity-95</code>
							<code>.opacity-100</code>
						</div>
					</div>
					<div class="d-table w-100">
						<div class="d-table-cell v-align-m" style="width: 100px">
							<h5>Examples</h5>
						</div>
						<div class="d-table-cell v-align-m">
							<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-5">
							<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-10">
							<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-15">
							<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-20">
							<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-25">
							<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-30">
							<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-35">
							<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-40">
							<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-45">
							<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-50">
							<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-55">
							<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-60">
							<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-65">
							<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-70">
							<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-75">
							<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-80">
							<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-85">
							<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-90">
							<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-95">
							<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-100">
						</div>
					</div> --}}

					<table class="table m-0">
						<thead>
							<tr>
								<th class="h5" style="width: 150px">Class</th>
								<th class="h5">Description</th>
								<th class="h5">Example</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><code>.opacity-5</code></td>
								<td>change opacity to <strong>5%</strong></td>
								<td>
									<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-5">
								</td>
							</tr>
							<tr>
								<td><code>.opacity-10</code></td>
								<td>change opacity to <strong>10%</strong></td>
								<td>
									<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-10">
								</td>
							</tr>
							<tr>
								<td><code>.opacity-15</code></td>
								<td>change opacity to <strong>15%</strong></td>
								<td>
									<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-10">
								</td>
							</tr>
							<tr>
								<td><code>.opacity-20</code></td>
								<td>change opacity to <strong>20%</strong></td>
								<td>
									<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-20">
								</td>
							</tr>
							<tr>
								<td><code>.opacity-25</code></td>
								<td>change opacity to <strong>25%</strong></td>
								<td>
									<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-25">
								</td>
							</tr>
							<tr>
								<td><code>.opacity-30</code></td>
								<td>change opacity to <strong>30%</strong></td>
								<td>
									<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-30">
								</td>
							</tr>
							<tr>
								<td><code>.opacity-35</code></td>
								<td>change opacity to <strong>35%</strong></td>
								<td>
									<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-35">
								</td>
							</tr>
							<tr>
								<td><code>.opacity-40</code></td>
								<td>change opacity to <strong>40%</strong></td>
								<td>
									<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-40">
								</td>
							</tr>
							<tr>
								<td><code>.opacity-45</code></td>
								<td>change opacity to <strong>45%</strong></td>
								<td>
									<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-45">
								</td>
							</tr>
							<tr>
								<td><code>.opacity-50</code></td>
								<td>change opacity to <strong>50%</strong></td>
								<td>
									<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-50">
								</td>
							</tr>
							<tr>
								<td><code>.opacity-50</code></td>
								<td>change opacity to <strong>50%</strong></td>
								<td>
									<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-50">
								</td>
							</tr>
							<tr>
								<td><code>.opacity-55</code></td>
								<td>change opacity to <strong>55%</strong></td>
								<td>
									<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-55">
								</td>
							</tr>
							<tr>
								<td><code>.opacity-60</code></td>
								<td>change opacity to <strong>60%</strong></td>
								<td>
									<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-60">
								</td>
							</tr>
							<tr>
								<td><code>.opacity-65</code></td>
								<td>change opacity to <strong>65%</strong></td>
								<td>
									<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-65">
								</td>
							</tr>
							<tr>
								<td><code>.opacity-70</code></td>
								<td>change opacity to <strong>70%</strong></td>
								<td>
									<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-70">
								</td>
							</tr>
							<tr>
								<td><code>.opacity-75</code></td>
								<td>change opacity to <strong>75%</strong></td>
								<td>
									<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-75">
								</td>
							</tr>
							<tr>
								<td><code>.opacity-80</code></td>
								<td>change opacity to <strong>80%</strong></td>
								<td>
									<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-80">
								</td>
							</tr>
							<tr>
								<td><code>.opacity-85</code></td>
								<td>change opacity to <strong>85%</strong></td>
								<td>
									<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-85">
								</td>
							</tr>
							<tr>
								<td><code>.opacity-90</code></td>
								<td>change opacity to <strong>90%</strong></td>
								<td>
									<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-90">
								</td>
							</tr>
							<tr>
								<td><code>.opacity-95</code></td>
								<td>change opacity to <strong>95%</strong></td>
								<td>
									<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-95">
								</td>
							</tr>
							<tr>
								<td><code>.opacity-100</code></td>
								<td>change opacity to <strong>100%</strong></td>
								<td>
									<img src="img/demo/ng.jpg" class="rounded-circle width-3 h-auto opacity-100">
								</td>
							</tr>


						</tbody>
					</table>


				</div>
				
			</div>
		 
		</div>

	</div>

</div>


{{/inline}}

{{#*inline "scripts-block"}}{{/inline}}

{{/layouts/main}}