{{#> layouts/main title="Theme Settings" pagename="theme-settings" heading="Theme Settings" category_1="NextGen Intel" category_2="Theme Settings" pagedescription="Over 36 layout possibilities and over 285 different combinations"}}

{{#*inline "head-block"}}
<link rel="stylesheet" media="screen, print" href="css/theme-demo.min.css">
{{/inline}}

{{#*inline "content-block"}}


<h3>Mix and match layout options
<small>Create over 36 layout possibilities for your WebApp, get the right layout to suite your business needs</small>
</h3>
<div class="row">

	<div class="col-sm-6 col-lg-6 col-xl-4">

		<div class="d-flex app-body-demo">
			<div class="app-nav-demo bg-fusion-400">
				<div class="p-1 pt-0 bg-primary-300 pattern-0 app-header-demo">
					<img src="img/logo-all-white.png" alt="NextGen Logo" class="img-fluid">
				</div>
			</div>
			<div class="d-flex flex-column flex-1">
				<div class="app-header-demo bg-primary-300 pattern-0">
					&nbsp;
				</div>
				<div class="app-container-demo flex-1 p-2">
					<h4>
						Fixed Header
						<small>
							Header is in a fixed position at all times
						</small>
					</h4>

				</div>
			</div>
		</div>

	</div>

	<div class="col-sm-6 col-lg-6 col-xl-4">

		<div class="d-flex app-body-demo">
			<div class="app-nav-demo bg-primary-300 pattern-0 p-1 pt-0">
				<img src="img/logo-all-white.png" alt="NextGen Logo" class="img-fluid">
			</div>
			<div class="d-flex flex-column flex-1">
				<div class="app-header-demo bg-fusion-400"></div>
				<div class="app-container-demo flex-1 p-2">
					<h4>
						Fixed Navigation
						<small>
							Header is in a fixed position at all times
						</small>
					</h4>
				</div>
			</div>
		</div>

	</div>

	<div class="col-sm-6 col-lg-6 col-xl-4">

		<div class="d-flex app-body-demo">
			<div class="app-nav-demo-minify bg-primary-300 pattern-0">
				<img src="img/logo-minify.png" alt="NextGen Logo" class="img-fluid logo">
			</div>
			<div class="d-flex flex-column flex-1">
				<div class="app-header-demo bg-fusion-400"></div>
				<div class="app-container-demo flex-1 p-2">
					<h4>
						Minify Navigation
						<small>
							Header is in a fixed position at all times
						</small>
					</h4>
				</div>
			</div>
		</div>
		
	</div>

	<div class="col-sm-6 col-lg-6 col-xl-4">

		<div class="d-flex app-body-demo">
			<div class="app-nav-demo-hidden bg-primary-300 pattern-0">&nbsp;</div>
			<div class="d-flex flex-column flex-1">
				<div class="app-header-demo bg-fusion-400"></div>
				<div class="app-container-demo flex-1 p-2">
					<h4>
						Hide Navigation
						<small>
							Header is in a fixed position at all times
						</small>
					</h4>
				</div>
			</div>
		</div>

	</div>

	<div class="col-sm-6 col-lg-6 col-xl-4">
		
		<div class="d-flex app-body-demo">
			<div class="d-flex flex-column flex-1">
				<div class="app-nav-demo-top bg-primary-300 pattern-0 p-1">
					<img src="img/logo-minify.png" alt="NextGen Logo" class="img-fluid">
				</div>
				<div class="app-header-demo bg-fusion-400"></div>
				<div class="app-container-demo flex-1 p-2">
					<h4>
						Top Navigation
						<small>
							Header is in a fixed position at all times
						</small>
					</h4>
				</div>
			</div>
		</div>

	</div>

	<div class="col-sm-6 col-lg-6 col-xl-4">
	
		<div class="app-body-demo d-flex pl-5 pr-5 bg-fusion-900 pattern-0">
			<div class="app-nav-demo bg-fusion-400 p-1 pt-0">
				<img src="img/logo-white.png" alt="NextGen Logo" class="img-fluid">
			</div>
			<div class="d-flex flex-column flex-1">
				<div class="app-header-demo bg-fusion-50"></div>
				<div class="app-container-demo bg-faded flex-1 p-2">
					<h4 class="text-primary">
						Boxed Layout
						<small>
							Header is in a fixed position at all times
						</small>
					</h4>
				</div>
			</div>
		</div>

	</div>

</div>

<h3 class="mt-4">
	All available options
	<small>
		These changes the overall app layout structure without changing any DOM elements
	</small>
</h3>

<div class="card border-radius-0 mb-5">
	
	<table class="table table-hover m-0">
	    <thead>
	        <tr class="bg-fusion-300">
				<th class="pt-2 pb-2 pl-2">
	                <span class="m-0 fw-500 text-white">Switch</span>
	            </th>
	            <th class="pt-2 pb-2">
	                <span class="m-0 fw-500 text-white">Function</span>
	            </th>
	            <th class="pt-2 pb-2">
	                <span class="m-0 fw-500 text-white">Description <small class="m-0 d-inline text-white">(what it does)</small> </span>
	            </th>
				<th class="pt-2 pb-2">
	                <span class="m-0 fw-500 text-white">Supported Resolutions</span>
	            </th>
	            <th class="pt-2 pb-2">
	                <span class="m-0 fw-500 text-white">Incompatibility</span>
	            </th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr>
	            <th scope="row" style="width:80px">
	                <a href="javascript:void(0);" class="btn btn-switch m-0" data-action="toggle" data-class="header-function-fixed"></a>
	            </th>
	            <td>
	                <strong>Fixed Header</strong>
	            </td>
	            <td class="fs-sm">
	            	Header is in a fixed position at all times. This settings effects mobile view. The function adds the following class to the body
	            	<span class="text-muted d-block">
	            		<code>&lt;body class="header-function-fixed"> </code>
	            		<br>
	            		<i><strong>Note:</strong> when <code>.nav-function-top</code> you must first enable <code>.nav-function-fixed</code></i>
	            	</span>
	            </td>
	            <td><span class="badge badge-primary fw-500">GLOBAL</span>
	            </td>
	            <td><code>none</code>
	            </td>
	        </tr>
	        <tr>
	            <th scope="row" style="width:80px">
	                <a href="javascript:void(0);" class="btn btn-switch m-0" data-action="toggle" data-class="nav-function-fixed"></a>
	            </th>
	            <td>
	                <strong>Fixed Navigation</strong>
	            </td>
	            <td class="fs-sm">Left panel position becomes fixed. We activate the <a href="slimscroll.html" class="fw-500">slimScroll</a> plugin to keep it neat and tidy
					<span class="text-muted d-block">
	            		<code>&lt;body class="nav-function-fixed"> </code>
	            	</span>
	            </td>
	            <td><span class="badge badge-warning fw-500">DESKTOP</span> <span class="badge bg-warning-800 fw-500">TABLETS</span>
	            </td>
	            <td><code>none</code>
	            </td>
	        </tr>
	        <tr>
	            <th scope="row" style="width:80px">
	                <a href="javascript:void(0);" class="btn btn-switch m-0" data-action="toggle" data-class="nav-function-minify"></a>
	            </th>
	            <td>
	                <strong>Minify Navigation</strong>
	            </td>
	            <td class="fs-sm">Navigation items are hidden and collapsed. Only visible portion are the icons. Hovering over icon will reveal child elements.
					<span class="text-muted d-block">
	            		<code>&lt;body class="nav-function-minify"> </code>
	            	</span>
	            </td>
	            <td><span class="badge badge-warning fw-500">DESKTOP</span> <span class="badge bg-warning-800 fw-500">TABLETS</span>
	            </td>
	            <td><code>none</code>
	            </td>
	        </tr>
	        <tr>
	            <th scope="row" style="width:80px">
	                <a href="javascript:void(0);" class="btn btn-switch m-0" data-action="toggle" data-class="nav-function-hidden"></a>
	            </th>
	            <td>
	                <strong>Hide Navigation</strong>
	            </td>
	            <td class="fs-sm">Entire navigation pane shifts to off screen. This is useful for large map applications. Navigation is revealed when mouse touches the left portion of the screen
	            	<span class="text-muted d-block">
	            		<code>&lt;body class="nav-function-hidden"> </code>
	            	</span>
	            </td>
	            <td><span class="badge badge-warning fw-500">DESKTOP</span> <span class="badge bg-warning-800 fw-500">TABLETS</span>
	            </td>
	            <td>Top Navigation
	            </td>
	        </tr>
	        <tr>
	            <th scope="row" style="width:80px">
	                <a href="javascript:void(0);" class="btn btn-switch m-0" data-action="toggle" data-class="nav-function-top"></a>
	            </th>
	            <td>
	                <strong>Top Navigation</strong>
	            </td>
	            <td class="fs-sm">Otherwise known as horizontal navigation. The entire navigation pane shifts to the top. You will need to hover over icons to navigate to other menu items
	            	<span class="text-muted d-block">
	            		<code>&lt;body class="nav-function-top"> </code>
	            	</span>
	            </td>
	            <td><span class="badge badge-warning fw-500">DESKTOP</span> <span class="badge bg-warning-800 fw-500">TABLETS</span>
	            </td>
	            <td><code>none</code>
	            </td>
	        </tr>
	        <tr>
	            <th scope="row" style="width:80px">
	                <a href="javascript:void(0);" class="btn btn-switch m-0" data-action="toggle" data-class="mod-main-boxed"></a>
	            </th>
	            <td>
	                <strong>Boxed Layout</strong>
	            </td>
	            <td class="fs-sm">Minimize layout by inserting into a container. Some classes are not compatible with this change, however it does provide lots of whitespace
	            	<span class="text-muted d-block">
	            		<code>&lt;body class="mod-main-boxed"> </code>
	            	</span>
	            </td>
	            <td><span class="badge badge-warning fw-500">DESKTOP</span>
	            </td>
	            <td>Fixed Navigation
	            </td>
	        </tr>
	        <tr>
	            <th scope="row" style="width:80px">
	                <a href="javascript:void(0);" class="btn btn-switch m-0" data-action="toggle" data-class="nav-mobile-push"></a>
	            </th>
	            <td>
	                <strong>Push Content</strong>
	            </td>
	            <td class="fs-sm">Content pushed on menu reveal. Menu will be treated as a 'physical object' that will push the content aside.
	            	<span class="text-muted d-block">
	            		<code>&lt;body class="nav-mobile-push"> </code>
	            	</span>
	            </td>
	            <td><span class="badge badge-success fw-500">MOBILE</span> 
	            </td>
	            <td>Off-Canvas
	            </td>
	        </tr>
	        <tr>
	            <th scope="row" style="width:80px">
	                <a href="javascript:void(0);" class="btn btn-switch m-0" data-action="toggle" data-class="nav-mobile-no-overlay"></a>
	            </th>
	            <td>
	                <strong>No Overlay</strong>
	            </td>
	            <td class="fs-sm">Removes mesh on menu reveal
	            	<span class="text-muted d-block">
	            		<code>&lt;body class="nav-mobile-no-overlay"> </code>
	            	</span>
	            </td>
	            <td><span class="badge badge-success fw-500">MOBILE</span> 
	            </td>
	            <td>Off-Canvas
	            </td>
	        </tr>
	        <tr>
	            <th scope="row" style="width:80px">
	                <a href="javascript:void(0);" class="btn btn-switch m-0" data-action="toggle" data-class="nav-mobile-slide-out"></a>
	            </th>
	            <td>
	                <strong>Off-Canvas <sup>beta</sup></strong>
	            </td>
	            <td class="fs-sm">content overlaps menu
	            	<span class="text-muted d-block">
	            		<code>&lt;body class="nav-mobile-slide-out"> </code>
	            	</span>
	            </td>
	            <td><span class="badge badge-success fw-500">MOBILE</span> 
	            </td>
	            <td>Push Content, No Overlay
	            </td>
	        </tr>
	        <tr>
	            <th scope="row" style="width:80px">
	                <a href="javascript:void(0);" class="btn btn-switch m-0" data-action="toggle" data-class="mod-bigger-font"></a>
	            </th>
	            <td>
	                <strong>Bigger Font</strong>
	            </td>
	            <td class="fs-sm">fonts are bigger for readability
	            	<span class="text-muted d-block">
	            		<code>&lt;body class="mod-bigger-font"> </code>
	            	</span>
	            </td>
	            <td><span class="badge badge-primary fw-500">GLOBAL</span>
	            </td>
	            <td><code>none</code>
	            </td>
	        </tr>
	        <tr>
	            <th scope="row" style="width:80px">
	                <a href="javascript:void(0);" class="btn btn-switch m-0" data-action="toggle" data-class="mod-high-contrast"></a>
	            </th>
	            <td>
	                <strong>High Contrast Text</strong>
	            </td>
	            <td class="fs-sm">Grey fonts are reduced
	            	<span class="text-muted d-block">
	            		<code>&lt;body class="mod-high-contrast"> </code>
	            	</span>
	            </td>
	            <td><span class="badge badge-primary fw-500">GLOBAL</span>
	            </td>
	            <td><code>none</code>
	            </td>
	        </tr> 
	        <tr>
	            <th scope="row" style="width:80px">
	                <a href="javascript:void(0);" class="btn btn-switch m-0" data-action="toggle" data-class="mod-color-blind"></a>
	            </th>
	            <td>
	                <strong>Daltonism <sup>beta</sup></strong>
	            </td>
	            <td class="fs-sm">Color vision deficiency
	            	<span class="text-muted d-block">
	            		<code>&lt;body class="mod-color-blind"> </code>
	            	</span>
	            </td>
	            <td><span class="badge badge-primary fw-500">GLOBAL</span>
	            </td>
	            <td><code>none</code>
	            </td>
	        </tr>    
	        <tr>
	            <th scope="row" style="width:80px">
	                <a href="javascript:void(0);" class="btn btn-switch m-0" data-action="toggle" data-class="mod-pace-custom"></a>
	            </th>
	            <td>
	                <strong>Preloader Inside</strong>
	            </td>
	            <td class="fs-sm">Preloader will be inside content
	            	<span class="text-muted d-block">
	            		<code>&lt;body class="mod-pace-custom"> </code>
	            	</span>
	            </td>
	            <td><span class="badge badge-primary fw-500">GLOBAL</span>
	            </td>
	            <td><code>none</code>
	            </td>
	        </tr>
	        <tr>
	            <th scope="row" style="width:80px">
	                <a href="javascript:void(0);" class="btn btn-switch m-0" data-action="toggle" data-class="mod-clean-page-bg"></a>
	            </th>
	            <td>
	                <strong>Clean Page Background</strong>
	            </td>
	            <td class="fs-sm">Preloader will be inside content
	            	<span class="text-muted d-block">
	            		<code>&lt;body class="mod-clean-page-bg"> </code>
	            	</span>
	            </td>
	            <td><span class="badge badge-primary fw-500">GLOBAL</span>
	            </td>
	            <td><code>none</code>
	            </td>
	        </tr>
	        <tr>
	            <th scope="row" style="width:80px">
	                <a href="javascript:void(0);" class="btn btn-switch m-0" data-action="toggle" data-class="mod-hide-nav-icons"></a>
	            </th>
	            <td>
	                <strong>Hide Navigation Icons</strong>
	            </td>
	            <td class="fs-sm">invisible navigation icons
	            	<span class="text-muted d-block">
	            		<code>&lt;body class="mod-hide-nav-icons"> </code>
	            	</span>
	            </td>
	            <td><span class="badge badge-primary fw-500">GLOBAL</span>
	            </td>
	            <td><code>none</code>
	            </td>
	        </tr>
	        <tr>
	            <th scope="row" style="width:80px">
	                <a href="javascript:void(0);" class="btn btn-switch m-0" data-action="toggle" data-class="mod-disable-animation"></a>
	            </th>
	            <td>
	                <strong>Disable CSS Animation</strong>
	            </td>
	            <td class="fs-sm">invisible navigation icons
	            	<span class="text-muted d-block">
	            		<code>&lt;body class="mod-disable-animation"> </code>
	            	</span>
	            </td>
	            <td><span class="badge badge-primary fw-500">GLOBAL</span>
	            </td>
	            <td><code>none</code>
	            </td>
	        </tr>
	        <tr>
	            <th scope="row" style="width:80px">
	                <a href="javascript:void(0);" class="btn btn-switch m-0" data-action="toggle" data-class="mod-disable-animation"></a>
	            </th>
	            <td>
	                <strong>Hide Info Card</strong>
	            </td>
	            <td class="fs-sm">invisible navigation icons
	            	<span class="text-muted d-block">
	            		<code>&lt;body class="mod-disable-animation"> </code>
	            	</span>
	            </td>
	            <td><span class="badge badge-primary fw-500">GLOBAL</span>
	            </td>
	            <td><code>none</code>
	            </td>
	        </tr>
	        <tr>
	            <th scope="row" style="width:80px">
	                <a href="javascript:void(0);" class="btn btn-switch m-0" data-action="toggle" data-class="mod-lean-page-header"></a>
	            </th>
	            <td>
	                <strong>Lean Page Header</strong>
	            </td>
	            <td class="fs-sm">invisible navigation icons
	            	<span class="text-muted d-block">
	            		<code>&lt;body class="mod-lean-page-header"> </code>
	            	</span>
	            </td>
	            <td><span class="badge badge-primary fw-500">GLOBAL</span>
	            </td>
	            <td><code>none</code>
	            </td>
	        </tr>
	    </tbody>
	    <tfoot>
			<tr class="bg-fusion-300">
			    <th colspan="5">
			       
			    </th>
			</tr>
	    </tfoot>
	</table>
 
</div>

<h3 class="mt-4">
	How to save and load from database
	<small>
		Use pushSettings() & getSettings() to save and load settings from database
	</small>
</h3>
<div class="alert alert-primary p-2">
	<strong>Heads Up!</strong> 	All changes are stored to localStorage by default. <strong>pushSettings()</strong> inherits this function if <code>"storeLocally"</code> is <strong>true</strong>. Set <code>"storeLocally</code>" to <strong>false</strong> via <strong>app.config.js</strong> if you are using gulp or <strong>app.core.js</strong>
</div>
<div class="card p-3 mb-5">

	<div class="row">

		<div class="col">

			<label for="pushSettings_input">
				<strong>"pushSettings" applies class[array] to App</strong> <br>
				<strong>e.g.</strong> $.ajax({ .. success: function (data) {  var DataBase_str = data[i].appSettings } .. }); initApp.pushSettings( DataBase_str );
			</label>
			<div class="input-group mb-4">
				<input type="text" id="pushSettings_input" list="css_list" name="pushSettings_input" class="form-control" placeholder="e.g. header-function-fixed nav-function-fixed" >
				<datalist id="css_list">
					<option value="header-function-fixed">
					<option value="nav-function-fixed">
					<option value="nav-function-minify">
					<option value="nav-function-hidden">
					<option value="nav-function-top">
					<option value="mod-main-boxed">
					<option value="nav-mobile-push">
					<option value="nav-mobile-no-overlay">
					<option value="nav-mobile-slide-out">
					<option value="mod-bigger-font">
					
				</datalist>
				<span class="input-group-btn">
					<button class="btn btn-secondary btn-w-m" type="button" id="pushSettings_btn">push()</button>
				</span>
			</div>

			<label for="getSettings_input">
				<strong>"getSettings" filters and returns current App settings for database storage</strong> <br>
				<strong>e.g.</strong> var DataBase_str = initApp.getSettings(); $.ajax({ data: {DataBase_str}, dataType: "json" ... })
			</label>
			<div class="input-group">
				<input type="text" id="getSettings_input" name="getSettings_input" readonly="readonly" class="form-control" placeholder="filters and returns nav-*, header-*, mod-*, & display-*">
				<span class="input-group-btn">
					<button class="btn btn-secondary btn-w-m" type="button" id="getSettings_btn">get()</button>
				</span>
			</div>
			<small class="form-text text-muted">filters and returns nav-*, header-*, mod-*, & display-*</small>

			<hr>
			
			<button class="btn btn-danger" type="button"><u>R</u>eset Settings</button>
			<button class="btn btn-danger" type="button" id="ng_eventlog_clear"><u>C</u>lear Events</button>
		</div>

		<div class="col">
			<h5>
				Event logs
				<small>
					use on/off switches above to update changelog below
				</small>
			</h5>
			<div id="app-eventlog" class="card p-1 d-block custom-scroll"></div>
	
		</div>
		
	</div>
	
</div>


{{/inline}}

{{#*inline "scripts-block"}}
<script type="text/javascript">

	var ng_eventlog = function () {

		if($('#app-eventlog').length) {

			var dt = new Date();
			var time = "<div class='p-1'><span class='badge badge-primary fw-500 border-radius-0'>" + dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds() + " </span> <i>body class changed to: </i>";
			$('#app-eventlog').prepend( time + "<strong> [ " + initApp.getSettings().split(' ') + " ] </strong>" + "</div/>" ); 

		}

	};

	var ng_eventlog_clear = function () {
		$('#app-eventlog').empty();
	}

	var ng_pushSettings = function () {
		if ( $('#pushSettings_input').val() ) {
			initApp.pushSettings( $('#pushSettings_input').val() );
			$('#pushSettings_input').val('');
			ng_eventlog();
		}
	}

	var ng_getSettings = function () {
		var getSettings_array = initApp.getSettings();
		if (getSettings_array) {
			$('#getSettings_input').val( getSettings_array )
		}
		else {
			$('#getSettings_input').val('<body> class is empty or nothing to return')
		}
	}

	$('[data-action="toggle"]').on('click', function(){
		ng_eventlog();
	});

	$('#pushSettings_btn').on('click', function(){
		ng_pushSettings();
	});	

	$('#getSettings_btn').on('click', function(){
		ng_getSettings();
	});	

	$('#ng_eventlog_clear').on('click', function(){
		ng_eventlog_clear();
	});	

</script>
{{/inline}}

{{/layouts/main}}