{{#> 
	layouts/main 
	title="Cards" 
	pagename="ui_cards" 
	heading="<i class='subheader-icon fal fa-window'></i> Cards" 
	category_1="UI Components" 
	pagedescription="Cards provide a flexible and extensible content container with multiple variants and options."
}}

{{#*inline "head-block"}}{{/inline}}

{{#*inline "content-block"}}

<div class="row">
                            <div class="col-md-6 col-lg-3">
                
                                <!-- Simple card -->
                                <div class="card d-block">
                                    <img class="card-img-top" src="assets/images/small/small-1.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up the bulk of the card's content. Some quick example text to build on the card title and make up.</p>
                                        <a href="javascript: void(0);" class="btn btn-primary">Button</a>
                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div><!-- end col -->

                            <div class="col-md-6 col-lg-3">
                                <div class="card d-block">
                                    <img class="card-img-top" src="assets/images/small/small-2.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card..</p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Cras justo odio</li>
                                    </ul>
                                    <div class="card-body">
                                        <a href="javascript: void(0);" class="card-link text-custom">Card link</a>
                                        <a href="javascript: void(0);" class="card-link text-custom">Another link</a>
                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div><!-- end col -->

                            <div class="col-md-6 col-lg-3">
                                <div class="card d-block">
                                    <img class="card-img-top" src="assets/images/small/small-3.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up the bulk of the card's content. Some quick example text to build on the card title and make up.</p>
                                        <a href="javascript: void(0);" class="btn btn-primary">Button</a>
                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div><!-- end col -->


                            <div class="col-md-6 col-lg-3">
                                <div class="card d-block">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                                    </div>
                                    <img class="img-fluid" src="assets/images/small/small-4.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up the bulk of the card's content.</p>
                                        <a href="javascript: void(0);" class="card-link text-custom">Card link</a>
                                        <a href="javascript: void(0);" class="card-link text-custom">Another link</a>
                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div><!-- end col -->
                        </div>

{{/inline}}

{{#*inline "scripts-block"}}{{/inline}}

{{/layouts/main}}