{{#> 
	layouts/main 
	title="Cards" 
	pagename="ui_cards" 
	heading="<i class='subheader-icon fal fa-window'></i> Cards" 
	category_1="UI Components" 
	pagedescription="Cards provide a flexible and extensible content container with multiple variants and options."
}}

{{#*inline "head-block"}}{{/inline}}

{{#*inline "content-block"}}

<div class="container card p-3 mb-g d-block">

    <h3>
        Action <span class="fw-300">buttons</span> 
        <small>
            Allows you to
        </small>
    </h3>
    
	<div class="card w-50 m-auto">
		<img class="card-img-top" src="..." alt="Card image cap">
		<div class="card-block">
			<h4 class="card-title">Card title</h4>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>
	
	<hr>

</div>

{{/inline}}

{{#*inline "scripts-block"}}{{/inline}}

{{/layouts/main}}