{{#> 
	layouts/main 
	title="Cards" 
	pagename="ui_cards" 
	heading="<i class='subheader-icon fal fa-window'></i> Cards" 
	category_1="UI Components" 
	pagedescription="Cards provide a flexible and extensible content container with multiple variants and options."
}}

{{#*inline "head-block"}}{{/inline}}

{{#*inline "content-block"}}

<div class="row">
    <div class="col-xl-6">
        <div class="card mb-g">
            <h4 class="card-header">
                Toolbar
                <small>
                Cards are built with as little markup and styles as possible, but still manage to deliver a ton of control and customization. Built with flexbox, they offer easy alignment and mix well with other Bootstrap components. They have no <code>margin</code> by default, so use spacing utilities as needed.
                </small>
            </h4>
            <div class="card-body">
                
                    <div class="frame-wrap mb-0 w-100">
                        <div class="card m-auto border" style="width: 18rem;">
                            <img src="img/cover-5-lg.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
               
            </div>
        </div>
        <div class="card mb-g">
            <h4 class="card-header">
                List group
                <small>
                Create lists of content in a card with a flush list group.
                </small>
            </h4>
            <div class="card-body">
                
                    <div class="frame-wrap mb-0 w-100">
                        <div class="card m-auto border" style="width: 18rem;">
                            <div class="card-header">
                                Featured
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                        </div>
                    </div>
                
            </div>
        </div>
        <div class="card mb-g">
            <h4 class="card-header">
                Quote
            </h4>
            <div class="card-body">
                
                    <div class="frame-wrap mb-0 w-100">
                        <div class="card m-auto border">
                            <div class="card-header bg-faded py-2">
                                Quote
                            </div>
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
               
            </div>
        </div>
        <div class="card mb-g">
            <h4 class="card-header">
                Header and footer
                <small>
                Add an optional header and/or footer within a card.
                </small>
            </h4>
            <div class="card-body">
                
                    <div class="frame-wrap mb-0 w-100">
                        <div class="card m-auto border">
                            <div class="card-header">
                                Featured
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            <div class="card-footer text-muted py-2">
                                2 days ago
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-g">
            <h4 class="card-header">
                Toolbar
                <small>
                Cards are built with as little markup and styles as possible, but still manage to deliver a ton of control and customization. Built with flexbox, they offer easy alignment and mix well with other Bootstrap components. They have no <code>margin</code> by default, so use spacing utilities as needed.
                </small>
            </h4>
            <div class="card-body">
               
                    <div class="frame-wrap mb-0 w-100">
                        <div class="card text-center border">
                            <div class="card-header bg-faded">
                                <ul class="nav nav-tabs card-header-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#">Active</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Link</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
               
            </div>
        </div>
        <div class="card mb-g">
            <h4 class="card-header">
                Toolbar
            </h4>
            <div class="card-body">
               
                    <div class="frame-wrap mb-0 w-100">
                        <div class="card text-center border">
                            <div class="card-header bg-faded">
                                <ul class="nav nav-pills card-header-pills">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#">Active</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Link</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
</div>  

{{/inline}}

{{#*inline "scripts-block"}}{{/inline}}

{{/layouts/main}}