{{#> 
	layouts/main 
	title="Panels" 
	pagename="plugin_panels" 
	category_1="Core Plugins" 
	heading="Panels <sup class='badge badge-warning fw-300 fs-sm'>core-addon</sup>" 
	pagedescription="Panels can be used in almost any setuation, helping wrap everything in a slick & lightweight container"
}}

{{#*inline "head-block"}}{{/inline}}

{{#*inline "header-space-block"}}
<div class="btn-group m-0" data-toggle="buttons">
	<label class="btn btn-secondary active m-0" aria-pressed="true" data-action="toggle" data-class="mod-panel-clean">
		<input type="radio" name="options" id="option1" checked=""> Default Panel
	</label>
	<label class="btn btn-secondary m-0" aria-pressed="true" data-action="toggle" data-class="mod-panel-clean">
		<input type="radio" name="options" id="option2"> Clean Panel
	</label>
</div>
{{/inline}}

{{#*inline "content-block"}}

<div class="row">
	
	<div class="col-sm">

		<div id="panel-1" class="panel">
			<div class="panel-hdr">
				<h2>
					Button <span class="fw-300">Colors</span> 
				</h2>
				<div class="panel-toolbar">
					<a href="#" class="btn btn-panel bg-fusion-50" data-action="panel-collapse" data-toggle="tooltip" title="" data-original-title="COLLAPSE"></a>
					<a href="#" class="btn btn-panel bg-fusion-400" data-action="panel-fullscreen" data-toggle="tooltip" title="" data-original-title="FULLSCREEN"></a>
					<a href="#" class="btn btn-panel bg-danger-200" data-action="panel-close" data-toggle="tooltip" title="" data-original-title="CLOSE"></a>
				</div>
			</div>
			<div class="panel-container">
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
			</div>
		</div>

		<div id="panel-2" class="panel">
			<div class="panel-hdr">
				<h2>
					Button <span class="fw-300">Colors</span> 
				</h2>
				<div class="panel-subtitle">
					 test description
				</div>
				<div class="panel-toolbar">
					<button type="button" class="btn btn-default btn-pills btn-sm">Close</button>
					<a href="#" class="btn btn-panel bg-fusion-50" data-action="panel-collapse" data-toggle="tooltip" title="" data-original-title="COLLAPSE"></a>
					<a href="#" class="btn btn-panel bg-fusion-400" data-action="panel-fullscreen" data-toggle="tooltip" title="" data-original-title="FULLSCREEN"></a>
					<a href="#" class="btn btn-panel bg-danger-200" data-action="panel-close" data-toggle="tooltip" title="" data-original-title="CLOSE"></a>
				</div>
			</div>
			<div class="panel-container">
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
			</div>
		</div>
		
	</div>
	<div class="col-sm">

		<div class="panel">
			<div class="panel-hdr">
				<h2>
					Button <span class="fw-300">Colors</span> 
				</h2>
				<div class="panel-toolbar">
					<a href="#" class="btn btn-panel bg-fusion-50" data-action="panel-collapse" data-toggle="tooltip" title="" data-original-title="COLLAPSE"></a>
					<a href="#" class="btn btn-panel bg-fusion-400" data-action="panel-fullscreen" data-toggle="tooltip" title="" data-original-title="FULLSCREEN"></a>
					<a href="#" class="btn btn-panel bg-danger-200" data-action="panel-close" data-toggle="tooltip" title="" data-original-title="CLOSE"></a>
				</div>
			</div>
			<div class="panel-container">
				My body text...
			</div>
		</div>

		<div id="panel-4" class="panel">
			<div class="panel-hdr">
				<h2>
					Button <span class="fw-300">Colors</span> 
				</h2>
				<div class="panel-toolbar">
					<button type="button" class="btn btn-default btn-pills btn-sm">Close</button>
					<a href="#" class="btn btn-panel bg-fusion-50" data-action="panel-collapse" data-toggle="tooltip" title="" data-original-title="COLLAPSE"></a>
					<a href="#" class="btn btn-panel bg-fusion-400" data-action="panel-fullscreen" data-toggle="tooltip" title="" data-original-title="FULLSCREEN"></a>
					<a href="#" class="btn btn-panel bg-danger-200" data-action="panel-close" data-toggle="tooltip" title="" data-original-title="CLOSE"></a>
				</div>
			</div>
			<div class="panel-container">
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
			</div>
		</div>
		
	</div>



</div>

{{/inline}}

{{#*inline "scripts-block"}}{{/inline}}

{{/layouts/main}}