{{#> 
	layouts/main 
	title="Panels" 
	pagename="plugin_panels" 
	category_1="Core Plugins" 
	heading="<i class='subheader-icon fal fa-shield-alt'></i> Panels" 
	pagedescription="Panels can be used in almost any setuation, helping wrap everything in a slick & lightweight container"
}}

{{#*inline "head-block"}}{{/inline}}

{{#*inline "header-space-block"}}
<div class="btn-group m-0" data-toggle="buttons">
	<label class="btn btn-secondary active m-0" aria-pressed="true" data-action="toggle" data-class="mod-panel-clean">
		<input type="radio" name="options" id="option1" checked=""> Default Panel
	</label>
	<label class="btn btn-secondary m-0" aria-pressed="true" data-action="toggle" data-class="mod-panel-clean">
		<input type="radio" name="options" id="option2"> Clean Panel
	</label>
</div>
{{/inline}}

{{#*inline "content-block"}}

<div class="row">
	
	<div class="col-sm">

		<div id="panel-1" class="panel" data-panel-sortable="false">
			<div class="panel-hdr">
				<div class="panel-title">				
					<h2>
						Button <span class="fw-300">Colors</span> 
					</h2>
				</div>
				<div class="panel-toolbar">
					<a href="javascript:void(0);" class="btn btn-sm btn-default mr-2 no-ripple" data-toggle="dropdown" title="Change color">
						<i class="fal fa-tint"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						a
					</div>
					<div class="btn-group" role="group" aria-label="First group">
						<button type="button" class="btn btn-sm btn-default" data-action="panel-collapse" data-toggle="tooltip" data-original-title="Collapse">
							<i class="fal fa-window-minimize"></i>
						</button>
						<button type="button" class="btn btn-sm btn-default" data-action="panel-fullscreen" data-toggle="tooltip" data-original-title="Fullscreen">
							<i class="fal fa-expand-arrows"></i>
						</button>
						<button type="button" class="btn btn-sm btn-default" data-action="panel-close" data-toggle="tooltip" data-original-title="Close">
							<i class="fal fa-times"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="panel-container">
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
			</div>
		</div>

		<div id="panel-2" class="panel">
			<div class="panel-hdr">
				<div class="panel-title">				
					<h2>
						Button <span class="fw-300">Colors</span> 
					</h2>
				</div>
				<div class="panel-toolbar pr-0">
					<button class="btn btn-panel-flat" data-toggle="dropdown" title="Change color">
						<i class="fal fa-tint"></i>
					</button>
					<div class="dropdown-menu dropdown-menu-right">
					  a
					</div>
					<button class="btn btn-panel-flat" data-action="panel-collapse" data-toggle="tooltip" data-original-title="Collapse">
						<i class="fal fa-minus"></i>
					</button>
					<button class="btn btn-panel-flat" data-action="panel-fullscreen" data-toggle="tooltip" data-original-title="Fullscreen">
						<i class="fal fa-expand-arrows"></i>
					</button>
					<button class="btn btn-panel-flat" data-action="panel-close" data-toggle="tooltip" data-original-title="Close">
						<i class="fal fa-times"></i>
					</button>
				</div>
			</div>
			<div class="panel-container">
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
			</div>
		</div>
		
	</div>
	<div class="col-sm">

		<div id="panel-3" class="panel">
			<div class="panel-hdr">
				<div class="panel-title">				
					<h2>
						Button <span class="fw-300">Colors</span> 
					</h2>
				</div>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-original-title="Collapse"></button>
					<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-original-title="Close"></button>
				</div>
			</div>
			<div class="panel-container">
				My body text...
			</div>
		</div>

		<div id="panel-4" class="panel">
			<div class="panel-hdr">
				<div class="panel-title">				
					<h2>
						Button <span class="fw-300">Colors</span> 
					</h2>
				</div>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-original-title="Collapse"></button>
					<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-original-title="Close"></button>
				</div>
			</div>
			<div class="panel-container">
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
			</div>
		</div>
		
	</div>

</div>

<div id="js-widget-grid">
	<div class="row">
		<div class="col-sm-6">

			<div id="panel-5" class="panel">
				<div class="panel-hdr">
					<div class="panel-title">				
						<h2>
							Button <span class="fw-300">Colors</span> 
						</h2>
					</div>
					<div class="panel-toolbar">
						<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-original-title="Collapse"></button>
						<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-original-title="Fullscreen"></button>
						<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-original-title="Close"></button>
					</div>
				</div>
				<div class="panel-container">
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
				</div>
			</div>

		</div>
		<div class="col-sm-6">

			<div id="panel-6" class="panel">
				<div class="panel-hdr">
					<div class="panel-title">				
						<h2>
							<i class="fal fa-shield-alt mr-2"></i>
							Button <span class="fw-300">Colors</span> 
							<small>
								test
							</small>
						</h2>
					</div>
					<div class="panel-toolbar">
						<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-original-title="Collapse"></button>
						<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-original-title="Fullscreen"></button>
						<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-original-title="Close"></button>
					</div>
				</div>
				<div class="panel-container">
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
				</div>
			</div>

		</div>
	</div>
</div>

{{/inline}}

{{#*inline "scripts-block"}}
<script src="js/panelwidget.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$('#content').panelWidget();
		//$("#content").panelWidget('_initDestroy');
	});	
</script>
{{/inline}}

{{/layouts/main}}