{{#> layouts/main title="Introduction" pagename="introduction" heading="Introduction" pagedescription="A brief introduction to NextGen WebApp"}}

{{#> head-block}}{{/head-block}}

{{#*inline "content-block"}}
test
{{/inline}}

{{#*inline "splitcontent-block"}}
<p>a</p>
<p>a</p>

<p>a</p>
<p>a</p>
<p>a</p>
<p>a</p>
{{/inline}}

{{#*inline "scripts-block"}}{{/inline}}

{{/layouts/main}}