{{#> 
	layouts/main 
	title="SmartPanels" 
	pagename="plugin_smartpanels" 
	category_1="Core Plugins" 
	heading="<i class='subheader-icon fal fa-shield-alt'></i> SmartPanels <sup class='badge badge-success fw-500'>EXTENSION</sup>" 
	pagedescription="Panels can be used in almost any setuation, helping wrap everything in a slick & lightweight container"
}}

{{#*inline "head-block"}}
<link rel="stylesheet" media="screen, print" href="css/fa-solid.css">
{{/inline}}

{{#*inline "subheader-block"}}
<div class="subheader-block">
	<button type="button" class="btn btn-secondary" data-toggle="button" aria-pressed="false" autocomplete="off" data-action="toggle" data-class="mod-panel-clean">Toggle clean Panels</button>
</div>
{{/inline}}

{{#*inline "content-block"}}

<div class="alert alert-primary alert-dismissible">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">
            <i class="fal fa-times"></i>
        </span>
    </button>
    <div class="d-flex flex-start w-100">
        <div class="mr-2">
            <span class="icon-stack icon-stack-lg">
				<i class="base-2 icon-stack-3x color-primary-400"></i>
				<i class="base-3 icon-stack-2x color-primary-600 opacity-70"></i>
				<i class="fal fa-lightbulb icon-stack-1x text-white opacity-90"></i>
            </span>
        </div>
        <div class="d-flex flex-fill">
            <div class="flex-fill">
                <span class="h5">Important information</span>
                <br>
                This plugin is not required but <strong>highly recommended</strong>. If you decide to remove PaceJS from core, Internet Explorer may have some CSS issues during page load. Some animations will execute before a page is fully loaded, resulting 'jumpy / jerky' animations.
            </div>
        </div>
    </div>
</div>

<div class="row">
	
	<div class="col-md-6">

		<div id="panel-1" class="panel" {{!-- data-panel-lock="false" data-panel-refresh="false" data-panel-color="false" data-refresh-timer="1000" --}}>
			<div class="panel-hdr">	
				<h2>
					Button <span class="fw-300">Colors</span> 
				</h2>
			</div>
			<div class="panel-container show">
				<div class="panel-content">
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
				</div>
			</div>
		</div>

		<div id="panel-2" class="panel">
			<div class="panel-hdr">
				<h2>
					Panel <span class="fw-300">toolbar</span> 
				</h2>
			</div>
			<div class="panel-container show">
				<!-- panel toolbar extended -->
				<div class="panel-content py-2 bg-highlight border-faded border-left-0 border-right-0">
					<div class="btn-group mr-2" role="group" aria-label="Group A">
						<button type="button" class="btn btn-default bg-white"><i class="fas fa-bold"></i></button>
						<button type="button" class="btn btn-default bg-white"><i class="fas fa-italic"></i></button>
						<button type="button" class="btn btn-default bg-white"><i class="fas fa-underline"></i></button>
					</div>
					<div class="btn-group mr-2" role="group" aria-label="Group A">
						<button type="button" class="btn btn-default bg-white"><i class="fas fa-align-left"></i></button>
						<button type="button" class="btn btn-default bg-white"><i class="fas fa-align-center"></i></button>
						<button type="button" class="btn btn-default bg-white"><i class="fas fa-align-right"></i></button>
						<button type="button" class="btn btn-default bg-white"><i class="fas fa-align-justify"></i></button>
					</div>
				</div>
				<!-- panel content -->
				<div class="panel-content p-0">
					<textarea class="form-control border-0 px-4 py-3" placeholder="Textarea" rows="10" placeholder="insert your text here...">This is a textarea - below me is panel footer and above is the a utility made toolbar!</textarea>
				</div>
				<!-- panel footer with utility classes -->
				<div class="d-flex align-items-center panel-content py-2 rounded-bottom bg-faded border-faded border-left-0 border-right-0 border-bottom-0 text-muted">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="demo-auto-save" checked="checked">
						<label class="custom-control-label" for="demo-auto-save">Auto save</label>
					</div>			
					<button class="btn btn-outline-danger ml-auto">Disregard</button>
					<button class="btn btn-success ml-2">Save</button>
				</div>
			</div>
		</div>
		
	</div>
	<div class="col-md-6">

		<div id="panel-3" class="panel">
			<div class="panel-hdr">
				<h2>
					Button <span class="fw-300">Colors</span> 
				</h2>
			</div>
			<div class="panel-container show">
				<div class="panel-content">
					<p>Simple text...</p>
				</div>
			</div>
		</div>

		<div id="panel-4" class="panel">
			<div class="panel-hdr">				
				<h2>
					Button <span class="fw-300">Colors</span> 
				</h2>
			</div>
			<div class="panel-container show">
				<div class="panel-content">
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
				</div>
			</div>
		</div>
		
	</div>

</div>



{{/inline}}

{{#*inline "scripts-block"}}
{{!-- <script src="js/panelwidget.js"></script> --}}
{{!-- <script src="../src/custom/plugins/smartpanels/smartpanels.js"></script> --}}

<script type="text/javascript">
/* Activate smart panels */
$('#js-page-content').smartPanel();
</script>
{{/inline}}

{{/layouts/main}}