{{#> 
	layouts/main 
	title="Layout Options" 
	pagename="settings_layout_options" 
	category_1="Theme Settings" 
	heading="Theme Settings: <span class='fw-300'>Layout Options</span>" 
	pagedescription="Over 36 layout possibilities and over <span class='fw-500 color-info-700'>285 combinations</span>"
}}

{{#*inline "head-block"}}
<link rel="stylesheet" media="screen, print" href="css/theme-demo.css">
{{/inline}}

{{#*inline "content-block"}}

<div class="alert alert-primary">
	<div class="d-table w-100">
		<div class="d-table-cell align-middle width-6">
			<span class="icon-stack icon-stack-lg">
				<i class="base-14 icon-stack-3x color-primary-400"></i>
				<i class="base-14 icon-stack-2x color-primary-600 opacity-70"></i>
				<i class="fal fa-cog icon-stack-1x text-white opacity-90"></i>
			</span>
		</div>
		<div class="d-table-cell align-middle pl-1">
			<span class="h5">Settings Panel</span>
			<br> 
			You can reset the changes at anytime by clicking the reset button found in the <a href="#" class="fw-500" data-toggle="modal" data-target=".js-modal-settings">settings panel</a>. To enable these settings through scripts, <strong>e.g.</strong> <code> initApp.pushSettings("header-function-fixed, nav-function-fixed")</code>, see the <a href="settings_saving_db.html" class="fw-500">saving to database</a> page.
		</div>
	</div>
</div>


<div class="row">

	<div class="col-lg-12 col-xl-6">
		<div class="card mb-g">
			<h4 class="card-header fw-500">
				Fixed Header
				<span class="badge badge-primary float-right fw-300 ml-1">GLOBAL</span>
				<small>
					header is in a fixed position at all times, effecting mobile & desktop view
				</small>
			</h4>		
			<div class="card-body">
				<div class="row">
					<div class="col-12 mb-g">
						<strong>Class to body</strong>
						<br>
						<code>.header-function-fixed</code>
					</div>
					<div class="col-12 mb-g">
						<strong>App Usage</strong>
						<br>
						<code>data-action="toggle" data-class="header-function-fixed"</code>
					</div>

				</div>
				<a href="#" onclick="return false;" class="btn btn-switch m-0" data-action="toggle" data-class="header-function-fixed"></a>
				
			</div>
		</div>
	</div>

	<div class="col-lg-12 col-xl-6">
		<div class="card mb-g">
			<h4 class="card-header fw-500">
				Fixed Navigation
				<span class="badge badge-warning float-right fw-300 ml-1">DESKTOP</span>
				<span class="badge bg-info-800 float-right fw-300 ml-1">TABLETS</span>
				<small>
					Left panel position becomes fixed, activates custom scroll plugin
				</small>
			</h4>
			<div class="card-body">

				<div class="row">
					<div class="col-12 mb-g">
						<strong>Class to body</strong>
						<br>
						<code>.nav-function-fixed</code>
					</div>
					<div class="col-12 mb-g">
						<strong>App Usage</strong>
						<br>
						<code>data-action="toggle" data-class="nav-function-fixed"</code>
					</div>
				</div>
				<a href="#" onclick="return false;" class="btn btn-switch m-0" data-action="toggle" data-class="nav-function-fixed"></a>
				
			</div>
		</div>
	</div>

</div>

<div class="row">

	<div class="col-lg-12 col-xl-6">
		<div class="card mb-g">
			<h4 class="card-header fw-500">
				Minify Navigation
				<span class="badge badge-warning float-right fw-300 ml-1">DESKTOP</span>
				<span class="badge bg-info-800 float-right fw-300 ml-1">TABLETS</span>
				<small>
					Navigation text are collapsed. Only visible portion are the icons. Hover the icons to reveal any child elements.
				</small>
			</h4>
			<div class="card-body">
				<div class="row">
					<div class="col-12 mb-g">
						<strong>Class to body</strong>
						<br>
						<code>.nav-function-minify</code>
					</div>
					<div class="col-12 mb-g">
						<strong>App Usage</strong>
						<br>
						<code>data-action="toggle" data-class="nav-function-minify"</code>
					</div>
				</div>
				<a href="#" onclick="return false;" class="btn btn-switch m-0" data-action="toggle" data-class="nav-function-minify"></a>
				
			</div>
		</div>
	</div>

	<div class="col-lg-12 col-xl-6">
		<div class="card mb-g">
			<h4 class="card-header fw-500">
				Hide Navigation
				<span class="badge badge-warning float-right fw-300 ml-1">DESKTOP</span>
				<span class="badge bg-info-800 float-right fw-300 ml-1">TABLETS</span>
				<small>
					Entire navigation pane shifts off screen, navigation is revealed upon user hovering the visible portion of the navigation.
				</small>
			</h4>
			<div class="card-body">
				<div class="row">
					<div class="col-12 mb-g">
						<strong>Class to body</strong>
						<br>
						<code>.nav-function-hidden</code>
					</div>
					<div class="col-12 mb-g">
						<strong>App Usage</strong>
						<br>
						<code>data-action="toggle" data-class="nav-function-hidden"</code>
					</div>
				</div>
				<a href="#" onclick="return false;" class="btn btn-switch m-0" data-action="toggle" data-class="nav-function-hidden"></a>
				
			</div>
		</div>
	</div>

</div>

<div class="row">

	<div class="col-lg-12 col-xl-6">
		<div class="card mb-g">
			<h4 class="card-header fw-500">
				Top Navigation
				<span class="badge badge-warning float-right fw-300 ml-1">DESKTOP</span>
				<span class="badge bg-info-800 float-right fw-300 ml-1">TABLETS</span>
				<small>
					Otherwise known as horizontal navigation. The entire navigation pane shifts to the top. No DOM changes required! :)
				</small>
			</h4>
			<div class="card-body">
				<div class="row">
					<div class="col-12 mb-g">
						<strong>Class to body</strong>
						<br>
						<code>.nav-function-top</code>
					</div>
					<div class="col-12 mb-g">
						<strong>App Usage</strong>
						<br>
						<code>data-action="toggle" data-class="nav-function-top"</code>
					</div>

				</div>
				<a href="#" onclick="return false;" class="btn btn-switch m-0" data-action="toggle" data-class="nav-function-top"></a>
				
			</div>
		</div>
	</div>

	<div class="col-lg-12 col-xl-6">
		<div class="card mb-g">
			<h4 class="card-header fw-500">
				Boxed Layout
				<span class="badge badge-warning float-right fw-300 ml-1">DESKTOP</span>
				<small>
					Minimize layout by inserting into a container. Some classes are not compatible with this setting.
				</small>
			</h4>
			<div class="card-body">
				<div class="row">
					<div class="col-12 mb-g">
						<strong>Class to body</strong>
						<br>
						<code>.mod-main-boxed</code>
					</div>
					<div class="col-12 mb-g">
						<strong>App Usage</strong>
						<br>
						<code>data-action="toggle" data-class="mod-main-boxed"</code>
					</div>

				</div>
				<a href="#" onclick="return false;" class="btn btn-switch m-0" data-action="toggle" data-class="mod-main-boxed"></a>
				
			</div>
		</div>
	</div>

</div>

<div class="row">

	<div class="col-lg-12 col-xl-6">
		<div class="card mb-g">
			<h4 class="card-header fw-500">
				Push Content
				<span class="badge badge-success float-right fw-300 ml-1">MOBILE</span>
				<small>
					Content pushed on menu reveal. Menu will be treated as a 'physical object' that will push the content aside.
				</small>
			</h4>
			<div class="card-body">
				<div class="row">
					<div class="col-12 mb-g">
						<strong>Class to body</strong>
						<br>
						<code>.nav-mobile-push</code>
					</div>
					<div class="col-12 mb-g">
						<strong>App Usage</strong>
						<br>
						<code>data-action="toggle" data-class="nav-mobile-push"</code>
					</div>

				</div>
				<a href="#" onclick="return false;" class="btn btn-switch m-0" data-action="toggle" data-class="nav-mobile-push"></a>
				
			</div>
		</div>
	</div>

	<div class="col-lg-12 col-xl-6">
		<div class="card mb-g">
			<h4 class="card-header fw-500">
				No Overlay
				<span class="badge badge-success float-right fw-300 ml-1">MOBILE</span>
				<small>
					Removes mesh on menu reveal
				</small>
			</h4>
			<div class="card-body">
				<div class="row">
					<div class="col-12 mb-g">
						<strong>Class to body</strong>
						<br>
						<code>.nav-mobile-no-overlay</code>
					</div>
					<div class="col-12 mb-g">
						<strong>App Usage</strong>
						<br>
						<code>data-action="toggle" data-class="nav-mobile-no-overlay"</code>
					</div>

				</div>
				<a href="#" onclick="return false;" class="btn btn-switch m-0" data-action="toggle" data-class="nav-mobile-no-overlay"></a>
				
			</div>
		</div>
	</div>

</div>

<div class="row">

	<div class="col-lg-12 col-xl-6">
		<div class="card mb-g">
			<h4 class="card-header fw-500">
				Off Canvas <sup>beta</sup>
				<span class="badge badge-success float-right fw-300 ml-1">MOBILE</span>
				<small>
					Content overlaps menu
				</small>
			</h4>
			<div class="card-body">
				<div class="row">
					<div class="col-12 mb-g">
						<strong>Class to body</strong>
						<br>
						<code>.nav-mobile-slide-out</code>
					</div>
					<div class="col-12 mb-g">
						<strong>App Usage</strong>
						<br>
						<code>data-action="toggle" data-class="nav-mobile-slide-out"</code>
					</div>

				</div>
				<a href="#" onclick="return false;" class="btn btn-switch m-0" data-action="toggle" data-class="nav-mobile-slide-out"></a>
				
			</div>
		</div>
	</div>

	<div class="col-lg-12 col-xl-6">
		<div class="card mb-g">
			<h4 class="card-header fw-500">
				Bigger Font
				<span class="badge badge-primary float-right fw-300 ml-1">GLOBAL</span>
				<small>
					Fonts are bigger for readability
				</small>
			</h4>
			<div class="card-body">
				<div class="row">
					<div class="col-12 mb-g">
						<strong>Class to body</strong>
						<br>
						<code>.mod-bigger-font</code>
					</div>
					<div class="col-12 mb-g">
						<strong>App Usage</strong>
						<br>
						<code>data-action="toggle" data-class="mod-bigger-font"</code>
					</div>

				</div>
				<a href="#" onclick="return false;" class="btn btn-switch m-0" data-action="toggle" data-class="mod-bigger-font"></a>
				
			</div>
		</div>
	</div>

</div>

<div class="row">

	<div class="col-lg-12 col-xl-6">
		<div class="card mb-g">
			<h4 class="card-header fw-500">
				High Contrast Text (WCAG 2 AA)
				<span class="badge badge-primary float-right fw-300 ml-1">GLOBAL</span>
				<small>
					4.5:1 text contrast ratio to meet WCAG 2 AA standards
				</small>
			</h4>
			<div class="card-body">
				<div class="row">
					<div class="col-12 mb-g">
						<strong>Class to body</strong>
						<br>
						<code>.mod-high-contrast</code>
					</div>
					<div class="col-12 mb-g">
						<strong>App Usage</strong>
						<br>
						<code>data-action="toggle" data-class="mod-high-contrast"</code>
					</div>

				</div>
				<a href="#" onclick="return false;" class="btn btn-switch m-0" data-action="toggle" data-class="mod-high-contrast"></a>
				
			</div>
		</div>
	</div>

	<div class="col-lg-12 col-xl-6">
		<div class="card mb-g">
			<h4 class="card-header fw-500">
				Daltonism <sup>beta</sup>
				<span class="badge badge-primary float-right fw-300 ml-1">GLOBAL</span>
				<small>
					Color vision deficiency (this is a progressive UI option)
				</small>
			</h4>
			<div class="card-body">
				<div class="row">
					<div class="col-12 mb-g">
						<strong>Class to body</strong>
						<br>
						<code>.mod-color-blind</code>
					</div>
					<div class="col-12 mb-g">
						<strong>App Usage</strong>
						<br>
						<code>data-action="toggle" data-class="mod-color-blind"</code>
					</div>

				</div>
				<a href="#" onclick="return false;" class="btn btn-switch m-0" data-action="toggle" data-class="mod-color-blind"></a>
				
			</div>
		</div>
	</div>

</div>

<div class="row">

	<div class="col-lg-12 col-xl-6">
		<div class="card mb-g">
			<h4 class="card-header fw-500">
				Preloader Inside
				<span class="badge badge-primary float-right fw-300 ml-1">GLOBAL</span>
				<small>
					Preloader will be inside content
				</small>
			</h4>
			<div class="card-body">
				<div class="row">
					<div class="col-12 mb-g">
						<strong>Class to body</strong>
						<br>
						<code>.mod-pace-custom</code>
					</div>
					<div class="col-12 mb-g">
						<strong>App Usage</strong>
						<br>
						<code>data-action="toggle" data-class="mod-pace-custom"</code>
					</div>

				</div>
				<a href="#" onclick="return false;" class="btn btn-switch m-0" data-action="toggle" data-class="mod-pace-custom"></a>
				
			</div>
		</div>
	</div>

	<div class="col-lg-12 col-xl-6">
		<div class="card mb-g">
			<h4 class="card-header fw-500">
				Clean Page Background
				<span class="badge badge-primary float-right fw-300 ml-1">GLOBAL</span>
				<small>
					A white background for your webapp
				</small>
			</h4>
			<div class="card-body">
				<div class="row">
					<div class="col-12 mb-g">
						<strong>Class to body</strong>
						<br>
						<code>.mod-clean-page-bg</code>
					</div>
					<div class="col-12 mb-g">
						<strong>App Usage</strong>
						<br>
						<code>data-action="toggle" data-class="mod-clean-page-bg"</code>
					</div>

				</div>
				<a href="#" onclick="return false;" class="btn btn-switch m-0" data-action="toggle" data-class="mod-clean-page-bg"></a>
				
			</div>
		</div>
	</div>

</div>

<div class="row">

	<div class="col-lg-12 col-xl-6">
		<div class="card mb-g">
			<h4 class="card-header fw-500">
				Hide Navigation Icons
				<span class="badge badge-primary float-right fw-300 ml-1">GLOBAL</span>
				<small>
					Hides navigation icons for a slick and clean look (some classes will be incompatible)
				</small>
			</h4>
			<div class="card-body">
				<div class="row">
					<div class="col-12 mb-g">
						<strong>Class to body</strong>
						<br>
						<code>.mod-hide-nav-icons</code>
					</div>
					<div class="col-12 mb-g">
						<strong>App Usage</strong>
						<br>
						<code>data-action="toggle" data-class="mod-hide-nav-icons"</code>
					</div>

				</div>
				<a href="#" onclick="return false;" class="btn btn-switch m-0" data-action="toggle" data-class="mod-hide-nav-icons"></a>
				
			</div>
		</div>
	</div>

	<div class="col-lg-12 col-xl-6">
		<div class="card mb-g">
			<h4 class="card-header fw-500">
				Disable CSS Animation
				<span class="badge badge-primary float-right fw-300 ml-1">GLOBAL</span>
				<small>
					Disables css based animations
				</small>
			</h4>
			<div class="card-body">
				<div class="row">
					<div class="col-12 mb-g">
						<strong>Class to body</strong>
						<br>
						<code>.mod-disable-animation</code>
					</div>
					<div class="col-12 mb-g">
						<strong>App Usage</strong>
						<br>
						<code>data-action="toggle" data-class="mod-disable-animation"</code>
					</div>

				</div>
				<a href="#" onclick="return false;" class="btn btn-switch m-0" data-action="toggle" data-class="mod-disable-animation"></a>
				
			</div>
		</div>
	</div>

</div>

<div class="row">

	<div class="col-lg-12 col-xl-6">
		<div class="card mb-g">
			<h4 class="card-header fw-500">
				Hide Info Card
				<span class="badge badge-primary float-right fw-300 ml-1">GLOBAL</span>
				<small>
					Hides info card from left panel
				</small>
			</h4>
			<div class="card-body">
				<div class="row">
					<div class="col-12 mb-g">
						<strong>Class to body</strong>
						<br>
						<code>.mod-hide-info-card</code>
					</div>
					<div class="col-12 mb-g">
						<strong>App Usage</strong>
						<br>
						<code>data-action="toggle" data-class="mod-hide-info-card"</code>
					</div>

				</div>
				<a href="#" onclick="return false;" class="btn btn-switch m-0" data-action="toggle" data-class="mod-hide-info-card"></a>
				
			</div>
		</div>
	</div>

	<div class="col-lg-12 col-xl-6">
		<div class="card mb-g">
			<h4 class="card-header fw-500">
				Lean Subheader
				<span class="badge badge-primary float-right fw-300 ml-1">GLOBAL</span>
				<small>
					Distinguished page header
				</small>
			</h4>
			<div class="card-body">
				<div class="row">
					<div class="col-12 mb-g">
						<strong>Class to body</strong>
						<br>
						<code>.mod-lean-subheader</code>
					</div>
					<div class="col-12 mb-g">
						<strong>App Usage</strong>
						<br>
						<code>data-action="toggle" data-class="mod-lean-subheader"</code>
					</div>

				</div>
				<a href="#" onclick="return false;" class="btn btn-switch m-0" data-action="toggle" data-class="mod-lean-subheader"></a>
				
			</div>
		</div>
	</div>

	<div class="col-lg-12 col-xl-6">
		<div class="card mb-g">
			<h4 class="card-header fw-500">
				Hierarchical Navigation
				<span class="badge badge-primary float-right fw-300 ml-1">GLOBAL</span>
				<small>
					Clear breakdown of nav links (some options will be incompatble)
				</small>
			</h4>
			<div class="card-body">
				<div class="row">
					<div class="col-12 mb-g">
						<strong>Class to body</strong>
						<br>
						<code>.mod-nav-link</code>
					</div>
					<div class="col-12 mb-g">
						<strong>App Usage</strong>
						<br>
						<code>data-action="toggle" data-class="mod-nav-link"</code>
					</div>

				</div>
				<a href="#" onclick="return false;" class="btn btn-switch m-0" data-action="toggle" data-class="mod-nav-link"></a>
				
			</div>
		</div>
	</div>

	<div class="col-lg-12 col-xl-6">
		<div class="card mb-g">
			<h4 class="card-header fw-500">
				RTL Support
				<span class="badge badge-primary float-right fw-300 ml-1">GLOBAL</span>
				<small>
					"Right to Left" layout support for, arabic, hibrew, etc...
				</small>
			</h4>
			<div class="card-body">
				<div class="row">
					<div class="col-12 mb-g">
						<strong>Class to body</strong>
						<br>
						<code>.theme-rtl</code>
					</div>
					<div class="col-12 mb-g">
						<strong>App Usage</strong>
						<br>
						<code>data-action="toggle" data-class="theme-rtl"</code>
					</div>

				</div>
				<a href="#" onclick="return false;" class="btn btn-switch m-0" data-action="toggle" data-class="theme-rtl"></a>
				
			</div>
		</div>
	</div>	

</div>

{{/inline}}

{{#*inline "scripts-block"}}{{/inline}}

{{/layouts/main}}