{{#> 
	layouts/main 
	title="Button Group" 
	pagename="ui_button_group" 
	heading="<i class='subheader-icon fal fa-window'></i>  Button Group" 
	category_1="UI Components" 
	pagedescription="Group a series of buttons together on a single line with the button group, and super-power them with JavaScript."
}}

{{#*inline "head-block"}}
<link rel="stylesheet" media="screen, print" href="css/theme-demo.css">
{{/inline}}

{{#*inline "content-block"}}

<div class="row">

	<div class="col-sm-12">

		<div class="alert alert-primary">
			<div class="d-table w-100">
				<div class="d-table-cell align-top width-6">
					<span class="icon-stack icon-stack-lg">
						<i class="base base-6 icon-stack-3x opacity-100 color-primary-500"></i> 
						<i class="base base-10 icon-stack-2x opacity-100 color-primary-300 fa-flip-vertical"></i> 
						<i class="fal fa-info icon-stack-1x opacity-100 color-white"></i>
					</span>
				</div>
				<div class="d-table-cell pl-1">
					<span class="h5">Ensure correct <code>role</code> and provide a label</span>
					<br>
					NextGen <code>.btn</code> styles can be applied to other elements, such as <code>&lt;label></code>s, to provide checkbox or radio style button toggling. Add <code>data-toggle="buttons"</code> to a <code>.btn-group</code> containing those modified buttons to enable toggling in their respective styles.
					
					The checked state for these buttons is <strong>only updated via</strong> click <strong>event</strong> on the button. If you use another method to update the input—e.g., with <code>&lt;input type="reset"></code> or by manually applying the input’s checked property—you’ll need to toggle <code>.active</code> on the <code>&lt;label></code> manually.					
				</div>
			</div>
		</div>

    </div>

	<div class="col-md-12">
		
		<div class="card mb-g">

			<div class="card-body">

				<h4 class="mb-g">
					Checkbox & Radio <span class="fw-300">Buttons</span>
				</h4>

				<div class="row">

					<div class="col-md-6 col-xl-6">

						<h5 class="frame-heading">
							Checkbox
						</h5>						

						<div class="frame-wrap text-center m-0">

							<div class="btn-group btn-group-toggle  btn-m-s" data-toggle="buttons">
								<label class="btn btn-success active">
									<input type="checkbox" checked> Options 1
								</label>
								<label class="btn btn-success">
									<input type="checkbox"> Options 2
								</label>
								<label class="btn btn-success">
									<input type="checkbox"> Options 3
								</label>
								<label class="btn btn-success disabled">
									<input type="checkbox" disabled> Disabled
								</label>
							</div>

							<br>
							<div class="btn-group btn-group-toggle btn-m-s" data-toggle="buttons">
								<label class="btn btn-outline-warning  btn-sm active">
									<input type="checkbox" checked> Options 1
								</label>
								<label class="btn btn-outline-warning btn-sm">
									<input type="checkbox"> Options 2
								</label>
								<label class="btn btn-outline-warning btn-sm">
									<input type="checkbox"> Options 3
								</label>
								<label class="btn btn-outline-warning btn-sm disabled">
									<input type="checkbox" disabled> Disabled
								</label>
							</div>

						</div>

					</div>
					<div class="col-md-6 col-xl-6">

						<h5 class="frame-heading">
							Radio
						</h5>

						<div class="frame-wrap text-center m-0">

							<div class="btn-group btn-group-toggle btn-m-s" data-toggle="buttons">
								<label class="btn btn-secondary active">
									<input type="radio" name="options" id="option1" checked> Option 1
								</label>
								<label class="btn btn-secondary">
									<input type="radio" name="options" id="option2"> Option 2
								</label>
								<label class="btn btn-secondary">
									<input type="radio" name="options" id="option3"> Option 3
								</label>
								<label class="btn btn-secondary disabled">
									<input type="radio" name="options" id="option4" disabled> Disabled
								</label>
							</div>
							<br>
							<div class="btn-group btn-group-toggle btn-m-s" data-toggle="buttons">
								<label class="btn btn-outline-primary btn-sm active">
									<input type="radio" name="options" id="option-sm-1" checked> Option 1
								</label>
								<label class="btn btn-outline-primary btn-sm">
									<input type="radio" name="options" id="option-sm-2"> Option 2
								</label>
								<label class="btn btn-outline-primary btn-sm">
									<input type="radio" name="options" id="option-sm-3"> Option 3
								</label>
								<label class="btn btn-outline-primary btn-sm disabled">
									<input type="radio" name="options" id="option-sm-4" disabled> Disabled
								</label>
							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

</div>

{{/inline}}

{{#*inline "scripts-block"}}{{/inline}}

{{/layouts/main}}