{{#> 
	layouts/main 
	title="Button Group" 
	pagename="ui_button_group" 
	heading="<i class='subheader-icon fal fa-window'></i>  Button Group" 
	category_1="UI Components" 
	pagedescription="Group a series of buttons together on a single line with the button group, and super-power them with JavaScript."
}}

{{#*inline "head-block"}}
<link rel="stylesheet" media="screen, print" href="css/theme-demo.min.css">
{{/inline}}

{{#*inline "content-block"}}

<div class="row">

	<div class="col-md-12 col-xl-6">

		<div class="card mb-g">

			<div class="card-body">

				<h3 class="mb-4">
					Basic <span class="fw-300">Example</span> 
					<small>
						The most basic example
					</small>
				</h3>

				<h4 class="frame-heading">
					Wrap a series of buttons with <code>.btn</code> in <code>.btn-group</code>.
				</h4>

				<div class="frame-wrap">
					<div class="btn-group" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-secondary">Left</button>
						<button type="button" class="btn btn-secondary">Middle</button>
						<button type="button" class="btn btn-secondary">Right</button>
					</div>
				</div>

			</div>
			
		</div>

		<div class="card mb-g">

			<div class="card-body">

				<h3 class="mb-4">
					Basic <span class="fw-300">Alerts</span> 
					<small>
						Contextual minimalistic alerts
					</small>
				</h3>



			</div>
			
		</div>

		<div class="card mb-g">

			<div class="card-body">

				<h3 class="mb-4">
					Basic <span class="fw-300">Alerts</span> 
					<small>
						Contextual minimalistic alerts
					</small>
				</h3>



			</div>
			
		</div>		
	
	</div>

	<div class="col-md-12 col-xl-6">

		<div class="card mb-g">

			<div class="card-body">

				<h3 class="mb-4">
					Basic <span class="fw-300">Alerts</span> 
					<small>
						Contextual minimalistic alerts
					</small>
				</h3>



			</div>
			
		</div>

		<div class="card mb-g">

			<div class="card-body">

				<h3 class="mb-4">
					Basic <span class="fw-300">Alerts</span> 
					<small>
						Contextual minimalistic alerts
					</small>
				</h3>



			</div>
			
		</div>

		<div class="card mb-g">

			<div class="card-body">

				<h3 class="mb-4">
					Basic <span class="fw-300">Alerts</span> 
					<small>
						Contextual minimalistic alerts
					</small>
				</h3>



			</div>
			
		</div>		
	
	</div>

</div>

{{/inline}}

{{#*inline "scripts-block"}}{{/inline}}

{{/layouts/main}}