{{#> 
	layouts/main 
	title="Button Group" 
	pagename="ui_button_group" 
	heading="<i class='subheader-icon fal fa-window'></i>  Button Group" 
	category_1="UI Components" 
	pagedescription="Group a series of buttons together on a single line with the button group, and super-power them with JavaScript."
}}

{{#*inline "head-block"}}
<link rel="stylesheet" media="screen, print" href="css/theme-demo.css">
{{/inline}}

{{#*inline "content-block"}}

<div class="row">

	<div class="col-sm-12">

		<div class="alert alert-primary">
			<div class="d-table w-100">
				<div class="d-table-cell align-top width-6">
					<span class="icon-stack icon-stack-lg">
						<i class="base base-6 icon-stack-3x opacity-100 color-primary-500"></i> 
						<i class="base base-10 icon-stack-2x opacity-100 color-primary-300 fa-flip-vertical"></i> 
						<i class="fal fa-info icon-stack-1x opacity-100 color-white"></i>
					</span>
				</div>
				<div class="d-table-cell pl-1">
					<span class="h5">Ensure correct <code>role</code> and provide a label</span>
					<br>
					In order for assistive technologies (such as screen readers) to convey that a series of buttons is grouped, an appropriate role attribute needs to be provided. For button groups, this would be <code>role="group"</code>, while toolbars should have a <code>role="toolbar"</code>.						
				</div>
			</div>
		</div>

    </div>

	<div class="col-md-12 col-xl-6">

		<div class="card mb-g">

			<div class="card-body">

				<h3 class="mb-4">
					Basic <span class="fw-300">Example</span> 
					<small>
						The most basic example
					</small>
				</h3>

				<h4 class="frame-heading">
					Wrap a series of buttons with <code>.btn</code> in <code>.btn-group</code>.
				</h4>

				<div class="frame-wrap text-center">
					<div class="btn-group" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-secondary">Left</button>
						<button type="button" class="btn btn-secondary">Middle</button>
						<button type="button" class="btn btn-secondary">Right</button>
					</div>
				</div>

			</div>
			
		</div>

		<div class="card mb-g">

			<div class="card-body">

				<h3 class="mb-4">
					Basic <span class="fw-300">Alerts</span> 
					<small>
						Contextual minimalistic alerts
					</small>
				</h3>



			</div>
			
		</div>

		<div class="card mb-g">

			<div class="card-body">

				<h3 class="mb-4">
					Basic <span class="fw-300">Alerts</span> 
					<small>
						Contextual minimalistic alerts
					</small>
				</h3>



			</div>
			
		</div>		
	
	</div>

	<div class="col-md-12 col-xl-6">

		<div class="card mb-g">

			<div class="card-body">

				<h3 class="mb-4">
					Basic <span class="fw-300">Alerts</span> 
					<small>
						Contextual minimalistic alerts
					</small>
				</h3>



			</div>
			
		</div>

		<div class="card mb-g">

			<div class="card-body">

				<h3 class="mb-4">
					Basic <span class="fw-300">Alerts</span> 
					<small>
						Contextual minimalistic alerts
					</small>
				</h3>



			</div>
			
		</div>

		<div class="card mb-g">

			<div class="card-body">

				<h3 class="mb-4">
					Basic <span class="fw-300">Alerts</span> 
					<small>
						Contextual minimalistic alerts
					</small>
				</h3>



			</div>
			
		</div>		
	
	</div>

</div>

{{/inline}}

{{#*inline "scripts-block"}}{{/inline}}

{{/layouts/main}}