{{#> 
	layouts/main 
	title="Progress Bars" 
	pagename="ui_progress_bars" 
	heading="<i class='subheader-icon fal fa-window'></i> Progress Bars" 
	category_1="UI Components" 
	pagedescription="Progress bars featuring support for stacked bars, animated backgrounds, and text labels"
}}

{{#*inline "head-block"}}{{/inline}}

{{#*inline "header-space-block"}}

<div class="custom-control d-flex custom-switch">
	<input id="eventlog-switch" type="checkbox" class="custom-control-input">
	<label class="custom-control-label fw-500" for="eventlog-switch" checked="checked" data-action="toggle" data-class="justify-content-end" data-target=".progress">Reverse polarity</label>
</div>
{{/inline}}

{{#*inline "content-block"}}
<div class="row">
	<div class="col-lg-12">
		<div class="card mb-g">
			<h4 class="card-header">
				Default <span class="fw-300">Progressbar</span>
				<small>
				The <code>.progress</code> is a wrapper to indicate the max value of the progress bar. We use the inner <code>.progress-bar</code> to indicate the progress so far.	The <code>.progress-bar</code> requires an inline style, utility class, or custom CSS to set their width. You can add some role and aria attributes to make it accessible.
				</small>
			</h4>
			<div class="card-body">
				<div class="demo-v-spacing">
					<div class="progress">
						<div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="card mb-g">
			<h4 class="card-header">
				Various <span class="fw-300">height</span>
				<small>
				Control the height by adding style <code>height:"value"</code> to <code>.progress</code> element
				</small>
			</h4>
			<div class="card-body">
				<div class="demo-v-spacing">
					<div class="progress" style="height: 7px;">
						<div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="progress" style="height: 20px;">
						<div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="card mb-g">
			<h4 class="card-header">
				With <span class="fw-300">label</span>
				<small>
				Control the height by adding css <code>height</code> style with <code>.progress</code> class
				</small>
			</h4>
			<div class="card-body">
				<div class="demo-v-spacing">
					<div class="progress">
						<div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card mb-g">
			<h4 class="card-header">
				Various <span class="fw-300">height</span>
				<small>
				Control the height by adding css <code>height</code> style with <code>.progress</code> class
				</small>
			</h4>
			<div class="card-body">
				<div class="progress">
					<div class="progress-bar" role="progressbar" style="width: 10%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
					<div class="progress-bar bg-success" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
					<div class="progress-bar bg-info" role="progressbar" style="width: 15%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>
		</div>
		<div class="card mb-g">
			<h4 class="card-header">
				Backgrounds <span class="fw-300">Solid</span>
				<small>
				Control the background by adding avaialble <a href="intel_colors.html" target="_blank">color pallets</a> to <code>.progress</code> class
				</small>
			</h4>
			<div class="card-body">
				<div class="demo-v-spacing">
					<div class="progress">
						<div class="progress-bar bg-secondary" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="progress">
						<div class="progress-bar bg-primary" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="progress">
						<div class="progress-bar bg-success" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="progress">
						<div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="progress">
						<div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="progress">
						<div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="card mb-g">
			<h4 class="card-header">
				Backgrounds <span class="fw-300">Gradient</span>
				<small>
				Control the background by adding avaialble <a href="intel_colors.html" target="_blank">color pallets</a> to <code>.progress</code> class
				</small>
			</h4>
			<div class="card-body">
				<div class="demo-v-spacing">
					<div class="progress">
						<div class="progress-bar bg-primary-700 bg-success-gradient" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="progress">
						<div class="progress-bar bg-primary-300 bg-primary-gradient" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="progress">
						<div class="progress-bar bg-success-700 bg-primary-gradient" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="progress">
						<div class="progress-bar bg-info bg-info-gradient" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="progress">
						<div class="progress-bar bg-danger-300 bg-warning-gradient" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="progress">
						<div class="progress-bar bg-success-500 bg-danger-gradient" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="card mb-g">
			<h4 class="card-header">
				Backgrounds <span class="fw-300">Solid</span>
				<small>
				Control the background by adding avaialble <a href="intel_colors.html" target="_blank">color pallets</a> to <code>.progress</code> class
				</small>
			</h4>
			<div class="card-body">
				<div class="demo-v-spacing">
					<div class="progress">
						<div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-striped bg-primary" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="card mb-g">
			<h4 class="card-header">
				Animated
				<small>
				The striped gradient can also be animated. Add <code>.progress-bar-animated</code> to <code>.progress-bar</code> to animate the stripes right to left via CSS3 animations.
				</small>
			</h4>
			<div class="card-body">
				<div class="demo-v-spacing js-progress-animated">
					<div class="progress" style="height: 20px">
						<div class="progress-bar progress-bar-striped bg-primary-500" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<button type="button" class="btn btn-secondary" data-toggle="button" aria-pressed="false" autocomplete="off" data-action="toggle" data-class="progress-bar-animated" data-target=".js-progress-animated .progress-bar">
						Toggle animation
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
{{/inline}}

{{#*inline "scripts-block"}}{{/inline}}

{{/layouts/main}}