{{#> 
	layouts/main 
	title="Collapse" 
	pagename="ui_collapse" 
	heading="<i class='subheader-icon fal fa-window'></i>  Collapse" 
	category_1="UI Components" 
	pagedescription="Toggle the visibility of content across your project with a few classes."
}}

{{#*inline "head-block"}}
<link rel="stylesheet" media="screen, print" href="css/theme-demo.css">
{{/inline}}

{{#*inline "content-block"}}

<div class="row">

	<div class="col-md-12 col-xl-6">

		<div class="card mb-g">

			<div class="card-body">

				<h4 class="mb-g">
					Basic <span class="fw-300">Example</span> 
					<small>
						The most basic example
					</small>
				</h4>

				<h5 class="frame-heading">
					Wrap a series of buttons with <code>.btn</code> in <code>.btn-group</code>.
				</h5>

				<div class="frame-wrap">
					a
				</div>

			</div>
			
		</div>
	
	
	</div>

	<div class="col-md-12 col-xl-6">
		<div id="cp-1" class="card mb-g">
			<h4 class="card-header">
				Basic &amp; Outline
				<span class="fw-300">Alerts</span>
				<small>
				    Collapse card.
				</small>
				<button class="btn" data-toggle="collapse" data-target="#cp-1 > .card-body" >test</button>
			</h4>
			<div class="card-body collapse show p-0">
				<div class="pl-4 pr-4 pt-3 pb-3">
					test
				</div>					
			</div>
		</div>
	</div>

</div>

{{/inline}}

{{#*inline "scripts-block"}}{{/inline}}

{{/layouts/main}}