{{#> 
	layouts/main 
	title="Modal" 
	pagename="ui_modal" 
	heading="<i class='subheader-icon fal fa-window'></i>  Modal" 
	category_1="UI Components" 
	pagedescription="Modal dialogs for lightboxes, user notifications, or completely custom content"
}}

{{#*inline "head-block"}}
<link rel="stylesheet" media="screen, print" href="css/theme-demo.css">
{{/inline}}

{{#*inline "content-block"}}

<div class="row">
   <div class="col">

      <div class="card mb-g">

         <div class="card-body">

            <h4 class="mb-g">
               Basic
               <span class="fw-300">Modals</span>
               <small>
                  Below is a static modal example (meaning its position and display have been overridden). Included are the modal header, modal body (required for padding), and modal footer (optional). We ask that you include modal headers with dismiss actions whenever possible, or provide another explicit dismiss action.
               </small>
            </h4>

            <!-- Modal -->
            <div class="modal fade" id="default-example-modal" tabindex="-1" role="dialog" aria-hidden="true">
             <div class="modal-dialog" role="document">
               <div class="modal-content">
                 <div class="modal-header">
                    <h4 class="modal-title">

                       Basic Modals
                       <small class="m-0 text-muted">
                           Below is a static modal example
                       </small>

                    </h4>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                   </button>
                 </div>
                 <div class="modal-body">
                   ...
                 </div>
                 <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                   <button type="button" class="btn btn-primary">Save changes</button>
                 </div>
               </div>
             </div>
            </div>

            <!-- Modal Large -->
            <div class="modal fade" id="default-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
             <div class="modal-dialog modal-lg" role="document">
               <div class="modal-content">
                 <div class="modal-header">
                   <h5 class="modal-title">Modal title</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                   </button>
                 </div>
                 <div class="modal-body">
                   ...
                 </div>
                 <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                   <button type="button" class="btn btn-primary">Save changes</button>
                 </div>
               </div>
             </div>
            </div>

            <!-- Modal Small -->
            <div class="modal fade" id="default-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
             <div class="modal-dialog modal-sm" role="document">
               <div class="modal-content">
                 <div class="modal-header">
                   <h5 class="modal-title">Modal title</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                   </button>
                 </div>
                 <div class="modal-body">
                   ...
                 </div>
                 <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                   <button type="button" class="btn btn-primary">Save changes</button>
                 </div>
               </div>
             </div>
            </div>             

            <p class="demo mb-g">
               <!-- Button trigger modal -->
               <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#default-example-modal">Default Modal</button>

               <!-- Large modal -->
               <button type="button" class="btn btn-info" data-toggle="modal" data-target="#default-example-modal-lg">Default Modal Large</button>

               <!-- Small modal -->
               <button type="button" class="btn btn-success" data-toggle="modal" data-target="#default-example-modal-sm">Default Modal Small</button>
            </p>

            <h5>
               Centered Modals
            </h5>

            <!-- Modal center -->
            <div class="modal fade" id="default-example-modal-center" tabindex="-1" role="dialog" aria-hidden="true">
             <div class="modal-dialog modal-dialog-centered" role="document">
               <div class="modal-content">
                 <div class="modal-header">
                    <h4 class="modal-title">

                       Basic Modals
                       <small class="m-0 text-muted">
                           Below is a static modal example
                       </small>

                    </h4>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                   </button>
                 </div>
                 <div class="modal-body">
                   ...
                 </div>
                 <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                   <button type="button" class="btn btn-primary">Save changes</button>
                 </div>
               </div>
             </div>
            </div>

            <!-- Modal center Large -->
            <div class="modal fade" id="default-example-modal-lg-center" tabindex="-1" role="dialog" aria-hidden="true">
             <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
               <div class="modal-content">
                 <div class="modal-header">
                   <h5 class="modal-title">Modal title</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                   </button>
                 </div>
                 <div class="modal-body">
                   ...
                 </div>
                 <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                   <button type="button" class="btn btn-primary">Save changes</button>
                 </div>
               </div>
             </div>
            </div>

            <!-- Modal center Small -->
            <div class="modal fade" id="default-example-modal-sm-center" tabindex="-1" role="dialog" aria-hidden="true">
             <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
               <div class="modal-content">
                 <div class="modal-header">
                   <h5 class="modal-title">Modal title</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                   </button>
                 </div>
                 <div class="modal-body">
                   ...
                 </div>
                 <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                   <button type="button" class="btn btn-primary">Save changes</button>
                 </div>
               </div>
             </div>
            </div>  

            <p class="demo mb-g">
               <!-- Small modal -->
               <button type="button" class="btn btn-success" data-toggle="modal" data-target="#default-example-modal-sm-center">Small</button>
               <!-- Button trigger modal -->
               <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#default-example-modal-center">Normal</button>
               <!-- Large modal -->
               <button type="button" class="btn btn-info" data-toggle="modal" data-target="#default-example-modal-lg-center">Large</button>
            </p>

         </div>

      </div>

      <div class="card mb-g">

         <div class="card-body">

            <h4 class="mb-g">
               Side
               <span class="fw-300">Modals</span>
               <small>
                  Modals can also be positioned to the side of the page. Therefore the modifier classes <code>.modal-dialog-left</code>, <code>.modal-dialog-right</code> or <code>.modal-dialog-top</code> can be placed on a <code>.modal-dialog</code>. These side modals are compatible with the sizes classes.
               </small>
            </h4>

            <h5>
               Modals right side
            </h5>
            <p class="demo mb-g">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".default-example-modal-right-sm">Right Small</button>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".default-example-modal-right">Right Normal</button>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".default-example-modal-right-lg">Right Large</button>
            </p>  

            <div class="modal fade default-example-modal-right" tabindex="-1" role="dialog" aria-hidden="true">
               <div class="modal-dialog modal-dialog-right">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title h4">Large right side modal</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        ...
                     </div>
                     <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                       <button type="button" class="btn btn-primary">Save changes</button>
                     </div>
                  </div>
               </div>
            </div>

            <div class="modal fade default-example-modal-right-sm" tabindex="-1" role="dialog" aria-hidden="true">
               <div class="modal-dialog modal-dialog-right modal-sm">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title h4">Large right side modal</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        ...
                     </div>
                     <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                       <button type="button" class="btn btn-primary">Save changes</button>
                     </div>
                  </div>
               </div>
            </div>

            <div class="modal fade default-example-modal-right-lg" tabindex="-1" role="dialog" aria-hidden="true">
               <div class="modal-dialog modal-dialog-right modal-lg">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title h4">Large right side modal</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        ...
                     </div>
                     <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                       <button type="button" class="btn btn-primary">Save changes</button>
                     </div>
                  </div>
               </div>
            </div>

            <h5>
               Modals left side
            </h5>
            <p class="demo mb-g">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".default-example-modal-left-sm">Left Small</button>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".default-example-modal-left">Left Normal</button>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".default-example-modal-left-lg">Left Large</button>
            </p> 

            <div class="modal fade default-example-modal-left" tabindex="-1" role="dialog" aria-hidden="true">
               <div class="modal-dialog modal-dialog-left">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title h4">Large right side modal</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        ...
                     </div>
                     <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                       <button type="button" class="btn btn-primary">Save changes</button>
                     </div>
                  </div>
               </div>
            </div>

            <div class="modal fade default-example-modal-left-sm" tabindex="-1" role="dialog" aria-hidden="true">
               <div class="modal-dialog modal-dialog-left modal-sm">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title h4">Large right side modal</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        ...
                     </div>
                     <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                       <button type="button" class="btn btn-primary">Save changes</button>
                     </div>
                  </div>
               </div>
            </div>

            <div class="modal fade default-example-modal-left-lg" tabindex="-1" role="dialog" aria-hidden="true">
               <div class="modal-dialog modal-dialog-left modal-lg">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title h4">Large right side modal</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        ...
                     </div>
                     <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                       <button type="button" class="btn btn-primary">Save changes</button>
                     </div>
                  </div>
               </div>
            </div>

            <h5>
               Modals Top (one size)
            </h5>
            <p class="demo mb-g">
               <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".default-example-modal-top">Top Side</button>
               <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".default-example-modal-top-transparent">Top Side Transparent</button>
            </p>   

            <div class="modal fade default-example-modal-top" tabindex="-1" role="dialog" aria-hidden="true">
               <div class="modal-dialog modal-dialog-top">
                  <div class="modal-content">
                     <div class="modal-body">

                       
                        <div class="icon-stack fa-6x mr-4 mb-0">
                            <i class="base-4 icon-stack-3x color-danger-500"></i>
                            <i class="base-4 icon-stack-1x color-danger-400"></i>
                            <i class="ni ni-envelope icon-stack-1x text-white"></i>
                        </div>
                        <div class="icon-stack fa-6x mr-4 mb-0">
                            <i class="base-19 icon-stack-3x color-primary-400"></i>
                            <i class="base-7 icon-stack-2x color-primary-300"></i>
                            <i class="base-7 icon-stack-1x fs-xxl color-primary-200"></i>
                            <i class="base-7 icon-stack-1x color-primary-500"></i>
                            <i class="fal fa-globe icon-stack-1x text-white opacity-85"></i>
                        </div>
                        <div class="icon-stack fa-6x mr-4 mb-0">
                            <i class="base-16 icon-stack-3x color-fusion-500"></i>
                            <i class="base-10 icon-stack-1x color-primary-50 opacity-30"></i>
                            <i class="base-10 icon-stack-1x fs-xl color-primary-50 opacity-20"></i>
                            <i class="fal fa-dot-circle icon-stack-1x text-white opacity-85"></i>
                        </div>
                        <div class="icon-stack fa-6x mr-4 mb-0">
                            <i class="base-7 icon-stack-3x color-info-500"></i>
                            <i class="base-7 icon-stack-2x color-info-700"></i>
                            <i class="ni ni-graph icon-stack-1x text-white"></i>
                        </div>
                        <div class="icon-stack fa-6x mr-4 mb-0">
                            <i class="base-9 icon-stack-3x color-success-400"></i>
                            <i class="base-2 icon-stack-2x color-success-500"></i>
                            <i class="ni ni-shield icon-stack-1x text-white"></i>
                        </div>
                        

                     </div>
                  </div>
               </div>
            </div>   

            <div class="modal fade default-example-modal-top-transparent" tabindex="-1" role="dialog" aria-hidden="true">
               <div class="modal-dialog modal-dialog-top modal-bg-transparent">
                  <div class="modal-content">
                     <div class="modal-body">

                       
                        <div class="icon-stack fa-6x mr-4 mb-0">
                            <i class="base-4 icon-stack-3x color-danger-500"></i>
                            <i class="base-4 icon-stack-1x color-danger-400"></i>
                            <i class="ni ni-envelope icon-stack-1x text-white"></i>
                        </div>
                        <div class="icon-stack fa-6x mr-4 mb-0">
                            <i class="base-19 icon-stack-3x color-primary-400"></i>
                            <i class="base-7 icon-stack-2x color-primary-300"></i>
                            <i class="base-7 icon-stack-1x fs-xxl color-primary-200"></i>
                            <i class="base-7 icon-stack-1x color-primary-500"></i>
                            <i class="fal fa-globe icon-stack-1x text-white opacity-85"></i>
                        </div>
                        <div class="icon-stack fa-6x mr-4 mb-0">
                            <i class="base-16 icon-stack-3x color-fusion-500"></i>
                            <i class="base-10 icon-stack-1x color-primary-50 opacity-30"></i>
                            <i class="base-10 icon-stack-1x fs-xl color-primary-50 opacity-20"></i>
                            <i class="fal fa-dot-circle icon-stack-1x text-white opacity-85"></i>
                        </div>
                        <div class="icon-stack fa-6x mr-4 mb-0">
                            <i class="base-7 icon-stack-3x color-info-500"></i>
                            <i class="base-7 icon-stack-2x color-info-700"></i>
                            <i class="ni ni-graph icon-stack-1x text-white"></i>
                        </div>
                        <div class="icon-stack fa-6x mr-4 mb-0">
                            <i class="base-9 icon-stack-3x color-success-400"></i>
                            <i class="base-2 icon-stack-2x color-success-500"></i>
                            <i class="ni ni-shield icon-stack-1x text-white"></i>
                        </div>
                        

                     </div>
                  </div>
               </div>
            </div>   

            <h5>
               Modals Bottom (one size)
            </h5>
            <p class="demo">
               <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".default-example-modal-bottom">Bottom Side</button>
               <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".default-example-modal-bottom-transparent">Bottom Side Transparent</button>
            </p>   

            <div class="modal fade default-example-modal-bottom" tabindex="-1" role="dialog" aria-hidden="true">
               <div class="modal-dialog modal-dialog-bottom">
                  <div class="modal-content">
                     <div class="modal-body">

                       
                        <div class="icon-stack fa-6x mr-4 mb-0">
                            <i class="base-4 icon-stack-3x color-danger-500"></i>
                            <i class="base-4 icon-stack-1x color-danger-400"></i>
                            <i class="ni ni-envelope icon-stack-1x text-white"></i>
                        </div>
                        <div class="icon-stack fa-6x mr-4 mb-0">
                            <i class="base-19 icon-stack-3x color-primary-400"></i>
                            <i class="base-7 icon-stack-2x color-primary-300"></i>
                            <i class="base-7 icon-stack-1x fs-xxl color-primary-200"></i>
                            <i class="base-7 icon-stack-1x color-primary-500"></i>
                            <i class="fal fa-globe icon-stack-1x text-white opacity-85"></i>
                        </div>
                        <div class="icon-stack fa-6x mr-4 mb-0">
                            <i class="base-16 icon-stack-3x color-fusion-500"></i>
                            <i class="base-10 icon-stack-1x color-primary-50 opacity-30"></i>
                            <i class="base-10 icon-stack-1x fs-xl color-primary-50 opacity-20"></i>
                            <i class="fal fa-dot-circle icon-stack-1x text-white opacity-85"></i>
                        </div>
                        <div class="icon-stack fa-6x mr-4 mb-0">
                            <i class="base-7 icon-stack-3x color-info-500"></i>
                            <i class="base-7 icon-stack-2x color-info-700"></i>
                            <i class="ni ni-graph icon-stack-1x text-white"></i>
                        </div>
                        <div class="icon-stack fa-6x mr-4 mb-0">
                            <i class="base-9 icon-stack-3x color-success-400"></i>
                            <i class="base-2 icon-stack-2x color-success-500"></i>
                            <i class="ni ni-shield icon-stack-1x text-white"></i>
                        </div>
                        

                     </div>
                  </div>
               </div>
            </div>   

            <div class="modal fade default-example-modal-bottom-transparent" tabindex="-1" role="dialog" aria-hidden="true">
               <div class="modal-dialog modal-dialog-bottom modal-bg-transparent">
                  <div class="modal-content">
                     <div class="modal-body">

                       
                        <div class="icon-stack fa-6x mr-4 mb-0">
                            <i class="base-4 icon-stack-3x color-danger-500"></i>
                            <i class="base-4 icon-stack-1x color-danger-400"></i>
                            <i class="ni ni-envelope icon-stack-1x text-white"></i>
                        </div>
                        <div class="icon-stack fa-6x mr-4 mb-0">
                            <i class="base-19 icon-stack-3x color-primary-400"></i>
                            <i class="base-7 icon-stack-2x color-primary-300"></i>
                            <i class="base-7 icon-stack-1x fs-xxl color-primary-200"></i>
                            <i class="base-7 icon-stack-1x color-primary-500"></i>
                            <i class="fal fa-globe icon-stack-1x text-white opacity-85"></i>
                        </div>
                        <div class="icon-stack fa-6x mr-4 mb-0">
                            <i class="base-16 icon-stack-3x color-fusion-500"></i>
                            <i class="base-10 icon-stack-1x color-primary-50 opacity-30"></i>
                            <i class="base-10 icon-stack-1x fs-xl color-primary-50 opacity-20"></i>
                            <i class="fal fa-dot-circle icon-stack-1x text-white opacity-85"></i>
                        </div>
                        <div class="icon-stack fa-6x mr-4 mb-0">
                            <i class="base-7 icon-stack-3x color-info-500"></i>
                            <i class="base-7 icon-stack-2x color-info-700"></i>
                            <i class="ni ni-graph icon-stack-1x text-white"></i>
                        </div>
                        <div class="icon-stack fa-6x mr-4 mb-0">
                            <i class="base-9 icon-stack-3x color-success-400"></i>
                            <i class="base-2 icon-stack-2x color-success-500"></i>
                            <i class="ni ni-shield icon-stack-1x text-white"></i>
                        </div>
                        

                     </div>
                  </div>
               </div>
            </div>   

         </div>

      </div>

      <div class="card mb-g">

         <div class="card-body">

            <h4 class="mb-g">
               Modifications
            </h4>
            <h5>
               FullScreen Modals
            </h5>
            <p class="demo mb-g">
               <button type="button" class="btn btn-lg btn-primary m-1" data-toggle="modal" data-target=".bd-example-modal-dialog-left-side">Modal Fullscreen (one size)</button>
            </p>
            <h5>
               Transparent Modals
            </h5>
            <p class="demo mb-g">
               <button type="button" class="btn btn-dark m-1" data-toggle="modal" data-target=".bd-example-modal-dialog-left-side">Transparent Modal</button>
            </p>
            <h5>
               Backdrop Transparent
            </h5>
            <p class="demo">
               <button type="button" class="btn btn-outline-dark m-1" data-toggle="modal" data-target=".bd-example-modal-dialog-left-side">No Backdrop</button>
            </p>

         </div>

      </div>

   </div>
</div>

<div class="modal fade bd-example-modal-dialog-left-side" tabindex="-1" role="dialog" aria-labelledby="myLeftSideModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-left">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title h4" id="myLeftSideModalLabel">Left side modal</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <p>
               Modal footers are pushed to the bottom of side modals.
            </p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
         </div>
      </div>
   </div>
</div>

<div class="modal fade bd-example-modal-dialog-right-side" tabindex="-1" role="dialog" aria-labelledby="myRightSideModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-right">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title h4" id="myRightSideModalLabel">Right side modal</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            ...
         </div>
      </div>
   </div>
</div>

<div class="modal fade bd-example-modal-dialog-left-side-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallLeftSideModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-left modal-sm">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title h4" id="mySmallLeftSideModalLabel">Small modal</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <p>
               This is an example of a small modal on the left side. 
            </p>
            <p>
               Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo. Cras mattis consectetur purus sit amet fermentum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
            </p>
            <p>
               Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec sed odio dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur.
            </p>
            <p>
               Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
            </p>
            <p>
               Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.
            </p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
         </div>
      </div>
   </div>
</div>

{{/inline}}

{{#*inline "scripts-block"}}{{/inline}}

{{/layouts/main}}