<!DOCTYPE html>
<html lang="en">
	<head>
		{{> _common/_head/_head}}

		<!-- Optional: Page related CSS-->
		{{#> head-block}}{{/head-block}}
	</head>
	<body id="index">
			
		<!-- BEGIN WRAPPER -->
		<div id="page-wrapper alt" class="clearfix">

			<!-- BEGIN CONTENT -->
			<main id="content" role="main">
				{{#> content-block}}{{/content-block}}
			</main>
			<!-- END CONTENT -->

			<!-- BEGIN FOOTER -->
			{{> _common/_page-footer }}
			<!-- END FOOTER -->

		</div>
		<!-- END WRAPPER -->

		<!-- BEGIN SHORTCUT BUTTONS -->
		{{> _common/_shortcut }}
		<!-- END SHORTCUT BUTTONS -->

		{{!-- Google Analytics  code if GOOGLE_ANALYTICS_ID id available --}}
		{{#if GOOGLE_ANALYTICS_ID}}
			<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			  ga('create', '{{GOOGLE_ANALYTICS_ID}}', 'auto');
			  ga('send', 'pageview');

			</script>
		{{/if}}
		{{> _common/_scripts/base-plugins}}
		{{#> scripts-block}}
			{{!-- Custom scripts per page can be added. --}}
		{{/scripts-block}}
	</body>
</html>