{{#> 
	layouts/main 
	title="Downloaded Package" 
	pagename="info_app_package" 
	heading="Downloaded Package"
	category_1="Package Info"
}}

{{#*inline "head-block"}}
	{{!-- Add your custom CSS files here --}}
	<link rel="stylesheet" type="text/css" href="css/info_app_package.css">
{{/inline}}

{{#*inline "header-space-block"}}
	{{!-- Right content on content header --}}
	Right content of header
{{/inline}}

{{#*inline "content-block"}}
	{{!-- Your main content goes here --}}

<div class="css-treeview">
	<ul>
		<li>
			<a href="./">favicon.ico</a>
		</li>
	</ul>
    <ul>
		<li><input type="checkbox" checked="checked"/><label>img</label>
	        <ul>
                <li><input type="checkbox" id="item-1" /><label for="item-1">avatars</label>
                    <ul>
                        <li><a href="./">avatar-a.png</a></li>
                        <li><a href="./">avatar-b.png</a></li>
                        <li><a href="./">avatar-c.png</a></li>
                    </ul>
                </li>
                <li><input type="checkbox" id="item-2" /><label for="item-2">backgrounds</label>
                    <ul>
                        <li><a href="./">bg-1.png</a></li>
                        <li><a href="./">bg-2.png</a></li>
                        <li><a href="./">bg-3.png</a></li>
                    </ul>
                </li>
            </ul>
        </li>
		<li><input type="checkbox" checked="checked" /><label>js</label>
	        <ul>
		        <li>
	            	<a href="./">manifest.json</a>
	            </li>
                <li><input type="checkbox" id="item-3" /><label for="item-3">_config</label>
                    <ul>
                        <li><a href="./">app.config.js</a></li>
                    </ul>
                </li>
                <li><input type="checkbox" id="item-4" /><label for="item-4">_modules</label>
                    <ul>
                        <li><a href="./">app.domReady.js</a></li>
                        <li><a href="./">app.window.load.js</a></li>
                    </ul>
                </li>
            </ul>
        </li>
		<li><input type="checkbox" checked="checked" /><label>scss</label>
	        <ul>
		        <li>
	            	<a href="./">bootstrap.scss</a>
	            </li>
                <li><input type="checkbox" id="item-5" /><label for="item-5">_imports</label>
                    <ul>
                        <li><a href="./">_global-import.scss</a></li>
                         <li><a href="./">_theme-modules-import.scss</a></li>
                    </ul>
                </li>
                <li><input type="checkbox" id="item-6" /><label for="item-6">_mixins</label>
                    <ul>
                        <li><a href="./">flex.scss</a></li>
                        <li><a href="./">mixins.scss</a></li>
                    </ul>
                </li>
                <li><input type="checkbox" id="item-7" /><label for="item-7">_modules</label>
                    <ul>
                        <li><a href="./">variables.scss</a></li>
                        <li><a href="./">_body.scss</a></li>
                        <li><a href="./">_colors.scss</a></li>
                        <li><a href="./">_custom.scss</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>


<ul id="parent"></ul>

{{/inline}}

{{#*inline "scripts-block"}}
	{{!-- Your custom scripts goes here --}}
	<script>

var tree = [{
  text: "Parent 1",
  nodes: [{
    text: "Child 1",
    nodes: [{
      text: "Grandchild 1",
      nodes: [{
        text: "GrandChild 3"
      }]
    }, {
      text: "Grandchild 2",
      nodes: [{
        text: "GrandChild 4"
      }]
    }, {
      text: "Grandchild 3",
      nodes: [{
        text: "GrandChild 5"
      }]
    }]
  }, {
    text: "Child 2"
  }]
}, {
  text: "Parent 2"
}, {
  text: "Parent 3"
}, {
  text: "Parent 4"
}, {
  text: "Parent 5"
}];

function recursive_tree(data, tag, child_wrapper, level) {
  var html = [];
  //return html array;
  level = level || 0;
  child_wrapper = (child_wrapper != false) ? child_wrapper : 'ul';
  $.each(data, function(i, obj) {
    var el = $('<' + tag + '>');
    el.html(obj.text);
    if (obj.hasOwnProperty('nodes')) {
      var wrapper = $('<' + child_wrapper + '>');
      var els = recursive_tree(obj.nodes, tag, child_wrapper);
      wrapper.append(els);
      wrapper.appendTo(el);
    }
    html.push(el);
  });
  return html;
}

$(document).ready(function() {
  var html = recursive_tree(tree, 'li', 'ul');
  console.log(html);
  $('#parent').append(html);

});

	</script
{{/inline}}

{{/layouts/main}}