{{#> 
	layouts/main 
	title="Ion Range Slider" 
	pagename="form_plugins_ionrangeslider" 
	category_1="Form Plugins"
	heading="<i class='subheader-icon fal fa-credit-card-front'></i> Ion Range Slider<sup class='badge badge-primary fw-500'>ADDON</sup>" 
	pagedescription="blank description"
}}

{{#*inline "head-block"}}
	<link rel="stylesheet" media="screen, print" href="css/formplugins/ion-rangeslider/ion-rangeslider.css">
{{/inline}}

{{#*inline "content-block"}}

<div class="alert alert-primary">
	<div class="d-flex flex-start w-100">
		<div class="mr-2 hidden-md-down">
			<span class="icon-stack icon-stack-lg">
				<i class="base base-6 icon-stack-3x opacity-100 color-primary-500"></i>
				<i class="base base-10 icon-stack-2x opacity-100 color-primary-300 fa-flip-vertical"></i>
				<i class="ni ni-blog-read icon-stack-1x opacity-100 color-white"></i>
			</span>
		</div>
		<div class="d-flex flex-fill">
			<div class="flex-fill">
				<span class="h5">About</span>
				<p>Points.</p>
				<p class="m-0">
					Find in-depth, guidelines, tutorials and more on Addon's <a href="#" target="_blank">Official Documentation</a> 
				</p>
			</div>
		</div>
	</div>
</div>

{{!-- Your main content goes here --}}
<div class="row">
	<div class="col-xl-12">
		<div id="panel-1" class="panel">
			<div class="panel-hdr">	
				<h2>
					Panel <span class="fw-300"><i>Title</i></span> 
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-original-title="Collapse"></button>
					<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-original-title="Close"></button>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">									
					<div class="panel-tag">
						Panel tag <code>code</code>
					</div>
					<input id="demo_0" type="text" name="" value="" class="d-none" tabindex="-1" readonly="">
					<input id="demo_1" type="text" name="" value="" class="d-none" tabindex="-1" readonly="">
					<input id="demo_2" type="text" name="" value="" class="d-none" tabindex="-1" readonly="">
					<input id="demo_3" type="text" name="" value="" class="d-none" tabindex="-1" readonly="">
					<input id="demo_4" type="text" name="" value="" class="d-none" tabindex="-1" readonly="">
					<input id="demo_5" type="text" name="" value="" class="d-none" tabindex="-1" readonly="">
				</div>
			</div>
		</div>
	</div>
</div>
{{/inline}}

{{#*inline "scripts-block"}}
	<script src="js/formplugins/ion-rangeslider/ion-rangeslider.js"></script>
	<script>
		$(document).ready(function () {
			$("#demo_0").ionRangeSlider({
			    min: 100,
			    max: 1000,
			    from: 550,
			    skin: "flat"
			});
			$("#demo_1").ionRangeSlider({
			    min: 100,
			    max: 1000,
			    from: 550,
			    skin: "big"
			});
			$("#demo_2").ionRangeSlider({
			    min: 100,
			    max: 1000,
			    from: 550,
			    skin: "modern"
			});
			$("#demo_3").ionRangeSlider({
			    min: 100,
			    max: 1000,
			    from: 550,
			    skin: "sharp"
			});
			$("#demo_4").ionRangeSlider({
			    min: 100,
			    max: 1000,
			    from: 550,
			    skin: "round"
			});
			$("#demo_5").ionRangeSlider({
			    min: 100,
			    max: 1000,
			    from: 550,
			    skin: "square"
			});
		});
	</script>
{{/inline}}

{{/layouts/main}}