{{#> 
	layouts/main 
	title="Buttons" 
	pagename="ui_buttons" 
	heading="<i class='subheader-icon fal fa-window'></i>  Buttons" 
	category_1="UI Components" 
	pagedescription="Use NextGen’s custom button styles for actions in forms, dialogs, and more. Includes support for a handful of contextual variations, sizes, states, and more."
}}

{{#*inline "head-block"}}{{/inline}}

{{#*inline "content-block"}}

<div class="row">
   <div class="col-md-12 col-xl-12">
      <div class="card mb-g">
         <div class="card-body">
            <div class="row">
               <div class="col-xl-6">
                  <h4 class="mb-g">
                     Button <span class="fw-300">Colors</span> 
                     <small>
                     NextGen includes seven predefined button styles, each serving its own semantic purpose.
                     </small>
                  </h4>
                  <h5 class="frame-heading">
                     Default button styles with predefined colors
                  </h5>
                  <div class="frame-wrap text-center">
                     <p class="demo">
                        <button type="button" class="btn btn-primary">Primary</button>
                        <button type="button" class="btn btn-secondary">Secondary</button>
                        <button type="button" class="btn btn-default">Default</button>
                        <button type="button" class="btn btn-success">Success</button>
                        <button type="button" class="btn btn-info">Info</button>
                        <button type="button" class="btn btn-warning">Warning</button>
                        <button type="button" class="btn btn-danger">Danger</button>
                        <button type="button" class="btn btn-dark">Dark</button>
                     </p>
                  </div>
                  <h5 class="frame-heading">
                     Rounded edge with <code>.btn-pills</code> class
                  </h5>
                  <div class="frame-wrap text-center">
                     <p class="demo">		
                        <button type="button" class="btn btn-primary btn-pills">Primary</button>
                        <button type="button" class="btn btn-secondary btn-pills">Secondary</button>
                        <button type="button" class="btn btn-default btn-pills">Default</button>
                        <button type="button" class="btn btn-success btn-pills">Success</button>
                        <button type="button" class="btn btn-info btn-pills">Info</button>
                        <button type="button" class="btn btn-warning btn-pills">Warning</button>
                        <button type="button" class="btn btn-danger btn-pills">Danger</button>
                        <button type="button" class="btn btn-dark btn-pills">Dark</button>
                     </p>
                  </div>
               </div>
               <div class="col-xl-6">
                  <h4 class="mb-g">
                     Button <span class="fw-300">Outline</span> 
                     <small>
                     Replace the default modifier classes with the <code>.btn-outline-*</code> ones to remove all background images and colors.
                     </small>
                  </h4>
                  <h5 class="frame-heading">
                     Default button styles with predefined colors
                  </h5>
                  <div class="frame-wrap text-center">
                     <p class="demo">	
                        <button type="button" class="btn btn-outline-primary">Primary</button>
                        <button type="button" class="btn btn-outline-secondary">Secondary</button>
                        <button type="button" class="btn btn-outline-default">Default</button>
                        <button type="button" class="btn btn-outline-success">Success</button>
                        <button type="button" class="btn btn-outline-info">Info</button>
                        <button type="button" class="btn btn-outline-warning">Warning</button>
                        <button type="button" class="btn btn-outline-danger">Danger</button>
                        <button type="button" class="btn btn-outline-dark">Dark</button>
                     </p>
                  </div>
                  <h5 class="frame-heading">
                     Rounded edge with <code>.btn-pills</code> class
                  </h5>
                  <div class="frame-wrap text-center">
                     <p class="demo">		
                        <button type="button" class="btn btn-outline-primary btn-pills">Primary</button>
                        <button type="button" class="btn btn-outline-secondary btn-pills">Secondary</button>
                        <button type="button" class="btn btn-outline-default btn-pills">Default</button>
                        <button type="button" class="btn btn-outline-success btn-pills">Success</button>
                        <button type="button" class="btn btn-outline-info btn-pills">Info</button>
                        <button type="button" class="btn btn-outline-warning btn-pills">Warning</button>
                        <button type="button" class="btn btn-outline-danger btn-pills">Danger</button>
                        <button type="button" class="btn btn-outline-dark btn-pills">Dark</button>
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-12 col-xl-12">
      <div class="card mb-g">
         <div class="card-body">
            <h4 class="mb-g">
               Option <span class="fw-300">Sizes</span>
            </h4>
            <h5 class="frame-heading">
               Fancy larger or smaller buttons? Add <code>.btn-lg</code> or <code>.btn-sm</code> for additional sizes.				
            </h5>
            <div class="frame-wrap">
               <p class="demo">
                  <button type="button" class="btn btn-lg btn-primary">Primary</button>
                  <button type="button" class="btn btn-lg btn-secondary">Secondary</button>
                  <button type="button" class="btn btn-lg btn-default">Default</button>
                  <button type="button" class="btn btn-lg btn-success">Success</button>
                  <button type="button" class="btn btn-lg btn-warning">Warning</button>
                  <button type="button" class="btn btn-lg btn-info">Info</button>
                  <button type="button" class="btn btn-lg btn-danger">Danger</button>
                  <button type="button" class="btn btn-lg btn-dark">Dark</button>
               </p>
               <p class="demo">
                  <button type="button" class="btn btn-lg btn-outline-primary">Primary</button>
                  <button type="button" class="btn btn-lg btn-outline-secondary">Secondary</button>
                  <button type="button" class="btn btn-lg btn-outline-default">Default</button>
                  <button type="button" class="btn btn-lg btn-outline-success">Success</button>
                  <button type="button" class="btn btn-lg btn-outline-warning">Warning</button>
                  <button type="button" class="btn btn-lg btn-outline-info">Info</button>
                  <button type="button" class="btn btn-lg btn-outline-danger">Danger</button>
                  <button type="button" class="btn btn-lg btn-outline-dark">Dark</button>
               </p>
            </div>
            <h5 class="frame-heading">
               Fancy larger or smaller buttons? Add <code>.btn-lg</code> or <code>.btn-sm</code> for additional sizes.				
            </h5>
            <div class="frame-wrap">
               <p class="demo">
                  <button type="button" class="btn btn-primary">Primary</button>
                  <button type="button" class="btn btn-secondary">Secondary</button>
                  <button type="button" class="btn btn-default">Default</button>
                  <button type="button" class="btn btn-success">Success</button>
                  <button type="button" class="btn btn-warning">Warning</button>
                  <button type="button" class="btn btn-info">Info</button>
                  <button type="button" class="btn btn-danger">Danger</button>
                  <button type="button" class="btn btn-dark">Dark</button>
               </p>
               <p class="demo">
                  <button type="button" class="btn btn-outline-primary">Primary</button>
                  <button type="button" class="btn btn-outline-secondary">Secondary</button>
                  <button type="button" class="btn btn-outline-default">Default</button>
                  <button type="button" class="btn btn-outline-success">Success</button>
                  <button type="button" class="btn btn-outline-warning">Warning</button>
                  <button type="button" class="btn btn-outline-info">Info</button>
                  <button type="button" class="btn btn-outline-danger">Danger</button>
                  <button type="button" class="btn btn-outline-dark">Dark</button>
               </p>
            </div>
            <h5 class="frame-heading">
               Fancy larger or smaller buttons? Add <code>.btn-lg</code> or <code>.btn-sm</code> for additional sizes.				
            </h5>
            <div class="frame-wrap">
               <p class="demo">
                  <button type="button" class="btn btn-sm btn-primary">Primary</button>
                  <button type="button" class="btn btn-sm btn-secondary">Secondary</button>
                  <button type="button" class="btn btn-sm btn-default">Default</button>
                  <button type="button" class="btn btn-sm btn-success">Success</button>
                  <button type="button" class="btn btn-sm btn-warning">Warning</button>
                  <button type="button" class="btn btn-sm btn-info">Info</button>
                  <button type="button" class="btn btn-sm btn-danger">Danger</button>
                  <button type="button" class="btn btn-sm btn-dark">Dark</button>
               </p>
               <p class="demo">
                  <button type="button" class="btn btn-sm btn-outline-primary">Primary</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Secondary</button>
                  <button type="button" class="btn btn-sm btn-outline-default">Default</button>
                  <button type="button" class="btn btn-sm btn-outline-success">Success</button>
                  <button type="button" class="btn btn-sm btn-outline-warning">Warning</button>
                  <button type="button" class="btn btn-sm btn-outline-info">Info</button>
                  <button type="button" class="btn btn-sm btn-outline-danger">Danger</button>
                  <button type="button" class="btn btn-sm btn-outline-dark">Dark</button>
               </p>
            </div>
            <h5 class="frame-heading">
               Fancy larger or smaller buttons? Add <code>.btn-lg</code> or <code>.btn-sm</code> for additional sizes.				
            </h5>
            <div class="frame-wrap">
               <p class="demo">
                  <button type="button" class="btn btn-xs btn-primary">Primary</button>
                  <button type="button" class="btn btn-xs btn-secondary">Secondary</button>
                  <button type="button" class="btn btn-xs btn-default">Default</button>
                  <button type="button" class="btn btn-xs btn-success">Success</button>
                  <button type="button" class="btn btn-xs btn-warning">Warning</button>
                  <button type="button" class="btn btn-xs btn-info">Info</button>
                  <button type="button" class="btn btn-xs btn-danger">Danger</button>
                  <button type="button" class="btn btn-xs btn-dark">Dark</button>
               </p>
               <p class="demo">
                  <button type="button" class="btn btn-xs btn-outline-primary">Primary</button>
                  <button type="button" class="btn btn-xs btn-outline-secondary">Secondary</button>
                  <button type="button" class="btn btn-xs btn-outline-default">Default</button>
                  <button type="button" class="btn btn-xs btn-outline-success">Success</button>
                  <button type="button" class="btn btn-xs btn-outline-warning">Warning</button>
                  <button type="button" class="btn btn-xs btn-outline-info">Info</button>
                  <button type="button" class="btn btn-xs btn-outline-danger">Danger</button>
                  <button type="button" class="btn btn-xs btn-outline-dark">Dark</button>
               </p>
            </div>
         </div>
      </div>
      <div class="card mb-g">
         <div class="card-body">
            <h4 class="mb-g">
               Buttons <span class="fw-300">Block</span>
            </h4>
            <h5 class="frame-heading">
               Create block level buttons—those that span the full width of a parent—by adding <code>.btn-block</code>.
            </h5>
            <div class="frame-wrap text-center">
               <div class="row">
                  <div class="col col-md-6 col-xl-6">
                     <button type="button" class="btn btn-primary btn-lg btn-block btn-m-s">Block <span>large</span></button>
                  </div>
                  <div class="col col-md-6 col-xl-6">
                     <button type="button" class="btn btn-outline-info btn-lg btn-block btn-m-s">Block <span>large</span></button>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6 col-xl-6">
                     <button type="button" class="btn btn-primary btn-block btn-m-s">Block <span>default</span></button>
                  </div>
                  <div class="col-md-6 col-xl-6">
                     <button type="button" class="btn btn-outline-info btn-block btn-m-s">Block <span>default</span></button>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6 col-xl-6">
                     <button type="button" class="btn btn-primary btn-sm btn-block btn-m-s">Block <span>small</span></button>
                  </div>
                  <div class="col-md-6 col-xl-6">
                     <button type="button" class="btn btn-outline-info btn-sm btn-block btn-m-s">Block <span>small</span></button>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6 col-xl-6">
                     <button type="button" class="btn btn-primary btn-xs btn-block btn-m-s">Block <span>extra small</span></button>
                  </div>
                  <div class="col-md-6 col-xl-6">
                     <button type="button" class="btn btn-outline-info btn-xs btn-block btn-m-s">Block <span>extra small</span></button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-12">
      <div class="card mb-g">
         <div class="card-body">
            <h4 class="mb-g">
               Button <span class="fw-300">States</span>
               <small>
               Buttons will appear pressed (with a darker background, darker border, and inset shadow) when active. <strong>There’s no need to add a class to <code>&lt;button&gt;</code>s as they use a pseudo-class</strong>. However, you can still force the same active appearance with <code>.active</code> (and include the <code>aria-pressed="true"</code> attribute) should you need to replicate the state programmatically. To make  buttons look inactive add the disabled boolean attribute to any <code>&lt;button></code> element.
               </small>
            </h4>
            <div class="row">
               <div class="col-md-6 col-xl-6">
                  <h5 class="frame-heading">
                     Active
                  </h5>
                  <div class="frame-wrap text-center m-0">
                     <a href="#" class="btn btn-primary active btn-w-l" role="button" aria-pressed="true">Link</a>
                     <button class="btn btn-secondary active btn-w-l" type="button" aria-pressed="true">Button</button>							
                  </div>
               </div>
               <div class="col-md-6 col-xl-6">
                  <h5 class="frame-heading">
                     Disabled
                  </h5>
                  <div class="frame-wrap text-center m-0">
                     <a href="#" class="btn btn-primary disabled btn-w-l" role="button" aria-disabled="true">Link</a>
                     <button class="btn btn-secondary btn-w-l" type="button" disabled>Button</button>							
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

{{/inline}}

{{/layouts/main}}