{{#> layouts/main title="Build Notes" pagename="intel_build_notes" heading="Latest Build Notes" category_1="NextGen Intel" pagedescription="Casing all release notes for your convenience"}}

{{#*inline "head-block"}}{{/inline}}

{{#*inline "content-block"}}

<div class="alert alert-info alert-dismissible fade show" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<strong>Get early access!</strong> You can always find the latest nightly build of NextGen on our private repository. Please check the documentation for how to request access.
	
</div>

<div class="card p-3 d-block">

	<h3 class="d-block">
		Build v 1.0.0 <span class="badge bg-fusion-500 float-right fw-n">May, 2017</span> 
		<small>
			Initial release Phase 1
		</small>
	</h3>

	<ul class="nav d-block fs-md pl-3">
		<li>
			<span class="badge badge-success fw-n mr-1">*HBS</span> Added source files HTML
			<ul class="nav font-base ml-3 pl-4 mb-2">
				<li class="notes">
					<strong>Notes:</strong> Layouts are neatly organized into handlebar template partials <code>*.hbs</code>. Making it much easier to edit, remove or add new pages. There are three base layouts (main.hbs, auth.hbs, and alt.hbs)
				</li>	
			</ul>
		</li>
		<li>
			<span class="badge bg-fusion-600 fw-n mr-1">PCKG</span> Updated BS4 pack to v4.0
		</li>
		<li>
			<span class="badge bg-fusion-600 fw-n mr-1">SCSS</span> Added source files for CSS
		</li>
		<li>
			<span class="badge bg-fusion-200 fw-n mr-1">PRJT</span> Added Seed project (HTML Variation)
		</li>
		<li>
			<span class="badge badge-primary fw-n mr-1">SCRP</span> Added package.json
		</li>
		<li>
			<span class="badge badge-primary fw-n mr-1">SCRP</span> Added _modules for NextGen Core
		</li>
		<li>
			<span class="badge bg-primary-800 fw-n mr-1">PLUG</span> Added bower.json dependencies:

			<ul class="font-base ml-3 mb-2">
				<li>
					"jquery": "^3.1.1"
				</li>
				<li>
					"animate.css": "^3.5.2"
				</li>
				<li>
					"jquery-ui": "^1.12.1"
				</li>
				<li>
					"legitripple": "^1.1.0"
				</li>
				<li>
					"PACE": "pace#^1.0.2"
				</li>
				<li>
					"tether": "^1.4.0"
				</li>
				<li>
					"throttle-debounce": "^1.0.1"
				</li>
				<li>
					"font-awesome": "^4.7.0"
				</li>
				<li>
					"bootstrap": "v4.0.0-alpha.6"
				</li>
				<li>
					"jquery-throttle-debounce": "*"
				</li>
				<li>
					"jquery-slimscroll": "^1.3.8"
				</li>
			</ul>
		</li>
		<li>
			<span class="badge bg-primary-800 fw-n mr-1">GULP</span> <strong>Added gulpfile.js with automated tasks: </strong></i>
			<ul class="font-base ml-3 mb-2">
				<li>
					compress images/*.css/*.js files
				</li>
				<li>
					concatinate modules to core JS package
				</li>
				<li>
					copy fonts/icons/favicon/videos
				</li>
				<li>
					organize bower components
				</li>
				<li>
					sass and hbs compiler
				</li>
				<li>
					gulp task watch
				</li>
				<li>
					gulp task connect
				</li>
			</ul>
		</li>
		<li>
			<span class="badge badge-warning fw-n mr-1">MISC</span> Added .favicon
		</li>
		<li>
			<span class="badge badge-warning fw-n mr-1">MISC</span> Added IMG, VIDEO, and MISC directory for all media
		</li>
	</ul>

	<hr class="mt-4 mb-4">

	<h4 class="d-block">
		Build v 1.1.0 (not yet released) <span class="badge bg-fusion-500 float-right fw-n">NO DUE DATE</span> 
		<small>
			Bug fixes and other possible version variation
		</small>
	</h4>

</div>

{{/inline}}

{{#*inline "splitcontent-block"}}{{/inline}}

{{#*inline "scripts-block"}}{{/inline}}

{{/layouts/main}}