{{#> layouts/main pagename="color-pallet" heading="Color Pallet"}}

{{#*inline "content-block"}}
<section class="container card p-g">
	
	<div class="row">

		<div class="col-xs-12 col-xl-5">
			
			<h2>
				Impressionistic colors 
				
				<small>
					Strong pigments from beneath the Earth (default)
				</small>
			</h2>
			<br>
			<p>
				Color, rather than shape, is more closely related to emotion. Each color has a strong blend and was selectively hand picked to make your design shine. Each component from NextGen can have any of these colors applied. Try on different combinations to make your project come alive! 
			</p>
				
			<p>
				NextGen focuses on conveying the attention of your users to the important parts of the page and the actions. While keeping a light feel, the colors give the page an extra push.
			</p>

		</div>

		<div class="col col-xl-6 col-xl-offset-1">
			<div class="row">
				<div class="col-4 col-sm-2 text-center">
					<ul class="list-verticle">
						<li>
							<span class="fw-400">Sapphire</span>
						</li>
						<li>
							<img src="img/colors/primary.png" alt="color" class="img-fluid center-block">
						</li>
						<li>
							<span class="bg-primary-600 cr-c"></span>
							<i class="fw-300">primary</i>
						</li>
					</ul>
					 
				</div>
				<div class="col-4 col-sm-2 text-center">
					<ul class="list-verticle">
						<li>
							<span class="fw-400">Emerald</span>
						</li>
						<li>
							<img src="img/colors/success.png" alt="color" class="img-fluid center-block">
						</li>
						<li>
							<span class="bg-success-500 cr-c"></span>
							<i class="fw-300">success</i>
						</li>
					</ul>
				</div>
				<div class="col-4 col-sm-2 text-center">
					<ul class="list-verticle text-center">
						<li>
							<span class="fw-400">Amethyst</span>
						</li>
						<li>
							<img src="img/colors/info.png" alt="color" class="img-fluid center-block"> 
						</li>
						<li>
							<span class="bg-info-500 cr-c"></span>
							<i class="fw-300">info</i>
						</li>
					</ul>
				</div>
				<div class="col-4 col-sm-2 text-center">
					<ul class="list-verticle text-center">
						<li>
							<span class="fw-400">Topaz</span>
						</li>
						<li>
							<img src="img/colors/warning.png" alt="color" class="img-fluid center-block">
						</li>
						<li>
							<span class="bg-warning-600 cr-c"></span>
							<i class="fw-300">warning</i>
						</li>
					</ul>
				</div>
				<div class="col-4 col-sm-2 text-center">
					<ul class="list-verticle text-center">
						<li>
							<span class="fw-400">Ruby</span>
						</li>
						<li>
							<img src="img/colors/danger.png" alt="color" class="img-fluid center-block">
						</li>
						<li>
							<span class="bg-danger-600 cr-c"></span>
							<i class="fw-300">danger</i>
						</li>
					</ul>
				</div>
				<div class="col-4 col-sm-2 text-center">
					<ul class="list-verticle text-center">
						<li>
							<span class="fw-400">Hematite</span>
						</li>
						<li>
							<img src="img/colors/fusion.png" alt="color" class="img-fluid center-block">
						</li>
						<li>
							<span class="bg-fusion-400 cr-c"></span>
							<i>fusion</i>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<br>
	<hr>
	<br>

	<h3>Your color pallet</h3>
	<p>This color palette comprises primary and accent colors that can be used for illustration or to develop your brand colors. They’ve been designed to work harmoniously with each other. The color palette starts with primary colors and fills in the spectrum to create a complete and usable palette for Android, Web, and iOS.</p>

	<br>
	<div class="row">

		<div class="col-12 col-sm-6 col-md-4 col-xl-4">
			<table class="table table-bordered color-disp-demo">
				<tr>
					<td class="bg-primary-500">bg-primary-500 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-primary-50">bg-primary-50 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-primary-100">bg-primary-100 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-primary-200">bg-primary-200 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-primary-300">bg-primary-300 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-primary-400">bg-primary-400 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-primary-500">bg-primary-500 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-primary-600">bg-primary-600 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-primary-700">bg-primary-700 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-primary-800">bg-primary-800 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-primary-900">bg-primary-900 <span class="float-right"></span></td>
				</tr>
			</table>
		</div>
		
		<div class="col-12 col-sm-6 col-md-4 col-xl-4">
			<table class="table table-bordered color-disp-demo">
				<tr>
					<td class="bg-success-500">bg-success-500 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-success-50">bg-success-50 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-success-100">bg-success-100 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-success-200">bg-success-200 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-success-300">bg-success-300 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-success-400">bg-success-400 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-success-500">bg-success-500 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-success-600">bg-success-600 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-success-700">bg-success-700 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-success-800">bg-success-800 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-success-900">bg-success-900 <span class="float-right"></span></td>
				</tr>
			</table>
		</div>
		
		<div class="col-12 col-sm-6 col-md-4 col-xl-4">
			<table class="table table-bordered color-disp-demo">
				<tr>
					<td class="bg-info-500">bg-info-500 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-info-50">bg-info-100 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-info-100">bg-info-100 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-info-200">bg-info-200 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-info-300">bg-info-300 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-info-400">bg-info-400 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-info-500">bg-info-500 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-info-600">bg-info-600 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-info-700">bg-info-700 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-info-800">bg-info-800 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-info-900">bg-info-900 <span class="float-right"></span></td>
				</tr>
			</table>
		</div>

		<div class="col-12 col-sm-6 col-md-4 col-xl-4">
			<table class="table table-bordered color-disp-demo">
				<tr>
					<td class="bg-warning-500">bg-warning-500 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-warning-50">bg-warning-50 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-warning-100">bg-warning-100 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-warning-200">bg-warning-200 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-warning-300">bg-warning-300 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-warning-400">bg-warning-400 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-warning-500">bg-warning-500 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-warning-600">bg-warning-600 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-warning-700">bg-warning-700 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-warning-800">bg-warning-800 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-warning-900">bg-warning-900 <span class="float-right"></span></td>
				</tr>
			</table>
		</div>
		
		<div class="col-12 col-sm-6 col-md-4 col-xl-4">
			<table class="table table-bordered color-disp-demo">
				<tr>
					<td class="bg-danger-500">bg-danger-500 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-danger-50">bg-danger-50 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-danger-100">bg-danger-100 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-danger-200">bg-danger-200 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-danger-300">bg-danger-300 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-danger-400">bg-danger-400 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-danger-500">bg-danger-500 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-danger-600">bg-danger-600 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-danger-700">bg-danger-700 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-danger-800">bg-danger-800 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-danger-900">bg-danger-900 <span class="float-right"></span></td>
				</tr>
			</table>
		</div>
		
		<div class="col-12 col-sm-6 col-md-4 col-xl-4">
			<table class="table table-bordered color-disp-demo">
				<tr>
					<td class="bg-fusion-500">bg-fusion-500 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-fusion-50">bg-fusion-50 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-fusion-100">bg-fusion-100 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-fusion-200">bg-fusion-200 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-fusion-300">bg-fusion-300 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-fusion-400">bg-fusion-400 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-fusion-500">bg-fusion-500 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-fusion-600">bg-fusion-600 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-fusion-700">bg-fusion-700 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-fusion-800">bg-fusion-800 <span class="float-right"></span></td>
				</tr>
				<tr>
					<td class="bg-fusion-900">bg-fusion-900 <span class="float-right"></span></td>
				</tr>
			</table>
		</div>

	</div>

</section>
{{/inline}}
{{#*inline "scripts-block"}}

		<!-- DEMO Scripts -->
		<script>
		    // get hex color value

			var color = '';

			function hexc(colorval) {
			    var parts = colorval.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
			    delete(parts[0]);
			    for (var i = 1; i <= 3; ++i) {
			        parts[i] = parseInt(parts[i]).toString(16);
			        if (parts[i].length == 1) parts[i] = '0' + parts[i];
			    }
			    color = '#' + parts.join('');
			}

			$( '.color-disp-demo [class^="bg-"]' ).each(function() {
			    var x = $(this).css('backgroundColor');
			    hexc(x);
			    $(this).find("span").append(color);
			    color = null;
			});

		</script>
{{/inline}}
{{/layouts/main}}