$panel-padding: 15px;
$panel-hdr-padding: $panel-padding;
$panel-hdr-font-size: $fs-xl;
$panel-hdr-height: 45px;
$panel-btn-size: 16px;
$panel-hdr-background: #fafafa;
$panel-edge-radius: $border-radius;

.panel-fullscreen {
	overflow:hidden;
	max-width: 100%;
}

.panel,
.panel-placeholder {
	margin-bottom: $grid-gutter-width;
	border-radius: $border-radius;
}

.panel-hdr,
.panel-title,
.panel-toolbar {
	display: flex;
	align-items:center;
}

.panel-sortable:not(.panel-fullscreen) .panel-title {
	cursor: move;
}

.panel {

	position: relative;
	background-color: $white;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);


	.panel-hdr {
		min-height: $panel-hdr-height;
		@extend %common-animation-easeout;

		> :first-child {
			padding-left: $panel-hdr-padding;
		}

		> :last-child {
			padding-right: $panel-hdr-padding;
		}

		@include box-sizing(border-box); 

		border: 1px solid;
    	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.17);

		background: $panel-hdr-background;
		border-radius: $panel-edge-radius $panel-edge-radius 0 0;

		.panel-title {
			flex: 1;
			min-height: $panel-hdr-height - 2;

			&:not(:only-child) {
				margin-right: $panel-padding / 1.5;
			}
		}


		h2, h3 {
			font-size: rem($panel-hdr-font-size);
			margin: 0;
			display: inline-flex;
			align-items: center;
			color: inherit;

			small {
				display: inline-block;
				margin:0;
				opacity: 0.8;
				font-weight: 400;
				font-size: rem($panel-hdr-font-size - 2);
				margin-left: $spacer * 0.5;
			}

			> [class*='fw-'] {
				margin-left: 4px;
			}

			.panel-icon {
				margin-right: $p-2;
			}

		}

		.panel-toolbar {

			
			.btn-panel {
				margin-left: $panel-padding / 3;
				padding: 0;
				width: $panel-btn-size;
				height: $panel-btn-size;
				font-size: rem($fs-base);
				border-color: transparent;

				@include box-sizing(border-box);

				border-radius: 50%;
				opacity: 0.8;
				border: 1px solid rgba(0,0,0,0.2);

				@extend %common-animation;

				&:hover {
					opacity: 1;
					color: $white !important;
				}

				&[data-action="panel-collapse"] {
					background: $fusion-50;
				}

				&[data-action="panel-fullscreen"] {
					background: $warning-500;
				}

				&[data-action="panel-close"] {
					background: $danger-500;
				}

			}

			.btn-panel-flat {
				min-width: $panel-hdr-height - 8px;
				height: $panel-hdr-height - 2px;
				font-size: rem($fs-base);
				padding: 5px;
				border-radius: 0px;
				background: transparent;
				color: inherit;
								border-left: 1px solid rgba(0,0,0,.09);

				&:hover {
					background-color: rgba(0,0,0,.05);
				}
			}

			.btn-panel-flat:last-child {
				border-top-right-radius: $border-radius - 1px;
			}

		}

	}	

	.panel-container {

		padding: $panel-padding;
		@extend %common-animation-easeout;

		border: 1px solid transparent;
    	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.17) rgba(0, 0, 0, 0.2);
    	border-top-width: 0px;

    	border-radius: 0 0 $panel-edge-radius $panel-edge-radius;

		&:only-child {
			padding: $panel-padding;
		}
	}

	/* panel fullscreen */
	&.panel-fullscreen {
		position: fixed !important;
		z-index: 9999;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
		border-radius: 0;

		display: flex;
		flex-direction: column;

		[data-action="panel-collapse"],
		[data-action="panel-close"]  {
			display: none;
		}

		.panel-hdr {
			height: $header-height;
			background: #fafafa;
			border-radius: 0 !important;
			box-shadow: 0 0.125rem 0.125rem -0.0625rem rgba(0, 0, 0, 0.1);
		}

		h2, h3 {
			font-size: rem($panel-hdr-font-size + 4);
			font-weight:400;
		}

		.btn-panel[data-action="panel-fullscreen"] {
			width:$panel-hdr-height/2 !important;
			height:$panel-hdr-height/2 !important;
		}

		.panel-container {
			flex: 1;
			overflow-y: auto;
		}
	}

	/* panel collapse */
	&.panel-collapse:not(.panel-fullscreen) {

		.panel-container {
			height: 0;
			padding-top: 0;
			padding-bottom: 0;
			overflow: hidden;
		}

	}

	&.ui-sortable-helper {
		box-shadow: 0 5px 16px 0 rgba(0,0,0,0.05), 0 5px 20px 0 rgba(0,0,0,0.09);
	}
}

.panel-placeholder {
	background-color: #FFC;
    border: 1px dashed #A7A7A7;
	box-sizing: border-box;
	margin-bottom: $grid-gutter-width - 2px;
	border-radius: $border-radius + 1;
	position: relative;

	/*&:before {
		font-family: "Font Awesome\ 5 Light", "Roboto", "Helvetica Neue", Helvetica, Arial;
		content:"\f021  Place here...";
		position: absolute;
		padding: 8px 10px;
		height: 100%;
		width: 100%;
		font-size: 18px;
		color: darken(#FFC, 60%);
		text-shadow: $white 0 -1px;
	}*/
}

.mod-panel-clean {

	.panel {

		.panel-hdr {
			background: $white;
			background-image: linear-gradient(to bottom,#f7f7f7, $white);
			border-bottom: 0;
			
			h2, h3 {
				color: #333;
				font-weight: 500;
			}

			.panel-title {
				min-height: $panel-hdr-height;
			}
		}

		.panel-container {
			padding-top: $p-1;
		}
	}
}	

@media only screen and ( max-width: 420px ){

	.card {
		&.panel {
			.panel-hdr {
				padding: 0 10px;
				font-size: rem($panel-hdr-font-size);
				color: #060606;
				min-height: $panel-hdr-height - 4;
			}
			.panel-container {
				padding: 0 10px 10px;
			}
		}
	}

}
