$msgr-list-width: 230px;
$msgr-list-width-collapsed: 50px;

$chat-rcvd-background: adjust-hue(lighten($primary-500, 39%), -6); //#DCF2FA;
$chat-sent-background: $primary-500;

.msgr-list {
	width: $msgr-list-width;
    position: absolute;
    right: $msgr-list-width-collapsed - $msgr-list-width;
    top: 0;
    bottom: 0;

    border-left: 1px dashed rgba(0,0,0,0.1);
    z-index: 101;

    @extend %general-animation;
    transition-delay: 400ms;


	& + .msgr {

		width: unquote("calc(100% - #{$msgr-list-width-collapsed})");
		height: 100%;

		&:before {
			content:'';
			height:100%;
			width:100%;
			background:rgba($white,0.5);	
			position:absolute;
			z-index: 100;

			@extend %general-animation;
			transition-delay: 400ms;

			opacity: 0;
			visibility: hidden;
		}
	}
    

    &:hover {
    	right: 0;
    	border-left-color: rgba(0,0,0,0.1);

    	& + .msgr {

    		&:before {
    			opacity: 1;
    			visibility: visible;
    		}
    	}
    }

	.msgr-list--item {
		font-size: 21px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 50px; 

		color: $primary-500;

		.msgr-list__icon {
			width: $msgr-list-width-collapsed;
			text-align: center;
		}
	}
}

.msgr {

	.msgr-user {
		height: 75px;
		border-bottom: 1px solid rgba($black,0.07);

		.msgr-user--name {
			font-size: 15px;
			margin: 0;
		}

	}	

	.msgr-chatinput {

		min-height: 110px;
		max-height: 200px;
		border-top: 1px solid rgba($black,0.07);

	}

}

.chat-container {

	.chat-message {
		padding: $p-2 + $p-1;
		border-radius: 10px;

		position: relative;

		display: inline-block;

		> p {
			padding: $p-2 + $p-1 0 0;
			margin:0;
		}

		> p:first-child {
			padding-top: 0;
		}

		.chat-message-image-send {
			border-radius: 0 0 $border-radius * 2 $border-radius * 2;
		}
	}

	&.chat-start {

		margin-bottom: 3px !important;
		
		.chat-stamp,
		.chat-img {
			display: none;
		}

		& + .chat-container:not(.chat-end) {

			margin-bottom: 3px !important;

			.chat-stamp,
			.chat-img {
				display: none;
			}

		}
	}

	&.chat-container--rcvd {

		text-align: left;
		position: relative;

		margin: 0 $p-4 $p-2 $profile-image-width-sm + 5;

		&.chat-start {

			.chat-message {
				border-bottom-left-radius: 3px;
			}

			+ :not(.chat-end) {
				.chat-message {
					border-bottom-left-radius: 3px;
					border-top-left-radius: 3px;
				}
			}
		}

		&.chat-end {
			.chat-message {
				border-top-left-radius: 3px;
			}
		}

		.chat-img {
			position: absolute;
			left: - ($profile-image-width-sm + 5px);
			bottom: $profile-image-width-sm;
		}

		.chat-message {
			background: $chat-rcvd-background;
			@include text-contrast($chat-rcvd-background);	

			text-align: left;			
		}
	}

	&.chat-container--sent {

		text-align: right;
		position: relative;

		margin: 0 0 $p-2 $p-4 + rem($profile-image-width-sm + 5px);

		&.chat-start {

			.chat-message {
				border-bottom-right-radius: 3px;
			}

			+ :not(.chat-end) {
				.chat-message {
					border-bottom-right-radius: 3px;
					border-top-right-radius: 3px;
				}
			}
		}

		&.chat-end {
			.chat-message {
				border-top-right-radius: 3px;
			}
		}

		.chat-message {
			background: $chat-sent-background;
			@include text-contrast($chat-sent-background);

			text-align: left;			
		}

	}	

	.chat-stamp {
		font-size: rem($fs-sm);
		margin: $p-1 0 0 0;
		color: $fusion-200;
		font-weight: 300;
	}
	
}