$widget-padding: 15px;
$widget-hdr-font-size: 17px;
$widget-hdr-height: 50px;
$widget-btn-size: 16px;

.widget-fullscreen {
	overflow:hidden;
	max-width: 100%;
}

.widget {

	position: relative;
	display: flex;
	flex-direction: column;
	background-color: $white;
	border: 1px solid rgba(0,0,0,.125);

	margin-bottom: map-get($grid-gutter-widths, xs);
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	border-radius: $default-border-radius;

	.widget-hdr {
		
		padding: 0 $widget-padding;
		font-size: $widget-hdr-font-size;
		min-height: $widget-hdr-height;
		font-weight: 300;

		display:flex;
		align-items:center;
		flex-direction:row;

		.widget-subtitle {
			font-size: $widget-hdr-font-size - 3;
			display: block;
			font-weight: 300;
			opacity: 0.8;
			margin-left: $spacer * 0.5;
		}

		.widget-toolbar {

			display: flex;
			align-items: center;
			margin-left:auto;

			.btn {
				margin-left:5px;

				&.btn-widget {
					padding: 0;
					width: $widget-btn-size;
					height: $widget-btn-size;
					font-size: $base-font-size;
					border-color: transparent;
					box-sizing: border-box;
					border-radius: 50%;
					opacity: 0.8;
					border: 1px solid rgba(0,0,0,0.2);

					@extend %common-animation;

					&:hover {
						opacity: 1;
						color: $white !important;
					}

				}
			}

		}

		&:hover {
			.widget-buttons {
				.btn {
					opacity: 0.9;
				}
			}
		}
	}	

	.widget-container {

		padding: 0 $widget-padding ($widget-padding - 5);
		@extend %common-animation-easeout;

		&:only-child {
			padding: $widget-padding;
		}
	}

	/* widget fullscreen */
	&.widget-fullscreen {
		position: fixed;
		z-index: 9999;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
		border-radius: 0;

		[data-action="widget-collapse"],
		[data-action="widget-close"]  {
			display: none;
		}

		.widget-hdr {
			height:$header-height;
			background: #fafafa;
			box-shadow: 0 0.125rem 0.125rem -0.0625rem rgba(0, 0, 0, 0.1);
		}

		.btn-widget[data-action="widget-fullscreen"] {
			width:$widget-hdr-height/2 !important;
			height:$widget-hdr-height/2 !important;
		}

		.widget-container {
			flex: 1;
			overflow-x: auto;
		}
	}

	/* widget collapse */
	&.widget-collapse:not(.widget-fullscreen) {

		.widget-container {
			height: 0;
			padding-top: 0;
			padding-bottom: 0;
			overflow: hidden;
		}

	}

	/* widget boxed */
	&.widget-hdr-boxed {
		.widget-hdr {
			border-bottom: 1px solid #e6e6e6;	
		}
		.widget-container {
			padding: $widget-padding $widget-padding ($widget-padding - 5);
		}
	}

}
	

@media only screen and ( max-width: 420px ){

	.card {
		&.widget {
			.widget-hdr {
				padding: 0 10px;
				font-size: $widget-hdr-font-size;
				color: #060606;
				min-height: $widget-hdr-height - 4;
			}
			.widget-container {
				padding: 0 10px 10px;
			}
		}
	}

}
