$social-list-width: 230px;
$social-list-width-collapsed: 50px; 

$chat-rcvd-background: #f2f2f2;
$chat-sent-background: $primary-500;

.social-list {
	width: $social-list-width;
    position: absolute;
    right: $social-list-width-collapsed - $social-list-width;
    top: 0;
    bottom: 0;

    border-left: 1px solid rgba(0,0,0,0.1);
    z-index: 101;

    @extend %general-animation;
    transition-delay: 400ms;


	& + .social {

		width: unquote("calc(100% - #{$social-list-width-collapsed})");
		height: 100%;

		&:before {
			content:'';
			height:100%;
			width:100%;
			background:rgba($white,0.5);	
			position:absolute;
			z-index: 100;

			@extend %general-animation;
			transition-delay: 400ms;

			opacity: 0;
			visibility: hidden;
		}
	}
    

    &:hover {
    	right: 0;
    	border-left-color: rgba(0,0,0,0.1);

    	& + .social {

    		&:before {
    			opacity: 1;
    			visibility: visible;
    		}
    	}
    }

	.social-list--item {
		font-size: 21px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 50px; 

		color: $primary-500;

		.social-list__icon {
			width: $social-list-width-collapsed;
			text-align: center;
		}
	}
}

.social {

	.social-user {
		height: 75px;
		border-bottom: 1px solid rgba($black,0.07);

		.social-user--name {
			font-size: 15px;
			margin: 0;
		}

	}	

	.social-chatinput {

		min-height: 110px;
		max-height: 200px;
		border-top: 1px solid rgba($black,0.07);

	}

}

.chat-container {

	.chat-message {
		padding: $p-2 + $p-1;
		border-radius: 10px;

		position: relative;

		display: inline-block;

		> p {
			padding: $p-2 + $p-1 0 0;
			margin:0;
		}

		> p:first-child {
			padding-top: 0;
		}

		.chat-message-image-send {
			border-radius: 0 0 $border-radius * 2 $border-radius * 2;
		}
	}

	.chat-stamp {
		font-size: $fs-nano;
		margin: $p-1 0 0 0;
		color: $fusion-200;
		font-weight: 500;
	}

	&.chat-container--rcvd {

		text-align: left;

		margin: 0 $p-5 $p-2 0;

		&.chat-start {
			.chat-message {
				border-bottom-left-radius: 3px;
			}
		}

		&.chat-start {
			+ :not(.chat-end) {
				.chat-message {
					border-bottom-left-radius: 3px;
					border-top-left-radius: 3px;
				}
			}
		}

		&.chat-end {
			.chat-message {
				border-top-left-radius: 3px;
			}
		}

		.chat-message {
			background: $chat-rcvd-background;
			@include text-contrast($chat-rcvd-background);	

			text-align: left;			
		}

		& ~ .chat-container--rcvd:not(.chat-end):not(.chat-container--sent) {
			
			margin-bottom: 3px !important;

			.chat-stamp {
				display: none;
			}
		}	
	}

	&.chat-container--sent {

		text-align: right;

		margin: 0 0 $p-2 $p-5;

		&.chat-start {
			.chat-message {
				border-bottom-right-radius: 3px;
			}
		}

		&.chat-start {
			+ :not(.chat-end) {
				.chat-message {
					border-bottom-right-radius: 3px;
					border-top-right-radius: 3px;
				}
			}
		}

		&.chat-end {
			.chat-message {
				border-top-right-radius: 3px;
			}
		}

		.chat-message {
			background: $chat-sent-background;
			@include text-contrast($chat-sent-background);

			text-align: left;			
		}

		& ~ .chat-container--sent:not(.chat-end):not(.chat-container--rcvd) {
			
			margin-bottom: 3px !important;

			.chat-stamp {
				display: none;
			}
		}

	}	
	
}