$panel-padding: $fs-lg;
$panel-hdr-padding: $panel-padding - 3;
$panel-hdr-font-size: 15px;
$panel-hdr-height: 42px;
$panel-btn-size: 16px;
$panel-hdr-background: #fafafa;
$panel-edge-radius: $border-radius;

.panel-fullscreen {
	overflow:hidden;
	max-width: 100%;
}

.panel {

	position: relative;
	display: flex;
	flex-direction: column;
	background-color: $white;

	margin-bottom: map-get($grid-gutter-widths, lg);
	//border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.17) rgba(0, 0, 0, 0.20);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	border-radius: $border-radius;

	.panel-hdr {
		
		padding: 0 $panel-hdr-padding;
		min-height: $panel-hdr-height;

		display:flex;
		align-items:center;
		flex-direction:row;

		@include box-sizing(border-box); 

		border: 1px solid;
    	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.17);

		background: $panel-hdr-background;
		border-radius: $panel-edge-radius $panel-edge-radius 0 0;

		h2, h3 {
			font-size: $panel-hdr-font-size;
			margin: 0;
			//flex:1;
		}

		.panel-subtitle {
			font-size: $panel-hdr-font-size - 1;
			display: block;
			font-weight: 400;
			opacity: 0.8;
			margin-left: $spacer * 0.5;
		}

		.panel-toolbar {

			display: flex;
			align-items: center;
			margin-left:auto;

			.btn {
				margin-left:$p-1;

				&.btn-panel {
					padding: 0;
					width: $panel-btn-size;
					height: $panel-btn-size;
					font-size: $base-font-size;
					border-color: transparent;

					@include box-sizing(border-box);

					border-radius: 50%;
					opacity: 0.8;
					border: 1px solid rgba(0,0,0,0.2);

					@extend %common-animation;

					&:hover {
						opacity: 1;
						color: $white !important;
					}

				}
			}

		}

		&:hover {
			.panel-buttons {
				.btn {
					opacity: 0.9;
				}
			}
		}
	}	

	.panel-container {

		padding: $p-3;
		@extend %common-animation-easeout;

		border: 1px solid transparent;
    	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.17) rgba(0, 0, 0, 0.2);
    	border-top-width: 0px;

    	border-radius: 0 0 $panel-edge-radius $panel-edge-radius;

		&:only-child {
			padding: $panel-padding;
		}
	}

	/* panel fullscreen */
	&.panel-fullscreen {
		position: fixed;
		z-index: 9999;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
		border-radius: 0;

		[data-action="panel-collapse"],
		[data-action="panel-close"]  {
			display: none;
		}

		.panel-hdr {
			height:$header-height;
			background: #fafafa;
			border-radius: 0 !important;
			box-shadow: 0 0.125rem 0.125rem -0.0625rem rgba(0, 0, 0, 0.1);
		}

		h2, h3 {
			font-size: $panel-btn-size + 3;
			font-weight:400;
		}

		.btn-panel[data-action="panel-fullscreen"] {
			width:$panel-hdr-height/2 !important;
			height:$panel-hdr-height/2 !important;
		}

		.panel-container {
			flex: 1;
			overflow-x: auto;
		}
	}

	/* panel collapse */
	&.panel-collapse:not(.panel-fullscreen) {

		.panel-container {
			height: 0;
			padding-top: 0;
			padding-bottom: 0;
			overflow: hidden;
		}

	}

	/* panel boxed 
	&.panel-hdr-boxed {
		.panel-hdr {
			//border-bottom: 1px solid rgba(0, 0, 0, 0.10);	
			background: $panel-hdr-background;
			border-radius: $border-radius $border-radius 0 0;
		}
		.panel-container {
			padding: $panel-padding $panel-padding ($panel-padding - 5);
		}
	}*/

}


.mod-panel-clean {

	.panel {

		.panel-hdr {
			background-image: linear-gradient(to bottom,#f7f7f7,#fff);
			border-bottom: 0;
			padding: 15px 15px 12px;
			
			h2,h3 {
				color: #333;
				font-weight: 500;
			}
		}

		.panel-container {
			padding-top: $p-1;
		}
	}
}	

@media only screen and ( max-width: 420px ){

	.card {
		&.panel {
			.panel-hdr {
				padding: 0 10px;
				font-size: $panel-hdr-font-size;
				color: #060606;
				min-height: $panel-hdr-height - 4;
			}
			.panel-container {
				padding: 0 10px 10px;
			}
		}
	}

}
