.slimScrollBar {
	border-radius: 3px !important;
}

body:not(.no-slimscroll) {

	.custom-scroll {
		overflow: hidden;

		.slimScrollBar {
			width: 7px !important;
			background: #b3b3b3 !important;
		}
	}

}

