html,
body {
	height:100%;
}

html {
	// width:100%; // needed for fullscreen in IE
	//position:relative; //why do we need this?
	body {
		// width: 100%; // needed for fullscreen in IE
		//position: relative; //is this needed?
		
		direction: ltr;
		text-rendering: optimizeLegibility;
		background-color: $body-background-color;
		overflow-x: hidden; //safari issue fixed for bottom spacing 
		@extend %font-smoothing;
	}
}