.color-disp-demo {
	tr {

		&:first-child {
			td {
				height:rem(100px);
				box-shadow: inset 0 -5px 0 rgba(255,255,255,0.8);
			}
		}
		td {
			border:none;
			padding-top: rem(7px);
			padding-bottom: rem(7px);

			@extend %common-animation;

			&:hover {
				@include transform( scale(1.1) );
				font-weight: 500;
			}
		}	
	}
}

.cr-c {
	padding: 0;
	width: 40px;
	height: 40px;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	margin-top: 5px;
}

.icon-demo {
	list-style: none;
	padding:0;
	li {
		border:1px solid #7f8995;
		padding:10px;
		display: inline-block;
		font-size:20px;
		width:60px;
		height:60px;
		//line-height: 43px;
		overflow: hidden;
		margin: 0 6px 0 0;
		text-align: center;
		background:#fff;

		@extend %common-animation;

		&:hover {
			@include transform( scale(1.4) );
		}
	}
}

//display demo codes
//works with vendor/prism/prism.css
	code[class*="language-"],
	pre[class*="language-"] {
		display: none !important;
	}

.show-codes {
	code[class*="language-"],
	pre[class*="language-"] {
		display: block !important;
	}
}

.container-demo {
	max-width:100%;
	width:100%;
}

.bd-example {
    position: relative;
    padding: 1rem 0;
}

.bd-example-row-flex-cols .row {
    min-height: 10rem;
    background-color: rgba(255,0,0,.1);
}
.bd-example-row .row>.col, 
.bd-example-row .row>[class^=col-] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
}

.bd-example-row .row+.row {
    margin-top: 1rem;
}

