.tab-notification {
	height: 363px;

	.tab-pane {
		height: 100%;
	}
}


.notification {
	padding:0;
	margin: 0;
	list-style: none;

	li {

		&.unread {
			
			background: rgba($warning-500, .07);

			.name {
				font-weight:500;
			}
			
		}

		> :first-child {
			padding: $p-1+$p-2 $p-4;
			border-bottom: 1px solid #dddfe2;

			&:hover {
				text-decoration: none;
				background-image: linear-gradient(rgba(29, 33, 41, .03), rgba(29, 33, 41, .04));
			}
			&:focus {
				text-decoration: none;
			}

			> span {
				position: relative;

				> span {
					/* IE fix */
					display: block;
				}
			}

		}

		&:last-child {
			> a {
				border:0;
			}
		}
	}

	.name {
		color: lighten($black, 13.5%);
		font-weight: 400;
		font-size: rem($fs-base);
	}

	.msg-a,
	.msg-b {
		color: lighten($black, 33.5%);
	}

}