.app-list {
	margin:0 auto;
	padding:0;
	display: block;
	width: $header-applist-rows-width !important;
	height: $header-applist-rows-height !important;
	font-size:0; //removes wierd spacing
	padding: $header-applist-box-padding-x $header-applist-box-padding-y;
	text-align: center;

	> li {
		display: inline-block;
		text-align: center;
		padding:0;

		&:hover {
			& > a {
				border:1px solid lighten($gray-mid-light, 14%);
			}
		}

		> .app-list__item {
			height:$header-applist-link-block-height;
			width:$header-applist-link-block-width;
			display: block;
			text-decoration: none;
			color:$base-text-color;
			margin: 10px 2px;
			border:1px solid transparent;
			outline: none;
			@include rounded(2px);
			padding-top: $p-2;

			&:hover {
				border:1px solid lighten($gray-mid-light, 14%);
			}

			> .app-list__name {
				text-align: center;
				display: block;
				font-size: rem($base-font-size);
				text-overflow: ellipsis;
				display: inline-block;
				white-space: nowrap;
				overflow: hidden;
				position: absolute;
				bottom:0;
				left:0;
				right:0;
			}

		}
	}
}