/* text area */
[contenteditable="true"] {
	overflow:auto;
	-webkit-user-modify: read-write-plaintext-only;

	line-height: normal;

	&:focus {
		outline: 0;
	}

	&:empty:not(:focus):before{
		content: attr(data-placeholder);
		color: $fusion-50;
	}

	&::selection {
		background: rgba(0, 132, 255, .2);
		color: $black;
	}

	&::-moz-selection {
		background: rgba(0, 132, 255, .2);
		color: $black;
	}
}

.form-control:not(.form-control-sm),
.custom-select:not(.custom-select-sm) {
	min-height: calc(2.25rem + 2px);
}

.form-label {
	font-weight: 500;
}

/* select arrow */

/*select:not(.custom-select):not([multiple]) {
  background-image:
    linear-gradient(45deg, transparent 50%, red 60%),
    linear-gradient(135deg, red 40%, transparent 50%) !important;
  background-position:
    calc(100% - 30px) 14px,
    calc(100% - 20px) 14px,
    100% 0;
  background-size:
    10px 10px,
    10px 10px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
}*/

/* fix */
.custom-range {
	-webkit-appearance: none;    
	-moz-appearance: none;
}
.custom-range::-moz-range-thumb {
	-moz-appearance: none;
}
.custom-range::-webkit-slider-thumb {
	-webkit-appearance: none;
}


.form-control:focus ~ .input-group-prepend {
	background: $primary-500;
}

.has-length {
	.input-group-text {
		background: $primary-500;
		border-color: $primary-500;
		color: $white;
	}
}

.input-group-text {
	transition: all 0.15s ease-in-out, 
}

/*:not(.was-validated) .custom-checkbox {

	.custom-control-label {

		&.bolder {
			&:before {
				 border: $fusion-500 solid $custom-control-indicator-border-width;
			}
		}

	}

	&:hover,
	&:focus {
		.custom-control-label:not(.bolder) {
			&:before {
				 border: $primary-500 solid $custom-control-indicator-border-width;
			}
		}
	}

}*/


/* BS form hack for checkbox tick mark */
.custom-checkbox .custom-control-label::after {
	background-size: $custom-control-indicator-bg-size-checkbox;
}

.custom-control {
	min-height: $custom-control-indicator-size;
}

input[type="radio"]:checked + .custom-control-label, 
input[type="checkbox"]:checked + .custom-control-label {
	font-weight: 500;
}

/* help block and validation feedback texts*/
.help-block {
	color: $fusion-50;
}

.help-block, .invalid-feedback, .valid-feedback {
	font-size: rem($fs-nano);
	margin-top: 0.325rem;
}

