@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .text-gradient {
    	background: transparent;
    }

/*	/* I hate IE! */
	/*.page-content {
		min-height: calc(100vh - 110px);
	}

	.nav-function-top .page-content {
		min-height: calc(100vh - 165px);
	}*/
}

@supports (-ms-accelerator:true) {
  /* IE Edge 12+ CSS styles go here */ 
	/* I hate IE! */
/*	.page-content {
		min-height: calc(100vh - 110px);
	}

	.nav-function-top .page-content {
		min-height: calc(100vh - 165px);
	}*/
}