$header-badge-min-width: 							20px !default;
$header-badge-padding-x: 							3px !default;
$header-badge-padding-y: 							2px !default;
$header-badge-left: 								23px !default;
$header-badge-top: 									($header-height / 2 - $header-badge-min-width) + 3 !default; 

#banner {
	background-color: $header-bg;
	border-bottom: 1px solid $header-border-bottom-color;
	display: block;
	height: $header-height;
	position: relative;
	z-index: $depth-header;

	ul.list-table {
		height: $header-height;

		> li {

			 > a {
				color: $base-text-color;
				height: $header-height;
			    display: block;
			    line-height: $header-height;
			    padding: $list-table-padding-y $list-table-padding-x;
			    text-decoration: none;

				&:not(.btn) {
					min-width: $header-non-btn-width;
					text-align: center;
					overflow: visible;

					>.fa:first-child,
					>.#{$cust-icon-prefix}:first-child {
						color:$header-link-color;
				    	font-size: rem($header-icon-size);
					    vertical-align: middle;
			   		}
			   		>.fa:first-child {
			   			font-size: rem($header-icon-size - 2);
			   		}
			   		>.#{$cust-icon-prefix}:first-child {
			   			font-size: rem($header-icon-size - 4);
			   		}

			   		>.badge {
			   			@extend %ping-badge;
			   			@include box-shadow(0 0 0 1px $header-bg);
			   			cursor: default;
						border-color: transparent;
						left: $header-badge-left;
						top: $header-badge-top;
						font-size: rem(10px);
						font-weight: 500;
						height: ($header-badge-min-width); 
						min-width: ($header-badge-min-width);
						max-width: ($header-badge-min-width + 7);
						padding: ($header-badge-padding-y) ($header-badge-padding-x);
						line-height: ($header-badge-min-width - 7);
						border-radius: $header-badge-min-width;

						&:only-child {
							position: relative;
							left: auto;
							right: auto;
							font-size: $fs-md;
							height: 26px;
							width: 26px;
							line-height: 21px;
							top: 17px;
						}
			   		}

			   		&:hover {

			   			&>.fa:only-child,
			   			&>.#{$cust-icon-prefix} {
							color: $header-link-hover-color;
			   			}
			   		}

			   		&.active {
			   			@include text-contrast($header-btn-active-bg);
			   			background:$header-btn-active-bg !important;

			   			&>.fa:only-child,
			   			&>.#{$cust-icon-prefix}:only-child {
							@include text-contrast($header-btn-active-bg);
			   			}
			   		}

					&[data-toggle="dropdown"] {

						&[aria-expanded="true"] {
							color: $header-link-hover-color;
							// new lines for arrow visibility
							position: relative;
							z-index: $depth-header + 1;

							
							font-weight: 500;
							

							&:before,
							&:after {
								content:" ";
								border-color: transparent;
								border-bottom-color: $white;
								border-style: dashed dashed solid;
								border-width: 0 8.5px 8.5px;
								position: absolute;
								right: $header-non-btn-width/3;
								bottom: 0;
								z-index: 1;
								height: 0;
								width: 0;
							}
							&:before {
								border-bottom-color: darken($header-dropdown-menu-border-color, 8%);
								bottom: 1px;
							}

							>.fa:first-child,
							>.#{$cust-icon-prefix}:first-child {
								color: $header-link-hover-color !important;
							}

						}

						/* header dropdowns */

						& + .dropdown-menu {

							@extend %header-dropdown;
							right: $grid-gutter-width-base/2 !important;
							top: $header-height - 1 !important;
							left: auto !important;
							padding: 0;
						}

						/* end header dropdowns */
						
					}

					> img.profile-image {
						display: inline-block;
						margin-right: 5px;
						width: 29px;
						height:auto;
						float:left;
						vertical-align: text-bottom;
					}

				}

			    &:hover{
			    	cursor:default;
			    	color:$header-link-hover-color;
			    }

			    &.btn {
					@extend %header-btn;

					&[data-class='mobile-nav-on'] {
						border-color: $danger-300;
						@include gradient-img($start: $danger-200,$stop: $danger-300);
						color:$white;
						width: $header-btn-width + 10px;
					}

				}

			}			
		}

		/* header section left has search box */
		&#hdr-l {

			float:left;

			> li {

				&.dropdown-icon-menu {
					z-index: 1;
				}
				
			}

		}

		/* header section right with buttons */
		&#hdr-r {

			float:right;

			> li {

				position: static;

				&:last-child {
					> a {
						padding-right:0;
					}
				}

			}
		}
	}
	
}