#logo {
	//padding:0 rem($header-height/4);
	height:rem($header-height);
	width: rem($nav-width);
	background: lighten($nav-background, 5%);
	border-bottom: 1px solid $header-logo-border-bottom;
	overflow: hidden; 
	text-align: center;

	display: flex;
	align-items: center;
	justify-content: center;

	@extend %general-animation;

	img {
		width: rem($header-logo-width);
		height: rem($header-logo-height);
		//margin-top: rem($header-logo-margin-top);
		//margin-right: rem($header-logo-margin-right);
		transition: all 0.2s ease;
	}

	>.minify-logo {
		display: none;
	}

	&:active {
		img {
			@include scale(0.95);
		}
	}

}

#index:not(.header-function-fixed) {
	#logo {
		@extend %general-animation;
	}
}

