
.search{

	.app-forms {
		padding:0;
		position: static;

		&.has-length {
			position: relative;
		}

		&:before {
			content: none;
		}

		#search-field {
			width: rem($header-search-width - 50px);
			height: rem($header-search-height);
			line-height: normal;
			border-radius: $header-btn-border-radius;
			background: $header-search-bg;
			border: 1px solid $header-search-border-color;
			box-shadow: none;
			font-size: rem($header-search-font-size);
			padding: $header-search-padding;
			//font-family: $page-font, $icon-font-family;
		}
	}
}


@include media-breakpoint-up(xl) {

	.search{
		.app-forms {
			#search-field {
				width: rem($header-search-width);
			}
		}
	}

}
