.header-function-fixed {

	&:not(.nav-function-top) {

		.page-header {
			left:0;
			position:fixed !important;
			right:0;
			top:0;

			//@extend %fixed-header-shadow;		
			@extend %general-animation;
		}

		#content {
			margin-top: $header-height;
		}

		&:not(.nav-function-fixed) {

			.logo {
				width:$nav-width;
				position:fixed;
				top:0;
				z-index: $cloud;

				//@extend %fixed-header-shadow;
			}

			.left-panel {
				.primary-nav {
					margin-top:$header-height;
				}
			}

			/* bug fix for nav hidden other than chrome...*/
			&.desktop.nav-function-hidden {
				.logo {
					position: absolute;
					transition: none !important;
				}
			}
		}
	}
}

@include media-breakpoint-up($mobile-breakpoint) {

	.header-function-fixed {

		&:not(.nav-function-top) {

			.page-header {
				margin-left: $nav-width;
			}

			&.nav-function-minify {
				.left-panel {
					.logo {
						width: $nav-minify-width;
					}
				}
			}
		}

		&.nav-function-top {
			.page-header {
				position: fixed !important;
				top: 0;
				right: 0;
				left: 0;

				/*chrome flickering solution*/
				-webkit-transform: translateZ(0);
			}
			.page-wrapper {
				padding-top: $header-height;
			}			
		}
	}
}