/* height */
.h-auto {
	height: auto !important;
}
.w-auto {
	width: auto !important;
}

/* line-heights */
.l-h-n {
	line-height:normal;
}

/* display */
.flex-1 {
	flex:1 !important;
}

/* margins */
.mrg-auto,
.m-auto {
	margin: 0 auto;
}
.mrg-l-a,
.ml-auto {
	margin-left: auto !important;
}
.mrg-r-a,
.mr-auto {
	margin-right: auto !important;
}
.mrg-gutter,
.m-g {
	margin: $grid-gutter-width-base;
}
.mrg-gutter-half,
.m-g-h {
	margin: $grid-gutter-width-base/2;
}
.mrg-b-gutter,
.mb-g {
	margin-bottom: map-get($grid-gutter-widths, xl) !important;
}

.mb-gb {
	margin-bottom:$grid-gutter-width-base;
}

.p-g {
	padding:$grid-gutter-width-base;
}
.p-g-h {
	padding:$grid-gutter-width-base/2;
}
.p-g-2t {
	padding: $grid-gutter-width-base/1.5 !important;
}

/* data elipsis */
[data-elipsis="xs"] span,
[data-elipsis="sm"] span,
[data-elipsis="md"] span,
[data-elipsis="default"] span,
[data-elipsis="lg"] span {
	text-overflow: ellipsis;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: text-bottom;
}

[data-elipsis="xs"] span { max-width: rem( map-get($grid-gutter-widths, xl) + 73px ) }
[data-elipsis="sm"] span { max-width: rem(117px) }
[data-elipsis="md"] span { max-width: rem(160px) }
[data-elipsis="default"] span { max-width: rem(180px) }
[data-elipsis="lg"] span { max-width: rem(200px) }
[data-elipsis] {
	> i {
		vertical-align: text-bottom;
		height: $header-height;
		line-height: $header-height;
	}
}

/* HELPERS */
/* absolute position */
.pos-a,
.a-tr,
.a-tl,
.a-br,
.a-bl {
	position:absolute !important;
}
.a-tr {
	top:0;
	right:0;
}
.a-tl {
	top:0;
	left:0;	
}
.a-br {
	bottom:0;
	right:0;	
}
.a-bl {
	bottom:0;
	left:0;	
}

/* relative position */
.pos-r {
	position: relative !important;
}

/* static position */
.pos-s {
	position: static !important;
}

/* FONTS */
/* font weights */
.fw-300 { font-weight: 300 !important; }
.fw-400 { font-weight: 400 !important; }
.fw-500 { font-weight: 500 !important; }
.fw-700 { font-weight: 700 !important; }
.fw-900 { font-weight: 900 !important; }
.fw-n   { font-weight:normal !important; }

/* font sizes */
.fs-nano { font-size: rem($fs-nano); } /* 10px */
.fs-xs { font-size:  rem($fs-xs); }    /* 12px */
.fs-sm { font-size:  rem($fs-sm); }    /* 12.5px */
.font-base { font-size:  rem($base-font-size); } /* 13px */
.fs-md { font-size: rem($fs-md); }     /* 14px */
.fs-lg { font-size: rem($fs-lg); }     /* 15px */
.fs-xl { font-size: rem($fs-xl); }     /* 16px */
.fs-xxl { font-size: rem($fs-xxl); }   /* page header */
