/* height & width auto */
.h-auto { height: auto !important; }
.w-auto { width: auto !important; }

/* width preset */
.width-p-3 { width: $p-3; }
.width-p-4 { width: $p-4; }
.width-p-5 { width: $p-5; }

/* line-heights */
.l-h-n { line-height:normal; }

/* flexs */
.flex-1 { flex:1 !important; }
.flex-m { 
	display: flex !important; 
	align-items:center; 
	justify-content:center; 
}

/* margins */
.m-auto { margin: 0 auto; }
.ml-auto {	margin-left: auto !important;}
.mr-auto {	margin-right: auto !important;}
.m-g { margin: $grid-gutter-width-base; }
.m-g-h { margin: $grid-gutter-width-base/2; }
.mb-g {	margin-bottom: map-get($grid-gutter-widths, xl) !important; }
.mb-gb { margin-bottom:$grid-gutter-width-base; }

/* paddings */
.p-g { padding:$grid-gutter-width-base; }
.p-g-h { padding:$grid-gutter-width-base/2; }
.p-g-2t { padding: $grid-gutter-width-base/1.5 !important; }

/* text turncaters */
.text-truncate-header {	max-width:  map-get($grid-gutter-widths, xl) + 73px; }
.text-truncate-xs {	max-width:  73px; }
.text-truncate-sm {	max-width: 117px; }
.text-truncate-md {	max-width: 160px; }
.text-truncate-default { max-width: 180px; }
.text-truncate-lg {	max-width: 200px; }

/* positions */
.pos-a { position:absolute !important; }
.pos-r { position: relative !important; }
.pos-s { position: static !important; }
.pos-f { position: fixed !important;}
.pos-top { top: 0;}
.pos-left { left: 0;}
.pos-right { right: 0;}
.pos-bottom { bottom: 0;}

/* font weights */
.fw-300 { font-weight: 300 !important; }
.fw-400 { font-weight: 400 !important; }
.fw-500 { font-weight: 500 !important; }
.fw-700 { font-weight: 700 !important; }
.fw-900 { font-weight: 900 !important; }
.fw-n   { font-weight:normal !important; }

/* alignments */
.v-align-t { vertical-align: top; }
.v-align-m { vertical-align: middle; }
.v-align-b { vertical-align: bottom; }


/* font sizes */
.fs-nano { font-size: rem($fs-nano) } /* 10px */
.fs-xs { font-size:  rem($fs-xs) }    /* 12px */
.fs-sm { font-size:  rem($fs-sm) }    /* 12.5px */
.fs-b { font-size:  rem($base-font-size) } /* 13px */
.fs-md { font-size: rem($fs-md) }     /* 14px */
.fs-lg { font-size: rem($fs-lg) }     /* 15px */
.fs-xl { font-size: rem($fs-xl) }     /* 16px */
.fs-xxl { font-size: rem($fs-xxl) }   /* page header */

/* alphas */
.opacity-05 { opacity: 0.05 }
.opacity-10 { opacity: 0.1 }
.opacity-15 { opacity: 0.15 }
.opacity-20 { opacity: 0.2 }
.opacity-25 { opacity: 0.25 }
.opacity-30 { opacity: 0.3 }
.opacity-35 { opacity: 0.35 }
.opacity-40 { opacity: 0.4 }
.opacity-45 { opacity: 0.45 }
.opacity-50 { opacity: 0.5 }
.opacity-55 { opacity: 0.55 }
.opacity-60 { opacity: 0.6 }
.opacity-65 { opacity: 0.65 }
.opacity-70 { opacity: 0.7 }
.opacity-75 { opacity: 0.75 }
.opacity-80 { opacity: 0.8 }
.opacity-85 { opacity: 0.85 }
.opacity-90 { opacity: 0.9 }
.opacity-95 { opacity: 0.95 }
.opacity-100 { opacity: 1 }

/* backgrounds */
.bg-transparent { background: transparent !important; }
.bg-white { background: $white !important; }
.bg-faded {	background: $frame-border-color; }
.bg-offwhite-fade {	@include gradient-img($white, lighten($color-fusion, 66%)) }
.bg-subtlelight { background-color: lighten($color-primary, 44%) }
.bg-subtlelight-fade { @include gradient-img($white, lighten($color-primary, 44%));	}

/* border radius */
.border-radius-0 { border-radius:0 !important; }

/* progressbars */
.progress-xs > .progress-bar { height: 5px; }
.progress-sm > .progress-bar { height: 8px; }
.progress-md > .progress-bar { height: 14px; }
.progress-lg > .progress-bar { height: 20px; }
.progress-xl > .progress-bar { height: 30px; }