// fade
@keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

//delayed entry
@keyframes delayed {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

// infinite spin
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.spinner {
  margin: 5px;
  height: 20px;
  width: 20px;
  animation: rotate 0.7s infinite linear;
  border: 2px solid $color-primary;
  border-right-color: transparent;
  border-radius: 50%;
}

