.left-panel {
	left: 0;
	top: 0;
	bottom:0;
	position: absolute;
	width: $nav-width;
	z-index: $depth-nav;
	/*background-image: -webkit-linear-gradient(270deg, $nav-background-shade, transparent);
	background-image: linear-gradient(270deg, $nav-background-shade, transparent); 
	background-color: $nav-background;*/

	@extend %nav-bg;

	will-change: left, right;
}