/* List table */
.list-table {
	height: auto;
	display:table;
	margin: 0;
	padding:0;
	> li {
		display: table-cell;
		vertical-align: middle;
		position: relative;
		padding:0;

		/*&.open, => this is now switched to show */
		&.show, /* new */
		&.search {
			position: static;
		}

	}
}

/* mostly used for nav items */
.disabled,
.disabled > * {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: 0.45 !important;
	color: $white !important;
	cursor: not-allowed;
	text-decoration: line-through !important;

	ul,
	.collapse-sign {
		display: none !important;
	}
}

ul.list-verticle {
	margin:0;
	padding:0;
	list-style: none; 
}

/* dropdown-item hover menu*/
.dropdown-menu-title {
	color: rgba(0, 0, 0, 0.85);
	text-transform: uppercase;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	//border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	background: #f3f6f8;
	padding: 0.2rem $spacer * 0.8;
	font-size: rem($nav-title-font-size);
	letter-spacing: 1px;
	font-weight: 500;
}

.dropdown-item {
	position:relative;

	.dropdown-item-menu {
		margin:0;
		padding:0;
		list-style: none;
		//display: none;
		position: absolute;
		top: -1px;
		left: 95%;
		background:$white;
		border: 1px solid $dropdown-border-color;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

		visibility: hidden;

		.dropdown-item {
			padding-top: $spacer * 0.2 !important;
			padding-bottom: $spacer * 0.2 !important;
		}

		&.pull-left {
			right: 95%;
			left: auto;
		}
	}

	&:hover {
		.dropdown-item-menu {
			//display: block;
			animation: .5s delayed;
			animation-fill-mode: forwards;
		}
	}
}

/* custom scroll */
.custom-scroll {
	@extend %custom-scroll;
}

/* table no border */
.table-border-0 {
	th,
	td {
		border:0 !important;
	}
}

/* line-heights */
.l-h-n {
	line-height:normal;
}

/* list spaced */
.list-spaced {
	li {
		margin-top: rem(7px);
		margin-bottom: rem(7px);

		&:first-child {
			margin-top:0;
		}
		&:lst-child {
			margin-bottom:0;
		}
	}
}

/* height */
.h-auto {
	height: auto !important;
}

.w-auto {
	width: auto !important;
}

/* flex 
.flex-middle {
	@extend %flexbox;
	@include align-items(center);
	@include justify-content(center);
}*/
.flex-1 {
	flex:1 !important;
}

/* profile images */

.profile-image {
	width: 45px;
	height: 45px;
}

.profile-image-md {
	width: 35px;
	height: 35px;
}

.profile-image-sm {
	width: 25px;
	height: 25px;
}

/* image share */

.img-share {
	width: auto;
    height: 45px;
    border: 1px solid #e4e4e4;
    padding: 2px;
    background: $white;
}

/* margins */
.mrg-auto,
.m-auto {
	margin: 0 auto;
}

.mrg-l-a,
.ml-auto {
	margin-left: auto !important;
}

.mrg-r-a,
.mr-auto {
	margin-right: auto !important;
}

.mrg-gutter,
.m-g {
	margin: $grid-gutter-width-base;
}

.mrg-gutter-half,
.m-g-h {
	margin: $grid-gutter-width-base/2;
}

.mrg-b-gutter,
.mb-g {
	margin-bottom: map-get($grid-gutter-widths, xl) !important;
}

.pad-gutter,
.p-g {
	padding:$grid-gutter-width-base;
}

.pad-gutter-half,
.p-g-h {
	padding:$grid-gutter-width-base/2;
}

.btn-w-m {
	min-width: 95px;
}

.btn-w-l {
	min-width: 130px;
}


.list-spaced {
	> li {
		padding: 0 0 $spacer * 0.2;
	}
}

.notes {
	padding: 5px;
	background: #f9f4b5;
}

.border-radius-0 {
	border-radius:0px !important;
}

.bg-transparent {
	background: transparent !important;
}
.bg-white {
	background: $white !important;
}

[data-elipsis="xs"] span,
[data-elipsis="sm"] span,
[data-elipsis="md"] span,
[data-elipsis="default"] span,
[data-elipsis="lg"] span {
	text-overflow: ellipsis;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: text-bottom;
}

[data-elipsis="xs"] span { max-width: rem( map-get($grid-gutter-widths, xl) + 69px ) }
[data-elipsis="sm"] span { max-width: rem(117px) }
[data-elipsis="md"] span { max-width: rem(160px) }
[data-elipsis="default"] span { max-width: rem(180px) }
[data-elipsis="lg"] span { max-width: rem(200px) }
[data-elipsis] {
	> i {
		vertical-align: text-bottom;
		height: $header-height;
		line-height: $header-height;
	}
}
.shadow-hover {
	@extend %shadow-hover;
}
.shadow-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.shadow-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.shadow-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.shadow-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/* disclaimer class */
.disclaimer {
    padding-left: 10px;
    font-size: 8px;
    color: #a2a2a2;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-style: italic;
}

/* btn switch */
.btn-switch {
	background: $fusion-300;
    padding: rem(2px) rem(8px) rem(1px) rem(22px);
    font-size: rem(10px);
    line-height: rem(11px);
    border-radius: rem(20px);
    text-transform: uppercase;
    @include text-contrast($fusion-300);
    font-weight: 500;
    min-width:rem(52px);
    height:rem(17px);
    margin-top:5%;
    position:relative;
    overflow: hidden;
    
    @extend %common-animation;

    &:hover{
    	@include scale(1.10);
    	@include text-contrast($fusion-300);
    }

    &:before {
    	content:"OFF";
    	position:absolute;
    	right:rem(7px);
    }

    &:after{
		content: " ";
		text-align: center;
		@include text-contrast(#828282);
		font-size: rem(14px);
	    width: rem(13px);
	    height: rem(13px);
	    position: absolute;
	    background: $white;
	    padding:1px;
	    left: 0;
	    top: 0;
	    line-height: normal;
	    margin: 1px;
		border-radius: 50%;
		box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
    }

    &.active {
    	color:$white;
    	background:$color-primary;
    	&:before {
    		content:"ON";
    		left:rem(7px);
    		right:auto;
    		@include text-contrast($color-primary);
    	}

    	&:after {
    		content: " ";
    		right:0;
    		left:auto;
    		background:$white;
    		color:$color-primary;
    	}

    }

    & + .onoffswitch-title {
    	margin-top:rem(0.5px);
    	font-size:rem(13px);
    	display: block;

    	& + .onoffswitch-title-desc {
    		display: block;
			//width: 100%;
			font-size: 11px;
			//line-height: 10px;
			color: #989da5;
			//margin-bottom: 8px;
			text-transform: lowercase;
    	}
    }

}

/* absolute position */
.a-tr,
.a-tl,
.a-br,
.a-bl {
	position:absolute;
}

.a-tr {
	top:0;
	right:0;
}

.a-tl {
	top:0;
	left:0;	
}

.a-br {
	bottom:0;
	right:0;	
}

.a-bl {
	bottom:0;
	left:0;	
}


/* online status */
.status {
	position: relative;

	&:before {
		content: " ";
		position: absolute;
		width: 15px;
		height: 15px;
		display: block;
		top: -2px;
		right: -2px;
		background: $warning-500;
		border-radius: 50%;
		border: 2px solid #fff;
	}

	&.status-online:before {
		background: $success-500;
	}

	&.status-offline:before {
		background: $danger-500;
	}
}

/* containers */
.container {

	&.container-sm {
		max-width: map-get($grid-breakpoints, sm)
	}

	&.container-md {
		max-width: map-get($grid-breakpoints, md)
	}

	&.container-md {
		max-width: map-get($grid-breakpoints, lg)
	}

}

