.mod-lean-page-header {
	.page-heading {
		margin:0;

		.page-header {

			margin-top: 0;
			font-size:16px;
			display: inline-block;
			font-weight: 400;
			text-transform: capitalize;

			&:not(:only-child) {
				margin-top: 23px;
			}

			small {

				font-size: 16px;
				display: inline-block;
				text-transform: capitalize;

				&:before {
					content:" - ";
				}
			}
		}

		.breadcrumb {
			position: absolute;
			top: 0;
		}
	}
}