
//$mod-main-boxed-width: map-get($grid-breakpoints, xxl);

@include media-breakpoint-up(xl) {

	.mod-main-boxed {
		//max-width: $mod-main-boxed-width;
		//margin: 0 auto;
		//box-shadow: 5px 0 20px 0px rgba(0, 0, 0, 0.1), -5px 0 20px 0px rgba(0, 0, 0, 0.1); //moved to page wrapper

		.page-wrapper {
			max-width: $mod-main-boxed-width;
			margin: 0 auto;		
		}

		&:not(.nav-function-top) {
			.right-panel {
				.list {
					&#nff {
						position:relative;

						.onoffswitch-title {
							color: $settings-incompat-title;
						}
						.onoffswitch-title-desc {
							color: $settings-incompat-desc;
						}
						&:after {
							content: "DISABLED";
							display: block;
							position: absolute;
							background: $settings-incompat-bg;
							font-size: rem($fs-base - 3);
							width: 65px;
							text-align: center;
							border: 1px solid $settings-incompat-border;
							height: 22px;
							line-height: 20px;
							border-radius: 10px;
							right: 13px;
							top: 26%;
							color:$fusion-900;
						}
					}
				}
			}
		}

		&.header-function-fixed {
			.page-wrapper {
				.page-header {
					width: $mod-main-boxed-width - 2;
					margin: 0 auto !important;
				}			
			}

			&:not(.nav-function-top):not(.nav-function-fixed) {
				.page-wrapper {
					.left-panel {
						position: absolute !important;
					}
				}
			}

			&:not(.nav-function-top):not(.nav-function-hidden):not(.nav-function-minify) {
				.page-wrapper {
					.page-header {
						padding-left:$nav-width + $grid-gutter-width-base/2;
					}
				}
			}

			&.nav-function-minify:not(.nav-function-top):not(.nav-function-hidden) {
				.page-wrapper {
					.page-header {
						padding-left:$nav-minify-width + $grid-gutter-width-base/2;
					}
				}
			}

		}

		&.nav-function-top {

			.page-wrapper {
				//background:#fff; //to balance contrast

				.left-panel {
					.logo {
						width: 90px !important;
					}
		    	}
			}
		}

		&.nav-function-hidden {

			&:not(.nav-function-top) {
				.left-panel:after {
					position:absolute;
					left: $nav-width;
				}
			}

			&.nav-function-minify {
				.left-panel:after {
					position:absolute;
					left: $nav-minify-width;
				}
			}			

		}

		&.nav-function-fixed:not(.nav-function-top):not(.header-function-fixed) {
			.left-panel {
				transform: translateX(0) !important;
				box-shadow: none;
			}

			.page-wrapper {
				transform: translateX(0) !important;
			}

		}

		&.nav-function-fixed {
			&:not(.nav-function-top) {
				.page-wrapper {
					.left-panel {
						position:absolute;

						.logo {
							position:fixed;
							top:0;
							z-index: $cloud;
							@include box-shadow(0 2px 2px -1px rgba(0,0,0,.1));
						}

						.primary-nav {
							margin-top: $header-height;
						}
					}

				}

				&.nav-function-hidden {

					.logo {
						position: absolute !important;
						transition: none;
					}
				}
			}
		}

		.page-wrapper{
			border-left:1px solid rgba($black, .15);
			border-right:1px solid rgba($black, .15);
			box-shadow: 5px 0 20px 0px rgba(0, 0, 0, 0.1), -5px 0 20px 0px rgba(0, 0, 0, 0.1);
			overflow: hidden;
		}

		&:not(.header-function-fixed):not(.nav-function-top):not(.modal-open) {
			.page-wrapper{
				transform: translateX(0) !important;
			}
		}

	}

}

