.filter-nav-btn {
	display: block;
}

#nav-filter {
	transition: all 400ms cubic-bezier(0.34, 1.25, 0.3, 1);
	padding: 0 7px; 
	margin-top: -50px;
	opacity: 0;
	visibility: hidden;
	display: block;
    margin: 0;
    height: 0px;
    position: relative;
}

.filter-nav:not(.nav-function-top):not(.nav-function-minify) {

	#info-card {
		height: calc(#{$nav-infocard-height} - 15px) !important;
		max-height: calc(#{$nav-infocard-height} - 15px) !important;
	}

	#nav-filter {
		display: block !important;
		padding: 8px 7px;
		background: #33383e;
		margin: 0;
		opacity: 1;
		visibility: visible;
		height: 50px;

		> input[type="text"] {
			padding: 8px 40px 8px 14px; 
			background: rgb(35, 39, 43); 
			color: $white;
		}

		#nav-filter-close {
			background: #fafafa;
			padding: 0px 5px;
			border-radius: 3px;
			color: #23272b;
		}
	}

}