#info-card {
	position: relative;
	display:block;
	width:rem($nav-width);
	height:rem($nav-infocard-height);
	max-height: rem($nav-infocard-height);
	padding: rem($header-height - 10) rem( $nav-width/10.5 ) 0;
	color:$white;
	overflow: hidden;

	@include transition(0.4s,ease-in-out); 

	img.cover {
		opacity: 0.5;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		@extend %bg-img-cover;
		@extend %common-animation-opacity;
	}

	.profile-image {
		width: rem($profile-image-width);
		height: auto;
		display: inline-block;
		z-index: 1;
		position: relative;
	}	

	.info-card-text {
		margin-left: rem($profile-image-width/5);
		color: inherit;
		text-shadow: $black 0 1px;
		z-index: 1;
		position: relative;
		line-height: normal;

		> span {
			font-weight: 300;
		}
	}
	
}

@include media-breakpoint-up(xl) {
	#info-card {

		&:hover {
			padding-top: rem($header-height - 18);
			@include transition(0.10s,ease-in-out); 
			will-change: opacity;
		}

		&:hover {
			img.cover {
				opacity: 0.7;
				@include backface-visibility;
			}
		}
	}
}

.info-card-text {
	font-size: rem($nav-font-link-size + $nav-font-link-size/8);
	display: inline-block;
	vertical-align: middle;
	font-weight: 400;
	letter-spacing: -0.01rem;
	line-height: 1.35;

	> span {
		font-size: rem($nav-font-link-size - 1px);
		letter-spacing: rem(0.2px);
		display: block;
	}
}
