@include media-breakpoint-up($mobile-breakpoint) {

	.nav-function-minify:not(.nav-function-top) {

		/* hide elements when nav-function-minify */
		.hidden-nav-function-minify {
			display: none !important;
		}

		.left-panel {
			
			width: $nav-minify-width;
			z-index: $depth-header + 1;

			will-change: left, right;
			
			transition: $nav-hide-animate;

			.logo {

				background:$nav-minify-logo-bg;
				width:$nav-minify-width;
							
				>img {
					display: none;
				}

				.minify-logo {
					display:block;
					width:auto;
				}
			}

			.primary-nav {
				overflow: hidden; 

				.info-card {
					height: $nav-width/3 + 5;
					width:100%;
					padding: $header-height/3.4 0;
					text-align:center;
					overflow: hidden; 

					.profile-image + div {
						position: absolute;
					    top: 0;
					    width: $nav-width/1.2;
					    text-align: left; 
					    display: none;
					}
				}

				.nav-title {
					display: none;
				}
				.navigation {
					margin:0;

					li {
						ul {
							.dl-ref {
								display:none !important;
							}
						}
					}

					> li {

						> a {

							text-align: center;
							justify-content: center;
							align-items: center;

							>.fa,
							>.#{$cust-icon-prefix},
							> img {	
								font-size: rem($nav-font-icon-size * 1.1);
								margin: 0;
							}

							> img {
								width: $nav-icon-width;
								height: $nav-icon-width;
							}

							> .badge {
								left: $nav-minify-width / 2;
							}

							&:not(.livicon) > .badge:not(.clear-badge):first-child  {
								margin-right: 0;
							}

							> .navigation-link-text {
								display: none;	
								position:absolute;
								text-align: left;
								background:$nav-minify-hover-bg;
								padding-left: $nav-minify-sub-width / 10;
								color: $white;
								top: 0;
							    left: $nav-minify-width;
							    height: 100%;
							    width: $nav-minify-sub-width;
							    font-weight:400;

							}

							> b.collapse-sign {
								display: none !important;
							}

							// sub 1
							& + ul {
								position: absolute;
								width: $nav-minify-sub-width;
								left: $nav-minify-width;

								> li {

									> a {

										padding-left: $nav-minify-sub-width / 10;


										> b.collapse-sign > .fa,
										> b.collapse-sign > .#{$cust-icon-prefix} {
											display: inline-block !important;
										}

										//sub 2
										& + ul {
											> li {
												> a {
													padding-left: $nav-minify-sub-width / 8;
												}
											}
										}
									}

									.navigation-link-text {
										> .fa,
										> .#{$cust-icon-prefix} {
											display:none;
										}
									}
								}
							}

						}

						& > ul {
							display: none !important;
						}
					}
				}
				

				&:hover {
					overflow: visible;
					
					.navigation > li:hover {

						> a {
							background: $nav-minify-hover-bg;
							color: $white;
							overflow: visible;

							>.navigation-link-text {
								display: flex;
							}

							>.legitRipple-ripple {
								display: none !important;
							}

						}

						> ul {
							display: block !important;
						}
					} 
					
				}

			}

		}
		
		.page-wrapper {
			padding-left: $nav-minify-width;
		}

		.header {
			[data-class="nav-function-minify"] {
				background: $header-btn-active-bg !important;
				border-color: darken($header-btn-active-bg, 10%) !important;
				@include box-shadow(inset 0 0 3px 1px rgba(0,0,0,.37));
				color:$header-btn-active-color !important;
			}
		}

		&.nav-function-hidden {
			.page-wrapper {
				padding-left: $nav-hidden-visiblity;
			}
			.left-panel {
				left: $nav-hidden-visiblity - $nav-minify-width;
				overflow: visible;
				&:hover {
					left: 0;
				}
			}
			.header {
				margin-left: 0;
			}
		}

		&.header-function-fixed {
			.header {
				margin-left: $nav-minify-width;
			}
		}

		&.nav-function-hidden.header-function-fixed {
			.header {
				margin-left: $nav-hidden-visiblity;
			}
		}

	}

}
