@include media-breakpoint-up($mobile-breakpoint) {

	.nav-function-hover:not(.nav-function-fixed):not(.nav-function-top):not(.nav-function-minify) {

		.primary-nav {
			overflow: visible !important;

			.navigation {

				li {

					ul {
						display:none !important;
						opacity: 0;

						a {
							padding: 0 20px !important;
							min-height: 45px !important;

							.dl-ref {
								margin-left: 0 !important;
							}

						}
					}

					> ul {
						left: 0;
						position: absolute;
						width: $nav-width - 20;
						top: 0px;
						padding:0px !important;

						transition: all 0.2s ease;; 
					}

					&:hover {

						> a {
							background: $primary-600 !important;

							*:not(.dl-ref) {
								color: $white !important;
							}
						}

						> ul {
							display:block !important;
							opacity: 1;
							left: 100%;

						}
					}

				}
			}

		}

	}

}