$nav-function-top-item-padding: 8px;
$nav-function-top-logo-width-sm: 28px;
$nav-function-top-logo-width-lg: 28px;
$nav-function-top-menu-item-bg: $primary-500;

.nav-padel-left,
.nav-padel-right {
	display: none;
}

@include media-breakpoint-up($mobile-breakpoint) {

	.nav-function-top {

		/* digitally created elements */

		.nav-padel-left,
		.nav-padel-right {
			display: flex;
			background: $white;
			color: inherit;
			min-width:50px;
			box-shadow: 5px 0px 15px 0px rgba(90, 80, 105, 0.2)
		}

		.nav-padel-right {
			box-shadow: -5px 0px 15px 0px rgba(90, 80, 105, 0.2)
		}

		.nav-menu-wrapper {
			overflow: hidden;
			-webkit-box-flex: 0;
			-ms-flex: 0 1 100%;
			display: flex;
			flex: 0 1 100%;
			width: 0;

			.nav-menu {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: start;
				-ms-flex-align: start;
				align-items: flex-start;
				-webkit-box-pack: start;
				-ms-flex-pack: start;
				justify-content: flex-start;
				margin: 0;
				padding: 0;

			}
		}

		/* hide elements when nav-function-top */
		.hidden-nav-function-top {
			display: none !important;
		}


		&:not(.header-function-fixed) {
				
			#nff {
				position:relative;

				.onoffswitch-title {
					color: $settings-incompat-title;
				}
				.onoffswitch-title-desc {
					color: $settings-incompat-desc;
				}
				&:after {
					content: "DISABLED";
					display: block;
					position: absolute;
					background: $settings-incompat-bg;
					font-size: 10px;
					width: 65px;
					text-align: center;
					border: 1px solid $settings-incompat-border;
					height: 22px;
					line-height: 20px;
					border-radius: 10px;
					right: 13px;
					top: 26%;
					color:$fusion-900;
				}
			}

		}

		.page-header {
			margin-top: 0;
			height: $header-height-nav-top;

			background-image: -webkit-linear-gradient(270deg, $nav-background-shade, transparent);
			background-image: linear-gradient(270deg, $nav-background-shade, transparent); 
			background-color: $nav-background; 

			box-shadow: 0px 0px 14px 0px $header-border-bottom-color;

			.dropdown-icon-menu {
				display: none;
			}

			#search-field {
				margin:0 !important;
			}

			.page-logo {
				display: flex;
				width: auto;
				padding-left: 0;
				background: transparent;
				box-shadow: none;
			}
		}

		.page-wrapper {
			padding-left:0;

			.page-footer {
				width: 100%;
			}
		}

		.page-left-panel {
			display: flex;
			width: 100%;
			height: $nav-top-height;
			z-index: $depth-header - 1;
			overflow:hidden;
			padding: 0 0.625rem;
			background: $white;

			box-shadow: 0px 0px 14px 0px $header-border-bottom-color;

			position: relative;

			order: 2;		

			&:hover {
				overflow:visible;
			}

			.page-logo,
			.nav-filter,
			.info-card,
			.nav-title {
				display: none;
			}

			.primary-nav {
				overflow: hidden;

				flex: 1;
				display: flex;
				align-items: stretch; 

				/* Make this scrollable when needed */
				overflow-x: auto;
				/* We don't want vertical scrolling */
				overflow-y: hidden;
				/* For WebKit implementations, provide inertia scrolling */
				-webkit-overflow-scrolling: touch;
				/* We don't want internal inline elements to wrap */
				white-space: nowrap;
				/* Crush the whitespace here */
				font-size: 0;

				/* Make an auto-hiding scroller for the 3 people using a IE */
				-ms-overflow-style: -ms-autohiding-scrollbar;
				/* Remove the default scrollbar for WebKit implementations */

				&::-webkit-scrollbar {
					display: none;
				}

				.nav-menu {
					margin:0;
					display: flex;
					align-items: stretch;

					> li {

						display: inline-flex;
    					align-items: center;

						&.nav-title {
							display: none;
						}

						> a {

							color: $nav-background;
							padding: .75rem 1.5rem .75rem 1rem !important;
							text-align: center;
							font-size: .9rem !important;

							>.#{$cust-icon-prefix},
							>[class*='fa-'] {
								font-size: $nav-font-icon-size;
								width: inherit;
								margin: 0 !important;
								display: flex !important;					
								align-items: center;
								justify-content: left;
								color: inherit;
								margin-right: .5rem !important;
							}

							> .nav-link-text {
								//max-width: $nav-function-top-menu-item-width-md;
								overflow: hidden;
								white-space: nowrap;
								text-overflow: ellipsis;
								line-height: normal;
								vertical-align: text-top;
								font-weight: 400;

								display: inline-block; /*override inline-flex*/
							}

							>.badge,
							>.badge.clear-badge {
								left: 53%;
							}

							>.collapse-sign {
								margin-right: 0.5rem;
								color: lighten($nav-background, 30%);
								position: absolute;
								right: 0;
							}

							> .badge:first-child {
								max-width: none;
								width: 25px !important;
								height: 25px !important;
								line-height: 16px !important;
								font-size: rem($fs-base) !important;
								display: block !important;
								margin: 0 auto 4px !important;

								// yes we do need the '!importants' here :(
							}

							& + ul {
								padding:0;

								ul {
									padding:0;
								}
							}

						}


						&:hover {

							> a {
								color: $primary-500;
								background: transparent;

								& + ul {
									display:block !important;
									box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.15);

									a {
										.collapse-sign {
											@include rotate(270);
										}
									}

									li {

										&:hover {
											> a {
												background: $page-bg;
												color: $primary-500;
											}
										}
									} 
								}
							}						
						}

						&.active {
							> a {
								box-shadow: none;
							}
						}

						> ul {
							height: auto !important; //counters the click issue
						}
					}

					li {

						position: static;

						a {
	    					//font-size: rem($fs-base);
	    					color: $nav-background;

	    					&:before {
								content: none !important;
							}
						}

						ul {

							padding: 0.75rem 0 !important;
							display: none !important;
							width: $nav-width - 2.1875rem; 
							position: absolute;
							top: $nav-top-height;
							box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.15);

							background: $white;

							border-radius: 4px;

							li {
								width: 100%;
								position: relative;

								a {
									padding: 0.9375rem 1.5rem !important;
									width: 100%;
									max-height: none;
									box-shadow: none;

									.nav-link-text {
										display: block;

										> .dl-ref {
											margin-left: 0;
											margin-right: 5px;
											display: none;
										}
										> .#{$cust-icon-prefix}
										> [class*='fa-'] {
											margin-left: 6px;
										}
									}


								}

								&:hover {
									ul {
										display: block !important;
										left: 100%;
    									top: 0;
    									box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
    									margin-left: 2px !important;
									}
									&.top-menu-push-left {
										ul {
											right:100%;
											left:auto;
										}
									}
								}
							}
						}

						
					}

				}


			}

			.nav-footer {
				display: none;
			}
		}


		&.nav-function-minify {

			.page-left-panel {
				//height: $nav-top-minify-height;

				/*.page-logo {
					width: auto !important;
					height: $nav-top-minify-height;
					padding: 0 1rem;			
				}*/

				.primary-nav {
					 
					.nav-menu {

						> li{

							> a {

								//min-width:$nav-top-minify-height;
								//height: $nav-top-minify-height;
								//padding-top:23% !important;

								> .nav-link-text {
									display: none;

								}

								> .badge {
									left:24px;
								}

								>.#{$cust-icon-prefix},
								>[class*='fa-'] {
									justify-content: center;
								}

							}

						}

					}
					
				}
			}

			/*.page-wrapper {
				padding-top:$nav-top-minify-height;
			}*/

		}

		&.mod-main-boxed {
			.page-left-panel {

				.primary-nav {
					.nav-menu:last-child,
					.nav-menu:only-child {
						> li:last-child,
						> li:nth-last-child(2),
						> li:nth-last-child(3) {
							&:hover {
								>a {
									& + ul {

										right:0;

									}
								}
							}
						}
					}
				}
			}
		}

		/* reorder */
		.page-header {
			order: 1;
		}
		.page-wrapper {
			display: flex;
			flex-direction: column;
		}
		.page-left-panel {
			order: 2;
		}
		.page-content {
			order: 3;
			align-items: stretch;
			flex: 1 1 auto;
		}
		/*.page-footer {
			order: 4;
			width: initial;

			position: initial;

			& + .page-footer-push {
				display: none;
			}
		}*/
 
	}
	
}

@include media-breakpoint-up(xl) {

	.nav-function-top {
		
		.page-left-panel {

			/*.page-logo {
				width: auto;
			}*/

			.primary-nav {

				.nav-menu {

					> li {
						> a {
							> .badge:first-child {
								max-width: none;
								width: 27px !important;
								height: 27px !important;
								line-height: 18px !important;
								margin: 0 auto 2px !important;
							}							
							>.#{$cust-icon-prefix},
							>[class*='fa-'],
							> img {
								font-size: 22px;
								margin: 3px auto 3px;
								height: 22px;
								display: block;
							}
							>[class*='fa-'] {
								font-size: rem(18px);
							}
							/*> .nav-link-text {
								//width:auto;
								//max-width: $nav-function-top-menu-item-width-lg;
							}*/
						}
					}

					li {
						ul {
							 li {
							 	a {
							 		font-size: rem($fs-base);
							 	}
							 }
						}
					}

				}

			}	

		}
	}
}