$nav-function-top-item-padding: 8px;
$nav-function-top-logo-width-sm: 97px;
$nav-function-top-logo-width-lg: 129px;
$nav-function-top-menu-item-bg: darken($nav-base-color, 15%);
$nav-function-top-menu-item-width-md: ( map-get($grid-breakpoints, md) - $nav-function-top-logo-width-sm ) / $nav-top-menu-count - 1;
$nav-function-top-menu-item-width-lg: ( map-get($grid-breakpoints, lg) - $nav-function-top-logo-width-lg ) / $nav-top-menu-count - 2;

@include media-breakpoint-up($mobile-breakpoint) {

	.nav-function-top {

		&.display-settings {
			[data-class=display-settings] {
				top:rem($nav-top-height);
				transition: $nav-hide-animate;
			}
			&.nav-function-minify {
				[data-class=display-settings] {
					top:rem($nav-top-minify-height);
				}
			}
		}

		&:not(.nav-function-fixed) {

			#settings-demo {
				position:absolute;
				
				.list {
					&#fh {
						position:relative;

						.onoffswitch-title {
							color: $warning-700;
						}
						.onoffswitch-title-desc {
							text-overflow: ellipsis;
							white-space: nowrap;
							overflow: hidden;
							max-width: 140px;
							color: $warning-500;
						}
						&:after {
							content: "DISABLED";
							display: block;
							position: absolute;
							background: $warning-50;
							font-size: 10px;
							width: 65px;
							text-align: center;
							border: 1px solid $warning-800;
							height: 22px;
							line-height: 20px;
							border-radius: 10px;
							right: 13px;
							top: 26%;
							color:$fusion-900;
						}
					}
				}
			}

		}

		#banner {
			margin-top: 0;
			.dropdown-icon-menu {
				display: none;
			}

			#search-field {
				margin:0 !important;
			}
		}

		#page-wrapper {
			padding-top:rem($nav-top-height);
			padding-left:0;

			footer {
				width: 100%;
			}
		}

		#left-panel {
			left:0;
			padding-bottom:0;
			top: 0;
			bottom: auto;
			width: 100%;
			height: $nav-top-height;
			z-index: $depth-header + 1;
			overflow:hidden;

			&:hover {
				overflow:visible;
			}

			#logo {
				float: left;
				width: $nav-function-top-logo-width-sm;
				padding: 0;
				background: transparent;
				border: 0;
				height: $nav-top-height;

				& > img {
					display:block;
					height: auto;
					width: 85%;

					&.minify-logo {
						display: none;
					}
				}

				&:after {
						
					content: "";
					position: absolute;
					width: 1px;
					right: 0;
					top: 5px;
					bottom: 5px;
					background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
					background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
					background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$collapseText-color, endColorstr=$collapseText-color,GradientType=0 );
					z-index: 1 // this way the line is always displayed and not covered by bg
						
				}

			}

			#info-card,
			.nxtgn-nav-title {
				display: none;
			}

			#primary-nav {
				overflow:visible;
				float:left;

				.nxtgn-nav {
					float:left;
					margin:0;

					> li {
						> a {
							> .badge:first-child {
								max-width: none;
								width: 25px !important;
								height: 25px !important;
								line-height: 16px !important;
								font-size: 13px !important;
								display: block !important;
								margin: 0 auto 4px !important;

								/* yes we do need the !importants here :( */;
							}

							& + .nxtgn-sub-one {
								padding:0;
							}

						}
					}

					li {
						float:left;

						a {
							padding: 10px;
	    					font-size: 10px;
	    					box-shadow:none;
						}

						b.collapse-sign {
						    float: none;
						    display: inline-block;
						    margin-left: 0;
						    margin-right: 10px;
						}

						ul {
							display: none !important;
							width: rem($nav-width - 35); 
							position: absolute;
							-moz-box-shadow: 0 2px 3px rgba(0,0,0,0.15);
							-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.15);
							box-shadow: 0 2px 3px rgba(0,0,0,0.15);

							li {
								width: 100%;

								a {
									padding: 6px 10px !important;
									width: 100%;
									//font-size: 12px;
									max-height: none;
									box-shadow: none;

									.nxtgn-link-text {
										display: block;
										> .dl-ref {
											margin-left:0;
											margin-right:5px;
											display: none;
										}
										> .#{$cust-icon-prefix}
										> .fa {
											margin-left: 6px;
										}
									}

								}

								&:hover {
									ul {
										display: block !important;
										left: 100%;
    									top: 0;
									}
									&.top-menu-push-left {
										ul {
											right:100%;
											left:auto;
										}
									}

								}

							}
						}
					}

					> li {
						&:hover {
							> a {
								background: $nav-function-top-menu-item-bg;
								&+ul.nxtgn-sub-one {
									display:block !important;
									background:$nav-function-top-menu-item-bg;

									a {
										.collapse-sign {
											position: absolute;
											top: 20%;
											right: 5px;
											@include transform(rotate(-90deg))

											em {
												font-size: 120%;
											}
										}
									}

									li {

										&:hover {
											> a {
												background: rgba( $primary-500, .9 );
												color:$white;
											}
										}
									} 
								}
							}						
						}

						&.active {
							> a {
								@include box-shadow( inset 0 2px 0 darken($color-primary, 10%) );
							}
						}

						> a {
							padding: 8px 8px 5px !important;
							text-align: center;
							height: $nav-top-height;
							max-height: $nav-top-height;

							>.#{$cust-icon-prefix},
							>.fa {
								font-size: 20px;
								margin-right: 0;
								display: block;
								margin: 5px auto 0;
								height: 24px;
							}
							>.fa {
								font-size: 18px;
							}
							> .nxtgn-link-text {
								width: auto;
								max-width: $nav-function-top-menu-item-width-md;
								overflow: hidden;
								white-space: nowrap;
								text-overflow: ellipsis;
								line-height: normal;
								font-size: rem(11px);
								vertical-align: text-top;
							}

							>.badge,
							>.badge.clear-badge {
								left: 53%;
							}

							>.collapse-sign {
								display: none
							}
						}

						> ul.nxtgn-sub-one {

							padding:10px 0;
							height: auto !important; //counters the click issue

							>.#{$cust-icon-prefix},
							>.fa {

							}

						}

						&:before {
							content: "";
							position: absolute;
							width: 1px;
							right: 0;
							top: 5px;
							bottom: 5px;
							background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
							background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
							background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$collapseText-color, endColorstr=$collapseText-color,GradientType=0 );
							z-index: 1 // this way the line is always displayed and not covered by bg
						}

					}
				}
			}

			#nav-footer {
				display: none;
			}
		}

		&.nav-function-minify {

			&.display-settings:not(.mod-main-boxed) {
				[data-class=display-settings] {
					top:rem($nav-top-minify-height);
				}
			}

			#left-panel {
				height: rem($nav-top-minify-height);

				#logo {
					width: auto !important;
					height: rem($nav-top-minify-height);
					padding: 0 5px;			

					> img {
						display: none;
						width: auto !important; 

						&.minify-logo {
							display: block;
							width: auto;
						}
					}
				}

				#primary-nav {
					 
					ul.nxtgn-nav {

						> li{

							> a {

								min-width:rem($nav-top-minify-height);
								height: rem($nav-top-minify-height);
								padding-top:23% !important;

								> .nxtgn-link-text {
									display: none;

								}

								> .badge {
									left:rem(24px);
								}

							}

						}

					}
					
				}
			}

			#page-wrapper {
				padding-top:$nav-top-minify-height;
			}
		}

		&.mod-main-boxed {
			#left-panel {

				#primary-nav {
					.nxtgn-nav:last-child,
					.nxtgn-nav:only-child {
						> li:last-child,
						> li:nth-last-child(2),
						> li:nth-last-child(3) {
							&:hover {
								>a {
									&+ul.nxtgn-sub-one {

										right:0;

									}
								}
							}
						}
					}
				}
			}
		}

	}
	
}

@include media-breakpoint-up(xl) {

	.nav-function-top {
		
		#left-panel {

			#logo {
				width: 143px;
			}

			#primary-nav {

				.nxtgn-nav {

					> li {
						> a {
							> .badge:first-child {
								max-width: none;
								width: 27px !important;
								height: 27px !important;
								line-height: 18px !important;
								margin: 0 auto 2px !important;
							}							
							>.#{$cust-icon-prefix},
							>.fa {
								font-size: 22px;
								margin: 3px auto 3px;
								height: 22px;
							}
							>.fa {
								font-size: rem(18px);
							}
							> .nxtgn-link-text {
								width:auto;
								max-width: $nav-function-top-menu-item-width-lg;
							}
						}
					}

					li {
						ul {
							 li {
							 	a {
							 		font-size: rem(13px);
							 	}
							 }
						}
					}

				}

			}	

		}
	}
}