.footer,
.footer-push {
    height: $footer-height;
    display: block;
    width: 100%;
}

.footer {
	position: absolute;
	display: flex;
	align-items:center;
	bottom: 0;
	background: $footer-bg;
    z-index: $footer-zindex;
    color:$footer-text-color;
    font-size:$footer-font-size;
    padding:0 $grid-gutter-width-base/2;

	.footer-logo {
	    background: $primary-500;
	    padding: 2px;
	    width: 22px;
	    height: 22px;
	    margin-right: 5px;
	}

	& + .footer-push {
		position:static;
		z-index: initial;
		float:left;
	}

	&:hover {
		& + .footer-push + .app-shortcut {
			-webkit-animation: 1s ease 0s normal forwards 1 subtle;
    		animation: 1s ease 0s normal forwards 1 subtle;
			-webkit-animation-delay: 1s;
			animation-delay: 1s;
		}
	}
}

@include media-breakpoint-up(lg) {

	.footer {
		width: calc(100% - #{$nav-width});
	}

	.nav-function-minify {
		.footer {
			width: calc(100% - #{$nav-minify-width});
		}	
	}

	.nav-function-hidden {
		.footer {
			width: calc(100% - #{$nav-hidden-visiblity});
		}
	}

}