.breadcrumb {
	padding:0;
	background:transparent;
	margin:0 ;

		margin: -20px -15px 27px;

		background: rgba(0,0,0,0.010);
		padding: $page-breadcrumb-padding;
		border-bottom: 1px solid rgba(0,0,0,0.072);
		text-shadow: $white 0 1px;

	> li {
		> a {
			text-decoration: none !important;
		}

		&.breadcrumb-item {
			font-size: rem($page-breadcrumb-font-size);
		}
	}
}

