$header-badge-min-width: 							20px !default;
/*$header-badge-padding-x: 							3px !default;
$header-badge-padding-y: 							2px !default;*/
$header-badge-left: 								25px !default;
$header-badge-top: 									($header-height / 2 - $header-badge-min-width) + 4.5 !default; 

.badge.badge-header {
	@extend %ping-badge;
	@include box-shadow(0 0 0 1px $header-bg);
	cursor: default;
	border-color: transparent;
	left: $header-badge-left;
	top: $header-badge-top;
	font-size: rem(10px);
	font-weight: 500;
	//height: ($header-badge-min-width); 
	//min-width: ($header-badge-min-width);
	max-width: ($header-badge-min-width + 7);
	padding: 0 3px;
	//line-height: ($header-badge-min-width - 2);
	border-radius: $header-badge-min-width;

	&:only-child {
		position: relative;
		left: auto;
		right: auto;
		font-size: $fs-md;
		height: 26px;
		width: 26px;
		line-height: 21px;
		top: 17px;
	}
}

.page-header {
	background-color: $header-bg;
	//border-bottom: 1px solid $header-border-bottom-color;
	box-shadow: 0 1px 15px 1px $header-border-bottom-color;
	display: block;
	height: $header-height;
	position: relative;
	z-index: $depth-header;

	ul.list-table {
		height: $header-height;

		> li {

			 > a {
				color: $base-text-color;
				height: $header-height;
			    display: block;
			    line-height: $header-height;
			    //padding: $list-table-padding-y $list-table-padding-x;
			    text-decoration: none;
			    position: relative;

				&:not(.btn) {
					min-width: $header-non-btn-width;
					text-align: center;
					overflow: visible;

					>[class*='fa-']:first-child,
					>.#{$cust-icon-prefix}:first-child {
						color:$header-link-color;
				    	//font-size: rem($header-icon-size);
					    vertical-align: middle;
			   		}
			   		>[class*='fa-']:first-child {
			   			font-size: rem($header-icon-size);
			   		}
			   		>.#{$cust-icon-prefix}:first-child {
			   			font-size: rem($header-icon-size);
			   		}

			   		&:hover {

			   			&>[class*='fa-']:only-child,
			   			&>.#{$cust-icon-prefix} {
							color: $header-link-hover-color;
			   			}
			   		}

			   		/*&.active {
			   			@include text-contrast($header-btn-active-bg);
			   			background:$header-btn-active-bg;

			   			&>[class*='fa-']:only-child,
			   			&>.#{$cust-icon-prefix}:only-child {
							@include text-contrast($header-btn-active-bg);
			   			}
			   		}*/

					&[data-toggle="dropdown"] {

						&[data-toggle="dropdown"] {
							&:after {
								content: " ";
								width: $header-height - 45;
								height: $header-height - 45;
								position: absolute;
								background: #dae1e8;
								border-radius: 50%;
								top: ($header-height - ($header-height - 45) ) /2;
								z-index: -1;
								left: 15px;
								opacity: 0;
								transition: all 100ms ease-in;
							}	
						}


						&[aria-expanded="true"] {
							color: $header-link-hover-color;
							/* new lines for arrow visibility */
							position: relative;
							z-index: $depth-header + 1;

							
							font-weight: 500;
							

							//&:before,
							&:after {
								content: " ";
								width: $header-height - 25;
								height: $header-height - 25;
								top: ($header-height - ($header-height - 25) ) /2;
								z-index: -1;
								left: 5px;
								opacity: 1;

								/*border-color: transparent;
								border-bottom-color: $header-dropdown-arrow-color;
								border-style: dashed dashed solid;
								border-width: 0 10.5px 7.5px;
								position: absolute;
								right: $header-non-btn-width/4;
								bottom: 0;
								z-index: 1;
								height: 0;
								width: 0;*/
							}
							/*&:before {
								border-bottom-color: $header-dropdown-arrow-color; //darken($header-border-color, 8%);
								bottom: 1px;
							}*/

							>[class*='fa-']:first-child,
							>.#{$cust-icon-prefix}:first-child {
								color: $header-link-hover-color !important;
								-webkit-background-clip: initial;
    							-webkit-text-fill-color: initial;
    							background: none;
							}

						}

						/* header dropdowns */
						/* note: important rules to override popper's inline classes */
						& + .dropdown-menu {
							position:absolute;
							border: $theme-border-utility-size solid $header-border-color;
							right: $grid-gutter-width-base/2 !important;
							top: $header-height - 1 !important;
							left: auto !important;
							padding: 0;
							margin: 0;
						}

						/* end header dropdowns */
						
					}

					.profile-image {
						//display: inline-block;
						width: $profile-image-width-md;
						height:auto;
						//float:left;
						//vertical-align: text-bottom;
					}

				}

			    &:hover{
			    	cursor:default;
			    	color:$header-link-hover-color;
			    }

			    &.btn {
					@extend %header-btn;

					&[data-class='mobile-nav-on'] {
						border-color: $danger-700;
						@include gradient-img($start: $danger-600,$stop: $danger-800);
						color:$white;
						width: $header-btn-width + 10px;
					}

				}

			}			
		}

		/* header section left has search box */
		&#hdr-l {

			float:left;

			> li {

				&.dropdown-icon-menu {
					z-index: 1;
				}
				
			}

		}

		/* header section right with buttons */
		&#hdr-r {

			float:right;

			> li {

				position: static;

				&:last-child {
					> a {
						padding-right:0;
					}
				}

			}
		}
	}
	
}