/* modal shadow */
.modal-content {
  box-shadow: 0 0 20px 0 rgba($black, 0.2); 
  //box-shadow: 0px 11px 15px -7px rgba(0,0,0,0.2), 0px 24px 38px 3px rgba(0,0,0,0.14), 0px 9px 46px 8px rgba(0,0,0,0.12);
}

/*.modal-dialog-top,
.modal-dialog-right,
.modal-dialog-bottom,
.modal-dialog-left {
  .modal-content {
    box-shadow: 0 0 20px 0 rgba($black, 0.2); 
  }
}*/

/* adjustments */
.modal-dialog {
	.modal.show & {		
		transform: none;		
	}
}

/* transparent modal */
.modal-bg-transparent {

	.modal-content {
		box-shadow: 0 1px 15px 1px rgba($primary-900, 0.3);
	}

	.modal-content {
		background: rgba(desaturate(darken($primary-800, 25%), 20%), 0.85); 

	}

}

/* transparent backdrop */
.modal-backdrop-transparent {
	background: transparent;
}

/* fullscreen modal */
.modal-fullscreen {
	
	padding: 0 !important;

  .modal-content {
    border-radius: 0;
    border-width: 0;
  }


	.modal-dialog {
		max-width: unquote("calc(100vw - 40px)");
		max-height: unquote("calc(100vh - 80px)");

		.modal-content {
			height: unquote("calc(100vh - 80px)");
		}
	}
	
}


/* top */
.modal-dialog-top,
.modal-dialog-bottom {
    position: absolute;
    top: 0;
    margin: 0;
    min-width: 100%;
	
	.modal-dialog {
		width: 100%;
		max-width: 100%;
		margin: 0;
	}

	.modal-content {
		border-radius: 0px;
		border:0;
	}
}

.modal-dialog-bottom {
  top: auto;
  bottom: 0;

  .modal.fade & {
    transform: translate(0,25%);
  }
}

/* left */
.modal-dialog-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // stylelint-disable-next-line declaration-no-important
  margin: 0 !important;

  .modal-content {
    min-height: 100%;
    //border-width: 0 $modal-content-border-width 0 0;
    border-width: 0;
    border-radius: 0;
  }

  .modal.fade & {
    transform: translate(-25%, 0);
  }
}

/* right */
.modal-dialog-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  // stylelint-disable-next-line declaration-no-important
  margin: 0 !important;

  border-width: 0px;

  .modal-content {
    min-height: 100%;
    //border-width: 0 0 0 $modal-content-border-width;
    border-width: 0;
    border-radius: 0;
    //box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
  }

  .modal.fade & {
    transform: translate(25%, 0);
  }
}

.modal.show .modal-dialog {
	transform: translate(0, 0);
}

/* modal size */
.modal-md {	max-width: 350px; }



   