$panel-padding: 20px;
$panel-hdr-padding: $panel-padding;
$panel-hdr-font-size: $fs-xl;
$panel-hdr-height: 48px;
$panel-btn-size: 17px;
$panel-hdr-background: #fafafa; //#fafafa;
$panel-edge-radius: $border-radius;
$panel-placeholder-color: #ffccff;

.panel-fullscreen {
	overflow:hidden;
	max-width: 100%;
}

.panel {
	position: relative;
	background-color: $white;
	//box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 15px 1px rgba(darken($primary-800, 10%), (8/100));
 

	margin-bottom: $grid-gutter-width;
	border-radius: $border-radius;

	/* panel container */
	.panel-container {

		padding: $panel-padding;
		@extend %common-animation-easeout;

		position: relative;

		//border: 1px solid transparent;
    	//border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.17) rgba(0, 0, 0, 0.2);
    	//border-top-width: 0px;

    	border-radius: 0 0 $panel-edge-radius $panel-edge-radius;

		&:only-child {
			padding: $panel-padding;
		}
	}

	/* panel refresh */
	&.panel-refresh {

		.js-panel-refresh {
			opacity: 0.5;
			cursor: wait;
		}
	}

	/* panel fullscreen */
	&.panel-fullscreen {
		position: fixed;
		z-index: 9999;
		top: 0;
		left: 0;
		right: 0;
		height: 100vh;
    	width: 100vw;
		border-radius: 0;
		border:0;

		display: flex;
		flex-direction: column;

		[data-action="panel-collapse"],
		.js-panel-collapse,
		[data-action="panel-close"],
		.js-panel-close  {
			display: none;
		}

		/* make panel header bigger */
		.panel-hdr {
			height: $header-height;
			border-radius: 0;
			box-shadow: 0 0.125rem 0.125rem -0.0625rem rgba(0, 0, 0, 0.1);

			/* make panel header bigger */
			h2 {
				font-size: rem($panel-hdr-font-size + 4);
				font-weight:400;
			}
		}

		[data-action="panel-fullscreen"],
		.js-panel-fullscreen {
			width:$panel-hdr-height/2;
			height:$panel-hdr-height/2;
		}

		.panel-container {
			flex: 1;
			overflow-y: auto;
			border-radius: 0;
		}
	}

	/* panel collapse */
	&.panel-collapse:not(.panel-fullscreen) {

		.panel-container {
			height: 0;
			padding-top: 0;
			padding-bottom: 0;
			overflow: hidden;
		}

	}

	/* panel locked */
	&.panel-locked:not(.panel-fullscreen) {

		.js-panel-locked {
			font-weight: bold;
		}

		h2:before {
			font-family: 'nextgen-icons';
			content: "\f2ae";
			position: absolute;
			top: -2px;
			right: -10px;
			font-size: 17px;
			color: inherit;
			border-radius: 50%;
			padding: 1px 5px 2px;
		}
	}

	&.ui-sortable-helper {
		box-shadow: 0 5px 16px 0 rgba(0,0,0,0.05), 0 5px 20px 0 rgba(0,0,0,0.09);
	}
}

/* panel header */
.panel-hdr {
	display: flex;
	align-items:center;
	background: $panel-hdr-background;
	min-height: $panel-hdr-height;
	@extend %common-animation-easeout;
	@include box-sizing(border-box); 
	/*border: 1px solid;
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.17);*/
	border-bottom: 1px solid rgba(0, 0, 0, 0.04);
	border-radius: $panel-edge-radius $panel-edge-radius 0 0;

	
	/* add padding to first and last child */
	> :first-child {
		padding-left: $panel-hdr-padding;
	}
	> :last-child {
		padding-right: $panel-hdr-padding;
	}

	/* adjusts title */
	h2 {
		flex: 1;
		font-size: rem($panel-hdr-font-size);
		margin: 0;
		display: flex;
		align-items:center;
		line-height: $panel-hdr-height - 2;
		color: inherit;
		position: relative;

		&:not(:only-child) {
			margin-right: $panel-padding / 1.5;
		}

		> [class*='fw-'] {
			margin-left: 4px;
		}

		small {
			display: inline-block;
			margin:0;
			opacity: 0.8;
			font-weight: 400;
			font-size: rem($panel-hdr-font-size - 2);
			margin-left: $spacer * 0.5;
		}

		/* panel header icon */
		.panel-icon {
			margin-right: $p-2;
		}

	}

}	

/* panel toolbar (sits inside panel header) */
.panel-toolbar {
	display: flex;
	align-items:center;
	//border-color: inherit;

	.btn-panel {
		margin-left: $panel-padding / 3;

		padding: 0;
		width: $panel-btn-size;
		height: $panel-btn-size;
		//border-color: transparent;

		@include box-sizing(border-box);

		border-radius: 50%;
		opacity: 0.8;
		//border: 1px solid rgba(0,0,0,0.2);

		@extend %common-animation;

		&:hover {
			opacity: 1;
		}

		/* add default colors for action buttons */
		&[data-action="panel-collapse"],
		&.js-panel-collapse {
			background: $fusion-50;
		}

		&[data-action="panel-fullscreen"],
		&.js-panel-fullscreen {
			background: $warning-500;
		}

		&[data-action="panel-close"],
		&.js-panel-close {
			background: $danger-500;
		}

	}

	.btn-toolbar-master {
		height: $panel-hdr-height - 2;
		border-radius: 0;
		margin-right: -$panel-padding;
		border-top-right-radius: 3px;
		margin-left: 10px;
		padding: 0 11px;
		background: transparent;
		border: 0;
		//border-left: 1px solid;
		//border-left-color: inherit;
		font-size: 23px;
		color: inherit;
		display: flex;
		align-items: center;

		& + .dropdown-menu {
			right: 0;
			top: $panel-hdr-height - 1 !important;
			left: auto !important;
			//border-color: inherit;
			margin:0;
			border-radius:0;
			min-width: 150px;
			//border-color: rgba($fusion-500, 0.08);
			//border-top-color: transparent;
			//border-right-color: transparent;
		}
	}

	/* we curve the last button to make it seamless with panel's border radius */
	.btn-panel-flat:last-child {
		border-top-right-radius: $border-radius - 1px;
	}

}

.panel-sortable:not(.panel-fullscreen):not(.panel-locked) h2 {
	cursor: move;
}

/* panel placeholder */
/*.panel-placeholder {
	background-color: #FFC;
    border: 1px dashed #A7A7A7;
	box-sizing: border-box;
	margin-bottom: $grid-gutter-width - 2px;
	border-radius: $border-radius + 1;
	position: relative;
	box-shadow: inset 2px 2px 3px rgba(0,0,0,0.1), inset 0 0 0 1px rgba(0,0,0,0.02)
}*/

.panel-placeholder {
	background-color: $panel-placeholder-color;
	box-sizing: border-box;
	margin-bottom: $grid-gutter-width;
	border-radius: $border-radius + 1;
	position: relative;
	overflow: hidden;

	&:before,
	&:after {
		content:" ";
		background-image: url(data:image/gif;base64,R0lGODlhCAAIAJAAAAAAAP///yH/C05FVFNDQVBFMi4wAwEAAAAh+QQECgD/ACwAAAAACAAIAAACD4SDYZB6udpiaMJYsXuoAAAh+QQECgD/ACwAAAAACAAIAAACDYQRGadrzVRMB9FZ5SwAIfkEBAoA/wAsAAAAAAgACAAAAg8MDqGYaudeW9ChyOyltQAAIfkEBAoA/wAsAAAAAAgACAAAAg9MgGCXm+rQYtC0WGl9oQAAIfkEBAoA/wAsAAAAAAgACAAAAg+MgWCRernaYmjCWLF7qAAAIfkEBAoA/wAsAAAAAAgACAAAAg2MAwmna81UTAfRWeUsACH5BAQKAP8ALAAAAAAIAAgAAAIPRB6gmGrnXlvQocjspbUAACH5BAQKAP8ALAAAAAAIAAgAAAIPBIJhl5vq0GLQtFhpfaAAADs=);
		border-radius: $border-radius + 1;
		position: absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
		opacity: 0.3;
	}

	&:before {
		background: $panel-placeholder-color;
		margin: 1px;
		box-sizing: border-box;
		opacity: 1;
		z-index: 1;
	}
}

.mod-panel-clean {

	.panel-hdr {
		background: $white;
		background-image: linear-gradient(to bottom,#f7f7f7, $white);
		border-bottom: 0;
		
		h2 {
			color: #333;
			font-weight: 500;
		}

	}

	.panel-container {
		padding-top: $p-1;
	}
	
}	

@media only screen and ( max-width: 420px ){

	.card {
		&.panel {
			.panel-hdr {
				padding: 0 10px;
				font-size: rem($panel-hdr-font-size);
				color: #060606;
				min-height: $panel-hdr-height - 4;
			}
			.panel-container {
				padding: 0 10px 10px;
			}
		}
	}

}

/* print only selected panel when on fullscreen */
@media print {
	.panel-fullscreen {
		.subheader,
		.page-breadcrumb,
		#content .panel:not(.panel-fullscreen) {
			display: none;
		}

		.panel-hdr,
		.panel-container,
		h2 {
			border: none;
			padding: 0 !important;
		}

		.panel {
			margin: 0;
		}
	}
}