.alt {
    padding: 0 !important;

    .footer {
        width: 100% !important;
    }
}

.page-error {
    font-size: 600% !important;
    font-weight: bold !important;

    small {
        font-size:40%;
        font-weight: 500;
    }
}

.h-alt-f {
   min-height: unquote("calc(100vh - #{$footer-height + ( (map-get($grid-gutter-widths, xl) + 15 ) * 2) })");
   width: 100%;
}

.h-alt-hf {
   min-height: unquote("calc(100vh - #{ $footer-height + $header-height + ( (map-get($grid-gutter-widths, xl) + 15 ) * 2) })"); 
   width: 100%;
}