.subheader {
	margin-bottom: $grid-gutter-width-base - 5;
	//margin-bottom: $grid-gutter-width-base - 15;
	position: relative;

	display: flex;
	flex-direction: row;
	align-items: center; 
}

.subheader-icon {
	color: $nav-icon-hover-color;
}

.subheader-title {
	font-size: $fs-xxl; //unquote("calc(16px + 5 * ((100vw - 320px) / 680))") //$fs-xxl;
	font-weight: 400;
	color: $fusion-500;
	text-shadow: $white 0 1px;
	margin: 0;

	flex: 1;

	sup.badge {
		text-shadow: none;
		position: absolute;
		margin-top: 12px;
		margin-left: $p-1;
		font-size: rem($fs-xs - 0.5) !important;
	}

	small {
		font-weight: 400;
		//font-size: $fs-lg; 
		color: #68747d; //$fusion-100;
		margin-bottom: 0;
		font-size: $h6-font-size;
	}
}