.page-footer {
	height: $footer-height;
	display: flex;
	align-items:center;
	background: $footer-bg;
    color:$footer-text-color;
    font-size: rem($footer-font-size);
    padding: 0 1.75rem;
    order: 4;
}
