.tooltip-inner {
	font-family: $page-font;
	font-weight: 500;
	background-color: $tooltip-bg;
	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	border: 1px solid #ccc;
}
.tooltip .arrow {
	display: none;
}