#page-wrapper {
	padding-left: $nav-width;
	position: relative;
	width: 100%;
	min-height: 100%;
	//background: $page-bg url("#{$baseURL}img/backgrounds/page-bg.png") repeat;

	background-color: $page-bg;
    background-image: -webkit-radial-gradient(top, circle cover, lighten($page-bg, 3%) 0%, $page-bg 70%);
    background-image: -moz-radial-gradient(top, circle cover, lighten($page-bg, 3%) 0%, $page-bg 70%);
    background-image: -o-radial-gradient(top, circle cover, lighten($page-bg, 3%) 0%, $page-bg 70%);
    background-image: radial-gradient(top, circle cover, lighten($page-bg, 3%) 0%, $page-bg 70%);	
}