.subheader {
	margin-bottom: $grid-gutter-width-base - 5;
	position: relative;

	display: flex;
	flex-direction: row;
	align-items: center; 
}

.subheader-icon {
	color: $nav-icon-hover-color;
}

.subheader-title {
	font-size: rem($fs-xxl); //unquote("calc(16px + 5 * ((100vw - 320px) / 680))") //$fs-xxl;
	font-weight: 400;
	color: $fusion-500;
	text-shadow: $white 0 1px;
	margin: 0;

	flex: 1;

	sup.badge {
		text-shadow: none;
		position: absolute;
		margin-top: 10px;
		margin-left: $p-1;
		font-size: 40%;
    	padding: 2px 5px;
    	line-height: normal;
	}

	small {
		font-weight: 400;
		color: #68747d; //$fusion-100;
		margin-bottom: 0;
		font-size: rem($fs-md);
	}
}