.page-breadcrumb {
		padding:0;
		background:transparent;
		margin:0 0 20px;
		position: relative;
		text-shadow: $white 0 1px;

	> li {

		> a {
			text-decoration: none !important;
		}

		&.breadcrumb-item {
			font-size: rem($page-breadcrumb-font-size);
			max-width: 130px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;

			@extend %common-animation-slow;

			&:hover {
				max-width: 200px !important;
				cursor: default;
			}
		}
	}
}

