.logo {
	height:$header-height;
	width: $nav-width;
	background: lighten($nav-background, 5%);
	border-bottom: 1px solid $header-logo-border-bottom;
	overflow: hidden; 
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;

	@extend %general-animation;

	img {
		width: $header-logo-width;
		height: $header-logo-height;
	}

	>.minify-logo {
		display: none;
	}

}

body:not(.header-function-fixed) {
	.logo {
		@extend %general-animation;
	}
}

