.logo {
	height:$header-height;
	width: $nav-width;
	background: lighten($nav-background, 5%);
	//border-bottom: 1px solid $header-logo-border-bottom;
	
	overflow: hidden; 
	text-align: center;
	display: flex;
	align-items: center;
	//justify-content: center;

	padding: 0 $nav-padding-left;

	@extend %general-animation;

	img {
		width: $header-logo-width;
		height: $header-logo-height;
	}

}

.logo-text {
	margin-left: $nav-icon-margin-right;
	font-weight: 300;
	font-size: 1.125rem;
	color: $white;
	display: block;
}

body:not(.header-function-fixed) {
	.logo {
		@extend %general-animation;
	}
}

