.page-heading {
	margin-bottom: $grid-gutter-width-base - 4;
	//margin-bottom: $grid-gutter-width-base - 15;
	position: relative;

	display: flex;
	flex-direction: row;
	align-items: center; 

	.page-header {
		//font-size: $fs-xxl;
		font-size: unquote("calc(16px + 5 * ((100vw - 320px) / 680))");
		font-weight: 300;
		color: $fusion-500;
		text-shadow: $white 0 1px;
		margin: 0;

		flex: 1;

		sup.badge {
			text-shadow: none;
			position: absolute;
			margin-top: 12px;
			margin-left: $p-1;
			font-size: rem($fs-xs - 0.5) !important;
		}

	    small {
	    	font-weight: 400;
	    	font-size: $fs-lg; 
	    	color: #434c54; //$fusion-100;
	    	//margin-top: -2px;
	    	margin-bottom: 0;
	    }
	}
}