/* PLACEHOLDER 
============================================= */

/*

%bg-image {
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.image-one {
    @extend %bg-image;
    background-image:url(/img/image-one.jpg");
}

RESULT:

.image-one, .image-two {
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

*/

%shadow-hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 0 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 -1px 6px rgba(0,0,0,0.23);
  }
}

%btn-default {
  @include gradient-img($start: #f5f5f5,$stop: #f1f1f1);
  color: #444;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: none;

  &:hover {
    box-shadow: none;
    border: 1px solid #c6c6c6;
    color: #333;
    z-index: 2;
  }

  &:focus {
    border-color: $primary-200 !important;
    z-index: 3;
  }
}

%custom-scroll {

  &::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }

 &::-webkit-scrollbar-thumb:vertical {
    background-color: #666;
  }

  &::-webkit-scrollbar {
    height: rem(4px);
    width: rem(4px);
  }

 &::-webkit-scrollbar-corner {
    width: rem(40px);
  }

  &::-webkit-scrollbar-thumb:vertical {
  background-color: #666;
  }

  overflow: hidden;
  -webkit-overflow-scrolling: touch;

}

%user-select {
    -webkit-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none;
}

%content-box {
  box-sizing: content-box;
}

%transform-3d {
  @include translate3d(0,0,0);
}


%stop-transform-3d {
            transform: none;
    -webkit-transform: none;
        -ms-transform: none;
}

%general-animation {
     @if $enable-animation != false {
       transition: $nav-hide-animate;
    }        
}

%common-animation-slow {
    @if $enable-animation != false {
        @include transition(0.3s,ease-in-out);
    }
}

%common-animation {
    @if $enable-animation != false {
        @include transition(0.2s,ease-in-out);
    }
}

%common-animation-easeout {
    @if $enable-animation != false {
        @include transition(0.4s,ease-out);
    }
}

%common-animation-opacity {
    @if $enable-animation != false {
      transition: opacity 0.5s ease-in-out;
    }
}

%common-animation-opacity-faster {
    @if $enable-animation != false {
      transition: opacity 0.1s ease-in-out;
    }
}

%stop-animation {
  transition: none;
}

%font-smoothing {
     -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

%set-settings {
  color:$white;
  background:$color-primary !important;
  &:before {
    content:"ON" !important;
    left:rem(7px) !important;
    right:auto !important;
  }
  &:after {
    content: " " !important;
    right:0 !important;
    left:auto !important;
    background:$white !important;
    color:$color-primary !important;
  }

  + .onoffswitch-title {
    font-weight:500;
    color:darken($settings-panel-bg, 60%);
  }
}

%bg-img-cover {
  background-size: cover;
}

%not-compatible {
    position:relative;
    
    .onoffswitch-title {
      color: $warning-700 !important;
    }
    .onoffswitch-title-desc {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width:140px;
      color: $warning-500 !important;
    }
    &:after {
      content: "DISABLED";
      @extend %incompatible;
    }
}

%not-compatible-override {
    &:before {
      display:none !important;
    }
}

%ping-badge {
  position: absolute;
  display: block;
  border-radius: rem($nav-badge-height + 1);
  background-color: $nav-badge-bg-color;
  color: $nav-badge-color;
  text-align: center;
  font-size: rem(8px);
  cursor: pointer;
  top: rem($nav-padding-top - 3.2);
  right: auto;
  left: $nav-badge-left-px;
  @include box-shadow(0 0 0 1px $nav-background);
  border: 1px solid $nav-background;
  height: rem($nav-badge-height);
  min-width: rem($nav-badge-height+1);
  max-width: rem($nav-badge-max-width);
  padding: rem(2px);
  font-weight: 500;
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: text-bottom;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//this one
%fixed-header-shadow {
  @include box-shadow(0 rem(2px) rem(2px) rem(-1px) rgba(0,0,0,.1));
}

%header-btn {
  @extend %btn-default;
  @include rounded(rem($header-btn-border-radius));

  height: rem($header-btn-height) !important;
  width:rem($header-btn-width);
  vertical-align: middle;
  line-height: rem($header-btn-height - 2);
  margin-right: $grid-gutter-width-base/4 + 3;
  font-size:rem($header-btn-font-size);
  padding: $list-table-padding-y rem($list-table-padding-x);
  cursor: default;
  color:$header-btn-color;

  &.livicon {
   line-height: 0 !important;
   padding-top:rem(($header-btn-height - 23) / 2) !important;
  }

  &.active {
    @extend %header-btn-active;
  }

}

%expanded-box {
  border: 1px solid lighten($fusion-400, 50%);
  border-width: 1px 0;
  background:$white;
}

%header-btn-active {
  background: $header-btn-active-bg !important;
  border-color: darken($header-btn-active-bg, 10%) !important;
  @include box-shadow(inset 0 0 3px 1px rgba(0,0,0,.37));
  color:$header-btn-active-color !important;
  path {
    fill:$header-btn-active-color;
  }
}

%header-dropdown {
  margin: 0;
  border-radius: 2px;
  width: rem($header-dropdown-menu-normal-width);
  height: rem($header-dropdown-menu-normal-height + 120);
  position:absolute;

  &.dropdown-sm {
    width: ($header-dropdown-menu-normal-width - 50) !important;
    height: auto !important;
  }

  &.dropdown-xl {
    width: rem($header-dropdown-menu-large-width);
    height: $header-dropdown-menu-long-height !important;
  }

  right: 0;
  left: auto;
  top:$header-height;
  border: 1px solid $header-dropdown-menu-border-color;

  @include drop-shadow(0, 2px, 10px, 0.2);

  /*outline: none;
  overflow: auto;*/
  -webkit-user-select: text;
}

@include media-breakpoint-up($mobile-breakpoint) {
  %selected-dot {
    &:before {
      content: " ";
      display: block;
      padding: 5px;
      border-radius: 50%;
      background: $primary-500;
      border: 3px solid $white;
      position: absolute;
      top: 33%;
      left: 33%;
    }
  }
}

%spin-loader {
  margin: 5px;
  height: 20px;
  width: 20px;
  animation: spin 0.5s infinite linear;
  border: 2px solid $color-primary;
  border-right-color: transparent;
  border-radius: 50%;
}

%incompatible {
  display: block;
  position: absolute;
  background: $warning-50;
  font-size: 10px;
  width: 65px;
  text-align: center;
  border: 1px solid $warning-800;
  height: 22px;
  line-height: 20px;
  border-radius: 10px;
  right: 13px;
  top: 26%;
  color:$fusion-900;
}

/* patterns */
%pattern-0 {
  background-size: 10px 10px;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                    transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                    transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                    transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                    transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .07) 25%, transparent 25%,
                    transparent 50%, rgba(255, 255, 255, .07) 50%, rgba(255, 255, 255, .05) 75%,
                    transparent 75%, transparent);
  -pie-background: linear-gradient(45deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                   transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                   transparent 75%, transparent) 0 0 / 10px 10px transparent;
  behavior: url(/pie/PIE.htc);
}

%pattern-1 {
  background-size: 5px 5px;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .04) 25%, transparent 25%,
                    transparent 50%, rgba(255, 255, 255, .04) 50%, rgba(255, 255, 255, .04) 75%,
                    transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .04) 25%, transparent 25%,
                    transparent 50%, rgba(255, 255, 255, .04) 50%, rgba(255, 255, 255, .04) 75%,
                    transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .04) 25%, transparent 25%,
                    transparent 50%, rgba(255, 255, 255, .04) 50%, rgba(255, 255, 255, .04) 75%,
                    transparent 75%, transparent);
  -pie-background: linear-gradient(45deg, rgba(255, 255, 255, .04) 25%, transparent 25%,
                   transparent 50%, rgba(255, 255, 255, .04) 50%, rgba(255, 255, 255, .04) 75%,
                   transparent 75%, transparent) 0 0 / 5px 5px transparent;
  behavior: url(/pie/PIE.htc);
}

%pattern-2 {
  background-size: 15px 15px;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
  background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
  -pie-background: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent) 0 0 / 15px transparent;
  behavior: url(/pie/PIE.htc);
}

%pattern-3 {
  background-size: 15px 15px;
  background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
  background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
  -pie-background: linear-gradient(90deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent) 0 0 / 15px 15px transparent;
  behavior: url(/pie/PIE.htc);
}

%pattern-4 {
  background-size: 37px 37px;
  background-position: 0 0, 18.5px 18.5px;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, .2) 75%, rgba(255, 255, 255, .2)),
                    -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, .2) 75%, rgba(255, 255, 255, .2));
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, .2) 75%, rgba(255, 255, 255, .2)),
                    -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, .2) 75%, rgba(255, 255, 255, .2));
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, .2) 75%, rgba(255, 255, 255, .2)),
                    linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, .2) 75%, rgba(255, 255, 255, .2));
  -pie-background: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, .2) 75%, rgba(255, 255, 255, .2)) 0 0 / 37px,
                   linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, .2) 75%, rgba(255, 255, 255, .2)) 37px 37px / 74px,
                   transparent;
  behavior: url(/pie/PIE.htc);
}

%pattern-5 {
  background-size: 37px 37px;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, .2) 75%, rgba(255, 255, 255, .2)),
                    -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, .2) 75%, rgba(255, 255, 255, .2));
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, .2) 75%, rgba(255, 255, 255, .2)),
                    -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, .2) 75%, rgba(255, 255, 255, .2));
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, .2) 75%, rgba(255, 255, 255, .2)),
                    linear-gradient(135deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, .2) 75%, rgba(255, 255, 255, .2));
  -pie-background: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, .2) 75%, rgba(255, 255, 255, .2)) 0 0 / 60px,
                   linear-gradient(135deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, .2) 75%, rgba(255, 255, 255, .2)) 0 0 / 60px,
                   #eee;
  behavior: url(/pie/PIE.htc);
}

%pattern-6 {
  background-size: 50px 50px;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                    transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                    transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                    transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                    transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                    transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                    transparent 75%, transparent);
  -pie-background: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                   transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                   transparent 75%, transparent) 0 0 / 50px 50px transparent;
  behavior: url(/pie/PIE.htc);
}

