#right-panel {

	display: block;
	position: fixed;
	width: rem($settings-width);
	right: rem(-$settings-width);
	top: 0;
	bottom:0;
	will-change: left, right;
	z-index: $depth-settings;
	background: $settings-panel-bg;
	border-left: 1px solid lighten($fusion-50, 15%);

	transition: 470ms cubic-bezier(.99,.01,.09,1);
    
	&:before {
		content: "";
		width: 1px;
		height: 100%;
		position:inherit;
		border-left: 1px dotted rgba($black,.4);
		z-index: inherit;
		right:0;
	}

	.tab-content {
		padding-top: rem(13px);
	}

	.nav-pills {
		.nav-item {

			&:first-child {
				> .nav-link {
					border-left:1px solid lighten($fusion-50, 15%);
				}
			}

			.nav-link {
				border-radius: 0;
				font-weight: 500;

				&.active {
					background: transparent;
					border-bottom: 0;
					color:$color-primary;
				}
			}
		}
	}

	#saving {
		position:inherit;
		z-index: inherit;
		top: $header-height + 5;
    	left: -40px;
    	display: none;
	}

	#opener {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		background: #2a2e33;
		color: $white;
		top: 105px;
		left: -40px;
		font-size: 18px;
	}

}

// localstorage success fade animation
.saving {

	#saving {
		@extend %spin-loader;
		display: block !important;
	}

	[data-action="app-reset"] {
		opacity: 0.5;
		cursor: not-allowed !important;
	}

}

// right panel opened
.display-right-panel {

	#right-panel {
		right:0;
		@include box-shadow( 0 rem(2px) rem(30px) rem(2px) rgba(0,0,0,0.22) );
	}

	[data-class="display-right-panel"] {
		background:$fusion-400;
		position: fixed;
	    right: rem($settings-width);
	    top: 0;
	    z-index: $depth-settings + 1;

	    > .fa,
	    > .#{$cust-icon-prefix} {
	    	color: $white !important;
	    }
	}

	// hide dropdowns
	.dropdown-menu {
		display:none;
	}
}