#settings-wrap {

	height: unquote("calc(100% - 34px)");
	overflow-x: auto;

	.settings-panel {

		&:first-child {
			h5 {
				margin-top:0;
				padding-top:5px;
			}
		}

		h5 {
			margin:0;
			font-weight:500;
			font-size: rem($base-font-size + 1);
			padding: 15px 15px 5px;
			box-sizing: content-box;
			display: block;
			overflow:hidden;
			text-decoration: none;
			margin-top: 5px;
			color: $fusion-500;
			text-align: left;

			small {
				display: inline;
			}
		}

		.list {
			width:100%;
			font-weight:400;
			min-height:rem(35px);
			padding: rem(7px) rem(15px) rem(7px) rem(15px);
			color:darken($settings-panel-bg, 60%);
			position: relative;

			display: flex;
			flex-direction: column;
			justify-content: center;

			@extend %common-animation;

			&:hover{
				color:darken($settings-panel-bg, 80%);
				background:rgba( $white, .7 );

				.onoffswitch {
					@include scale(1.13);
				}
			}

			.onoffswitch,
			&:hover .onoffswitch {
				@extend %common-animation;
			}

			.btn-switch {
				position: absolute;
				right: 15px;
				margin: 0;

			}

			& + .expanded {
				@extend %expanded-box;
				position: relative;
				padding: 9px 15px 6px;
				display: none;

				&:before,
				&:after {
					content:" ";
					border-color: transparent;
					border-bottom-color: $white;
					border-style: dashed dashed solid;
					border-width: 0 rem(8.5px) rem(8.5px);
					position: absolute;
					right: rem($header-non-btn-width/3);
					top: -8px;
					right: 12%;
					height: 0;
					width: 0;
				}
				&:before {
					border-bottom-color: $fusion-400;
					bottom: 1px;
				}

				> ul {
					padding: 0;
					margin: 0;
					text-align: center;
					
					> li {
						display: inline-block;
						margin:0;
						padding:0;

						&:last-child {
							[data-action="toggle"] {
								margin-right:0;
							}
						}
					}
				}

				.list {
					padding: 0 0 0 7px;
					min-height: auto;
					margin-top: 8px;

					.btn-switch {
						margin-top:3px;
						@include scale(0.9);

						& + .onoffswitch-title {
							font-size:12px;
						}
					}

					&:hover {
						background:transparent;
					}
				} 
			}

		}
	}
}


@include set-settings(display-right-panel);
@include set-settings(header-function-fixed);
@include set-settings(nav-function-fixed);
@include set-settings(nav-function-minify);
@include set-settings(nav-function-hidden);
@include set-settings(nav-function-top);
@include set-settings(nav-function-hover);
@include set-settings(nav-mobile-push);
@include set-settings(nav-mobile-no-overlay);
@include set-settings(nav-mobile-slide-out);
@include set-settings(mod-main-boxed);
@include set-settings(mod-fixed-bg);
@include set-settings(mod-clean-page-bg);
@include set-settings(mod-pace-custom);
@include set-settings(mod-bigger-font);
@include set-settings(mod-high-contrast);
@include set-settings(mod-color-blind);
@include set-settings(mod-hide-nav-icons);
@include set-settings(mod-hide-info-card);
@include set-settings(mod-lean-page-header);
@include set-settings(mod-disable-animation);
@include set-settings(mod-app-rtl);