<div class="btn-group pt-3 pr-3 pb-3 pl-3 d-flex flex-row" data-toggle="buttons">
	<!--<label class="btn btn-default active mb-0 flex-1 fw-500">
		<input type="radio" name="options" id="online" checked=""> Online
	</label>
	<label class="btn btn-default mb-0 flex-1 fw-500">
		<input type="radio" name="options" id="invisible"> Invisible
	</label>-->
	<div class="d-flex flex-row align-items-center">
		<span class="status status-online mr-3">
			<img src="img/avatar-sunny.png" class="rounded-circle" alt="Dr. Codex Lantern">
		</span>
		<div class="info-card-text">
			<div data-elipsis="xs">Dr. Codex Lantern</div>
			<span><a href="#">View profile</a></span>
		</div>
	</div>
</div>
<!--<div class="dropdown-menu-title m-0">Account</div>-->
<div class="dropdown-divider mt-0"></div>
<div class="dropdown-item d-flex align-items-center">
	Change Language <i class="text-muted font-xs">&nbsp;(demo only) </i> <i class="icon icon-chevron-right ml-auto"></i>
	<ul class="dropdown-item-menu pull-left">
		<li><a href="#?lang=fr" class="dropdown-item">Français</a></li>
		<li><a href="#?lang=en" class="dropdown-item active">English (US)</a></li>
		<li><a href="#?lang=es" class="dropdown-item">Español</a></li>
		<li><a href="#?lang=ru" class="dropdown-item">Русский язык</a></li>
		<li><a href="#?lang=ch" class="dropdown-item">日本語</a></li>
	</ul>
</div>
<a href="#" class="dropdown-item" data-action="toggle" data-class="display-right-panel">Change Settings</a>
<div class="dropdown-divider"></div>
<a href="#" class="dropdown-item" data-action="app-reset">Reset Layout</a>
<a href="#" class="dropdown-item" data-action="app-fullscreen">App Fullscreen <i class="float-right text-muted fw-n">F11</i></a>
<a href="#" class="dropdown-item" data-action="app-print">Print <i class="float-right text-muted fw-n">Ctrl + P</i></a>
<div class="dropdown-divider mb-0"></div>
<a class="dropdown-item fw-500 pt-3 pb-3" href="page_login.html">Logout <span class="float-right fw-n">@codexlantern</span></a>
