<ul class="nav nav-pills nav-table-cell p-3" role="tablist">
	<li class="nav-item">
		<a class="nav-link no-ripple" data-toggle="tab" href="#messages">Messages</a>
	</li>
	<li class="nav-item">
		<a class="nav-link no-ripple" data-toggle="tab" href="#feeds">Feeds</a>
	</li>
	<li class="nav-item">
		<a class="nav-link no-ripple" data-toggle="tab" href="#events">Events</a>
	</li>
</ul>
<div class="tab-content tab-notification">
	<div class="tab-pane active text-center">
		<h3>Click a button to show 
			<small>
				This blank page message helps protect your privacy, or you can show the first message here automatically.
			</small>
		</h3>
	</div>
	<div class="tab-pane custom-scroll" id="messages" role="tabpanel">
		<div>
			<ul class="notification">
				<li class="unread">
					<a href="#" class="d-flex align-items-center">
						<img src="img/avatar-male.png" class="profile-image rounded-circle" alt="Dr. Codex Lantern">
						<span class="d-flex flex-column flex-1">
							<span class="name">John Doe</span>
							<span class="msg-a font-xs">Msed quia non numquam eius</span>
							<span class="msg-b font-micro">Hello again and thanks for being a part of the...</span>
							<span class="time msg-c text-muted">2 minutes ago</span>
						</span>
					</a>
				</li>
				<li class="unread">
					<a href="#" class="d-flex align-items-center">
						<img src="img/avatar-male.png" class="profile-image rounded-circle" alt="Dr. Codex Lantern">
						<span class="d-flex flex-column flex-1">
							<span class="name">John Doe</span>
							<span class="msg-a font-xs">Msed quia non numquam eius</span>
							<span class="msg-b font-micro">Hello again and thanks for being a part of the...</span>
							<span class="time msg-c text-muted">2 minutes ago</span>
						</span>
					</a>
				</li>
				<li>
					<a href="#" class="d-flex align-items-center">
						<img src="img/avatar-male.png" class="profile-image rounded-circle" alt="Dr. Codex Lantern">
						<span class="d-flex flex-column flex-1">
							<span class="name">John Doe</span>
							<span class="msg-a font-xs">Msed quia non numquam eius</span>
							<span class="msg-b font-micro">Hello again and thanks for being a part of the...</span>
							<span class="time msg-c text-muted">2 minutes ago</span>
						</span>
					</a>
				</li>
				<li>
					<a href="#" class="d-flex align-items-center">
						<img src="img/avatar-male.png" class="profile-image rounded-circle" alt="Dr. Codex Lantern">
						<span class="d-flex flex-column flex-1">
							<span class="name">John Doe</span>
							<span class="msg-a font-xs">Msed quia non numquam eius</span>
							<span class="msg-b font-micro">Hello again and thanks for being a part of the...</span>
							<span class="time msg-c text-muted">2 minutes ago</span>
						</span>
					</a>
				</li>
				<li>
					<a href="#" class="d-flex align-items-center">
						<img src="img/avatar-female.png" class="profile-image rounded-circle" alt="Dr. Codex Lantern">
						<span class="d-flex flex-column flex-1">
							<span class="name">John Doe</span>
							<span class="msg-a font-xs">Msed quia non numquam eius</span>
							<span class="msg-b font-micro">Hello again and thanks for being a part of the...</span>
							<span class="time msg-c text-muted">2 minutes ago</span>
						</span>
					</a>
				</li>
				<li>
					<a href="#" class="d-flex align-items-center">
						<img src="img/avatar-male.png" class="profile-image rounded-circle" alt="Dr. Codex Lantern">
						<span class="d-flex flex-column flex-1">
							<span class="name">John Doe</span>
							<span class="msg-a font-xs">Msed quia non numquam eius</span>
							<span class="msg-b font-micro">Hello again and thanks for being a part of the...</span>
							<span class="time msg-c text-muted">2 minutes ago</span>
						</span>
					</a>
				</li>
				<li>
					<a href="#" class="d-flex align-items-center">
						<img src="img/avatar-male.png" class="profile-image rounded-circle" alt="Dr. Codex Lantern">
						<span class="d-flex flex-column flex-1">
							<span class="name">John Doe</span>
							<span class="msg-a font-xs">Msed quia non numquam eius</span>
							<span class="msg-b font-micro">Hello again and thanks for being a part of the...</span>
							<span class="time msg-c text-muted">2 minutes ago</span>
						</span>
					</a>
				</li>				
			</ul>
		</div>
	</div>
	<div class="tab-pane custom-scroll" id="feeds" role="tabpanel">
		b
	</div>
	<div class="tab-pane" id="events" role="tabpanel">
		<div class="custom-scroll h-50">
			<div>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
			</div>
		</div>
		<div class="h-50">
			a
		</div>
	</div>
</div>
<div class="pt-1 pb-1 pr-3 pl-3 bg-faded card border-left-0 border-right-0 border-bottom-0 rounded-0 text-right">
	<a href="#" class="font-xs fw-500">view all notifications</a>
</div>