<ul class="app-list">
	<li>
		<a href="#" class="no-ripple">
			<i class="base base-2 color-primary-600"></i>
			<i class="icon mask base-3 top color-primary-700"></i>
			<i class="icon icon-settings top smaller-icon"></i>
			<span class="n">
				Services
			</span>
		</a>
	</li>
	<li>
		<a href="#" class="no-ripple">
			<i class="base base-2 color-primary-400"></i>
			<i class="icon mask md-mask top"></i>
			<i class="icon md-profile top color-primary-800"></i>
			<span class="n">
				Account
			</span>
		</a>
	</li>
	<li>
		<a href="#" class="no-ripple">
			<i class="base base-2 color-primary-200"></i>
			<i class="icon mask base-2 top color-primary-300 larger-icon"></i>
			<i class="icon icon-shield top"></i>
			<span class="n">
				Security
			</span>
		</a>
	</li>
	<li>
		<a href="#" class="no-ripple">
			<i class="base base-4 color-info-50"></i>
			<i class="icon mask icon-mask-sq top color-info-200"></i>
			<i class="icon icon-calendar top"></i>
			<span class="n">
				Calendar
			</span>
		</a>
	</li>
	<li>
		<a href="#" class="no-ripple">
			<i class="base base-7 color-info-200"></i>
			<i class="icon mask icon-mask top larger-icon color-info-500"></i>
			<i class="icon icon-graph top"></i>
			<span class="n">
				Stats
			</span>
		</a>
	</li>
	<li>
		<a href="#" class="no-ripple">
			<i class="base base-4 color-warning-600"></i>
			<i class="icon mask icon-mask-sq top color-warning-700"></i>
			<i class="icon icon-envelope top"></i>
			<span class="n">
				Messages
			</span>
		</a>
	</li>
	<li>
		<a href="#" class="no-ripple">
			<i class="base base-6 color-fusion-50"></i>
			<i class="icon mask base-4 top color-warning-300"></i>
			<i class="icon md-chat top"></i>
			<span class="n">
				Notes
			</span>
		</a>
	</li>
	<li>
		<a href="#" class="no-ripple">
			<i class="base base-4 color-success-500"></i>
			<i class="icon mask icon-mask top"></i>
			<i class="icon md-chat top"></i>
			<span class="n">
				Posts
			</span>
		</a>
	</li>
	<li>
		<a href="#" class="no-ripple">
			<i class="base base-7 color-warning-300"></i>
			<i class="icon md-chat top"></i>
			<span class="n">
				Maps
			</span>
		</a>
	</li>
	<li>
		<a href="#" class="no-ripple">
			<i class="base base-5 color-warning-700"></i>
			<i class="icon md-chat top"></i>
			<span class="n">
				Chat
			</span>
		</a>
	</li>
	<li>
		<a href="#" class="no-ripple">
			<i class="base base-3 color-fusion-300"></i>
			<i class="icon mask base-3 top color-fusion-400 larger-icon"></i>
			<i class="icon icon-phone top"></i>
			<span class="n">
				Phone
			</span>
		</a>
	</li>
	<li>
		<a href="#" class="no-ripple">
			<i class="base base-4 color-fusion-500"></i>
			<i class="icon md-chat top"></i>
			<span class="n">
				Projects
			</span>
		</a>
	</li>
	<li>
		<a href="#" class="no-ripple">
			<span class="n">
				Files
			</span>
		</a>
	</li>
	<li>
		<a href="#" class="no-ripple">
			<span class="n">
				News
			</span>
		</a>
	</li>
	<li>
		<a href="#" class="no-ripple">
			<span class="n">
				Photos
			</span>
		</a>
	</li>	
</ul>
