<ul class="nav nav-pills nav-table-cell p-3" role="tablist">
	<li class="nav-item">
		<a class="nav-link no-ripple" data-toggle="tab" href="#messages">Messages</a>
	</li>
	<li class="nav-item">
		<a class="nav-link no-ripple" data-toggle="tab" href="#feeds">Feeds</a>
	</li>
	<li class="nav-item">
		<a class="nav-link no-ripple" data-toggle="tab" href="#events">Events</a>
	</li>
</ul>
<div class="tab-content tab-notification">
	<div class="tab-pane active p-4 text-center bg-faded">
		<h5 class="text-muted mt-5 pt-5">Click a button above to activate tab
			<small>
				This blank page message helps protect your privacy, or you can show the first message here automatically through settings page
			</small>
		</h5>
	</div>
	<div class="tab-pane custom-scroll" id="messages" role="tabpanel">
		<div>
			<ul class="notification">
				<li class="unread">
					<a href="#" class="d-flex align-items-center">
						<img src="img/avatar-m.png" data-src="img/avatars/avatar-a.png" class="profile-image rounded-circle" alt="Dr. Codex Lantern" />
						<span class="d-flex flex-column flex-1">
							<span class="name">Adison Lee</span>
							<span class="msg-a font-base">Msed quia non numquam eius</span>
							<span class="a-tr font-nano text-muted">2 minutes ago</span>
						</span>
					</a>
				</li>
				<li class="unread">
					<a href="#" class="d-flex align-items-center">
						<img src="img/avatar-m.png" data-src="img/avatars/avatar-b.png" class="profile-image rounded-circle" alt="Dr. Codex Lantern" />
						<span class="d-flex flex-column flex-1">
							<span class="name">Oliver Kopyuv</span>
							<span class="msg-a font-base">Msed quia non numquam eius</span>
							<span class="a-tr font-nano text-muted">2 minutes ago</span>
						</span>
					</a>
				</li>
				<li>
					<div class="d-flex align-items-center">
						<img src="img/avatar-m.png" data-src="img/avatars/avatar-a.png" class="profile-image rounded-circle" alt="Dr. Codex Lantern" />
						<span class="d-flex flex-column flex-1">
							<span class="name"><span class="badge badge-success fw-n">SYSTEM UPDATE</span></span>
							<span class="msg-a font-base">Msed quia non numquam eius</span>
							<span class="a-tr font-nano text-muted">2 minutes ago</span>
						</span>
					</div>
				</li>
				<li>
					<div class="d-flex align-items-center">
						<img src="img/avatar-m.png" data-src="img/avatars/avatar-c.png" class="profile-image rounded-circle" alt="Dr. Codex Lantern" />
						<span class="d-flex flex-column flex-1">
							<span class="name">From: Melissa Ayre <span class="badge badge-primary fw-n a-tr">INBOX</span></span>
							<span class="msg-b font-base">Hello again and thanks for being part...</span>
							<span class="font-nano text-muted">2 minutes ago</span>
						</span>
					</div>
				</li>
				<li>
					<a href="#" class="d-flex align-items-center">
						<img src="img/avatar-m.png" data-src="img/avatars/avatar-e.png" class="profile-image rounded-circle" alt="Dr. Codex Lantern" />
						<span class="d-flex flex-column flex-1">
							<span class="name">Dr. John Cook PhD</span>
							<span class="msg-a font-base">Msed quia non numquam eius</span>
							<span class="a-tr font-nano text-muted">2 minutes ago</span>
						</span>
					</a>
				</li>
				<li>
					<a href="#" class="d-flex align-items-center">
						<img src="img/avatar-m.png" data-src="img/avatars/avatar-h.png" class="profile-image rounded-circle" alt="Dr. Codex Lantern" />
						<span class="d-flex flex-column flex-1">
							<span class="name">Sarah McBrook</span>
							<span class="msg-a font-base">Msed quia non numquam eius</span>
							<span class="a-tr font-nano text-muted">2 minutes ago</span>
						</span>
					</a>
				</li>
				<li>
					<a href="#" class="d-flex align-items-center">
						<img src="img/avatar-m.png"class="lazy profile-image rounded-circle" alt="Dr. Codex Lantern" />
						<span class="d-flex flex-column flex-1">
							<span class="name">Anothony Bezyeth</span>
							<span class="msg-a font-base">Msed quia non numquam eius</span>
							<span class="a-tr font-nano text-muted">2 minutes ago</span>
						</span>
					</a>
				</li>
				<li>
					<a href="#" class="d-flex align-items-center">
						<img src="img/avatar-m.png" data-src="img/avatars/avatar-j.png" class="profile-image rounded-circle" alt="Dr. Codex Lantern" />
						<span class="d-flex flex-column flex-1">
							<span class="name">Lisa Hatchensen</span>
							<span class="msg-a font-base">Msed quia non numquam eius</span>
							<span class="a-tr font-nano text-muted">2 minutes ago</span>
						</span>
					</a>
				</li>				
			</ul>
		</div>
	</div>
	<div class="tab-pane custom-scroll" id="feeds" role="tabpanel">
		<ul class="notification">
			<li class="unread">
				<a href="#" class="d-flex align-items-center">
					<span class="d-flex flex-column flex-1">
						<span class="msg-a font-base"><strong>Adison Lee</strong> replied to your video on <strong>Hadron Collider (LHC)</strong></span>
						<span class="font-nano text-muted">2 minutes ago</span>
					</span>
					<span>
						<img src="" data-src="img/thumbs/pic-2.png" alt="video-1" class="ml-3">
					</span>
				</a>
			</li>
			<li>
				<a href="#" class="d-flex align-items-center">
					<span class="d-flex flex-column flex-1">
						<span class="msg-a font-base">Msed quia non numquam eius</span>
						<span class="font-nano text-muted">2 minutes ago</span>
					</span>
				</a>
			</li>
			<li>
				<a href="#" class="d-flex align-items-center">
					<span class="d-flex flex-column flex-1">
						<span class="msg-a font-xs">Msed quia non numquam eius</span>
						<span class="msg-b font-micro">Hello again and thanks for being a part of the...</span>
						<span class="font-nano text-muted">2 minutes ago</span>
					</span>
				</a>
			</li>
			<li>
				<a href="#" class="d-flex align-items-center">
					<span class="d-flex flex-column flex-1">
						<span class="msg-a font-xs">Msed quia non numquam eius</span>
						<span class="msg-b font-micro">Hello again and thanks for being a part of the...</span>
						<span class="font-nano text-muted">2 minutes ago</span>
					</span>
				</a>
			</li>
			<li>
				<a href="#" class="d-flex align-items-center">
					<span class="d-flex flex-column flex-1">
						<span class="msg-a font-xs">Msed quia non numquam eius</span>
						<span class="msg-b font-micro">Hello again and thanks for being a part of the...</span>
						<span class="font-nano text-muted">2 minutes ago</span>
					</span>
				</a>
			</li>
			<li>
				<a href="#" class="d-flex align-items-center">
					<span class="d-flex flex-column flex-1">
						<span class="msg-a font-xs">Msed quia non numquam eius</span>
						<span class="msg-b font-micro">Hello again and thanks for being a part of the...</span>
						<span class="font-nano text-muted">2 minutes ago</span>
					</span>
				</a>
			</li>
			<li>
				<a href="#" class="d-flex align-items-center">
					<span class="d-flex flex-column flex-1">
						<span class="msg-a font-xs">Msed quia non numquam eius</span>
						<span class="msg-b font-micro">Hello again and thanks for being a part of the...</span>
						<span class="font-nano text-muted">2 minutes ago</span>
					</span>
				</a>
			</li>
		</ul>	
	</div>
	<div class="tab-pane" id="events" role="tabpanel">
		<div class="custom-scroll h-50">
			<div>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
				<p>a</p>
			</div>
		</div>
		<div class="h-50">
			a
		</div>
	</div>
</div>
<div class="pt-1 pb-1 pr-3 pl-3 bg-faded card d-block border-left-0 border-right-0 border-bottom-0 rounded-0 text-right">
	<a href="#" class="font-xs fw-500 ml-auto">view all notifications</a>
</div>