<div class="btn-group pt-3 pr-3 pb-3 pl-3 d-flex flex-row" data-toggle="buttons">
	<label class="btn btn-default active mb-0 flex-1 fw-500">
		<input type="radio" name="options" id="online" checked=""> Online
	</label>
	<label class="btn btn-default mb-0 flex-1 fw-500">
		<input type="radio" name="options" id="invisible"> Invisible
	</label>
</div>
<div class="dropdown-divider m-0"></div>
<div class="dropdown-item">
	Change language
	<ul class="dropdown-item-menu pull-left">
		<li><a href="#" class="dropdown-item fw-n">Français</a></li>
		<li><a href="#" class="dropdown-item active">English (US)</a></li>
		<li><a href="#" class="dropdown-item fw-n">Español</a></li>
		<li><a href="#" class="dropdown-item fw-n">Русский язык</a></li>
		<li><a href="#" class="dropdown-item fw-n">日本語</a></li>
	</ul>
</div>
<a class="dropdown-item" href="#" data-action="app-fullscreen">App Fullscreen</a>
<a class="dropdown-item" href="login.html">Logout <span class="float-right fw-n">@sunnylantern</span></a>
