<div class="btn-group pt-3 pr-3 pb-3 pl-3 d-flex flex-row" data-toggle="buttons">
	<label class="btn btn-default btn-sm active mb-0 flex-1">
		<input type="radio" name="options" id="online" checked=""> Online
	</label>
	<label class="btn btn-default btn-sm mb-0 flex-1">
		<input type="radio" name="options" id="invisible"> Invisible
	</label>
</div>
<div class="dropdown-divider m-0"></div>
<a class="dropdown-item" href="#">Change language (demo only)</a>
<a class="dropdown-item" href="#" data-action="app-fullscreen">App Fullscreen</a>
<a class="dropdown-item d-flex" href="login.html">Logout <span class="ml-auto strong fw-n">drsunny</span></a>
