<aside id="left-panel">

	{{> _common/_logo }}

	<!-- BEGIN PRIMARY NAVIGATION -->
	<nav id="primary-nav" role="navigation">
		
		{{> _common/_nav-filter }}
		{{> _common/_nav-info-card }}
		{{> _common/_nav }}

	</nav>
	<!-- END PRIMARY NAVIGATION -->

	<!-- NAV FOOTER -->
	{{> _common/_nav-footer }}
	<!-- END NAV FOOTER -->

</aside>
