{{!-- Infocard --}}
<div id="info-card">
	{{!-- <div class="info-card-date">Saturday, 21st, January 2016</div> --}}
	<img src="img/avatar-sunny.png" class="profile-image rounded-circle" alt="Dr. Codex Lantern">
	<div class="info-card-text">
		<div data-elipsis="xs">Dr. Codex Lantern</div>
		<span>Toronto, Canada</span>
	</div>
	<img src="img/cover-5.png" class="cover" alt="cover">
	<a href="javascript:void(0);" id="nav-filter-btn" class="pos-a" data-action="toggle" data-class="filter-nav">
		<i class="fa fa-angle-down"></i>
	</a>
</div>