<ul class="navigation">
	<li {{#is pagename "in" "intel_introduction,intel_colors,intel_responsive_grid,intel_build_notes,intel_how_it_works,intel_layout_options,intel_skin_options,intel_saving_db"}}class="active open"{{/is}}>
		<a href="#" title="NextGen Intel"> 
			<img src="img/logo-minify.png" alt="NextGen Logo" class="rounded-circle">
			<span class="navigation-link-text">NextGen Intel</span> 
		</a>
		<ul>
			<li {{#is pagename "===" "intel_introduction"}}class="active"{{/is}}>
				<a href="intel_introduction.html"> 
					<span class="navigation-link-text"> Introduction</span> 
				</a>
			</li>
			<li {{#is pagename "===" "intel_build_notes"}}class="active"{{/is}}>
				<a href="intel_build_notes.html"> 
					<span class="navigation-link-text"> Build Notes &nbsp; <i>v{{> _data/version-number}}</i></span> 
				</a>
			</li>
			<li {{#is pagename "===" "intel_colors"}}class="active"{{/is}}>
				<a href="intel_colors.html"> 
					<span class="navigation-link-text"> Color Pallet</span> 
				</a>
			</li>
			<li {{#is pagename "===" "intel_responsive_grid"}}class="active"{{/is}}>
				<a href="intel_responsive_grid.html"> 
					<span class="navigation-link-text"> Responsive Grid</span> 
				</a>
			</li>
			<li {{#is pagename "in" "intel_how_it_works,intel_layout_options,intel_skin_options,intel_saving_db"}}class="active open"{{/is}}>
				<a href="#"> 
					<span class="navigation-link-text">
						Theme Settings
					</span> 
				</a>
				<ul>
					<li {{#is pagename "===" "intel_how_it_works"}}class="active"{{/is}}>
						<a href="intel_how_it_works.html"> 
							<span class="navigation-link-text">
								How it works
							</span>
						</a>
					</li>
					<li {{#is pagename "===" "intel_layout_options"}}class="active"{{/is}}>
						<a href="intel_layout_options.html"> 
							<span class="navigation-link-text">
								Layout Options
							</span>
						</a>
					</li>
					<li {{#is pagename "===" "intel_skin_options"}}class="active"{{/is}}>
						<a href="intel_skin_options.html"> 
							<span class="navigation-link-text">
								Skin Options
							</span>
						</a>
					</li>
					<li {{#is pagename "===" "intel_saving_db"}}class="active"{{/is}}>
						<a href="intel_saving_db.html"> 
							<span class="navigation-link-text">
								Saving to Database
							</span>
						</a>
					</li>
				</ul>		
			</li>
		</ul>	
	</li>
	<li {{#is pagename "in" "info_app_flavors,info_app_licensing,info_app_package,info_docs"}}class="active open"{{/is}}>
		<a href="#" title="Package Info"> 
			<i class="icon icon-tag"></i>
			<span class="navigation-link-text">
				Package Info
			</span> 
		</a>						
		<ul>
			<li {{#is pagename "===" "info_docs"}}class="active"{{/is}}>
				<a href="documentation-and-faq.html"> 
					<span class="navigation-link-text">
						Documentation
					</span> 
				</a>
			</li>
			<li {{#is pagename "===" "info_app_package"}}class="active"{{/is}}>
				<a href="info_package.html"> 
					<span class="navigation-link-text">
						Package Files
					</span> 
				</a>
			</li>
			<li {{#is pagename "===" "info_app_licensing"}}class="active"{{/is}}>
				<a href="info_app_licensing.html"> 
					<span class="navigation-link-text">
						Product Licensing
					</span> 
				</a>
			</li>
			<li {{#is pagename "===" "info_app_flavors"}}class="active"{{/is}}>
				<a href="info_app_flavors.html"> 
					<span class="navigation-link-text">
						Different Flavors
					</span> 
				</a>
			</li>

		</ul>
	</li>
</ul>
<p class="navigation-title">
	Ingredients
</p>
<ul class="navigation">
	<li {{#is pagename "in" "ui_alerts,ui_breadcrumbs,ui_buttons,ui_cards_wells,ui_carousel,ui_helpers,ui_icons_fontawesome,ui_icons_ng,ui_labels_badges,ui_navbars,ui_pagination,ui_tabs_accordions,ui_progress_bars,ui_scrollspy,ui_tooltips_popovers,ui_typography,ui_fonts"}}class="active open"{{/is}}>
		<a href="#" title="UI Components"> 
			<i class="icon icon-fire"></i>
			<span class="navigation-link-text">UI Components</span> 
		</a>
		<ul>
			<li {{#is pagename "===" "ui_alerts"}}class="active"{{/is}}>
				<a href="ui_alerts.html"> 
					<span class="navigation-link-text">Alerts</span> 
				</a>
			</li>
			<li {{#is pagename "===" "ui_breadcrumbs"}}class="active"{{/is}}>
				<a href="ui_breadcrumbs.html"> 
					<span class="navigation-link-text">Breadcrumbs</span> 
				</a>
			</li>
			<li {{#is pagename "===" "ui_buttons"}}class="active"{{/is}}>
				<a href="ui_buttons.html"> 
					<span class="navigation-link-text">Buttons</span> 
				</a>
			</li>
			<li {{#is pagename "===" "ui_cards_wells"}}class="active"{{/is}}>
				<a href="ui_cards_wells.html"> 
					<span class="navigation-link-text">Cards & Wells</span> 
				</a>
			</li>
			<li {{#is pagename "===" "ui_carousel"}}class="active"{{/is}}>
				<a href="ui_carousel.html"> 
					<span class="navigation-link-text">Carousel</span> 
				</a>
			</li>
			<li {{#is pagename "===" "ui_helpers"}}class="active"{{/is}}>
				<a href="ui_helpers.html"> 
					<span class="navigation-link-text">Helpers</span> 
				</a>
			</li>
			<li {{#is pagename "===" "ui_labels_badges"}}class="active"{{/is}}>
				<a href="ui_labels_badges.html"> 
					<span class="navigation-link-text">Labels & Badges</span> 
				</a>
			</li>
			<li {{#is pagename "===" "ui_navbars"}}class="active"{{/is}}>
				<a href="ui_navbars.html"> 
					<span class="navigation-link-text">Navbars</span> 
				</a>
			</li>
			<li {{#is pagename "===" "ui_pagination"}}class="active"{{/is}}>
				<a href="ui_pagination.html"> 
					<span class="navigation-link-text">Pagination</span> 
				</a>
			</li>
			<li {{#is pagename "===" "ui_progress_bars"}}class="active"{{/is}}>
				<a href="ui_progress_bars.html"> 
					<span class="navigation-link-text">Progress Bars</span> 
				</a>
			</li>
			<li {{#is pagename "===" "ui_scrollspy"}}class="active"{{/is}}>
				<a href="ui_scrollspy.html"> 
					<span class="navigation-link-text">ScrollSpy</span> 
				</a>
			</li>
			<li {{#is pagename "===" "ui_tabs_accordions"}}class="active"{{/is}}>
				<a href="ui_tabs_accordions.html"> 
					<span class="navigation-link-text">Tabs & Accordions</span> 
				</a>
			</li>
			<li {{#is pagename "===" "ui_tooltips_popovers"}}class="active"{{/is}}>
				<a href="ui_tooltips_popovers.html"> 
					<span class="navigation-link-text">Tooltips & Popovers</span> 
				</a>
			</li>
			<li {{#is pagename "in" "a,b,ui_typography,ui_fonts"}}class="active open"{{/is}}>
				<a href="#"> 
					<i class="icon icon-fire"></i>
					<span class="navigation-link-text">
						Utilities
					</span> 
				</a>
				<ul>
					<li {{#is pagename "===" "ui_borders"}}class="active"{{/is}}>
						<a href="ui_borders.html"> 
							<span class="navigation-link-text">
								Borders
							</span>
						</a>
					</li>
					<li {{#is pagename "===" "ui_clearfix"}}class="active"{{/is}}>
						<a href="ui_clearfix.html"> 
							<span class="navigation-link-text">
								Clearfix
							</span>
						</a>
					</li>
					<li {{#is pagename "===" "ui_close_icon"}}class="active"{{/is}}>
						<a href="ui_close_icon.html"> 
							<span class="navigation-link-text">
								Close icon
							</span>
						</a>
					</li>
					<li {{#is pagename "===" "ui_colors"}}class="active"{{/is}}>
						<a href="ui_colors.html"> 
							<span class="navigation-link-text">
								Colors
							</span>
						</a>
					</li>
					<li {{#is pagename "===" "ui_fonts"}}class="active"{{/is}}>
						<a href="ui_fonts.html"> 
							<span class="navigation-link-text">
								Fonts
							</span>
						</a>
					</li>
					<li {{#is pagename "===" "ui_flexbox"}}class="active"{{/is}}>
						<a href="ui_flexbox.html"> 
							<span class="navigation-link-text">
								Flexbox
							</span>
						</a>
					</li>
					<li {{#is pagename "===" "ui_display_property"}}class="active"{{/is}}>
						<a href="ui_display_property.html"> 
							<span class="navigation-link-text">
								Display property
							</span>
						</a>
					</li>
					<li {{#is pagename "===" "ui_image_replacement"}}class="active"{{/is}}>
						<a href="ui_image_replacement.html"> 
							<span class="navigation-link-text">
								Image Replacement
							</span>
						</a>
					</li>
					<li {{#is pagename "===" "ui_invisible_content"}}class="active"{{/is}}>
						<a href="ui_invisible_content.html"> 
							<span class="navigation-link-text">
								Invisible content
							</span>
						</a>
					</li>
					<li {{#is pagename "===" "ui_position"}}class="active"{{/is}}>
						<a href="ui_position.html"> 
							<span class="navigation-link-text">
								Position
							</span>
						</a>
					</li>
					<li {{#is pagename "===" "ui_responsive_helpers"}}class="active"{{/is}}>
						<a href="ui_responsive_helpers.html"> 
							<span class="navigation-link-text">
								Responsive helpers
							</span>
						</a>
					</li>
					<li {{#is pagename "===" "ui_sizing"}}class="active"{{/is}}>
						<a href="ui_sizing.html"> 
							<span class="navigation-link-text">
								Sizing
							</span>
						</a>
					</li>
					<li {{#is pagename "===" "ui_spacing"}}class="active"{{/is}}>
						<a href="ui_spacing.html"> 
							<span class="navigation-link-text">
								Spacing
							</span>
						</a>
					</li>
					<li {{#is pagename "===" "ui_typography"}}class="active"{{/is}}>
						<a href="ui_typography.html"> 
							<span class="navigation-link-text">Typography</span> 
						</a>
					</li>
					<li {{#is pagename "===" "ui_alignments"}}class="active"{{/is}}>
						<a href="ui_alignments.html"> 
							<span class="navigation-link-text">
								Alignments
							</span>
						</a>
					</li>
				</ul>
			</li>	
			<li {{#is pagename "in" "ui_icons_fontawesome,ui_icons_ng"}}class="active open"{{/is}}>
				<a href="#"> 
					<span class="dl-ref bg-warning-800">
						<i class="icon icon-fire"></i>
					</span>
					<span class="navigation-link-text">
						Icons
					</span> 
				</a>
				<ul>
					<li {{#is pagename "===" "ui_icons_fontawesome"}}class="active"{{/is}}>
						<a href="ui_icons_fontawesome.html"> 
							<span class="dl-ref bg-info-200">&nbsp;70kb&nbsp;</span>
							<span class="navigation-link-text">
								Fontawesome Pro
							</span>
						</a>
					</li>
					<li {{#is pagename "===" "ui_icons_ng"}}class="active"{{/is}}>
						<a href="ui_icons_ng.html"> 
							<span class="dl-ref bg-info-200">&nbsp;20kb&nbsp;</span> 
							<span class="navigation-link-text">
								NextGen
							</span>
						</a>
					</li>
				</ul>		

			</li>
			<li>
				<a href="#"> 
					<span class="dl-ref bg-success-500">L1</span>
					<span class="navigation-link-text">
						Menu child
					</span> 
				</a>
				<ul>
					<li>
						<a href="#"> 
							<span class="dl-ref bg-warning-200">L2</span> 
							<span class="navigation-link-text">
								Sublevel
							</span> 
						</a>
					</li>
					<li>
						<a href="#"> 
							<i class="icon icon-note"></i>
							<span class="navigation-link-text">
								Sublevel w/ icon
							</span> 
						</a>
					</li>
				</ul>
			</li>
			<li class="disabled">
				<a href="#"> 
					<span class="dl-ref bg-success-500">L1</span>
					<span class="navigation-link-text">
						Disabled item
					</span> 
				</a>
			</li>
		</ul>
	</li>
	<li {{#is pagename "in" "datagrid_basic_tables,datagrid_responsive_tables"}}class="active open"{{/is}}>
		<a href="#" title="Datagrid"> 
			<i class="icon icon-layers"></i>
			<span class="navigation-link-text">Datagrid</span>
		</a>
		<ul>
			<li {{#is pagename "===" "datagrid_basic_tables"}}class="active"{{/is}}>
				<a href="datagrid_basic_tables.html"> 
					<span class="navigation-link-text">Basic tables</span> 
				</a>
			</li>
			<li {{#is pagename "===" "datagrid_responsive_tables"}}class="active"{{/is}}>
				<a href="datagrid_responsive_tables.html"> 
					<span class="navigation-link-text">Responsive tables</span> 
				</a>
			</li>
		</ul>
	</li>			
	<li {{#is pagename "in" "form_bs_example,form_material,form_material_example"}}class="active open"{{/is}}>
		<a href="#" title="Form Stuff"> 
			<i class="icon icon-note"></i>
			<span class="navigation-link-text">Form Stuff</span>
		</a>
		<ul>
			<li {{#is pagename "===" "form_material"}}class="active"{{/is}}>
				<a href="form_material.html"> 
					<span class="navigation-link-text">Material</span> 
				</a>
			</li>
			<li {{#is pagename "===" "form_examples"}}class="active"{{/is}}>
				<a href="form_material_example.html"> 
					<span class="navigation-link-text">Material Examples</span> 
				</a>
			</li>
			<li {{#is pagename "===" "form_bs"}}class="active"{{/is}}>
				<a href="form_bs"> 
					<span class="navigation-link-text">Bootstrap</span> 
				</a>
			</li>
			<li {{#is pagename "===" "form_bs"}}class="active"{{/is}}>
				<a href="form_bs_example"> 
					<span class="navigation-link-text">Bootstrap Example</span> 
				</a>
			</li>																															
		</ul>
	</li>
	<li {{#is pagename "in" "plugin_appcore,plugin_pacejs,plugin_panels,plugin_ripplejs,plugin_slimscroll,plugin_throttle,plugin_navigation"}}class="active open"{{/is}}>
		<a href="#" title="Plugins"> 
			<i class="icon icon-my-apps"></i>
			<span class="navigation-link-text">Core Plugins</span> 
		</a>
		<ul>
			<li {{#is pagename "===" "plugin_panels"}}class="active"{{/is}}>
				<a href="plugin_panels.html"> 
					<span class="navigation-link-text">
						Panels
						<span class="dl-ref label bg-fusion-500 ml-1">3 KB</span>
					</span>
				</a>
			</li>
			<li {{#is pagename "===" "plugin_pacejs"}}class="active"{{/is}}>
				<a href="plugin_pacejs.html"> 
					<span class="navigation-link-text">
						PaceJS
						<span class="dl-ref label bg-fusion-500 ml-1">13 KB</span> 
					</span>
				</a>
			</li>
			<li {{#is pagename "===" "plugin_ripplejs"}}class="active"{{/is}}>
				<a href="plugin_ripplejs.html"> 
					<span class="navigation-link-text">
						LegitRipple
						<span class="dl-ref label bg-fusion-500 ml-1">4 KB</span> 
					</span>
				</a>
			</li>
			<li {{#is pagename "===" "plugin_slimscroll"}}class="active"{{/is}}>
				<a href="plugin_slimscroll.html">
					 <span class="navigation-link-text">
						 SlimScroll
					 	<span class="dl-ref label bg-fusion-500 ml-1">5 KB</span>
					 </span>
				</a>
			</li>
			<li {{#is pagename "===" "plugin_throttle"}}class="active"{{/is}}>
				<a href="plugin_throttle.html"> 
					<span class="navigation-link-text">
						Throttle
						<span class="dl-ref label bg-fusion-500 ml-1">1 KB</span>
					</span>
				</a>
			</li>
			<li {{#is pagename "===" "plugin_navigation"}}class="active"{{/is}}>
				<a href="plugin_navigation.html"> 
					<span class="navigation-link-text">
						Navigation
						<span class="dl-ref label bg-fusion-500 ml-1">2 KB</span>
					</span>
				</a>
			</li>	
			<li {{#is pagename "===" "plugin_appcore"}}class="active"{{/is}}>
				<a href="plugin_appcore.html"> 
					<span class="navigation-link-text">
						App.Core
						<span class="dl-ref label bg-fusion-500 ml-1">14 KB</span>
					</span>
				</a>
			</li>							
		</ul>	
	</li>
	<li {{#is pagename "in" "page_blank,page_search,page_error,page_error_404"}}class="active open"{{/is}}>
		<a href="#" title="Pages"> 
			<i class="icon icon-plus"></i>
			<span class="navigation-link-text">Page Layouts</span> 
		</a>
		<ul>
			<li {{#is pagename "===" "blank"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span class="navigation-link-text">Blank</span>
				</a>
			</li>
			<li {{#is pagename "in" "page_forget,page_locked,page_login,page_register"}}class="active open"{{/is}}>
				<a href="#" title="Authentication Pages"> 
					<span class="navigation-link-text">Auth. Pages</span>
				</a>
				<ul>
					<li {{#is pagename "===" "forget"}}class="active"{{/is}}>
						<a href="page_forget.html"> 
							<span class="navigation-link-text">Forget Password</span>
						</a>
					</li>
					<li {{#is pagename "===" "locked"}}class="active"{{/is}}>
						<a href="page_locked.html"> 
							<span class="navigation-link-text">Locked Screen</span>
						</a>
					</li>
					<li {{#is pagename "===" "login"}}class="active"{{/is}}>
						<a href="page_login.html"> 
							<span class="navigation-link-text">Login</span>
						</a>
					</li>
					<li {{#is pagename "===" "register"}}class="active"{{/is}}>
						<a href="page_register.html"> 
							<span class="navigation-link-text">Register</span>
						</a>	
					</li>
				</ul>
			</li>
			<li {{#is pagename "in" "page_error_announced,page_error,page_error_404"}}class="active open"{{/is}}>
				<a href="#" title="Error Pages"> 
					<span class="navigation-link-text">Error Pages</span>
				</a>
				<ul>
					<li {{#is pagename "===" "page_error_announced"}}class="active"{{/is}}>
						<a href="page_error_announced.html"> 
							<span class="navigation-link-text">Announced Error</span>
						</a>
					</li>
					<li {{#is pagename "===" "page_error"}}class="active"{{/is}}>
						<a href="page_error.html"> 
							<span class="navigation-link-text">General Error</span>
						</a>
					</li>
					<li {{#is pagename "===" "page_error_404"}}class="active"{{/is}}>
						<a href="page_error_404.html"> 
							<span class="navigation-link-text">Server Error</span>
						</a>
					</li>
				</ul>
			</li>
			<li {{#is pagename "===" "page_search"}}class="active"{{/is}}>
				<a href="page_search.html"> 
					<span class="navigation-link-text">Search Results</span>
				</a>
			</li>
			<li {{#is pagename "===" "page_blank"}}class="active"{{/is}}>
				<a href="page_blank.html"> 
					<span class="navigation-link-text">---  <span class="label bg-warning-200 f-r">ADDON</span> </span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span class="navigation-link-text">---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span class="navigation-link-text">---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span class="navigation-link-text">---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span class="navigation-link-text">---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span class="navigation-link-text">---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span class="navigation-link-text">---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span class="navigation-link-text">---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span class="navigation-link-text">---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span class="navigation-link-text">---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span class="navigation-link-text">---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span class="navigation-link-text">---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span class="navigation-link-text">---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span class="navigation-link-text">---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span class="navigation-link-text">---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span class="navigation-link-text">---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span class="navigation-link-text">---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span class="navigation-link-text">---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span class="navigation-link-text">---</span>
				</a>
			</li>							
		</ul>	
	</li>
</ul>