<div id="nav-filter">
	<a href="javascript:void(0);" id="nav-filter-close" class="no-ripple a-tr mr-3 mt-3" data-action="toggle" data-class="filter-nav">
		<i class="fa fa-close"></i>
	</a>
	<input type="text" placeholder="Filter menu" class="form-control" tabindex="0">
</div> 