<ul class="nxtgn-nav">
	<li {{#is pagename "in" "introduction,color-pallet,responsive-grid,various-settings,build-notes"}}class="active"{{/is}}>
		<a href="#" title="NextGen Intel"> 
			<i class="icon icon-globe"></i>
			<span class="nxtgn-link-text">NextGen Intel</span> 
		</a>
		<ul class="nxtgn-sub-one">
			<li {{#is pagename "===" "introduction"}}class="active"{{/is}}>
				<a href="introduction.html"> 
					<span class="nxtgn-link-text"> Introduction</span> 
				</a>
			</li>
			<li {{#is pagename "===" "build-notes"}}class="active"{{/is}}>
				<a href="build-notes.html"> 
					<span class="nxtgn-link-text"> Build Notes <i>v{{> _data/version-number}}</i></span> 
				</a>
			</li>
			<li {{#is pagename "===" "color-pallet"}}class="active"{{/is}}>
				<a href="color-pallet.html"> 
					<span class="nxtgn-link-text"> Color Pallet</span> 
				</a>
			</li>
			<li {{#is pagename "===" "responsive-grid"}}class="active"{{/is}}>
				<a href="responsive-grid.html"> 
					<span class="nxtgn-link-text"> Responsive Grid</span> 
				</a>
			</li>
			<li {{#is pagename "===" "various-settings"}}class="active"{{/is}}>
				<a href="various-settings.html"> 
					<span class="nxtgn-link-text"> Various Settings</span> 
				</a>
			</li>

		</ul>	
	</li>
	<li {{#is pagename "in" "version-variation,downloaded-package,documentation-and-faq,theme-and-plugin-licensing"}}class="active"{{/is}}>
		<a href="#" title="Package Info"> 
			<i class="icon icon-tag"></i>
			<span class="nxtgn-link-text">Package Info</span> 
		</a>						
		<ul class="nxtgn-sub-one">
			<li {{#is pagename "===" "documentation-and-faq"}}class="active"{{/is}}>
				<a href="documentation-and-faq.html"> 
					<span class="nxtgn-link-text"> Documentation & FAQ</span> 
				</a>
			</li>
			<li {{#is pagename "===" "downloaded-package"}}class="active"{{/is}}>
				<a href="downloaded-package.html"> 
					<span class="nxtgn-link-text"> Downloaded Package</span> 
				</a>
			</li>
			<li {{#is pagename "===" "theme-and-plugin-licensing"}}class="active"{{/is}}>
				<a href="theme-and-plugin-licensing.html"> 
					<span class="nxtgn-link-text"> Theme & Plugin Licensing</span> 
				</a>
			</li>
			<li {{#is pagename "===" "version-variation"}}class="active"{{/is}}>
				<a href="version-variation.html"> 
					<span class="nxtgn-link-text"> Version Variation</span> 
				</a>
			</li>
		</ul>
	</li>
</ul>
<p class="nxtgn-nav-title">
	Ingredients
</p>
<ul class="nxtgn-nav">
	<li {{#is pagename "in" "buttons,progress-bars,tabs-and-accordions,labels-and-badges,tooltips-and-popovers,cards-and-wells,breadcrumbs,pagination,navbars,typography,helpers,fontawesome,nextgen-icons"}}class="active"{{/is}}>
		<a href="#" title="UI Components"> 
			<i class="icon icon-fire"></i>
			<span class="nxtgn-link-text">UI Components</span> 
		</a>
		<!-- Dropdown level one -->
		<ul class="nxtgn-sub-one">
			<li {{#is pagename "===" "breadcrumbs"}}class="active"{{/is}}>
				<a href="breadcrumbs.html"> 
					<span class="nxtgn-link-text">Breadcrumbs</span> 
				</a>
			</li>
			<li {{#is pagename "===" "buttons"}}class="active"{{/is}}>
				<a href="buttons.html"> 
					<span class="nxtgn-link-text">Buttons</span> 
				</a>
			</li>
			<li {{#is pagename "===" "cards-and-wells"}}class="active"{{/is}}>
				<a href="cards-and-wells.html"> 
					<span class="nxtgn-link-text">Cards & Wells</span> 
				</a>
			</li>
			<li {{#is pagename "===" "helpers"}}class="active"{{/is}}>
				<a href="helpers.html"> 
					<span class="nxtgn-link-text">Helpers</span> 
				</a>
			</li>
			<li {{#is pagename "===" "label-and-badge"}}class="active"{{/is}}>
				<a href="labels-and-badges.html"> 
					<span class="nxtgn-link-text">Labels & Badges</span> 
				</a>
			</li>
			<li {{#is pagename "===" "navbars"}}class="active"{{/is}}>
				<a href="navbars.html"> 
					<span class="nxtgn-link-text">Navbars</span> 
				</a>
			</li>
			<li {{#is pagename "===" "pagination"}}class="active"{{/is}}>
				<a href="pagination.html"> 
					<span class="nxtgn-link-text">Pagination</span> 
				</a>
			</li>
			<li {{#is pagename "===" "progress-bars"}}class="active"{{/is}}>
				<a href="progress-bars.html"> 
					<span class="nxtgn-link-text">Progress Bars</span> 
				</a>
			</li>
			<li {{#is pagename "===" "tabs-and-accordions"}}class="active"{{/is}}>
				<a href="tabs-and-accordions.html"> 
					<span class="nxtgn-link-text">Tabs & Accordions</span> 
				</a>
			</li>
			<li {{#is pagename "===" "tooltips-and-popovers"}}class="active"{{/is}}>
				<a href="tooltips-and-popovers.html"> 
					<span class="nxtgn-link-text">Tooltips & Popovers</span> 
				</a>
			</li>
			<li {{#is pagename "===" "typography"}}class="active"{{/is}}>
				<a href="typography.html"> 
					<span class="nxtgn-link-text">Typography</span> 
				</a>
			</li>
			<li {{#is pagename "in" "fontawesome,nextgen-icons"}}class="active"{{/is}}>
				<a href="#"> 
					<span class="nxtgn-link-text">
						<span class="dl-ref bg-warning-800"><i class="icon icon-fire"></i></span>	
						Icons
					</span> 
				</a>
				<ul class="nxtgn-sub-two">
					<li {{#is pagename "===" "fontawesome"}}class="active"{{/is}}>
						<a href="fontawesome.html"> 
							<span class="nxtgn-link-text">
								<span class="dl-ref bg-info-200">&nbsp;70kb&nbsp;</span> 
								Fontawesome Pro
							</span>
						</a>
					</li>
					<li {{#is pagename "===" "nextgen-icons"}}class="active"{{/is}}>
						<a href="nextgen-icons.html"> 
							<span class="nxtgn-link-text">
								<span class="dl-ref bg-info-200">&nbsp;20kb&nbsp;</span> 
								NextGen
							</span>
						</a>
					</li>
				</ul>		

			</li>
			<li>
				<a href="#"> 
					<span class="nxtgn-link-text">
						<span class="dl-ref bg-success-500">L1</span>
						Menu child
					</span> 
				</a>
				<!-- Dropdown level two -->
				<ul class="nxtgn-sub-two">
					<li>
						<a href="#"> 
							<span class="nxtgn-link-text">
								<span class="dl-ref bg-warning-200">L2</span> 
								Sublevel
							</span> 
						</a>
					</li>
					<li>
						<a href="#"> 
							<span class="nxtgn-link-text">
								<i class="icon icon-note"></i>
								Sublevel with icon
							</span> 
						</a>
					</li>
				</ul>
			</li>

		</ul>
	</li>
	<li {{#is pagename "in" "material-components,bootstrap-example,material-examples"}}class="active"{{/is}}>
		<a href="#" title="Forms & Plugins"> 
			<i class="icon icon-note"></i>
			<span class="nxtgn-link-text">Forms & Plugins</span>
		</a>
		<!-- Dropdown level one -->
		<ul class="nxtgn-sub-one">
			<li {{#is pagename "===" "material-components"}}class="active"{{/is}}>
				<a href="material-components.html"> 
					<span class="nxtgn-link-text">Material Components</span> 
				</a>
			</li>
			<li {{#is pagename "===" "bootstrap-example"}}class="active"{{/is}}>
				<a href="bootstrap-example"> 
					<span class="nxtgn-link-text">Bootstrap Example</span> 
				</a>
			</li>
			<li {{#is pagename "===" "material-examples"}}class="active"{{/is}}>
				<a href="material-examples.html"> 
					<span class="nxtgn-link-text">Material Examples</span> 
				</a>
			</li>																															
		</ul>
	</li>
	<li {{#is pagename "in" "widgets,pacejs,slimscroll,ripplejs"}}class="active"{{/is}}>
		<a href="#" title="Addons"> 
			<i class="icon icon-my-apps"></i>
			<span class="nxtgn-link-text">Addons</span> 
		</a>
		<!-- Dropdown level one -->
		<ul class="nxtgn-sub-one">
			<li {{#is pagename "===" "widgets"}}class="active"{{/is}}>
				<a href="widgets.html"> 
					<span>Widgets</span>
				</a>
			</li>
			<li {{#is pagename "===" "pacejs"}}class="active"{{/is}}>
				<a href="pacejs.html"> 
					<span>PaceJS</span>
				</a>
			</li>
			<li {{#is pagename "===" "slimscroll"}}class="active"{{/is}}>
				<a href="slimscroll.html">
					<span>Slim Scroll</span>
				</a>
			</li>
			<li {{#is pagename "===" "ripplejs"}}class="active"{{/is}}>
				<a href="ripplejs.html"> 
					<span>RippleJS</span>
				</a>
			</li>								
		</ul>	
	</li>
	<li {{#is pagename "in" "blank,search,error,404"}}class="active"{{/is}}>
		<a href="#" title="More Pages"> 
			<i class="icon icon-plus"></i>
			<span class="nxtgn-link-text">More Pages</span> 
		</a>
		<!-- Dropdown level one -->
		<ul class="nxtgn-sub-one">
			<li {{#is pagename "===" "blank"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span>Blank</span>
				</a>
			</li>
			<li {{#is pagename "in" "forget,locked,login,register"}}class="active"{{/is}}>
				<a href="#" title="Authentication Pages"> 
					<span>Auth. Pages</span>
				</a>
				<ul class="nxtgn-sub-two">
					<li {{#is pagename "===" "forget"}}class="active"{{/is}}>
						<a href="forget.html"> 
							<span>Forget Password</span>
						</a>
					</li>
					<li {{#is pagename "===" "locked"}}class="active"{{/is}}>
						<a href="locked.html"> 
							<span>Locked Screen</span>
						</a>
					</li>
					<li {{#is pagename "===" "login"}}class="active"{{/is}}>
						<a href="login.html"> 
							<span>Login</span>
						</a>
					</li>
					<li {{#is pagename "===" "register"}}class="active"{{/is}}>
						<a href="register.html"> 
							<span>Register</span>
						</a>	
					</li>
				</ul>
			</li>
			<li {{#is pagename "in" "announced-error,error,404"}}class="active"{{/is}}>
				<a href="#" title="Error Pages"> 
					<span>Error Pages</span>
				</a>
				<ul class="nxtgn-sub-two">
					<li {{#is pagename "===" "announced-error"}}class="active"{{/is}}>
						<a href="announced-error.html"> 
							<span>Announced Error</span>
						</a>
					</li>
					<li {{#is pagename "===" "error"}}class="active"{{/is}}>
						<a href="error.html"> 
							<span>General Error</span>
						</a>
					</li>
					<li {{#is pagename "===" "404"}}class="active"{{/is}}>
						<a href="404.html"> 
							<span>Server Error</span>
						</a>
					</li>
				</ul>
			</li>
			<li {{#is pagename "===" "search"}}class="active"{{/is}}>
				<a href="search-results.html"> 
					<span>Search Results</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span>---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span>---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span>---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span>---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span>---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span>---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span>---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span>---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span>---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span>---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span>---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span>---</span>
				</a>
			</li>	
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span>---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span>---</span>
				</a>
			</li>								
		</ul>	
	</li>
</ul>