{{!-- Infocard --}}
<div id="info-card">
	<img src="img/avatar-sunny.png" class="profile-image rounded-circle" alt="Sunny Larntern">
	<div>
		<div data-elipsis="xs">Dr. Sunny Lantern</div>
		<span>Toronto, Canada</span>
	</div>
	<img src="img/cover-5.png" class="cover" alt="cover">
</div>