<div id="nav-filter" class="d-flex flex-column align-items-center justify-content-center">
	<a href="javascript:void(0);" id="nav-filter-close" data-action="toggle" data-class="filter-nav">
		<i class="fa fa-close"></i>
	</a>
	<input type="text" placeholder="Filter menu" class="form-control" tabindex="0">
</div> 