{{!-- To remove footer, remove both footer-push as well as footer --}}
<footer>
	 <img src="img/logo-minify.png" alt="NextGen Logo" class="footer-logo rounded-circle">
	 <span> {{> _data/copyright-text }} </span>
</footer>
<div class="footer-push"></div>
