{{#if title}}
	
<ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="introduction.html">NextGen</a></li>
	{{#if category_1}}<li class="breadcrumb-item">{{category_1}}</li>{{/if}}
	{{#if category_2}}<li class="breadcrumb-item">{{category_2}}</li>{{/if}}
	<li class="breadcrumb-item active">{{title}}</li>
</ol>

{{/if}}
