<!-- DOC: used only for settings-demo controls  
 	 this "settings-demo" portion is not necessarily needed for your project -->
<aside id="settings-demo" role="complementary">

	<ul class="nav nav-pills nav-table-cell" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" data-toggle="tab" href="#settings">
				Settings
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#project">
				Project
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#memo">
				Memo
			</a>
		</li>
	</ul>

	<div id="settings-wrap" class="custom-scroll">

		<div class="tab-content">

			{{> _common/_tab-settings }}

			{{> _common/_tab-project }}

			{{> _common/_tab-memo }}

		</div>

	</div>

	<span id="saving"></span>

	<a id="opener" href="#" data-action="toggle" data-class="display-settings" class="hidden-lg-up">
		<i class="icon icon-settings"></i>
	</a>

</aside>
