{{#> layouts/main title="Navigation" pagename="plugin_navigation" category_1="Core Plugins" heading="Navigation <sup class='badge badge-warning fw-300 fs-sm'>core-plugin</sup>" pagedescription="Application Navigation"}}

{{#*inline "head-block"}}
<link rel="stylesheet" media="screen, print" href="css/theme-demo.min.css">
{{/inline}}

{{#*inline "content-block"}}


	
	<div class="row">

		<div class="col-lg-6 col-xl-6">

			<div class="card p-3 mrg-b-gutter d-block">

			    <h3>
			        Action <span class="fw-300">buttons</span> 
			        <small>
			            Allows you to
			        </small>
			    </h3>

			   
			    	
			    	<div class="d-flex align-items-center justify-content-center">

						<ul id="nav-1" class="navigation navigation-clean navigation-bordered navigation-compact mb-4 mr-1 w-100" data-nav-accordion="true">
							<li class="active open">
								<a href="#" title="NextGen Intel" class=""> 
									<span class="navigation-link-text">NextGen Intel</span> 
								</a>
								<ul>
									<li>
										<a href="#"> 
											<span class="navigation-link-text"> Introduction</span> 
										</a>
									</li>
									<li>
										<a href="#"> 
											<span class="navigation-link-text"> Build Notes &nbsp; <i>v1.0.0</i></span> 
										</a>
									</li>
									<li>
										<a href="#"> 
											<span class="navigation-link-text"> Color Pallet</span> 
										</a>
									</li>
									<li>
										<a href="#"> 
											<span class="navigation-link-text"> Responsive Grid</span> 
										</a>
									</li>
									<li>
										<a href="#"> 
											<span class="navigation-link-text">
												Theme Settings
											</span> 
										</a>
										<ul>
											<li>
												<a href="#"> 
													<span class="navigation-link-text">
														How it works
													</span>
												</a>
											</li>
											<li>
												<a href="#"> 
													<span class="navigation-link-text">
														Layout Options
													</span>
												</a>
											</li>
											<li>
												<a href="#"> 
													<span class="navigation-link-text">
														Skin Options
													</span>
												</a>
											</li>
											<li>
												<a href="#"> 
													<span class="navigation-link-text">
														Saving to Database
													</span>
												</a>
											</li>
										</ul>		
									</li>
								</ul>	
							</li>
							<li>
								<a href="#" title="Package Info"> 
									<span class="navigation-link-text">
										Package Info
									</span> 
								</a>						
								<ul>
									<li>
										<a href="documentation-and-faq.html"> 
											<span class="navigation-link-text">
												Documentation
											</span> 
										</a>
									</li>
									<li>
										<a href="info_package.html"> 
											<span class="navigation-link-text">
												Package Files
											</span> 
										</a>
									</li>
									<li>
										<a href="info_app_licensing.html"> 
											<span class="navigation-link-text">
												Product Licensing
											</span> 
										</a>
									</li>
									<li>
										<a href="info_app_flavors.html"> 
											<span class="navigation-link-text">
												Different Flavors
											</span> 
										</a>
									</li>

								</ul>
							</li>
						</ul>

						<ul id="nav-2" class="navigation navigation-compact bg-fusion-500 mb-4 ml-1 w-100" data-nav-accordion="true">
							<li class="active open">
								<a href="#" title="NextGen Intel" class=""> 
									<span class="navigation-link-text">NextGen Intel</span> 
								</a>
								<ul>
									<li>
										<a href="#"> 
											<span class="navigation-link-text"> Introduction</span> 
										</a>
									</li>
									<li>
										<a href="#"> 
											<span class="navigation-link-text"> Build Notes &nbsp; <i>v1.0.0</i></span> 
										</a>
									</li>
									<li>
										<a href="#"> 
											<span class="navigation-link-text"> Color Pallet</span> 
										</a>
									</li>
									<li>
										<a href="#"> 
											<span class="navigation-link-text"> Responsive Grid</span> 
										</a>
									</li>
									<li>
										<a href="#"> 
											<span class="navigation-link-text">
												Theme Settings
											</span> 
										</a>
										<ul>
											<li>
												<a href="#"> 
													<span class="navigation-link-text">
														How it works
													</span>
												</a>
											</li>
											<li>
												<a href="#"> 
													<span class="navigation-link-text">
														Layout Options
													</span>
												</a>
											</li>
											<li>
												<a href="#"> 
													<span class="navigation-link-text">
														Skin Options
													</span>
												</a>
											</li>
											<li>
												<a href="#"> 
													<span class="navigation-link-text">
														Saving to Database
													</span>
												</a>
											</li>
										</ul>		
									</li>
								</ul>	
							</li>
							<li>
								<a href="#" title="Package Info"> 
									<span class="navigation-link-text">
										Package Info
									</span> 
								</a>						
								<ul>
									<li>
										<a href="documentation-and-faq.html"> 
											<span class="navigation-link-text">
												Documentation
											</span> 
										</a>
									</li>
									<li>
										<a href="info_package.html"> 
											<span class="navigation-link-text">
												Package Files
											</span> 
										</a>
									</li>
									<li>
										<a href="info_app_licensing.html"> 
											<span class="navigation-link-text">
												Product Licensing
											</span> 
										</a>
									</li>
									<li>
										<a href="info_app_flavors.html"> 
											<span class="navigation-link-text">
												Different Flavors
											</span> 
										</a>
									</li>

								</ul>
							</li>
						</ul>

			    		
			    	</div>

			    	
			    		

<pre class="prettyprint p-2 m-0 h-auto border-0">
var myapp_config = {
    root_: $('body'),
    windowHeight: $(window).height(),
    navHeightGap: ($('#nav-footer').height() || 0) + $('header').height() + 1,
    throttleDelay: 450, //ms
    thisDevice: null, 
    isMobile: (/iphone|ipad|ipod|android|blackberry|mini|windows\sce|palm/i
                .test(navigator.userAgent.toLowerCase())), 
    mobileMenuTrigger: null,
    isWebkit: ((!!window.chrome && !!window.chrome.webstore) === true || 
                Object.prototype.toString.call(window.HTMLElement).indexOf('Constructor') 
                > 0 === true),
    isChrome: (/chrom(e|ium)/.test(navigator.userAgent.toLowerCase())),
    debugState: true, 
    disableRippleEffect: false, 
    mythemeAnchor: '#mytheme',
    navAnchor: '#primary-nav',
    navHooks: '#primary-nav > ul.navigation'
    navSpeed: 500, 
    navClosedSign: 'icon icon-chevron-down',
    navOpenedSign: 'icon icon-chevron-up',
    navAccordion: true,
    storeLocally: true
};</pre>

			    	
			  

				
    
			</div>
	
		</div>
		<div class="col-lg-6 col-xl-6">

			<div class="card p-3 mrg-b-gutter d-block">

			    <h3>
			        Action <span class="fw-300">buttons</span> 
			        <small>
			            Allows you to
			        </small>
			    </h3>
			        
			</div>
	
		</div>

	</div>


<div class="card p-3 mrg-b-gutter d-block">

	<!-- row -->
	<div class="row">

		<div class="col-sm-12">
			<h3>
				PaceJS <span class="fw-300">API</span> 
				<small>
					Pace exposes the following methods:
				</small>
			</h3>	
		</div>

		<!-- row left -->
		<div class="col-sm-12 col-md-6 col-lg-2">		



		</div>				
		<!-- / row left -->

		<!-- row left -->
		<div class="col-sm-12 col-md-6 col-lg-4">
			b
		</div>
		<!-- / row right -->


		<!-- row left -->
		<div class="col-sm-2">

			<!--<ul class="list-unstyled test-ul">
			  <li class="p-0">
			  	<a href="#" class="d-flex w-100 p-2 bg-fusion-500">
					<span class="flex-1">UI Components</span> 
			  	</a>
			  	<ul class="list-unstyled bg-fusion-700 pl-3">
			  		<li class="p-0">
			  			<a href="#" class="d-flex w-100 p-2 bg-fusion-700">test</a>
			  		</li>
			  		<li class="p-0">
			  			<a href="#" class="d-flex w-100 p-2 bg-fusion-700">test</a>
			  		</li>
			  	</ul>
			  </li>
			  <li class="p-0"><a href="#" class="d-flex w-100 p-2 bg-fusion-500">test</a></li>
			  <li class="p-0"><a href="#" class="d-flex w-100 p-2 bg-fusion-500">test</a></li>
			  <li class="p-0"><a href="#" class="d-flex w-100 p-2 bg-fusion-500">test</a></li>
			  <li class="p-0"><a href="#" class="d-flex w-100 p-2 bg-fusion-500">test</a></li>
			</ul>-->			

			<ul id="nav-3" class="navigation bg-fusion-500" data-nav-accordion="false">
				<li class="active open">
					<a href="#" title="NextGen Intel" class=""> 
						<img src="img/logo-minify.png" alt="NextGen Logo" class="rounded-circle">
						<span class="navigation-link-text">NextGen Intel</span> 
					</a>
					<ul>
						<li>
							<a href="#" class=""> 
								<span class="navigation-link-text"> Introduction</span> 
							</a>
						</li>
						<li>
							<a href="#" class=""> 
								<span class="navigation-link-text"> Build Notes &nbsp; <i>v1.0.0</i></span> 
							</a>
						</li>
						<li>
							<a href="#" class=""> 
								<span class="navigation-link-text"> Color Pallet</span> 
							</a>
						</li>
						<li>
							<a href="#" class=""> 
								<span class="navigation-link-text"> Responsive Grid</span> 
							</a>
						</li>
						<li>
							<a href="#" class=""> 
								<span class="navigation-link-text">
									Theme Settings
								</span> 
							</a>
							<ul>
								<li>
									<a href="#" class=""> 
										<span class="navigation-link-text">
											How it works
										</span>
									</a>
								</li>
								<li>
									<a href="#" class=""> 
										<span class="navigation-link-text">
											Layout Options
										</span>
									</a>
								</li>
								<li>
									<a href="#" class=""> 
										<span class="navigation-link-text">
											Skin Options
										</span>
									</a>
								</li>
								<li>
									<a href="#" class=""> 
										<span class="navigation-link-text">
											Saving to Database
										</span>
									</a>
								</li>
							</ul>		
						</li>
					</ul>	
				</li>
				<li>
					<a href="#" title="Package Info" class="legitRipple"> 
						<i class="icon icon-tag"></i>
						<span class="navigation-link-text">
							Package Info
						</span> 
					</a>						
					<ul>
						<li>
							<a href="documentation-and-faq.html" class="legitRipple"> 
								<span class="navigation-link-text">
									Documentation
								</span> 
							</a>
						</li>
						<li>
							<a href="info_package.html" class="legitRipple"> 
								<span class="navigation-link-text">
									Package Files
								</span> 
							</a>
						</li>
						<li>
							<a href="info_app_licensing.html" class="legitRipple"> 
								<span class="navigation-link-text">
									Product Licensing
								</span> 
							</a>
						</li>
						<li>
							<a href="info_app_flavors.html" class="legitRipple"> 
								<span class="navigation-link-text">
									Different Flavors
								</span> 
							</a>
						</li>

					</ul>
				</li>
			</ul>

		</div>				
		<!-- / row left -->

		<!-- row left -->
		<div class="col-sm-4">
			b
		</div>
		<!-- / row right -->

		<!-- row right -->
		<div class="col-sm-6">
			
			<h6 class="m-0 mb-1 fw-300">
				Dependencies
			</h6>

		</div>
		<!-- / row right -->

	</div>
	<!-- /row -->

</div>

{{/inline}}

{{#*inline "scripts-block"}}
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=html&amp;skin=default"></script>
{{/inline}}

{{/layouts/main}}