{{#> 
	layouts/main 
	pagename="intel_colors" 
	title="Color Pallet" 
	heading="Color Pallet" 
	category_1="NextGen Intel"
	pagedescription="Comes with 60 unique color pallets, that uses one prime to generate all pallets"
}}

{{#*inline "head-block"}}{{/inline}}

{{#*inline "content-block"}}

<div class="row">
	<div class="col-xl-12">
		<div class="card mb-g">
			<div class="card-body">
				<div class="row">
				    <div class="col-xs-12 col-xl-6">
				        <h2>
				            Impressionistic colors
				            <small>
				                Strong pigments from beneath the Earth (default)
				            </small>
				        </h2>
				        <div class="fs-lg fw-300">
							<p>
							Color, rather than shape, is more closely related to emotion. Each color has a strong blend and was selectively hand picked to make your design shine. Each component from NextGen can have any of these colors applied. Try on different combinations to make
							your project come alive!
							</p>
							<p>
							NextGen focuses on conveying the attention of your users to the important parts of the page and the actions. While keeping a light feel, the colors give the page an extra push.
							</p>
				        </div>

				    </div>
				    <div class="col col-xl-6">
						<div class="table-responsive">       
						    <table class="table table-hover">
						        <thead>
						            <tr>
						                <th colspan="2" style="width: 150px">State</th>
						                <th style="width: 150px">Postfix</th>
						                <th>Example usage</th>
						            </tr>
						        </thead>
						        <tbody>
						            <tr>
						                <td>Success</td>
						                <td>
						                    <span class="width-1 height-1 rounded-circle d-block bg-success"></span>
						                </td>
						                <td><code>*-success</code></td>
						                <td><code>btn-success</code> <code>color-success</code></td>
						            </tr>
						            <tr>
						                <td>Warning</td>
						                <td>
						                    <span class="width-1 height-1 rounded-circle d-block bg-warning"></span>
						                </td>
						                <td><code>*-warning</code></td>
						                <td><code>btn-warning</code> <code>color-warning</code></td>
						            </tr>
						            <tr>
						                <td>Danger</td>
						                <td>
						                    <span class="width-1 height-1 rounded-circle d-block bg-danger"></span>
						                </td>
						                <td><code>*-danger</code></td>
						                <td><code>btn-danger</code> <code>color-danger</code></td>
						            </tr>
						            <tr>
						                <td>Info</td>
						                <td>
						                    <span class="width-1 height-1 rounded-circle d-block bg-info"></span>
						                </td>
						                <td><code>*-info</code></td>
						                <td><code>btn-info</code> <code>color-info</code></td>
						            </tr>
						            <tr>
						                <td>Primary</td>
						                <td>
						                    <span class="width-1 height-1 rounded-circle d-block bg-primary"></span>
						                </td>
						                <td><code>*-primary</code></td>
						                <td><code>btn-primary</code> <code>color-primary</code> <code>bg-primary</code></td>
						            </tr>
						            <tr>
						                <td>Secondary</td>
						                <td>
						                    <span class="width-1 height-1 rounded-circle d-block bg-secondary"></span>
						                </td>
						                <td><code>*-secondary</code></td>
						                <td><code>btn-secondary</code> <code>color-secondary</code> <code>bg-secondary</code></td>
						            </tr>
						        </tbody>
						    </table>
						</div>
				    </div>    
				</div>
		    </div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12 col-xl-6">
		<div class="card mb-g">
			<div class="card-body">
				<h4 class="mb-g">
					Success
					<span class="fw-300">Pallet</span>
					<small>
					    10 unique shades of "success"
					</small>
				</h4>
				<div class="table-responsive">
					<table class="table table-hover">
					 	<thead>
					    	<tr>
					      		<th colspan="2" style="width: 150px">Variable</th>
					      		<th style="width: 150px">Postfix</th>
					      		<th>Example usage</th>
					    	</tr>
					  	</thead>
					  	<tbody>
							<tr>
								<td>$success-50</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-success-50"></span></td>
								<td><code>*-success-50</code></td>
								<td><code>bg-success-50</code> <code>color-success-50</code></td>
							</tr>
							<tr>
								<td>$success-100</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-success-100"></span></td>
								<td><code>*-success-100</code></td>
								<td><code>bg-success-100</code> <code>color-success-100</code></td>
							</tr>
							<tr>
								<td>$success-200</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-success-200"></span></td>
								<td><code>*-success-200</code></td>
								<td><code>bg-success-200</code> <code>color-success-200</code></td>
							</tr>
							<tr>
								<td>$success-300</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-success-300"></span></td>
								<td><code>*-success-300</code></td>
								<td><code>bg-success-300</code> <code>color-success-300</code></td>
							</tr>
							<tr>
								<td>$success-400</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-success-400"></span></td>
								<td><code>*-success-400</code></td>
								<td><code>bg-success-400</code> <code>color-success-400</code></td>
							</tr>
							<tr>
								<td>$success-500</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-success-500"></span></td>
								<td><code>*-success-500</code></td>
								<td><code>bg-success-500</code> <code>color-success-500</code></td>
							</tr>
							<tr>
								<td>$success-600</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-success-600"></span></td>
								<td><code>*-success-600</code></td>
								<td><code>bg-success-600</code> <code>color-success-600</code></td>
							</tr>
							<tr>
								<td>$success-700</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-success-700"></span></td>
								<td><code>*-success-700</code></td>
								<td><code>bg-success-700</code> <code>color-success-700</code></td>
							</tr>
							<tr>
								<td>$success-800</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-success-800"></span></td>
								<td><code>*-success-800</code></td>
								<td><code>bg-success-800</code> <code>color-success-800</code></td>
							</tr>
							<tr>
								<td>$success-900</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-success-900"></span></td>
								<td><code>*-success-900</code></td>
								<td><code>bg-success-900</code> <code>color-success-900</code></td>
							</tr>
					  	</tbody>
					</table>
				</div>			
			</div>
		</div>

		<div class="card mb-g">
			<div class="card-body">
				<h4 class="mb-g">
					Warning
					<span class="fw-300">Pallet</span>
					<small>
					    10 unique shades of "warning"
					</small>
				</h4>
				<div class="table-responsive">
					<table class="table table-hover">
					 	<thead>
					    	<tr>
					      		<th colspan="2" style="width: 150px">Variable</th>
					      		<th style="width: 150px">Postfix</th>
					      		<th>Example usage</th>
					    	</tr>
					  	</thead>
					  	<tbody>
							<tr>
								<td>$warning-50</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-warning-50"></span></td>
								<td><code>*-warning-50</code></td>
								<td><code>bg-warning-50</code> <code>color-warning-50</code></td>
							</tr>
							<tr>
								<td>$warning-100</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-warning-100"></span></td>
								<td><code>*-warning-100</code></td>
								<td><code>bg-warning-100</code> <code>color-warning-100</code></td>
							</tr>
							<tr>
								<td>$warning-200</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-warning-200"></span></td>
								<td><code>*-warning-200</code></td>
								<td><code>bg-warning-200</code> <code>color-warning-200</code></td>
							</tr>
							<tr>
								<td>$warning-300</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-warning-300"></span></td>
								<td><code>*-warning-300</code></td>
								<td><code>bg-warning-300</code> <code>color-warning-300</code></td>
							</tr>
							<tr>
								<td>$warning-400</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-warning-400"></span></td>
								<td><code>*-warning-400</code></td>
								<td><code>bg-warning-400</code> <code>color-warning-400</code></td>
							</tr>
							<tr>
								<td>$warning-500</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-warning-500"></span></td>
								<td><code>*-warning-500</code></td>
								<td><code>bg-warning-500</code> <code>color-warning-500</code></td>
							</tr>
							<tr>
								<td>$warning-600</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-warning-600"></span></td>
								<td><code>*-warning-600</code></td>
								<td><code>bg-warning-600</code> <code>color-warning-600</code></td>
							</tr>
							<tr>
								<td>$warning-700</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-warning-700"></span></td>
								<td><code>*-warning-700</code></td>
								<td><code>bg-warning-700</code> <code>color-warning-700</code></td>
							</tr>
							<tr>
								<td>$warning-800</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-warning-800"></span></td>
								<td><code>*-warning-800</code></td>
								<td><code>bg-warning-800</code> <code>color-warning-800</code></td>
							</tr>
							<tr>
								<td>$warning-900</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-warning-900"></span></td>
								<td><code>*-warning-900</code></td>
								<td><code>bg-warning-900</code> <code>color-warning-900</code></td>
							</tr>
					  	</tbody>
					</table>
				</div>			
			</div>
		</div>

		<div class="card mb-g">
			<div class="card-body">
				<h4 class="mb-g">
					Danger
					<span class="fw-300">Pallet</span>
					<small>
					    10 unique shades of "danger"
					</small>
				</h4>
				<div class="table-responsive">
					<table class="table table-hover">
					 	<thead>
					    	<tr>
					      		<th colspan="2" style="width: 150px">Variable</th>
					      		<th style="width: 150px">Postfix</th>
					      		<th>Example usage</th>
					    	</tr>
					  	</thead>
					  	<tbody>
							<tr>
								<td>$danger-50</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-danger-50"></span></td>
								<td><code>*-danger-50</code></td>
								<td><code>bg-danger-50</code> <code>color-danger-50</code></td>
							</tr>
							<tr>
								<td>$danger-100</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-danger-100"></span></td>
								<td><code>*-danger-100</code></td>
								<td><code>bg-danger-100</code> <code>color-danger-100</code></td>
							</tr>
							<tr>
								<td>$danger-200</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-danger-200"></span></td>
								<td><code>*-danger-200</code></td>
								<td><code>bg-danger-200</code> <code>color-danger-200</code></td>
							</tr>
							<tr>
								<td>$danger-300</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-danger-300"></span></td>
								<td><code>*-danger-300</code></td>
								<td><code>bg-danger-300</code> <code>color-danger-300</code></td>
							</tr>
							<tr>
								<td>$danger-400</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-danger-400"></span></td>
								<td><code>*-danger-400</code></td>
								<td><code>bg-danger-400</code> <code>color-danger-400</code></td>
							</tr>
							<tr>
								<td>$danger-500</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-danger-500"></span></td>
								<td><code>*-danger-500</code></td>
								<td><code>bg-danger-500</code> <code>color-danger-500</code></td>
							</tr>
							<tr>
								<td>$danger-600</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-danger-600"></span></td>
								<td><code>*-danger-600</code></td>
								<td><code>bg-danger-600</code> <code>color-danger-600</code></td>
							</tr>
							<tr>
								<td>$danger-700</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-danger-700"></span></td>
								<td><code>*-danger-700</code></td>
								<td><code>bg-danger-700</code> <code>color-danger-700</code></td>
							</tr>
							<tr>
								<td>$danger-800</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-danger-800"></span></td>
								<td><code>*-danger-800</code></td>
								<td><code>bg-danger-800</code> <code>color-danger-800</code></td>
							</tr>
							<tr>
								<td>$danger-900</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-danger-900"></span></td>
								<td><code>*-danger-900</code></td>
								<td><code>bg-danger-900</code> <code>color-danger-900</code></td>
							</tr>
					  	</tbody>
					</table>
				</div>			
			</div>
		</div>
	</div>
	<div class="col-md-12 col-xl-6">
		<div class="card mb-g">
			<div class="card-body">
				<h4 class="mb-g">
					Info
					<span class="fw-300">Pallet</span>
					<small>
					    10 unique shades of "info"
					</small>
				</h4>
				<div class="table-responsive">
					<table class="table table-hover">
					 	<thead>
					    	<tr>
					      		<th colspan="2" style="width: 150px">Variable</th>
					      		<th style="width: 150px">Postfix</th>
					      		<th>Example usage</th>
					    	</tr>
					  	</thead>
					  	<tbody>
							<tr>
								<td>$info-50</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-info-50"></span></td>
								<td><code>*-info-50</code></td>
								<td><code>bg-info-50</code> <code>color-info-50</code></td>
							</tr>
							<tr>
								<td>$info-100</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-info-100"></span></td>
								<td><code>*-info-100</code></td>
								<td><code>bg-info-100</code> <code>color-info-100</code></td>
							</tr>
							<tr>
								<td>$info-200</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-info-200"></span></td>
								<td><code>*-info-200</code></td>
								<td><code>bg-info-200</code> <code>color-info-200</code></td>
							</tr>
							<tr>
								<td>$info-300</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-info-300"></span></td>
								<td><code>*-info-300</code></td>
								<td><code>bg-info-300</code> <code>color-info-300</code></td>
							</tr>
							<tr>
								<td>$info-400</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-info-400"></span></td>
								<td><code>*-info-400</code></td>
								<td><code>bg-info-400</code> <code>color-info-400</code></td>
							</tr>
							<tr>
								<td>$info-500</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-info-500"></span></td>
								<td><code>*-success-500</code></td>
								<td><code>bg-info-500</code> <code>color-info-500</code></td>
							</tr>
							<tr>
								<td>$info-600</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-info-600"></span></td>
								<td><code>*-info-600</code></td>
								<td><code>bg-info-600</code> <code>color-info-600</code></td>
							</tr>
							<tr>
								<td>$info-700</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-info-700"></span></td>
								<td><code>*-info-700</code></td>
								<td><code>bg-info-700</code> <code>color-info-700</code></td>
							</tr>
							<tr>
								<td>$info-800</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-info-800"></span></td>
								<td><code>*-info-800</code></td>
								<td><code>bg-info-800</code> <code>color-info-800</code></td>
							</tr>
							<tr>
								<td>$info-900</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-info-900"></span></td>
								<td><code>*-info-900</code></td>
								<td><code>bg-info-900</code> <code>color-info-900</code></td>
							</tr>
					  	</tbody>
					</table>
				</div>			
			</div>
		</div>

		<div class="card mb-g">
			<div class="card-body">
				<h4 class="mb-g">
					Primary
					<span class="fw-300">Pallet</span>
					<small>
					    10 unique shades of "primary"
					</small>
				</h4>
				<div class="table-responsive">
					<table class="table table-hover">
					 	<thead>
					    	<tr>
					      		<th colspan="2" style="width: 150px">Variable</th>
					      		<th style="width: 150px">Postfix</th>
					      		<th>Example usage</th>
					    	</tr>
					  	</thead>
					  	<tbody>
							<tr>
								<td>$primary-50</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-primary-50"></span></td>
								<td><code>*-primary-50</code></td>
								<td><code>bg-primary-50</code> <code>color-primary-50</code></td>
							</tr>
							<tr>
								<td>$primary-100</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-primary-100"></span></td>
								<td><code>*-primary-100</code></td>
								<td><code>bg-primary-100</code> <code>color-primary-100</code></td>
							</tr>
							<tr>
								<td>$primary-200</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-primary-200"></span></td>
								<td><code>*-primary-200</code></td>
								<td><code>bg-primary-200</code> <code>color-primary-200</code></td>
							</tr>
							<tr>
								<td>$primary-300</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-primary-300"></span></td>
								<td><code>*-primary-300</code></td>
								<td><code>bg-primary-300</code> <code>color-primary-300</code></td>
							</tr>
							<tr>
								<td>$primary-400</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-primary-400"></span></td>
								<td><code>*-primary-400</code></td>
								<td><code>bg-primary-400</code> <code>color-primary-400</code></td>
							</tr>
							<tr>
								<td>$primary-500</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-primary-500"></span></td>
								<td><code>*-primary-500</code></td>
								<td><code>bg-primary-500</code> <code>color-primary-500</code></td>
							</tr>
							<tr>
								<td>$primary-600</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-primary-600"></span></td>
								<td><code>*-primary-600</code></td>
								<td><code>bg-primary-600</code> <code>color-primary-600</code></td>
							</tr>
							<tr>
								<td>$primary-700</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-primary-700"></span></td>
								<td><code>*-primary-700</code></td>
								<td><code>bg-primary-700</code> <code>color-primary-700</code></td>
							</tr>
							<tr>
								<td>$primary-800</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-primary-800"></span></td>
								<td><code>*-primary-800</code></td>
								<td><code>bg-primary-800</code> <code>color-primary-800</code></td>
							</tr>
							<tr>
								<td>$primary-900</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-primary-900"></span></td>
								<td><code>*-primary-900</code></td>
								<td><code>bg-primary-900</code> <code>color-primary-900</code></td>
							</tr>
					  	</tbody>
					</table>
				</div>			
			</div>
		</div>

		<div class="card mb-g">
			<div class="card-body">
				<h4 class="mb-g">
					Fusion
					<span class="fw-300">Pallet</span>
					<small>
					    10 unique shades of "fusion"
					</small>
				</h4>
				<div class="table-responsive">
					<table class="table table-hover">
					 	<thead>
					    	<tr>
					      		<th colspan="2" style="width: 150px">Variable</th>
					      		<th style="width: 150px">Postfix</th>
					      		<th>Example usage</th>
					    	</tr>
					  	</thead>
					  	<tbody>
							<tr>
								<td>$fusion-50</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-fusion-50"></span></td>
								<td><code>*-fusion-50</code></td>
								<td><code>bg-fusion-50</code> <code>color-fusion-50</code></td>
							</tr>
							<tr>
								<td>$fusion-100</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-fusion-100"></span></td>
								<td><code>*-fusion-100</code></td>
								<td><code>bg-fusion-100</code> <code>color-fusion-100</code></td>
							</tr>
							<tr>
								<td>$fusion-200</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-fusion-200"></span></td>
								<td><code>*-fusion-200</code></td>
								<td><code>bg-fusion-200</code> <code>color-fusion-200</code></td>
							</tr>
							<tr>
								<td>$fusion-300</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-fusion-300"></span></td>
								<td><code>*-fusion-300</code></td>
								<td><code>bg-fusion-300</code> <code>color-fusion-300</code></td>
							</tr>
							<tr>
								<td>$fusion-400</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-fusion-400"></span></td>
								<td><code>*-fusion-400</code></td>
								<td><code>bg-fusion-400</code> <code>color-fusion-400</code></td>
							</tr>
							<tr>
								<td>$fusion-500</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-fusion-500"></span></td>
								<td><code>*-fusion-500</code></td>
								<td><code>bg-fusion-500</code> <code>color-fusion-500</code></td>
							</tr>
							<tr>
								<td>$fusion-600</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-fusion-600"></span></td>
								<td><code>*-fusion-600</code></td>
								<td><code>bg-fusion-600</code> <code>color-fusion-600</code></td>
							</tr>
							<tr>
								<td>$fusion-700</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-fusion-700"></span></td>
								<td><code>*-fusion-700</code></td>
								<td><code>bg-fusion-700</code> <code>color-fusion-700</code></td>
							</tr>
							<tr>
								<td>$fusion-800</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-fusion-800"></span></td>
								<td><code>*-fusion-800</code></td>
								<td><code>bg-fusion-800</code> <code>color-fusion-800</code></td>
							</tr>
							<tr>
								<td>$fusion-900</td>
								<td><span class="width-1 height-1 rounded-circle d-block bg-fusion-900"></span></td>
								<td><code>*-fusion-900</code></td>
								<td><code>bg-fusion-900</code> <code>color-fusion-900</code></td>
							</tr>
					  	</tbody>
					</table>
				</div>			
			</div>
		</div>
	</div>
</div>

{{/inline}}

{{#*inline "scripts-block"}}

<!-- DEMO Scripts -->
<script>
    // get hex color value

	var color = '';

	function hexc(colorval) {
	    var parts = colorval.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
	    delete(parts[0]);
	    for (var i = 1; i <= 3; ++i) {
	        parts[i] = parseInt(parts[i]).toString(16);
	        if (parts[i].length == 1) parts[i] = '0' + parts[i];
	    }
	    color = '#' + parts.join('');
	}

	$( '.color-disp-demo [class^="bg-"]' ).each(function() {
	    var x = $(this).css('backgroundColor');
	    hexc(x);
	    $(this).find("span").append(color);
	    color = null;
	});

</script>

{{/inline}}
{{/layouts/main}}