{{#> layouts/main title="How it works" pagename="intel_how_it_works" category_1="NextGen Intel" category_2="Theme Settings" heading="Theme Settings: <span class='fw-400'>How it works</span>" pagedescription="<span class='fw-500 text-primary'>Mix and match</span> layout options to create over <span class='fw-500 text-primary'>36 layout possibilities</span>. Get the perfect layout to suite your business needs"}}

{{#*inline "head-block"}}
<link rel="stylesheet" media="screen, print" href="css/theme-demo.min.css">
{{/inline}}

{{#*inline "content-block"}}

<div class="row">

	<div class="col-sm-12">
		<div class="alert alert-primary">
			<div class="d-flex justify-content-start">
				<div class="">
						<h5 class="fw-500 m-0">
							Even more layout options
						</h5>
						Find the complete list of all layout options and possibilities
				  </div>
				  <div class="ml-auto d-flex align-items-center justify-content-center">
				  	<a href="intel_layout_options.html" class="float-right btn btn-success">Check it out!</a>
				  </div>
			</div>
		</div>
	</div>

	<div class="col-sm-12 col-lg-12 col-xl-6">

		<div class="card pt-4 pr-3 pb-3 pl-3 d-block mb-4">

			<h4 class="text-center">
				Layout type "<strong>Fixed Header</strong>" <br> 
				<small>
					Header is in a fixed position at all times 
					<code>.header-function-fixed</code>
				</small>
			</h4>
			<div class="d-flex app-body-demo">
				<div class="app-nav-demo bg-fusion-50">
					<div class="p-1 pt-0 bg-fusion-300 pattern-0 app-header-demo">
						<img src="img/logo-all-white.png" alt="NextGen Logo" class="img-fluid">
					</div>
				</div>
				<div class="d-flex flex-column flex-1">
					<div class="app-header-demo bg-fusion-300 pattern-0">
						&nbsp;
					</div>
					<div class="app-container-demo flex-1 p-3">
						<img src="img/demo/s-1.png" class="w-100 h-100">

					</div>
				</div>
			</div>

		</div>

	</div>

	<div class="col-sm-12 col-lg-12 col-xl-6">

		<div class="card pt-4 pr-3 pb-3 pl-3 d-block mb-4">

			<h4 class="text-center">
				Layout type "<strong>Fixed Navigation</strong>" <br> 
				<small>
					Increase accessibility by locking navigation 
					<code>.nav-function-fixed</code>
				</small>
			</h4>
			<div class="d-flex app-body-demo">
				<div class="app-nav-demo bg-fusion-300 pattern-0 p-1 pt-0">
					<img src="img/logo-all-white.png" alt="NextGen Logo" class="img-fluid">
				</div>
				<div class="d-flex flex-column flex-1">
					<div class="app-header-demo bg-fusion-50"></div>
					<div class="app-container-demo flex-1 p-3">
						<img src="img/demo/s-1.png" class="w-100 h-100">
					</div>
				</div>
			</div>

		</div>

	</div>

	<div class="col-sm-12 col-lg-12 col-xl-6">

		<div class="card pt-4 pr-3 pb-3 pl-3 d-block mb-4">

			<h4 class="text-center">
				Layout type "<strong>Minify Navigation</strong>" <br> 
				<small>
					Minify navigation space to only icons 
					<code>.nav-function-minified</code>
				</small>
			</h4>
			<div class="d-flex app-body-demo">
				<div class="app-nav-demo-minify bg-fusion-300 pattern-0">
					<img src="img/logo-minify.png" alt="NextGen Logo" class="img-fluid logo">
				</div>
				<div class="d-flex flex-column flex-1">
					<div class="app-header-demo bg-fusion-50"></div>
					<div class="app-container-demo flex-1 p-3">
						<img src="img/demo/s-1.png" class="w-100 h-100">
					</div>
				</div>
			</div>

		</div>
		
	</div>

	<div class="col-sm-12 col-lg-12 col-xl-6">

		<div class="card pt-4 pr-3 pb-3 pl-3 d-block mb-4">

			<h4 class="text-center">
				Layout type "<strong>Hide Navigation</strong>" <br> 
				<small>
					Maximize workspace by hiding navigation 
					<code>.nav-function-hidden</code>
				</small>
			</h4>
			<div class="d-flex app-body-demo">
				<div class="app-nav-demo-hidden bg-fusion-300 pattern-0">&nbsp;</div>
				<div class="d-flex flex-column flex-1">
					<div class="app-header-demo bg-fusion-50"></div>
					<div class="app-container-demo flex-1 p-3">
						<img src="img/demo/s-1.png" class="w-100 h-100">
					</div>
				</div>
			</div>

		</div>

	</div>

	<div class="col-sm-12 col-lg-12 col-xl-6">

		<div class="card pt-4 pr-3 pb-3 pl-3 d-block mb-4">

			<h4 class="text-center">
				Layout type "<strong>Top Navigation</strong>" <br> 
				<small>
					Add the following class(s) to body tag 
					<code>.nav-function-top</code>
				</small>
			</h4>		
			<div class="d-flex flex-column app-body-demo">
				
					<div class="app-nav-demo-top bg-fusion-300 pattern-0 p-1">
						<img src="img/logo-minify.png" alt="NextGen Logo" class="img-fluid">
					</div>
					<div class="app-header-demo bg-fusion-50"></div>
					<div class="app-container-demo flex-1 p-3">
						<img src="img/demo/s-1.png" class="w-100">
					</div>
				
			</div>

		</div>

	</div>

	<div class="col-sm-12 col-lg-12 col-xl-6">

		<div class="card pt-4 pr-3 pb-3 pl-3 d-block mb-4">

			<h4 class="text-center">
				Layout type "<strong>Boxed Layout</strong>" <br> 
				<small>
					Add the following class(s) to body tag 
					<code>.mod-main-boxed</code>
				</small>
			</h4>	
			<div class="app-body-demo d-flex pl-5 pr-5 bg-primary-100 mod-main-boxed mod-bg-3">
				<div class="app-nav-demo bg-fusion-300 p-1 pt-0">
					<img src="img/logo-white.png" alt="NextGen Logo" class="img-fluid">
				</div>
				<div class="d-flex flex-column flex-1">
					<div class="app-header-demo bg-fusion-50"></div>
					<div class="app-container-demo bg-white flex-1 p-3">
						<img src="img/demo/s-1.png" class="w-100">
					</div>
				</div>
			</div>

		</div>

	</div>

</div>

{{/inline}}

{{#*inline "scripts-block"}}{{/inline}}

{{/layouts/main}}