{{#> layouts/main title="Theme Settings: How it works" pagename="intel_how_it_works" heading="<span class='fw-300'>Theme Settings:</span> How it works" pagedescription="Mix and match layout options to create over 36 layout possibilities. Get the perfect layout to suite your business needs"}}

{{#*inline "head-block"}}
<link rel="stylesheet" media="screen, print" href="css/theme-demo.min.css">
{{/inline}}

{{#*inline "content-block"}}

<div class="row">

	<div class="col-sm-6 col-lg-6 col-xl-4">

		<div class="d-flex ng-body-demo">
			<div class="ng-nav-demo bg-fusion-50">
				<div class="p-1 pt-0 bg-fusion-300 pattern-0 ng-header-demo">
					<img src="img/logo-all-white.png" alt="NextGen Logo" class="img-fluid">
				</div>
			</div>
			<div class="d-flex flex-column flex-1">
				<div class="ng-header-demo bg-fusion-300 pattern-0">
					&nbsp;
				</div>
				<div class="ng-container-demo flex-1 p-2">
					<h4>
						Fixed Header
						<small>
							Header is in a fixed position at all times
						</small>
					</h4>

				</div>
			</div>
		</div>

	</div>

	<div class="col-sm-6 col-lg-6 col-xl-4">

		<div class="d-flex ng-body-demo">
			<div class="ng-nav-demo bg-fusion-300 pattern-0 p-1 pt-0">
				<img src="img/logo-all-white.png" alt="NextGen Logo" class="img-fluid">
			</div>
			<div class="d-flex flex-column flex-1">
				<div class="ng-header-demo bg-fusion-50"></div>
				<div class="ng-container-demo flex-1 p-2">
					<h4>
						Fixed Navigation
						<small>
							Header is in a fixed position at all times
						</small>
					</h4>
				</div>
			</div>
		</div>

	</div>

	<div class="col-sm-6 col-lg-6 col-xl-4">

		<div class="d-flex ng-body-demo">
			<div class="ng-nav-demo-minify bg-fusion-300 pattern-0">
				<img src="img/logo-minify.png" alt="NextGen Logo" class="img-fluid logo">
			</div>
			<div class="d-flex flex-column flex-1">
				<div class="ng-header-demo bg-fusion-50"></div>
				<div class="ng-container-demo flex-1 p-2">
					<h4>
						Minify Navigation
						<small>
							Header is in a fixed position at all times
						</small>
					</h4>
				</div>
			</div>
		</div>
		
	</div>

	<div class="col-sm-6 col-lg-6 col-xl-4">

		<div class="d-flex ng-body-demo">
			<div class="ng-nav-demo-hidden bg-fusion-300 pattern-0">&nbsp;</div>
			<div class="d-flex flex-column flex-1">
				<div class="ng-header-demo bg-fusion-50"></div>
				<div class="ng-container-demo flex-1 p-2">
					<h4>
						Hide Navigation
						<small>
							Header is in a fixed position at all times
						</small>
					</h4>
				</div>
			</div>
		</div>

	</div>

	<div class="col-sm-6 col-lg-6 col-xl-4">
		
		<div class="d-flex ng-body-demo">
			<div class="d-flex flex-column flex-1">
				<div class="ng-nav-demo-top bg-fusion-300 pattern-0 p-1">
					<img src="img/logo-minify.png" alt="NextGen Logo" class="img-fluid">
				</div>
				<div class="ng-header-demo bg-fusion-50"></div>
				<div class="ng-container-demo flex-1 p-2">
					<h4>
						Top Navigation
						<small>
							Header is in a fixed position at all times
						</small>
					</h4>
				</div>
			</div>
		</div>

	</div>

	<div class="col-sm-6 col-lg-6 col-xl-4">
	
		<div class="ng-body-demo d-flex pl-5 pr-5 bg-primary-100 pattern-0">
			<div class="ng-nav-demo bg-fusion-300 p-1 pt-0">
				<img src="img/logo-white.png" alt="NextGen Logo" class="img-fluid">
			</div>
			<div class="d-flex flex-column flex-1">
				<div class="ng-header-demo bg-fusion-50"></div>
				<div class="ng-container-demo bg-faded flex-1 p-2">
					<h4>
						Boxed Layout
						<small>
							Header is in a fixed position at all times
						</small>
					</h4>
				</div>
			</div>
		</div>

	</div>

</div>

{{/inline}}

{{#*inline "scripts-block"}}{{/inline}}

{{/layouts/main}}