{{#> 
	layouts/main 
	title="Plugin FAQ" 
	pagename="plugin_faq" 
	category_1="Core Plugins" 
	heading="<i class='subheader-icon fal fa-shield-alt'></i> Plugins FAQ" 
	pagedescription="Include pace.js and a CSS theme of your choice, and you get a beautiful progress indicator for your page load and ajax navigation."
}}

{{#*inline "head-block"}}{{/inline}}

{{#*inline "content-block"}}

<div class="row">

	<div class="col">
		
		<div class="card mb-g">
			 <div class="card-body">
			 	<h2 class="color-danger-400">
			 		Jquery
			 		<sup>
			 			<span class="badge bg-fusion-500 fs-nano">DEPENDENCY</span>
			 		</sup>
			 	</h2>
			 	jQuery is a lightweight, "write less, do more", JavaScript library. The purpose of jQuery is to make it much easier to use JavaScript on your website. jQuery takes a lot of common tasks that require many lines of JavaScript code to accomplish, and wraps them into methods that you can call with a single line of code.
			 </div>
		</div>

		<div class="card mb-g">
			 <div class="card-body">
			 	<h2 class="color-danger-400">
			 		jquery-ui-cust.js
			 		<sup>
			 			<span class="badge bg-fusion-500 fs-nano">DEPENDENCY</span>
			 		</sup>
			 	</h2>
			 	jQuery UI is a widget and interaction library built on top of the jQuery JavaScript Library that you can use to build highly interactive web applications.
			 </div>
		</div>

		<div class="card mb-g">
			 <div class="card-body">
			 	<h2 class="color-danger-400">
			 		popper.js
			 		<sup>
			 			<span class="badge bg-fusion-500 fs-nano">DEPENDENCY</span>
			 		</sup>
			 	</h2>
			 	Dependency for Bootstrap.js to relay and position popovers and tooltips.
			 </div>
		</div>

		<div class="card mb-g">
			 <div class="card-body">
			 	<h2 class="color-danger-400">
			 		bootstrap.js
			 		<sup>
			 			<span class="badge bg-fusion-500 fs-nano">DEPENDENCY</span>
			 		</sup>
			 	</h2>
			 	Dependency for Bootstrap.js to relay and position popovers and tooltips.
			 </div>
		</div>

		<div class="card mb-g">
			 <div class="card-body">
			 	<h2 class="color-danger-400">
			 		SlimScroll
			 		<sup>
			 			<span class="badge badge-success fs-nano">EXTENSION</span>
			 		</sup>
			 	</h2>
			 	slimScroll is a small jQuery plugin that transforms any div into a scrollable area. slimScroll doesn't occupy any visual space as it only appears on a user initiated mouse-over.
			 </div>
		</div>

		<div class="card mb-g">
			 <div class="card-body">
			 	<h2 class="color-danger-400">
			 		SmartPanels
			 		<sup>
			 			<span class="badge badge-success fs-nano">EXTENSION</span>
			 		</sup>
			 	</h2>
			 	Transforms your panel component into draggable, localstorage based component. Remembering position, collapse state, and color changes.
			 </div>
		</div>

		<div class="card mb-g">
			 <div class="card-body">
			 	<h2 class="color-danger-400">
			 		nextgen-navigation.js
			 		<sup>
			 			<span class="badge badge-danger fs-nano">CORE</span>
			 		</sup>
			 	</h2>
			 	Is a simple jQuery plugin for creating accordion like menus for NextGen WebApp.
			 </div>
		</div>

		<div class="card mb-g">
			 <div class="card-body">
			 	<h2 class="color-danger-400">
			 		lazyload.js
			 		<sup>
			 			<span class="badge badge-warning fs-nano">RECOMMENDED</span>
			 		</sup>
			 	</h2>
			 	A fast, lightweight and flexible script that speeds up your web application by loading images only as they enter the viewport. LazyLoad is written in plain (vanilla) Javascript featuring the Intersection Observer API, it supports responsive images, it's SEO friendly and it has some other notable features.
			 </div>
		</div>

		<div class="card mb-g">
			 <div class="card-body">
			 	<h2 class="color-danger-400">
			 		ba-throttle-debounce.js
			 		<sup>
			 			<span class="badge badge-danger fs-nano">CORE</span>
			 		</sup>
			 	</h2>
			 	Using jQuery throttle / debounce, you can pass a delay and function to $.debounce to get a new function, that when called repetitively, executes the original function just once per “bunch” of calls, effectively coalescing multiple sequential calls into a single execution at either the beginning or end.
			 </div>
		</div>

		<div class="card mb-g">
			 <div class="card-body">
			 	<h2 class="color-danger-400">
			 		ripple.js
			 		<sup>
			 			<span class="badge badge-success fs-nano">EXTENSION</span>
			 		</sup>
			 	</h2>
			 	A tiny foundation for creating reactive components with interpolation, data-binding, and plugins.
			 </div>
		</div>


		<div class="card mb-g">
			 <div class="card-body">
			 	<h2 class="color-danger-400">
			 		jquery-snippets.js
			 		<sup>
			 			<span class="badge badge-danger fs-nano">CORE</span>
			 		</sup>
			 	</h2>
			 	A number of useful snippets library that is used repeatedly throught the app.
			 </div>
		</div>

		<div class="card mb-g">
			 <div class="card-body">
			 	<h2 class="color-danger-400">
			 		app.core.js
			 		<sup>
			 			<span class="badge badge-danger fs-nano">CORE</span>
			 		</sup>
			 	</h2>
			 	The entire app core, has a lot of useful functions, including saving/loading, mapping objects, data management, DOM cycles, page hight calculations, and many more.
			 </div>
		</div>

		<div class="card mb-g">
			 <div class="card-body">
			 	<h2 class="color-danger-400">
			 		Pace.js
			 		<sup>
			 			<span class="badge badge-warning fs-nano">RECOMMENDED</span>
			 		</sup>
			 	</h2>
			 	An automatic web page progress bar. Created using standalone javascript library.
			 </div>
		</div>

	</div>	

</div>

{{!-- <div class="card mb-g">

	<div class="card-body">

		<!-- row -->
		<div class="row">

			<div class="col-sm-12">
				

			</div>
		

			<!-- row left -->
			<div class="col-sm-12">


				<table class="mb-0 table-hover">
					<tbody>
						<tr>
							<td class="p-2 align-top text-right">
								<span class="badge bg-fusion-500 fs-nano">
									DEPENDENCY
								</span>
							</td>
							<td class="pl-2 pt-2 pb-1 align-top" style="width:180px">
								<code>jquery.js</code>
							</td>
							<td class="p-2 align-top">
								
									jQuery is a lightweight, "write less, do more", JavaScript library. The purpose of jQuery is to make it much easier to use JavaScript on your website. jQuery takes a lot of common tasks that require many lines of JavaScript code to accomplish, and wraps them into methods that you can call with a single line of code.
								
							</td>
						</tr>
						<tr>
							<td class="p-2 align-top text-right">
								<span class="badge bg-fusion-500 fs-nano">
									DEPENDENCY
								</span>
							</td>
							<td class="p-2 align-top">
								<code>jquery-ui-cust.js</code>
							</td>
							<td class="p-2 align-top">
								
									jQuery UI is a widget and interaction library built on top of the jQuery JavaScript Library that you can use to build highly interactive web applications.
								
							</td>
						</tr>
						<tr>
							<td class="p-2 align-top text-right">
								<span class="badge bg-fusion-500 fs-nano">
									DEPENDENCY
								</span>
							</td>
							<td class="p-2 align-top">
								<code>popper.js</code>
							</td>
							<td class="p-2 align-top">
								
									Dependency for Bootstrap.js to relay and position popovers and tooltips.
								
							</td>
						</tr>
						<tr>
							<td class="p-2 align-top text-right">
								<span class="badge bg-fusion-500 fs-nano">
									DEPENDENCY
								</span>
							</td>
							<td class="p-2 align-top">
								<code>bootstrap.js</code>
							</td>
							<td class="p-2 align-top">
								
									Bootstrap module dependency for Alert, Button, Carousel, Collapse, Dropdown, Modal, Popover, Scrollspy, Tab, Tooltip, and Transitions. 
								
							</td>
						</tr>
						<tr>
							<td class="p-2 align-top text-right">
								<span class="badge badge-success fs-nano">
									EXTENSION
								</span>
							</td>
							<td class="p-2 align-top">
								<code>slimscroll.js</code>
							</td>
							<td class="p-2 align-top">
								
									slimScroll is a small jQuery plugin that transforms any div into a scrollable area. slimScroll doesn't occupy any visual space as it only appears on a user initiated mouse-over.
								
							</td>
						</tr>
						<tr>
							<td class="p-2 align-top text-right">
								<span class="badge badge-success fs-nano">
									EXTENSION
								</span>
							</td>
							<td class="p-2 align-top">
								<code>smartpanels.js</code>
							</td>
							<td class="p-2 align-top">
								
									Transforms your panel component into draggable, localstorage based component. Remembering position, collapse state, and color changes.
								
							</td>
						</tr>
						<tr>
							<td class="p-2 align-top text-right">
								<span class="badge badge-danger fs-nano">
									CORE
								</span>
							</td>
							<td class="p-2 align-top">
								<code>NextGen-navigation.js</code>
							</td>
							<td class="p-2 align-top">
								
									Is a simple jQuery plugin for creating accordion like menus for NextGen WebApp.
								
							</td>
						</tr>
						<tr>
							<td class="p-2 align-top text-right">
								<span class="badge badge-warning fs-nano">
									RECOMMENDED
								</span>
							</td>
							<td class="p-2 align-top">
								<code>lazyload.js</code>
							</td>
							<td class="p-2 align-top">
								
									A fast, lightweight and flexible script that speeds up your web application by loading images only as they enter the viewport. LazyLoad is written in plain (vanilla) Javascript featuring the Intersection Observer API, it supports responsive images, it's SEO friendly and it has some other notable features.
								
							</td>
						</tr>
						<tr>
							<td class="p-2 align-top text-right">
								<span class="badge badge-danger fs-nano">
									CORE
								</span>
							</td>
							<td class="p-2 align-top">
								<code>ba-throttle-debounce.js</code>
							</td>
							<td class="p-2 align-top">
								
									Using jQuery throttle / debounce, you can pass a delay and function to $.debounce to get a new function, that when called repetitively, executes the original function just once per “bunch” of calls, effectively coalescing multiple sequential calls into a single execution at either the beginning or end.
								
							</td>
						</tr>
						<tr>
							<td class="p-2 align-top text-right">
								<span class="badge badge-success fs-nano">
									EXTENSION
								</span>
							</td>
							<td class="p-2 align-top">
								<code>ripple.js</code>
							</td>
							<td class="p-2 align-top">
								
									A tiny foundation for creating reactive components with interpolation, data-binding, and plugins.
								
							</td>
						</tr>
						<tr>
							<td class="p-2 align-top text-right">
								<span class="badge badge-danger fs-nano">
									CORE
								</span>
							</td>
							<td class="p-2 align-top">
								<code>jquery-snippets.js</code>
							</td>
							<td class="p-2 align-top">
								
									Show the progress bar and start updating. Called automatically if you don't use AMD or CommonJS.
								
							</td>
						</tr>
						<tr>
							<td class="p-2 align-top text-right">
								<span class="badge badge-danger fs-nano">
									CORE
								</span>
							</td>
							<td class="p-2 align-top">
								<code>app.core.js</code>
							</td>
							<td class="p-2 align-top">
								
									Show the progress bar and start updating. Called automatically if you don't use AMD or CommonJS.
								
							</td>
						</tr>
						<tr>
							<td class="p-2 align-top text-right">
								<span class="badge badge-warning fs-nano">
									RECOMMENDED
								</span>
							</td>
							<td class="p-2 align-top">
								<code>pace.js</code>
							</td>
							<td class="p-2 align-top">
								
									An automatic web page progress bar. Created using standalone javascript library.
								
							</td>
						</tr>
						<tr>
							<td class="p-2 align-top text-right" colspan="3">
								a
							</td>
						</tr>
					</tbody>
				</table>			

			</div>				
			<!-- / row left -->


		</div>
		<!-- /row -->

	</div>

</div> --}}

{{/inline}}

{{#*inline "scripts-block"}}{{/inline}}

{{/layouts/main}}