<!DOCTYPE html>
<!-- 
Template Name: NextGen Responsive WebApp - Template build with Twitter Bootstrap 4
Version: 1.0.0
Author: MyOrange
Website: http://www.myorange.ca
Contact: support@myorange.ca
Follow: www.twitter.com/myorangeca
Purchase: https://wrapbootstrap.com/theme/smartadmin-responsive-webapp-WB0573SK0?ref=myorange
License: You must have a valid license purchased only from wrapbootstrap.com (link above) in order to legally use this theme for your project.
-->
<html lang="en">
	<head>
		{{> include/_head}}

		{{!-- Optional: page related CSS --}}
		{{#>head-block}}{{/head-block}}
	</head>
	<body class="mod-bg-1">
		
		{{!-- save-settings-script --}}
		{{> include/_scripts-loading-saving}}
		
		<!-- BEGIN Page Wrapper -->
		<div class="page-wrapper clearfix">

			<!-- BEGIN Left Aside -->
			{{> include/_left-panel }}
			<!-- END Left Aside -->
			
			<!-- BEGIN Page Header -->
			{{> include/_page-header }}
			<!-- END Page Header -->

			<!-- BEGIN Page Content -->
			<main id="content" role="main">
				{{> include/_page-breadcrumb }}
				{{> include/_page-heading }}
				{{#>content-block}}{{/content-block}}
			</main>
			<!-- END Page Content -->

			<!-- BEGIN Page Footer -->
			{{> include/_page-footer }}
			<!-- END Page Footer -->

			<!-- BEGIN Shortcuts -->
			{{> include/_shortcut-modal }}
			<!-- END Shortcuts -->

		</div>
		<!-- END Page Wrapper -->

		<!-- BEGIN Quick Menu -->
		{{> include/_shortcut-menu }}
		<!-- END Quick Menu -->

		<!-- BEGIN Right Aside -->
		{{> include/_right-panel }}
		<!-- END Right Aside -->

		{{!-- Google Analytics  code if GOOGLE_ANALYTICS_ID id available --}}
		{{#if GOOGLE_ANALYTICS_ID}}
			<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			  ga('create', '{{GOOGLE_ANALYTICS_ID}}', 'auto');
			  ga('send', 'pageview');

			</script>
		{{/if}}
		{{> include/_scripts-base-plugins}}
		{{#>scripts-block}}
			{{!-- Custom scripts per page can be added. --}}
		{{/scripts-block}}
	</body>
</html>