<div class="custom-scroll h-100">
	<ul class="app-list">
		<li>
			<a href="#" class="no-ripple app-list__item">

				<span class="icon-stack fs-md">
					<i class="base-2 icon-stack-3x color-primary-600"></i>
					<i class="base-3 icon-stack-2x color-primary-700"></i>
					<i class="ni ni-settings icon-stack-1x text-white fs-lg"></i>
				</span>

				<span class="app-list__name">
					Services
				</span>
			</a>
		</li>
		<li>
			<a href="#" class="no-ripple app-list__item">

				<span class="icon-stack fs-md">
					<i class="base-2 icon-stack-3x color-primary-400"></i>
					<i class="ni md-mask text-white icon-stack-2x"></i>
					<i class="ni md-profile color-primary-800 icon-stack-2x"></i>
				</span>

				<span class="app-list__name">
					Account
				</span>
			</a>
		</li>
		<li>
			<a href="#" class="no-ripple app-list__item">

				<span class="icon-stack fs-md">
					<i class="base-2 icon-stack-3x color-primary-200"></i>
					<i class="base-2 icon-stack-2x color-primary-300"></i>
					<i class="ni ni-shield icon-stack-1x text-white"></i>
				</span>

				<span class="app-list__name">
					Security
				</span>
			</a>
		</li>
		<li>
			<a href="#" class="no-ripple app-list__item">

				<span class="icon-stack fs-md">
					<i class="base-4 icon-stack-3x color-info-200"></i>
					<i class="ni ni-mask-sq icon-stack-1x color-info-300"></i>
					<i class="ni ni-calendar icon-stack-1x text-white"></i>
				</span>

				<span class="app-list__name">
					Calendar
				</span>
			</a>
		</li>
		<li>
			<a href="#" class="no-ripple app-list__item">
				
				<span class="icon-stack fs-md">
					<i class="base-7 icon-stack-3x color-info-200"></i>
					<i class="base-7 icon-stack-2x color-info-500"></i>
					<i class="ni ni-graph icon-stack-1x text-white"></i>
				</span>
				<span class="app-list__name">
					Stats
				</span>
			</a>
		</li>
		<li>
			<a href="#" class="no-ripple app-list__item">
				<span class="stack-icons">
					<i class="base-stack base-4 color-danger-300"></i>
					<i class="middle-stack ni ni-mask-sq color-danger-400"></i>
					<i class="top-stack ni ni-envelope"></i>
				</span>
				<span class="app-list__name">
					Messages
				</span>
			</a>
		</li>
		<li>
			<a href="#" class="no-ripple app-list__item">
				<span class="stack-icons">
					<i class="base-stack base-6 color-fusion-500"></i>
					<i class="middle-stack base-4 color-fusion-300"></i>
					<i class="top-stack ni md-chat"></i>
				</span>
				<span class="app-list__name">
					Notes
				</span>
			</a>
		</li>
		<li>
			<a href="#" class="no-ripple app-list__item">
				<span class="stack-icons">
					<i class="base-stack base-4 color-success-200"></i>
					<i class="middle-stack ni ni-mask color-success-500"></i>
					<i class="top-stack ni md-chat"></i>
				</span>
				<span class="app-list__name">
					Photos
				</span>
			</a>
		</li>
		<li>
			<a href="#" class="no-ripple app-list__item">
				<span class="stack-icons">
					<i class="base-stack base-7 color-warning-300"></i>
					<i class="middle-stack ni ni-chat"></i>
				</span>
				<span class="app-list__name">
					Maps
				</span>
			</a>
		</li>
		<li>
			<a href="#" class="no-ripple app-list__item">
				<span class="stack-icons">
					<i class="base-stack base-5 color-warning-700"></i>
					<i class="middle-stack ni ni-chat"></i>
				</span>
				<span class="app-list__name">
					Chat
				</span>
			</a>
		</li>
		<li>
			<a href="#" class="no-ripple app-list__item">
				<span class="stack-icons">
					<i class="base-stack base-3 color-fusion-300"></i>
					<i class="middle-stack base-3 color-fusion-400 icon-lg"></i>
					<i class="top-stack ni ni-phone"></i>
				</span>
				<span class="app-list__name">
					Phone
				</span>
			</a>
		</li>
		<li>
			<a href="#" class="no-ripple app-list__item">
				<span class="stack-icons">
					<i class="base-stack base-4 color-fusion-500"></i>
					<i class="middle-stack ni md-chat"></i>
				</span>
				<span class="app-list__name">
					Projects
				</span>
			</a>
		</li>
		<li class="w-100">
			<a href="#" class="no-ripple btn  btn-default mt-4 mb-2 pr-5 pl-5"> Add more apps </a>
		</li>	
	</ul>	
</div>
