<div class="custom-scroll h-100">
	<ul class="app-list">
		<li>
			<a href="#" class="no-ripple app-list__item">
				<i class="base base-2 color-primary-600"></i>
				<i class="icon mask base-3 top color-primary-700"></i>
				<i class="icon icon-settings top smaller-icon"></i>
				<span class="app-list__name">
					Services
				</span>
			</a>
		</li>
		<li>
			<a href="#" class="no-ripple app-list__item">
				<i class="base base-2 color-primary-400"></i>
				<i class="icon mask md-mask top"></i>
				<i class="icon md-profile top color-primary-800"></i>
				<span class="app-list__name">
					Account
				</span>
			</a>
		</li>
		<li>
			<a href="#" class="no-ripple app-list__item">
				<i class="base base-2 color-primary-200"></i>
				<i class="icon mask base-2 top color-primary-300 larger-icon"></i>
				<i class="icon icon-shield top"></i>
				<span class="app-list__name">
					Security
				</span>
			</a>
		</li>
		<li>
			<a href="#" class="no-ripple app-list__item">
				<i class="base base-4 color-info-500"></i>
				<i class="icon mask icon-mask-sq top color-info-400"></i>
				<i class="icon icon-calendar top"></i>
				<span class="app-list__name">
					Calendar
				</span>
			</a>
		</li>
		<li>
			<a href="#" class="no-ripple app-list__item">
				<i class="base base-7 color-info-200"></i>
				<i class="icon mask icon-mask top larger-icon color-info-500"></i>
				<i class="icon icon-graph top"></i>
				<span class="app-list__name">
					Stats
				</span>
			</a>
		</li>
		<li>
			<a href="#" class="no-ripple app-list__item">
				<i class="base base-4 color-danger-300"></i>
				<i class="icon mask icon-mask-sq top color-danger-400"></i>
				<i class="icon icon-envelope top"></i>
				<span class="app-list__name">
					Messages
				</span>
			</a>
		</li>
		<li>
			<a href="#" class="no-ripple app-list__item">
				<i class="base base-6 color-fusion-500"></i>
				<i class="icon mask base-4 top color-fusion-300"></i>
				<i class="icon md-chat top"></i>
				<span class="app-list__name">
					Notes
				</span>
			</a>
		</li>
		<li>
			<a href="#" class="no-ripple app-list__item">
				<i class="base base-4 color-success-200"></i>
				<i class="icon mask icon-mask top color-success-500"></i>
				<i class="icon md-chat top"></i>
				<span class="app-list__name">
					Photos
				</span>
			</a>
		</li>
		<li>
			<a href="#" class="no-ripple app-list__item">
				<i class="base base-7 color-warning-300"></i>
				<i class="icon md-chat top"></i>
				<span class="app-list__name">
					Maps
				</span>
			</a>
		</li>
		<li>
			<a href="#" class="no-ripple app-list__item">
				<i class="base base-5 color-warning-700"></i>
				<i class="icon md-chat top"></i>
				<span class="app-list__name">
					Chat
				</span>
			</a>
		</li>
		<li>
			<a href="#" class="no-ripple app-list__item">
				<i class="base base-3 color-fusion-300"></i>
				<i class="icon mask base-3 top color-fusion-400 larger-icon"></i>
				<i class="icon icon-phone top"></i>
				<span class="app-list__name">
					Phone
				</span>
			</a>
		</li>
		<li>
			<a href="#" class="no-ripple app-list__item">
				<i class="base base-4 color-fusion-500"></i>
				<i class="icon md-chat top"></i>
				<span class="app-list__name">
					Projects
				</span>
			</a>
		</li>
		<li class="w-100">
			<a href="#" class="no-ripple btn  btn-default mt-4 mb-2 pr-5 pl-5"> Add more apps </a>
		</li>	
	</ul>	
</div>
