<div class="p-3 d-flex flex-row pt-4" data-toggle="buttons">
	<!--<label class="btn btn-default active mb-0 flex-1 fw-500">
		<input type="radio" name="options" id="online" checked=""> Online
	</label>
	<label class="btn btn-default mb-0 flex-1 fw-500">
		<input type="radio" name="options" id="invisible"> Invisible
	</label>-->
	<div class="d-flex flex-row align-items-center">
		<span class="status status-success mr-2">
			<img src="img/{{avatar}}" class="rounded-circle profile-image" alt="{{user}}">
		</span>
		<div class="info-card-text">
			<div class="fs-md text-truncate text-truncate-sm">{{user}}</div>
			<span><a href="#">View profile</a></span>
		</div>
	</div>
</div>
<div class="dropdown-divider m-0"></div>
<a href="#" class="dropdown-item" data-action="app-reset">
	<span data-i18n="drpdwn.reset_layout">Reset Layout</span>
</a>
<a href="#" class="dropdown-item" data-action="toggle" data-class="display-right-panel">
	<span data-i18n="drpdwn.settings">Settings</span>
</a>
<div class="dropdown-divider m-0"></div>

<a href="#" class="dropdown-item" data-action="app-fullscreen">
	<span data-i18n="drpdwn.fullscreen">Fullscreen</span> 
	<i class="float-right text-muted fw-n">F11</i>
</a>
<a href="#" class="dropdown-item" data-action="app-print">
	<span data-i18n="drpdwn.print">Print</span> 
	<i class="float-right text-muted fw-n">Ctrl + P</i>
</a>
<div class="dropdown-item d-flex align-items-center">
	<span data-i18n="drpdwn.language">Language</span> 
	<i class="text-muted fs-sm">&nbsp;(demo only) </i> 
	<i class="ni ni-chevron-right ml-auto"></i>
	<ul class="dropdown-item-menu float-sm-left">
		<li><a href="#?lang=fr" class="dropdown-item" data-action="lang" data-lang="fr">Français</a></li>
		<li><a href="#?lang=en" class="dropdown-item active" data-action="lang" data-lang="en">English (US)</a></li>
		<li><a href="#?lang=es" class="dropdown-item" data-action="lang" data-lang="es">Español</a></li>
		<li><a href="#?lang=ru" class="dropdown-item" data-action="lang" data-lang="ru">Русский язык</a></li>
		<li><a href="#?lang=ch" class="dropdown-item" data-action="lang" data-lang="jp">日本語</a></li>
		<li><a href="#?lang=ch" class="dropdown-item" data-action="lang" data-lang="ch">中文</a></li>
	</ul>
</div>
<div class="dropdown-divider m-0"></div>
<a class="dropdown-item fw-500 pt-3 pb-3" href="page_login.html">
	<span data-i18n="drpdwn.logout">Logout</span> 
	<span class="float-right fw-n">@{{email}}</span>
</a>
