<title>
{{#if title}}
	{{title}}
{{else}}
	NextGen Modular WebApp
{{/if}}
</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<!-- Required: Bootstrap & App CSS -->
<link rel="stylesheet" media="screen, print" href="css/bootstrap.min.css">
{{!-- <link rel="stylesheet" media="screen, print" href="css/font-awesome-pro.min.css"> --}}
<link rel="stylesheet" media="screen, print" href="css/fontawesome.min.css">
<link rel="stylesheet" media="screen, print" href="css/fa-light.min.css">
<link rel="stylesheet" media="screen, print" href="css/app.core.css">

<!-- Place favicon.ico in the root directory -->
<link rel="shortcut icon" href="favicon.ico?v=3" />
<!-- Progressive WebApp  -->
<link rel="manifest" href="./manifest.json">
<link rel="icon" sizes="192x192" href="./launcher-icon-8x.png">