<aside class="page-left-panel">

	{{> include/_logo }}

	<!-- BEGIN PRIMARY NAVIGATION -->
	<nav id="js-primary-nav" class="primary-nav" role="navigation">

		{{> include/_nav-filter }}
		{{> include/_nav-info-card }}
		<div id="js-scroll-left" class="nav-padel-left">left</div>		
		{{> include/_nav }}
		<div id="js-scroll-right" class="nav-padel-right">right</div>	

	</nav>
	<!-- END PRIMARY NAVIGATION -->

	{{> include/_nav-filter-msg }}

	<!-- NAV FOOTER -->
	{{> include/_nav-footer }}
	<!-- END NAV FOOTER -->

</aside>
