<a id="logo" href="introduction.html">
	<img src="img/logo-white.png" alt="NextGen Logo" class="btn-press-scale-down">
	<img src="img/logo-minify.png" alt="NextGen Logo" class="minify-logo btn-press-scale-down">
</a>