<div class="logo">
	<a href="#" class="logo-link press-scale-down d-flex align-items-center" data-toggle="modal" data-target="#modal-shortcut">
		<img src="img/{{logo}}" alt="{{app}}">
		<span class="logo-text mr-1">NextGen WebApp</span>
		<i class="fal fa-angle-down d-inline-block ml-1 fs-lg color-primary-300"></i>
	</a>
</div>