{{!-- Infocard --}}
<div class="info-card">
	<img src="img/avatar-sunny.png" class="profile-image rounded-circle" alt="Dr. Codex Lantern">
	<div class="info-card-text">
		<a href="#" class="d-flex align-items-center text-white" data-toggle="dropdown" aria-expanded="false">
			<span class="text-truncate text-truncate-sm d-inline-block">
				Dr. Codex Lantern
			</span>
			<i class="fal fa-angle-down d-inline-block ml-1"></i>
		</a>
		<div class="dropdown-menu">
			a
		</div>
		<span class="d-line-block text-truncate text-truncate-sm">Toronto, Canada</span>
	</div>
	<img src="img/cover-5-lg.png" class="cover" alt="cover">
	<a href="#" onclick="return false;" class="pull-trigger-btn" data-action="toggle" data-class="list-filter-active" data-target="#primary_nav" data-focus="nav_filter_input">
		<i class="fal fa-angle-down"></i>
	</a>
</div>