<div class="nav-footer shadow-top">
	<a href="javascript:void(0);" data-action="toggle" data-class="nav-function-minify" class="no-ripple hidden-md-down">
		<i class="ni ni-chevron-right"></i>
		<i class="ni ni-chevron-right"></i>
	</a>
	<ul class="list-table m-auto nav-footer-buttons">
		<li>
			<a href="#" class="no-ripple" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="Dismissible popover">
				<i class="fal fa-comments"></i>
			</a>
		</li>
		<li>
			<a href="#" class="no-ripple" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
				<i class="fal fa-life-ring"></i>
			</a>
		</li>
		<li>
			<a href="#" class="no-ripple" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
				<i class="fal fa-phone"></i>
			</a>
		</li>
	</ul>
</div>