<div id="nav-footer">
	<a href="javascript:void(0);" data-action="toggle" data-class="nav-function-minify" class="no-ripple hidden-md-down">
		<i class="icon icon-chevron-right"></i>
		<i class="icon icon-chevron-right"></i>
	</a>
	<ul class="list-table m-auto footer-buttons">
		<li>
			<a href="#" class="no-ripple" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="Dismissible popover">
				<i class="icon icon-bubbles"></i>
			</a>
		</li>
		<li>
			<a href="#" class="no-ripple" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
				<i class="icon icon-support"></i>
			</a>
		</li>
		<li>
			<a href="#" class="no-ripple" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
				<i class="icon icon-call-out"></i>
			</a>
		</li>
	</ul>
</div>
<div class="nav-footer-push"></div>