{{!-- Infocard --}}
<div class="info-card">
	<img src="img/avatar-sunny.png" class="profile-image rounded-circle" alt="Dr. Codex Lantern">
	<div class="info-card-text">
		<div class="text-truncate text-truncate-sm">Dr. Codex Lantern</div>
		<span class="d-line-block text-truncate text-truncate-sm">Toronto, Canada</span>
	</div>
	<img src="img/cover-5.png" class="cover" alt="cover">
	<a href="javascript:void(0);" class="pull-trigger-btn" data-action="toggle" data-class="list-filter-active" data-target="#primary_nav" data-focus="nav_filter_input">
		<i class="fal fa-angle-down"></i>
	</a>
</div>