<ul id="js-nav-menu" class="nav-menu">
	<li {{#is pagename "in" "intel_introduction,intel_build_notes"}}class="active open"{{/is}}>
		<a href="#" title="NextGen Intel" data-filter-tags="nextgen intel"> 
			{{!-- <img src="img/logo-minify.png" alt="NextGen Logo" class="rounded-circle"> --}}
			<i class="fal fa-info-circle"></i>
			<span class="nav-link-text" data-i18n="nav.nextgen_intel">NextGen Intel</span> 
		</a>
		<ul>
			<li {{#is pagename "===" "intel_introduction"}}class="active"{{/is}}>
				<a href="intel_introduction.html" data-filter-tags="intel introduction"> 
					<span class="nav-link-text" data-i18n="nav.intel_introduction"> Introduction</span> 
				</a>
			</li>
			<li {{#is pagename "===" "intel_build_notes"}}class="active"{{/is}}>
				<a href="intel_build_notes.html" data-filter-tags="intel build notes update changelog"> 
					<span class="nav-link-text"> 
						<span data-i18n="nav.intel_build_notes">Build Notes</span> &nbsp; <i>v{{version}}</i>
					</span> 
				</a>
			</li>
		</ul>	
	</li>
	<li {{#is pagename "in" "settings_how_it_works,settings_layout_options,settings_skin_options,settings_saving_db"}}class="active open"{{/is}}>
		<a href="#" data-filter-tags="settings theme settings"> 
			<i class="fal fa-cog"></i>
			<span class="nav-link-text" data-i18n="nav.intel_theme_settings"> Theme Settings</span> 
		</a>
		<ul>
			<li {{#is pagename "===" "settings_how_it_works"}}class="active"{{/is}}>
				<a href="settings_how_it_works.html" data-filter-tags="settings how to it works"> 
					<span class="nav-link-text" data-i18n="nav.settings_how_it_works">
						How it works
					</span>
				</a>
			</li>
			<li {{#is pagename "===" "settings_layout_options"}}class="active"{{/is}}>
				<a href="settings_layout_options.html" data-filter-tags="settings how to layout options"> 
					<span class="nav-link-text" data-i18n="nav.settings_layout_options">
						Layout Options
					</span>
				</a>
			</li>
			<li {{#is pagename "===" "settings_skin_options"}}class="active"{{/is}}>
				<a href="settings_skin_options.html" data-filter-tags="settings skin options"> 
					<span class="nav-link-text" data-i18n="nav.settings_skin_options">
						Skin Options
					</span>
				</a>
			</li>
			<li {{#is pagename "===" "settings_saving_db"}}class="active"{{/is}}>
				<a href="settings_saving_db.html" data-filter-tags="settings saving how to database"> 
					<span class="nav-link-text" data-i18n="nav.settings_saving_db">
						Saving to Database
					</span>
				</a>
			</li>
		</ul>		
	</li>	
	<li {{#is pagename "in" "info_app_flavors,info_app_licensing,info_app_docs"}}class="active open"{{/is}}>
		<a href="#" title="Package Info" data-filter-tags="package info"> 
			<i class="fal fa-tag"></i>
			<span class="nav-link-text" data-i18n="nav.info_package_info">
				Package Info
			</span> 
		</a>						
		<ul>
			<li {{#is pagename "===" "info_app_docs"}}class="active"{{/is}}>
				<a href="info_app_docs.html" data-filter-tags="package info documentation"> 
					<span class="nav-link-text" data-i18n="nav.info_docs">
						Documentation
					</span> 
				</a>
			</li>
			<li {{#is pagename "===" "info_app_licensing"}}class="active"{{/is}}>
				<a href="info_app_licensing.html" data-filter-tags="package info product licensing"> 
					<span class="nav-link-text" data-i18n="nav.info_app_licensing">
						Product Licensing
					</span> 
				</a>
			</li>
			<li {{#is pagename "===" "info_app_flavors"}}class="active"{{/is}}>
				<a href="info_app_flavors.html" data-filter-tags="package info different flavors .net asp angularjs versions"> 
					<span class="nav-link-text" data-i18n="nav.info_app_flavors">
						Different Flavors
					</span> 
				</a>
			</li>

		</ul>
	</li>
	<li class="nav-title">Tools &amp; Components </li>
	<li {{#is pagename "in" "ui_alerts,ui_accordion,ui_badges,ui_breadcrumbs,ui_buttons,ui_button_group,ui_cards,ui_carousel,ui_collapse,ui_dropdowns,ui_list_filter,ui_modal,ui_navbars,ui_panels,ui_pagination,ui_popovers,ui_tabs_pills,ui_toasts,ui_progress_bars,ui_side_panel,ui_scrollspy,ui_spinners,ui_tooltips"}}class="active open"{{/is}}>
		<a href="#" title="UI Components" data-filter-tags="ui components"> 
			<i class="fal fa-window"></i>
			<span class="nav-link-text" data-i18n="nav.ui_components">UI Components</span> 
		</a>
		<ul>
			<li {{#is pagename "===" "ui_alerts"}}class="active"{{/is}}>
				<a href="ui_alerts.html" data-filter-tags="ui components alerts"> 
					<span class="nav-link-text" data-i18n="nav.ui_alerts">Alerts</span> 
				</a>
			</li>
			<li {{#is pagename "===" "ui_accordion"}}class="active"{{/is}}>
				<a href="ui_accordion.html" data-filter-tags="ui components accordion"> 
					<span class="nav-link-text" data-i18n="nav.ui_accordion">Accordions</span> 
				</a>
			</li>
			<li {{#is pagename "===" "ui_badges"}}class="active"{{/is}}>
				<a href="ui_badges.html" data-filter-tags="ui components badges"> 
					<span class="nav-link-text" data-i18n="nav.ui_badges">Badges</span> 
				</a>
			</li>
			<li {{#is pagename "===" "ui_breadcrumbs"}}class="active"{{/is}}>
				<a href="ui_breadcrumbs.html" data-filter-tags="ui components breadcrumbs"> 
					<span class="nav-link-text" data-i18n="nav.ui_breadcrumbs">Breadcrumbs</span> 
				</a>
			</li>
			<li {{#is pagename "===" "ui_buttons"}}class="active"{{/is}}>
				<a href="ui_buttons.html" data-filter-tags="ui components buttons"> 
					<span class="nav-link-text" data-i18n="nav.ui_buttons">Buttons</span> 
				</a>
			</li>
			<li {{#is pagename "===" "ui_button_group"}}class="active"{{/is}}>
				<a href="ui_button_group.html" data-filter-tags="ui components button group"> 
					<span class="nav-link-text" data-i18n="nav.ui_button_group">Button Group</span> 
				</a>
			</li>
			<li {{#is pagename "===" "ui_cards"}}class="active"{{/is}}>
				<a href="ui_cards.html" data-filter-tags="ui components cards"> 
					<span class="nav-link-text" data-i18n="nav.ui_cards">Cards</span> 
				</a>
			</li>
			<li {{#is pagename "===" "ui_carousel"}}class="active"{{/is}}>
				<a href="ui_carousel.html" data-filter-tags="ui components carousel"> 
					<span class="nav-link-text" data-i18n="nav.ui_carousel">Carousel</span> 
				</a>
			</li>
			<li {{#is pagename "===" "ui_collapse"}}class="active"{{/is}}>
				<a href="ui_collapse.html" data-filter-tags="ui components collapse"> 
					<span class="nav-link-text" data-i18n="nav.ui_collapse">Collapse</span> 
				</a>
			</li>
			<li {{#is pagename "===" "ui_dropdowns"}}class="active"{{/is}}>
				<a href="ui_dropdowns.html" data-filter-tags="ui components dropdowns"> 
					<span class="nav-link-text" data-i18n="nav.ui_dropdowns">Dropdowns</span> 
				</a>
			</li>
			<li {{#is pagename "===" "ui_list_filter"}}class="active"{{/is}}>
				<a href="ui_list_filter.html" data-filter-tags="ui components list filter"> 
					<span class="nav-link-text">
						<span data-i18n="nav.ui_list_filter">List Filter</span>
					</span>
				</a>
			</li>
			<li {{#is pagename "===" "ui_modal"}}class="active"{{/is}}>
				<a href="ui_modal.html" data-filter-tags="ui components modal"> 
					<span class="nav-link-text">
						<span data-i18n="nav.ui_modal">Modal</span>
					</span>
				</a>
			</li>			
			<li {{#is pagename "===" "ui_navbars"}}class="active"{{/is}}>
				<a href="ui_navbars.html" data-filter-tags="ui components navbars"> 
					<span class="nav-link-text" data-i18n="nav.ui_navbars">Navbars</span> 
				</a>
			</li>
			<li {{#is pagename "===" "ui_panels"}}class="active"{{/is}}>
				<a href="ui_panels.html" data-filter-tags="ui components panels"> 
					<span class="nav-link-text" data-i18n="nav.ui_panels">Panels</span> 
				</a>
			</li>
			<li {{#is pagename "===" "ui_pagination"}}class="active"{{/is}}>
				<a href="ui_pagination.html" data-filter-tags="ui components pagination"> 
					<span class="nav-link-text" data-i18n="nav.ui_pagination">Pagination</span> 
				</a>
			</li>
			<li {{#is pagename "===" "ui_popovers"}}class="active"{{/is}}>
				<a href="ui_popovers.html" data-filter-tags="ui components popovers"> 
					<span class="nav-link-text" data-i18n="nav.ui_popovers">Popovers</span> 
				</a>
			</li>			
			<li {{#is pagename "===" "ui_progress_bars"}}class="active"{{/is}}>
				<a href="ui_progress_bars.html" data-filter-tags="ui components progress bars"> 
					<span class="nav-link-text" data-i18n="nav.ui_progress_bars">Progress Bars</span> 
				</a>
			</li>
			<li {{#is pagename "===" "ui_scrollspy"}}class="active"{{/is}}>
				<a href="ui_scrollspy.html" data-filter-tags="ui components scrollspy"> 
					<span class="nav-link-text" data-i18n="nav.ui_scrollspy">ScrollSpy</span> 
				</a>
			</li>
			<li {{#is pagename "===" "ui_side_panel"}}class="active"{{/is}}>
				<a href="ui_side_panel.html" data-filter-tags="ui components slide panel"> 
					<span class="nav-link-text" data-i18n="nav.ui_side_panel">Side Panel</span> 
				</a>
			</li>
			<li {{#is pagename "===" "ui_spinners"}}class="active"{{/is}}>
				<a href="ui_spinners.html" data-filter-tags="ui components scrollspy"> 
					<span class="nav-link-text" data-i18n="nav.ui_spinners">Spinners</span> 
				</a>
			</li>
			<li {{#is pagename "===" "ui_tabs_pills"}}class="active"{{/is}}>
				<a href="ui_tabs_pills.html" data-filter-tags="ui components tabs"> 
					<span class="nav-link-text" data-i18n="nav.ui_tabs_pills">Tabs & Pills</span> 
				</a>
			</li>
			<li {{#is pagename "===" "ui_toasts"}}class="active"{{/is}}>
				<a href="ui_toasts.html" data-filter-tags="ui components toasts"> 
					<span class="nav-link-text" data-i18n="nav.ui_toasts">Toasts</span> 
				</a>
			</li>
			<li {{#is pagename "===" "ui_tooltips"}}class="active"{{/is}}>
				<a href="ui_tooltips.html" data-filter-tags="ui components tooltips"> 
					<span class="nav-link-text" data-i18n="nav.ui_tooltips">Tooltips</span> 
				</a>
			</li>
		</ul>
	</li>
	<li {{#is pagename "in" "utilities_borders,utilities_clearfix,utilities_color_pallet,utilities_display_property,utilities_fonts,utilities_flexbox,utilities_helpers,utilities_position,utilities_responsive_grid,utilities_responsive_helpers,utilities_sizing,utilities_spacing,utilities_typography"}}class="active open"{{/is}}>
		<a href="#" data-filter-tags="utilities"> 
			<i class="fal fa-bolt"></i>
			<span class="nav-link-text" data-i18n="nav.ui_utilities">
				Utilities
			</span> 
		</a>
		<ul>
			<li {{#is pagename "===" "utilities_borders"}}class="active"{{/is}}>
				<a href="utilities_borders.html" data-filter-tags="utilities borders">
					<span class="nav-link-text" data-i18n="nav.utilities_borders">
						Borders
					</span>
				</a>
			</li>
			<li {{#is pagename "===" "utilities_clearfix"}}class="active"{{/is}}>
				<a href="utilities_clearfix.html" data-filter-tags="utilities clearfix"> 
					<span class="nav-link-text" data-i18n="nav.utilities_clearfix">
						Clearfix
					</span>
				</a>
			</li>
			<li {{#is pagename "===" "utilities_color_pallet"}}class="active"{{/is}}>
				<a href="utilities_color_pallet.html" data-filter-tags="utilities color pallet"> 
					<span class="nav-link-text" data-i18n="nav.utilities_color_pallet">
						Color pallet
					</span>
				</a>
			</li>
			<li {{#is pagename "===" "utilities_display_property"}}class="active"{{/is}}>
				<a href="utilities_display_property.html" data-filter-tags="utilities display property">
					<span class="nav-link-text" data-i18n="nav.utilities_display_property">
						Display property
					</span>
				</a>
			</li>
			<li {{#is pagename "===" "utilities_fonts"}}class="active"{{/is}}>
				<a href="utilities_fonts.html" data-filter-tags="utilities fonts"> 
					<span class="nav-link-text" data-i18n="nav.utilities_fonts">
						Fonts
					</span>
				</a>
			</li>
			<li {{#is pagename "===" "utilities_flexbox"}}class="active"{{/is}}>
				<a href="utilities_flexbox.html" data-filter-tags="utilities flexbox"> 
					<span class="nav-link-text" data-i18n="nav.utilities_flexbox">
						Flexbox
					</span>
				</a>
			</li>
			<li {{#is pagename "===" "utilities_helpers"}}class="active"{{/is}}>
				<a href="utilities_helpers.html" data-filter-tags="utilities helpers"> 
					<span class="nav-link-text" data-i18n="nav.utilities_helpers">Helpers</span> 
				</a>
			</li>			
			<li {{#is pagename "===" "utilities_position"}}class="active"{{/is}}>
				<a href="utilities_position.html" data-filter-tags="utilities position"> 
					<span class="nav-link-text" data-i18n="nav.utilities_position">
						Position
					</span>
				</a>
			</li>
			<li {{#is pagename "===" "utilities_responsive_grid"}}class="active"{{/is}}>
				<a href="utilities_responsive_grid.html" data-filter-tags="utilities responsive grid"> 
					<span class="nav-link-text" data-i18n="nav.utilities_responsive_grid">
						Responsive grid
					</span>
				</a>
			</li>
			<li {{#is pagename "===" "utilities_responsive_helpers"}}class="active"{{/is}}>
				<a href="utilities_responsive_helpers.html" data-filter-tags="utilities responsive helpers"> 
					<span class="nav-link-text" data-i18n="nav.utilities_responsive_helpers">
						Responsive helpers
					</span>
				</a>
			</li>
			<li {{#is pagename "===" "utilities_sizing"}}class="active"{{/is}}>
				<a href="utilities_sizing.html" data-filter-tags="utilities sizing"> 
					<span class="nav-link-text" data-i18n="nav.utilities_sizing">
						Sizing
					</span>
				</a>
			</li>
			<li {{#is pagename "===" "utilities_spacing"}}class="active"{{/is}}>
				<a href="utilities_spacing.html" data-filter-tags="utilities spacing"> 
					<span class="nav-link-text" data-i18n="nav.utilities_spacing">
						Spacing
					</span>
				</a>
			</li>
			<li {{#is pagename "===" "utilities_typography"}}class="active"{{/is}}>
				<a href="utilities_typography.html" data-filter-tags="utilities typography fonts headings bold lead colors sizes link text states list styles truncate alignment"> 
					<span class="nav-link-text" data-i18n="nav.utilities_typography">
						Typography
					</span> 
				</a>
			</li>
			<li>
				<a href="javascript:void(0);" data-filter-tags="menu child"> 
					<span class="dl-ref bg-success-500">L1</span>
					<span class="nav-link-text" data-i18n="nav.ui_menu_child">
						Menu child
					</span> 
				</a>
				<ul>
					<li>
						<a href="javascript:void(0);" data-filter-tags="sublevel"> 
							<span class="nav-link-text" data-i18n="nav.ui_sublevel">
								Sublevel Item
							</span> 
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" data-filter-tags="sublevel w/ icon"> 
							<span class="nav-link-text" data-i18n="nav.ui_sublevel_icon">
								Another Item
							</span> 
						</a>
					</li>
				</ul>
			</li>
			<li class="disabled">
				<a href="#" data-filter-tags="disabled item"> 
					<span class="dl-ref bg-success-500">DS</span>
					<span class="nav-link-text" data-i18n="nav.ui_disabled_item">
						Disabled item
					</span> 
				</a>
			</li>
		</ul>
	</li>	
	<li {{#is pagename "in" "icons_webfonts_faq,icons_fontawesome_light,icons_fontawesome_regular,icons_fontawesome_solid,icons_fontawesome_brand,icons_fontawesome_svg,icons_nextgen_general,icons_nextgen_base,icons_stack_showcase,icons_stack_generate"}}class="active open"{{/is}}>
		<a href="#" title="Icons" data-filter-tags="icons">
			<i class="fal fa-map-marker-alt"></i>
			<span class="nav-link-text" data-i18n="nav.infterface.icons">Font Icons</span>
			<span class="dl-ref bg-primary-500 hidden-nav-function-minify hidden-nav-function-top">&nbsp;2,500+&nbsp;</span>
		</a>
		<ul>
			<li {{#is pagename "===" "icons_webfonts_faq"}}class="active"{{/is}}>
				<a href="icons_webfonts_faq.html" data-filter-tags="ui components font icons fontawesome free icons"> 
					<span class="nav-link-text" data-i18n="nav.icons_wf">
						Webfonts FAQ
					</span>
				</a>
			</li>
			<li {{#is pagename "in" "icons_fontawesome_light,icons_fontawesome_regular,icons_fontawesome_solid,icons_fontawesome_brand, icons_fontawesome_svg"}}class="active open"{{/is}}>
				<a href="#" title="Icons" data-filter-tags="icons">
					<span class="nav-link-text">
						<span data-i18n="nav.infterface.icons">FontAwesome 5</span>
					</span>
				</a>
				<ul>
					<li {{#is pagename "===" "icons_fontawesome_light"}}class="active"{{/is}}>
						<a href="icons_fontawesome_light.html" data-filter-tags="font icons fontawesome pro light"> 
							<span class="nav-link-text" data-i18n="nav.icons_fontawesome_light">
								Light
								<span class="dl-ref label bg-success-700 ml-1">PRO</span>
							</span>
						</a>
					</li>
					<li {{#is pagename "===" "icons_fontawesome_regular"}}class="active"{{/is}}>
						<a href="icons_fontawesome_regular.html" data-filter-tags="font icons fontawesome pro regular"> 
							<span class="nav-link-text" data-i18n="nav.icons_far">
								Regular 
								<span class="dl-ref label bg-success-800 ml-1">PRO</span>
							</span>
						</a>
					</li>
					<li {{#is pagename "===" "icons_fontawesome_solid"}}class="active"{{/is}}>
						<a href="icons_fontawesome_solid.html" data-filter-tags="font icons fontawesome pro solid"> 
							<span class="nav-link-text" data-i18n="nav.icons_fas">
								Solid
								<span class="dl-ref label bg-success-900 ml-1">PRO</span>
							</span>
						</a>
					</li>
					<li {{#is pagename "===" "icons_fontawesome_brand"}}class="active"{{/is}}>
						<a href="icons_fontawesome_brand.html" data-filter-tags="font icons fontawesome brand"> 
							<span class="nav-link-text" data-i18n="nav.icons_fas">
								Brand
							</span>
						</a>
					</li>
					<li {{#is pagename "===" "icons_fontawesome_svg"}}class="active"{{/is}}>
						<a href="icons_fontawesome_brand.html" data-filter-tags="font icons fontawesome pro svg"> 
							<span class="nav-link-text" data-i18n="nav.icons_fas">
								Render as SVG
							</span>
						</a>
					</li>
				</ul>
			</li>
			<li {{#is pagename "in" "icons_nextgen_general,icons_nextgen_base"}}class="active open"{{/is}}>
				<a href="#" title="NextGen Icons" data-filter-tags="ui components font icons nextgen icons">
					<span class="nav-link-text">
						<span data-i18n="nav.nextgen_icons">NextGen Icons</span>
					</span>
				</a>
				<ul>
					<li {{#is pagename "===" "icons_nextgen_general"}}class="active"{{/is}}>
						<a href="icons_nextgen_general.html" data-filter-tags="ui components font icons nextgen icons"> 
							<span class="nav-link-text" data-i18n="nav.icons_nextgen_general">
								General
							</span>
						</a>
					</li>
					<li {{#is pagename "===" "icons_nextgen_base"}}class="active"{{/is}}>
						<a href="icons_nextgen_base.html" data-filter-tags="ui components font icons nextgen icons base"> 
							<span class="nav-link-text" data-i18n="nav.icons_nextgen_base">
								Base
							</span>
						</a>
					</li>
				</ul>
			</li>						
			<li {{#is pagename "in" "icons_stack_showcase,icons_stack_generate"}}class="active open"{{/is}}>
				<a href="#" title="Stack Icons" data-filter-tags="stack icons">
					<span class="nav-link-text">
						<span data-i18n="nav.icons_stack_icons">
							Stack Icons
						</span>
					</span>
				</a>
				<ul>
					<li {{#is pagename "===" "icons_stack_showcase"}}class="active"{{/is}}>
						<a href="icons_stack_showcase.html" data-filter-tags="stack icons stack showcase"> 
							<span class="nav-link-text" data-i18n="nav.icons_fontawesome_light">
								Showcase
							</span>
						</a>
					</li>
					<li {{#is pagename "===" "icons_stack_generate"}}class="active"{{/is}}>
						<a href="icons_stack_generate.html?layers=3" data-filter-tags="stack icons stack genearte"> 
							<span class="nav-link-text" data-i18n="nav.icons_stack_generate">
								Generate Stack
							</span>
						</a>
					</li>
				</ul>					
			</li>
		</ul>
	</li>	
	<li {{#is pagename "in" "datagrid_basic_tables,datagrid_generate_table_style"}}class="active open"{{/is}}>
		<a href="#" title="Datagrid" data-filter-tags="datagrid"> 
			<i class="fal fa-th-list"></i>
			<span class="nav-link-text" data-i18n="nav.datagrid">Datagrid</span>
		</a>
		<ul>
			<li {{#is pagename "===" "datagrid_basic_tables"}}class="active"{{/is}}>
				<a href="datagrid_basic_tables.html" data-filter-tags="datagrid basic tables"> 
					<span class="nav-link-text" data-i18n="nav.datagrid_basic_tables">Basic Tables</span> 
				</a>
			</li>
			<li {{#is pagename "===" "datagrid_generate_table_style"}}class="active"{{/is}}>
				<a href="datagrid_generate_table_style.html" data-filter-tags="datagrid table generator tables"> 
					<span class="nav-link-text" data-i18n="nav.datagrid_generate_table_style">Generate Table Style</span> 
				</a>
			</li>
		</ul>
	</li>			
	<li {{#is pagename "in" "form_elements,form_controls,form_custom_controls,form_input_groups,form_jquery_validation,form_samples"}}class="active open"{{/is}}>
		<a href="#" title="Form Stuff" data-filter-tags="forms stuff"> 
			<i class="fal fa-edit"></i>
			<span class="nav-link-text" data-i18n="nav.form">Form Stuff</span>
		</a>
		<ul>
			<li {{#is pagename "===" "form_elements"}}class="active"{{/is}}>
				<a href="form_elements.html" data-filter-tags="forms elements"> 
					<span class="nav-link-text" data-i18n="nav.form_elements">General Elements</span> 
				</a>
			</li>
			<li {{#is pagename "===" "form_controls"}}class="active"{{/is}}>
				<a href="form_controls.html" data-filter-tags="forms controls"> 
					<span class="nav-link-text" data-i18n="nav.form_controls">Controls</span> 
				</a>
			</li>
			<li {{#is pagename "===" "form_custom_controls"}}class="active"{{/is}}>
				<a href="form_custom_controls.html" data-filter-tags="forms controls"> 
					<span class="nav-link-text" data-i18n="nav.form_custom_control">Custom Controls</span> 
				</a>
			</li>
			<li {{#is pagename "===" "form_input_groups"}}class="active"{{/is}}>
				<a href="form_input_groups.html" data-filter-tags="forms input groups"> 
					<span class="nav-link-text" data-i18n="nav.form_input_groups">Input Groups</span> 
				</a>
			</li>
			<li {{#is pagename "===" "form_jquery_validation"}}class="active"{{/is}}>
				<a href="form_jquery_validation.html" data-filter-tags="forms jquery validation"> 
					<span class="nav-link-text" data-i18n="nav.form_jquery_validation">Jquery Validation</span> 
				</a>
			</li>	
			<li {{#is pagename "===" "form_samples"}}class="active"{{/is}}>
				<a href="form_samples.html" data-filter-tags="forms example"> 
					<span class="nav-link-text" data-i18n="nav.form_samples">Samples</span> 
				</a>
			</li>																														
		</ul>
	</li>
	<li class="nav-title">Plugins &amp; Templates </li>
	<li {{#is pagename "in" "plugin_faq,plugin_lazyload,plugin_waves,plugin_pacejs,plugin_smartpanels,plugin_slimscroll,plugin_throttle,plugin_navigation,plugin_i18next,plugin_appcore"}}class="active open"{{/is}}>
		<a href="#" title="Plugins" data-filter-tags="core plugins"> 
			<i class="fal fa-shield-alt"></i>
			<span class="nav-link-text" data-i18n="nav.plugin">Core Plugins </span> 
			<span class="dl-ref bg-primary-500 hidden-nav-function-minify hidden-nav-function-top">&nbsp;45 KB&nbsp;</span>
		</a>
		<ul>
			<li {{#is pagename "===" "plugin_faq"}}class="active"{{/is}}>
				<a href="plugin_faq.html" data-filter-tags="plugins faq info"> 
					<span class="nav-link-text">
						<span data-i18n="nav.plugin_faq">Plugins FAQ</span>
					</span>
				</a>
			</li>
			<li {{#is pagename "===" "plugin_lazyload"}}class="active"{{/is}}>
				<a href="plugin_lazyload.html" data-filter-tags="plugins lazyload"> 
					<span class="nav-link-text">
						<span data-i18n="nav.plugin_lazyload">LazyLoad</span>
						<span class="dl-ref label bg-success-600 ml-1">5 KB</span> 
					</span>
				</a>
			</li>
			<li {{#is pagename "===" "plugin_waves"}}class="active"{{/is}}>
				<a href="plugin_waves.html" data-filter-tags="plugins waves"> 
					<span class="nav-link-text">
						<span data-i18n="nav.plugin_waves">Waves</span>
						<span class="dl-ref label bg-success-600 ml-1">9 KB</span> 
					</span>
				</a>
			</li>
			<li {{#is pagename "===" "plugin_pacejs"}}class="active"{{/is}}>
				<a href="plugin_pacejs.html" data-filter-tags="plugin pacejs"> 
					<span class="nav-link-text">
						<span data-i18n="nav.plugin_pacejs">PaceJS</span>
						<span class="dl-ref label bg-success-700 ml-1">13 KB</span> 
					</span>
				</a>
			</li>
			<li {{#is pagename "===" "plugin_smartpanels"}}class="active"{{/is}}>
				<a href="plugin_smartpanels.html" data-filter-tags="plugin smart panels"> 
					<span class="nav-link-text">
						<span data-i18n="nav.plugin_smartpanels">SmartPanels</span>
						<span class="dl-ref label bg-success-700 ml-1">9 KB</span>
					</span>
				</a>
			</li>
			<li {{#is pagename "===" "plugin_slimscroll"}}class="active"{{/is}}>
				<a href="plugin_slimscroll.html" data-filter-tags="plugins slim scroll slimscroll"> 
					<span class="nav-link-text">
						<span data-i18n="nav.plugin_slimscroll">Slimscroll</span>
						<span class="dl-ref label bg-success-800 ml-1">5 KB</span>
					</span>
				</a>
			</li>
			<li {{#is pagename "===" "plugin_throttle"}}class="active"{{/is}}>
				<a href="plugin_throttle.html" data-filter-tags="plugins throttle"> 
					<span class="nav-link-text">
						<span data-i18n="nav.plugin_throttle">Throttle</span>
						<span class="dl-ref label bg-success-800 ml-1">1 KB</span>
					</span>
				</a>
			</li>
			<li {{#is pagename "===" "plugin_navigation"}}class="active"{{/is}}>
				<a href="plugin_navigation.html" data-filter-tags="plugins navigation"> 
					<span class="nav-link-text">
						<span data-i18n="nav.plugin_navigation">Navigation</span>
						<span class="dl-ref label bg-success-900 ml-1">2 KB</span>
					</span>
				</a>
			</li>
			<li {{#is pagename "===" "plugin_i18next"}}class="active"{{/is}}>
				<a href="plugin_i18next.html" data-filter-tags="plugins i18next"> 
					<span class="nav-link-text">
						<span data-i18n="nav.plugin_i18next">i18next</span>
						<span class="dl-ref label bg-success-900 ml-1">10 KB</span>
					</span>
				</a>
			</li>	
			<li {{#is pagename "===" "plugin_appcore"}}class="active"{{/is}}>
				<a href="plugin_appcore.html" data-filter-tags="plugins app core"> 
					<span class="nav-link-text">
						<span data-i18n="nav.plugin_appcore">App.Core</span>
						<span class="dl-ref label bg-success-900 ml-1">14 KB</span>
					</span>
				</a>
			</li>							
		</ul>	
	</li>
	<li {{#is pagename "in" "page_blank,page_search,page_error,page_error_404,page_inbox,page_inbox_write,page_inbox_read"}}class="active open"{{/is}}>
		<a href="#" title="Pages" data-filter-tags="page layouts"> 
			<i class="fal fa-plus-circle"></i>
			<span class="nav-link-text" data-i18n="nav.page">Page Layouts</span> 
		</a>
		<ul>
			<li {{#is pagename "===" "blank"}}class="active"{{/is}}>
				<a href="blank.html" data-filter-tags="blank page layouts"> 
					<span class="nav-link-text" data-i18n="nav.page_blank">Blank</span>
				</a>
			</li>
			<li {{#is pagename "in" "page_forget,page_locked,page_login,page_register"}}class="active open"{{/is}}>
				<a href="#" title="Authentication Pages" data-filter-tags="page layouts authentication"> 
					<span class="nav-link-text" data-i18n="nav.page_auth">Auth. Pages</span>
				</a>
				<ul>
					<li {{#is pagename "===" "forget"}}class="active"{{/is}}>
						<a href="page_forget.html" data-filter-tags="page layouts auth forget password"> 
							<span class="nav-link-text" data-i18n="nav.page_forget">Forget Password</span>
						</a>
					</li>
					<li {{#is pagename "===" "locked"}}class="active"{{/is}}>
						<a href="page_locked.html" data-filter-tags="page layouts auth locked screen"> 
							<span class="nav-link-text" data-i18n="nav.page_locked">Locked Screen</span>
						</a>
					</li>
					<li {{#is pagename "===" "login"}}class="active"{{/is}}>
						<a href="page_login.html" data-filter-tags="page layouts auth login"> 
							<span class="nav-link-text" data-i18n="nav.page_login">Login</span>
						</a>
					</li>
					<li {{#is pagename "===" "register"}}class="active"{{/is}}>
						<a href="page_register.html" data-filter-tags="page layouts auth register"> 
							<span class="nav-link-text" data-i18n="nav.page_register">Register</span>
						</a>	
					</li>
				</ul>
			</li>
			<li {{#is pagename "in" "page_error_announced,page_error,page_error_404"}}class="active open"{{/is}}>
				<a href="#" title="Error Pages" data-filter-tags="page layouts error"> 
					<span class="nav-link-text" data-i18n="nav.page_error_eg">Error Pages</span>
				</a>
				<ul>
					<li {{#is pagename "===" "page_error"}}class="active"{{/is}}>
						<a href="page_error.html" data-filter-tags="page layouts error general small"> 
							<span class="nav-link-text" data-i18n="nav.page_error">General Error</span>
						</a>
					</li>
					<li {{#is pagename "===" "page_error_404"}}class="active"{{/is}}>
						<a href="page_error_404.html" data-filter-tags="page layouts error server"> 
							<span class="nav-link-text" data-i18n="nav.page_error_404">Server Error</span>
						</a>
					</li>
					<li {{#is pagename "===" "page_error_announced"}}class="active"{{/is}}>
						<a href="page_error_announced.html" data-filter-tags="page layouts error announced big"> 
							<span class="nav-link-text" data-i18n="nav.page_error_announced">Announced Error</span>
						</a>
					</li>
				</ul>
			</li>
			<li {{#is pagename "===" "page_search"}}class="active"{{/is}}>
				<a href="page_search.html" data-filter-tags="page layouts search results"> 
					<span class="nav-link-text" data-i18n="nav.page_search">Search Results</span>
				</a>
			</li>
			<li {{#is pagename "in" "page_inbox,page_inbox_write,page_inbox_read"}}class="active open"{{/is}}>
				<a href="#" title="Inbox Layouts" data-filter-tags="page layouts inbox read write compose view"> 
					<span class="nav-link-text" data-i18n="nav.page_error_eg">Inbox Layouts</span>
				</a>
				<ul>
					<li {{#is pagename "===" "page_inbox"}}class="active"{{/is}}>
						<a href="page_inbox.html" data-filter-tags="page layouts inbox general view"> 
							<span class="nav-link-text" data-i18n="nav.page_inbox">General</span>
						</a>
					</li>
					<li {{#is pagename "===" "page_inbox_read"}}class="active"{{/is}}>
						<a href="page_inbox_read.html" data-filter-tags="page layouts inbox read email view"> 
							<span class="nav-link-text" data-i18n="nav.page_inbox_read">Read</span>
						</a>
					</li>
					<li {{#is pagename "===" "page_inbox_write"}}class="active"{{/is}}>
						<a href="page_inbox_write.html" data-filter-tags="page layouts inbox reply email view compose new"> 
							<span class="nav-link-text" data-i18n="nav.page_inbox_write">Write</span>
						</a>
					</li>
				</ul>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html" data-filter-tags="---"> 
					<span class="nav-link-text">---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html" data-filter-tags="---"> 
					<span class="nav-link-text">---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html" data-filter-tags="---"> 
					<span class="nav-link-text">---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html" data-filter-tags="---"> 
					<span class="nav-link-text">---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html" data-filter-tags="---"> 
					<span class="nav-link-text">---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html" data-filter-tags="---"> 
					<span class="nav-link-text">---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span class="nav-link-text">---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html" data-filter-tags="---"> 
					<span class="nav-link-text">---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span class="nav-link-text">---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html" data-filter-tags="---"> 
					<span class="nav-link-text">---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html" data-filter-tags="---"> 
					<span class="nav-link-text">---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html"> 
					<span class="nav-link-text">---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html" data-filter-tags="---"> 
					<span class="nav-link-text">---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html" data-filter-tags="---"> 
					<span class="nav-link-text">---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html" data-filter-tags="---"> 
					<span class="nav-link-text">---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html" data-filter-tags="---"> 
					<span class="nav-link-text">---</span>
				</a>
			</li>
			<li {{#is pagename "===" "n"}}class="active"{{/is}}>
				<a href="blank.html" data-filter-tags="---"> 
					<span class="nav-link-text">---</span>
				</a>
			</li>							
		</ul>	
	</li>	
	<li {{#is pagename "in" "layout_builder"}}class="active open"{{/is}}>
		<a href="#" title="UI Components" data-filter-tags="layout builder"> 
			<i class="fal fa-cogs"></i>
			<span class="nav-link-text" data-i18n="nav.layout_builder">Layout Builder</span> 
		</a>		
	</li>
</ul>