{{!-- To remove footer, remove both footer-push as well as footer --}}
<footer class="page-footer" role="contentinfo">
	<div class="d-flex align-items-center flex-1 text-muted">
		<img src="img/logo-minify.png" alt="NextGen Logo" class="page-footer-logo rounded-circle">
		<span class="hidden-md-down">{{> _data/copyright-text }}</span>
	</div>
	<div>
		<ul class="list-table m-0">
			<li><a href="#" class="text-secondary">About</a></li>
			<li class="pl-3"><a href="#" class="text-secondary">License</a></li>
			<li class="pl-3"><a href="#" class="text-secondary">Documentation</a></li>
			<li class="pl-3 fs-xl"><a href="#" class="text-secondary"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a></li>
		</ul>
	</div>
</footer>
<div class="page-footer-push"></div>
