{{#if heading}}

<div class="subheader">

	<h1 class="subheader-title">
		{{{heading}}}
		<small>
		{{#if pagedescription}}
			{{{pagedescription}}}
		{{else}}	
			Welcome to NextGen WebApp Smart Template
		{{/if}}
		</small>
	</h1>
	<div class="subheader-block">
		{{#> header-space-block}}{{/header-space-block}}
	</div>
</div>

{{/if}}
