<header class="page-header" role="banner">
		
	<ul id="hdr-l" class="list-table">
		<!-- DOC: dropdown / shortcuts -->
		<li class="hidden-md-down dropdown-icon-menu">
			<a href="#" class="btn no-ripple" data-action="toggle" data-class="nav-function-hidden" data-toggle="tooltip" data-placement="right" title="HIDDEN">
				<i class="icon icon-menu"></i>
			</a>
			<ul>
				<li>
					<a href="#" class="btn no-ripple" data-action="toggle" data-class="nav-function-minify" data-toggle="tooltip" data-placement="right" title="MINIFY">
						<i class="icon icon-minify-nav"></i>
					</a>
				</li>
				<li>
					<a href="#" class="btn no-ripple" data-action="toggle" data-class="nav-function-fixed" data-toggle="tooltip" data-placement="right" title="LOCK">
						<i class="icon icon-lock-nav"></i>
					</a>
				</li>
			</ul>
		</li>
		<!-- DOC: mobile button appears during mobile width -->
		<li class="hidden-lg-up">
			<a href="#" class="btn press-scale-down" data-action="toggle" data-class="mobile-nav-on">
				<i class="icon icon-menu"></i>
			</a>
		</li>
		<!-- app search field -->
		<li class="search">
			<form class="app-forms hidden-xs-down" role="search" action="search-results.html" autocomplete="off">
				<i class="fa fa-search d-none"></i>
				<input type="text" id="search-field" placeholder="Search for anything" class="form-control" tabindex="1">
				<a href="javascript:void(0);" class="btn-primary btn-search-close no-ripple d-none" data-action="toggle" data-class="mobile-search-on">
					<i class="fa fa-close"></i>
				</a>
			</form>
		</li>
	</ul>
	
	<ul id="hdr-r" class="list-table">
		<!-- activate app search field (mobile) -->
		<li class="hidden-sm-up">
			<a href="#" data-action="toggle" data-class="mobile-search-on" data-focus="search-field" title="Search">
				<i class="icon icon-magnifier"></i>
			</a>
		</li>
		<!-- app settings -->
		<li class="hidden-md-down">
			<a href="#" data-action="toggle" data-class="display-right-panel">
				<i class="icon icon-settings"></i>
			</a>
		</li>
		<!-- app shortcuts -->
		<li>
			<a href="#" data-toggle="dropdown" title="My Apps" class="no-ripple">
				<i class="icon icon-my-apps"></i>
			</a>
			<div class="dropdown-menu w-auto h-auto">
				{{> include/_dropdown-app}}
			</div>
		</li>
		<!-- app notification -->
		<li>
			<a href="#" data-toggle="dropdown" title="You got 11 notifications" class="no-ripple">
				<i class="icon icon-bell"></i>
				<span class="badge">11</span>
			</a>
			<div class="dropdown-menu dropdown-xl p-0 h-auto">
				{{> include/_dropdown-notification}}
			</div>
		</li>
		<!-- app user menu -->
		<li>
			<a href="#" data-toggle="dropdown" title="dr.codex.lantern@nextgenadmin.com" class="no-ripple flex-m">
				<img src="img/avatar-sunny.png" class="profile-image rounded-circle" alt="Codex Profile"> 
				<!-- you can also add username next to the avatar with the codes below:
				<span class="ml-1 mr-1 text-truncate text-truncate-header hidden-xs-down">Dr. Codex Lantern</span>
				<i class="icon icon-chevron-down hidden-xs-down"></i> -->
			</a>
			<div class="dropdown-menu dropdown-sm p-0">
				{{> include/_dropdown-menu}}
			</div>
		</li>
	</ul>

</header>
