{{#if heading}}

<div class="subheader">

	{{#> header-icon-block}}{{/header-icon-block}}

	<h1 class="subheader-title">
		{{{heading}}}
		<small>
		{{#if pagedescription}}
			{{{pagedescription}}}
		{{/if}}
		</small>
	</h1>

	<div class="subheader-block">
		{{#> header-space-block}}{{/header-space-block}}
	</div>

</div>

{{/if}}
