<!-- DOC: used only for right-panel controls  
 	 this "right-panel" portion is not necessarily needed for your project -->
<aside class="right-panel" role="complementary">

	<!-- alternate styles "nav nav-table-cell" OR "nav nav-table-cell nav-table-tabs"  OR "nav nav-tabs-panel" -->
	<ul class="nav nav-table-cell nav-table-tabs" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" data-toggle="tab" href="#settings">
				Settings
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#msgr">
				Messenger
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#projc">
				Project
			</a>
		</li>
		<li class="nav-tabs-panel--close">
			<button type="button" class="close" data-action="toggle" data-class="display-right-panel">
				<span aria-hidden="true">×</span>
			</button>
		</li>
	</ul>

	<div class="right-panel-content">

		<div class="tab-content position-relative h-100">

			{{> include/_tab-settings }}

			{{> include/_tab-msgr }}

			{{> include/_tab-memo }}

		</div>

	</div>

	<span id="saving"></span>

	<!--<a class="aside-close" href="#" data-action="toggle" data-class="display-right-panel">
		<i class="ni ni-close"></i>
	</a>-->

</aside>
