<!-- DOC: used only for right-panel controls  
 	 this "right-panel" portion is not necessarily needed for your project -->
<aside id="right-panel" role="complementary">

	<!-- alternate styles "nav nav-table-cell" OR "nav-table-cell nav-table-tabs"  -->
	<ul class="nav nav-tabs-panel" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" data-toggle="tab" href="#settings">
				Settings
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#social">
				Social
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#memo">
				Project
			</a>
		</li>
		<li class="nav-tabs-panel__close d-none">
			<a href="#" class="h-100 w-100 p-2 text-secondary d-flex align-items-center justify-content-center" data-action="toggle" data-class="display-right-panel" data-toggle="tooltip" data-placement="left" title="" data-original-title="CLOSE">
				<i class="icon icon-close"></i>
			</a>
		</li>
	</ul>

	<div class="settings-wrap">

		<div class="tab-content pos-r h-100">

			{{> include/_tab-settings }}

			{{> include/_tab-social }}

			{{> include/_tab-memo }}

		</div>

	</div>

	<span id="saving"></span>

	<!--<a class="aside-close" href="#" data-action="toggle" data-class="display-right-panel">
		<i class="icon icon-close"></i>
	</a>-->

</aside>
