<!-- DOC: used only for right-panel controls  
 	 this "right-panel" portion is not necessarily needed for your project -->
<aside id="right-panel" role="complementary">

	<ul class="nav nav-pills nav-table-cell" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" data-toggle="tab" href="#settings">
				Settings
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#project">
				Project
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#memo">
				Memo
			</a>
		</li>
	</ul>

	<div class="custom-scroll settings-wrap">

		<div class="tab-content">

			{{> include/_tab-settings }}

			{{> include/_tab-project }}

			{{> include/_tab-memo }}

		</div>

	</div>

	<span id="saving"></span>

	<a id="opener" href="#" data-action="toggle" data-class="display-right-panel" class="hidden-lg-up">
		<i class="icon icon-settings"></i>
	</a>

</aside>
