<nav class="shortcut-menu hidden-sm-down">
	<input type="checkbox" class="menu-open" name="menu-open" id="menu_open"/>
	<label for="menu_open" class="menu-open-button ">
		<span class="app-shortcut-icon d-block"></span>
	</label>
	<a href="page_login.html" class="menu-item btn" data-toggle="tooltip" data-placement="left" title="Logout">
		<i class="fa fa-sign-out"></i>
	</a>
	<a href="#" class="menu-item btn" data-action="app-fullscreen" data-toggle="tooltip" data-placement="left" title="Full Screen">
		<i class="fa fa-expand"></i>
	</a>
	<a href="#" class="menu-item btn" data-action="app-loadscript" data-loadurl="vendor/js/voicecommand.js" data-loadfunction="voicecommand" data-toggle="tooltip" data-placement="left" title="Voice Command">
		<i class="fa fa-microphone"></i>
	</a>
	<a href="#" class="menu-item btn" data-action="app-print" data-toggle="tooltip" data-placement="left" title="Print page">
		<i class="fa fa-print"></i>
	</a>
</nav>
