<div class="tab-pane h-100 bg-white" id="msgr">

	<!-- BEGIN msgr-list -->
	<div class="msgr-list d-flex flex-column bg-white" role="tablist">
		<div class="msgr-option-container">
			<div class="msgr-list--item msgr-search">
				<i class="fal fa-search msgr-list__icon"></i>
			</div>
			<input type="text" class="form-control" id="msgr_listfilter_input" placeholder="Filter friends" aria-label="FriendSearch" data-listfilter="#js_msgr_listfilter">
		</div>
		<div class="msgr-option-container flex-1 h-100 custom-scroll">
			<div class="w-100">

				<ul id="js_msgr_listfilter" class="list-unstyled m-0">
					<li>
						<a href="#" class="d-table w-100 p-2 pl-2 pr-2 pb-1 pt-1 text-secondary hover-white" data-filter-tags="miles k. miller online">
							<div class="d-table-cell align-middle status status-success status-sm ">
								<img src="img/avatar-m.png" data-src="img/avatars/avatar-i.png" class="profile-image-md rounded-circle" alt="aa">
							</div>
							<div class="d-table-cell w-100 align-middle pl-2 pr-2">
								<div class="text-truncate text-truncate-md">
									Miles K. Miller
									<small class="d-block font-italic text-success fs-xs">
										Online
									</small>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="#" class="d-table w-100 p-2 pl-2 pr-2 pb-1 pt-1 text-secondary hover-white" data-filter-tags="oliver kopyuv online">
							<div class="d-table-cell align-middle status status-success status-sm ">
								<img src="img/avatar-m.png" data-src="img/avatars/avatar-b.png" class="profile-image-md rounded-circle" alt="aa">
							</div>
							<div class="d-table-cell w-100 align-middle pl-2 pr-2">
								<div class="text-truncate text-truncate-md">
									Oliver Kopyuv
									<small class="d-block font-italic text-success fs-xs">
										Online
									</small>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="#" class="d-table w-100 p-2 pl-2 pr-2 pb-1 pt-1 text-secondary hover-white" data-filter-tags="dr. john cook phd away">
							<div class="d-table-cell align-middle status status-warning status-sm ">
								<img src="img/avatar-m.png" data-src="img/avatars/avatar-e.png" class="profile-image-md rounded-circle" alt="aa">
							</div>
							<div class="d-table-cell w-100 align-middle pl-2 pr-2">
								<div class="text-truncate text-truncate-md">
									Dr. John Cook PhD
									<small class="d-block font-italic fs-xs">
										Away
									</small>
								</div>
							</div>
						</a>					
					</li>
					<li>
						<a href="#" class="d-table w-100 p-2 pl-2 pr-2 pb-1 pt-1 text-secondary hover-white" data-filter-tags="ali amdaney online">
							<div class="d-table-cell align-middle status status-success status-sm ">
								<img src="img/avatar-m.png" data-src="img/avatars/avatar-g.png" class="profile-image-md rounded-circle" alt="aa">
							</div>
							<div class="d-table-cell w-100 align-middle pl-2 pr-2">
								<div class="text-truncate text-truncate-md">
									Ali Amdaney
									<small class="d-block font-italic fs-xs text-success">
										Online
									</small>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="#" class="d-table w-100 p-2 pl-2 pr-2 pb-1 pt-1 text-secondary hover-white" data-filter-tags="ali amdaney online">
							<div class="d-table-cell align-middle status status-success status-sm">
								<img src="img/avatar-m.png" data-src="img/avatars/avatar-h.png" class="profile-image-md rounded-circle" alt="aa">
							</div>
							<div class="d-table-cell w-100 align-middle pl-2 pr-2">
								<div class="text-truncate text-truncate-md">
									Sarah McBrook
									<small class="d-block font-italic fs-xs text-success">
										Online
									</small>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="#" class="d-table w-100 p-2 pl-2 pr-2 pb-1 pt-1 text-secondary hover-white" data-filter-tags="ali amdaney offline">
							<div class="d-table-cell align-middle status status-sm">
								<img src="img/avatar-m.png" data-src="img/avatars/avatar-a.png" class="profile-image-md rounded-circle" alt="aa">
							</div>
							<div class="d-table-cell w-100 align-middle pl-2 pr-2">
								<div class="text-truncate text-truncate-md">
									oliver.kopyuv@nextgenadmin.com
									<small class="d-block font-italic fs-xs">
										Offline
									</small>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="#" class="d-table w-100 p-2 pl-2 pr-2 pb-1 pt-1 text-secondary hover-white" data-filter-tags="ali amdaney busy">
							<div class="d-table-cell align-middle status status-danger status-sm">
								<img src="img/avatar-m.png" data-src="img/avatars/avatar-j.png" class="profile-image-md rounded-circle" alt="aa">
							</div>
							<div class="d-table-cell w-100 align-middle pl-2 pr-2">
								<div class="text-truncate text-truncate-md">
									oliver.kopyuv@nextgenadmin.com
									<small class="d-block font-italic fs-xs text-danger">
										Busy
									</small>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="#" class="d-table w-100 p-2 pl-2 pr-2 pb-1 pt-1 text-secondary hover-white" data-filter-tags="ali amdaney offline">
							<div class="d-table-cell align-middle status status-sm">
								<img src="img/avatar-m.png" data-src="img/avatars/avatar-c.png" class="profile-image-md rounded-circle" alt="aa" >
							</div>
							<div class="d-table-cell w-100 align-middle pl-2 pr-2">
								<div class="text-truncate text-truncate-md">
									oliver.kopyuv@nextgenadmin.com
									<small class="d-block font-italic fs-xs">
										Offline
									</small>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="#" class="d-table w-100 p-2 pl-2 pr-2 pb-1 pt-1 text-secondary hover-white" data-filter-tags="ali amdaney inactive">
							<div class="d-table-cell align-middle">
								<img src="img/avatar-m.png" class="profile-image-md rounded-circle" alt="aa" >
							</div>
							<div class="d-table-cell w-100 align-middle pl-2 pr-2">
								<div class="text-truncate text-truncate-md">
									+714651347790
									<small class="d-block font-italic fs-xs opacity-50">
										Missed Call 
									</small>
								</div>
							</div>
						</a>
					</li>
				</ul>
				<div class="filter-message js-filter-message"></div>
			</div>
		</div>
		<div class="msgr-option-container">
			<a class="msgr-list--item" data-toggle="tab" href="#test--2" aria-expanded="false">
				<i class="fa fa-gear msgr-list__icon"></i>
			</a>
		</div>
	</div>
	<!-- END msgr-list -->

	<!-- BEGIN msgr -->
	<div class="msgr d-flex h-100 flex-column">

		<!-- BEGIN msgr-user 
		<div class="msgr-user flex-m mr-3 ml-3 position-relative shadow-bottom">
			<div class="info-card-text text-center">
				<span class="d-line-block text-truncate text-truncate-sm text-muted">IT Director</span>
				<div class="text-truncate text-truncate-sm">Ching S. Chan <i class="ni ni-chevron-down hidden-xs-down"></i></div>
			</div>
		</div>-->
		<!-- END msgr-user -->

		<!-- BEGIN custom-scroll -->
		<div class="custom-scroll flex-1 h-100">

			<div id="chat_container" class="w-100 p-3">

				<!-- start .chat-segment -->
				<div class="chat-segment">
					<div class="time-stamp text-center mb-2 fw-400">
						Jun 19
					</div>
				</div>
				<!--  end .chat-segment -->

				<!-- start .chat-segment -->
				<div class="chat-segment chat-segment--sent">
					<div class="chat-message">
						<p>
							Hey Ching, did you get my files?
						</p>
					</div>
					<div class="time-stamp text-right">
						3:00 pm
					</div>
				</div>
				<!--  end .chat-segment -->
				
				<!-- start .chat-segment -->
				<div class="chat-segment chat-segment--rcvd">
					<img src="img/avatar-m.png" data-src="img/avatars/avatar-i.png" class="profile-image-sm rounded-circle chat-img" alt="Ching Chan">
					<div class="chat-message">
						<p>
							Hi
						</p>
						<p>
							Sorry going through a busy time in office. Yes I analyzed the solution. 
						</p>
						<p>
							It will require some resource, which I could not manage.
						</p>
					</div>
					<div class="time-stamp">
						3:24 pm
					</div>
				</div>
				<!--  end .chat-segment -->

				<!-- start .chat-segment -->
				<div class="chat-segment chat-segment--sent chat-start">
					<div class="chat-message">
						<p>
							Okay
						</p>
					</div>
					<div class="time-stamp text-right">
						3:26 pm
					</div>
				</div>
				<!--  end .chat-segment -->

				<!-- start .chat-segment -->
				<div class="chat-segment chat-segment--sent chat-end">
					<div class="chat-message">
						<p>
							Sending you some dough today, you can allocate the resources to this project.
						</p>
					</div>
					<div class="time-stamp text-right">
						3:26 pm
					</div>
				</div>
				<!--  end .chat-segment -->

				<!-- start .chat-segment -->
				<div class="chat-segment chat-segment--rcvd chat-start">
					<img src="img/avatar-m.png" data-src="img/avatars/avatar-i.png" class="profile-image-sm rounded-circle chat-img" alt="Ching Chan">	
					<div class="chat-message">
						<p>
							Perfect. Thanks a lot!
						</p>
					</div>
					<div class="time-stamp">
						3:27 pm
					</div>
				</div>
				<!--  end .chat-segment -->

				<!-- start .chat-segment -->
				<div class="chat-segment chat-segment--rcvd">
					<img src="img/avatar-m.png" data-src="img/avatars/avatar-i.png" class="profile-image-sm rounded-circle chat-img" alt="Ching Chan">
					<div class="chat-message">
						<p>
							I will have them ready by tonight.
						</p>
					</div>
					<div class="time-stamp">
						3:27 pm
					</div>
				</div>
				<!--  end .chat-segment -->

				<!-- start .chat-segment -->
				<div class="chat-segment chat-segment--rcvd chat-end">
					<img src="img/avatar-m.png" data-src="img/avatars/avatar-i.png" class="profile-image-sm rounded-circle chat-img" alt="Ching Chan">
					<div class="chat-message">
						<p>
							Cheers
						</p>
					</div>
					<div class="time-stamp">
						3:27 pm
					</div>
				</div>
				<!--  end .chat-segment -->

				<!-- start .chat-segment for timestamp -->
				<div class="chat-segment">
					<div class="time-stamp text-center mb-2 fw-400">
						Jun 20
					</div>
				</div>
				<!--  end .chat-segment for timestamp -->

			</div>

		</div>
		<!-- END custom-scroll  -->

		<!-- BEGIN msgr__chatinput -->
		<div class="msgr-chatinput d-flex flex-column">
			<div class="msgr-chatinput__container flex-1 mr-3 ml-3 position-relative shadow-top">
				<div class="pt-3 pb-1 pr-0 pl-0 border-radius-0" tabindex="-1">
					<div id="msgr_input" contenteditable="true" data-placeholder="Type your message here..."></div>
				</div>
			</div>
			<div class="msgr-chatinput__icons d-flex align-items-center ml-2 mr-2">
				<div class="ml-1 p-1 h-100 flex-m fs-xl text-secondary">
					<label for="attach_picture" title="upload a picture" class="m-0">
						<i class="fal fa-images"></i>
					</label>
					<input id="attach_picture" class="d-none" type="file">	
				</div>
				<a href="#" class="ml-1 p-1 h-100 flex-m fs-xl text-secondary" title="add emoji">
					<i class="fal fa-smile"></i>
				</a>
				<div class="ml-1 p-1 h-100 flex-m fs-xl text-secondary">
					<label for="attach_file" title="attach a file" class="m-0">
						<i class="fal fa-paperclip"></i>
					</label>
					<input id="attach_file" class="d-none" type="file">	
				</div>
				<a href="#" class="ml-1 p-1 h-100 flex-m fs-xl text-secondary" title="take a picture with webcam">
					<i class="fal fa-camera"></i>
				</a>
				<a href="#" class="ml-1 p-1 h-100 flex-m fs-xl text-secondary" title="Thumbs up">
					<i class="fal fa-thumbs-up"></i>
				</a>	
			</div>
		</div>
		<!-- END msgr__chatinput -->

	</div>
	<!-- END msgr -->

</div>