<div class="tab-pane h-100 bg-white" id="social">

	<!-- BEGIN social-option-list -->
	<div class="social-option-list d-flex flex-column bg-grade-light" role="tablist">
		<div class="social_option-container">
			<a class="social-option-list__item" data-toggle="tab" href="#test--1" aria-expanded="true">
				<i class="social-option-list__icon icon icon-menu"></i>
			</a>
			<a class="social-option-list__item" data-toggle="tab" href="#test--2" aria-expanded="false">
				<i class="fa fa-search social-option-list__icon"></i>
			</a>
		</div>
		<div class="social_option-container flex-1">
			a
		</div>
		<div class="social_option-container">
			<a class="social-option-list__item" data-toggle="tab" href="#test--2" aria-expanded="false">
				<i class="fa fa-gear social-option-list__icon"></i>
			</a>
		</div>
	</div>
	<!-- END social-option-list -->

	<!-- BEGIN social-content -->
	<div class="tab-content social-content">

		<div class="tab-pane active d-flex h-100 flex-column" id="test--1">

			<!-- BEGIN social-content-chatuser -->
			<div class="social-content-chatuser d-flex align-items-center justify-content-center mr-3 ml-3 pos-r shadow-bottom">
				User
			</div>
			<!-- END social-content-chatuser -->

			<!-- BEGIN social-content-chatbox -->
			<div class="social-content-chatbox flex-1 custom-scroll h-100 pr-1">

				<div class="social-content-chatlog w-100 pt-2 pr-3 pb-2 pl-3">
					
					<div class="chat-message-left">
						a
					</div>
					<div class="chat-message-left">
						a
					</div>


					<p>chat log</p>
					<p>chat log</p>
					<p>chat log</p>
					<p>chat log</p>
					<p>chat log</p>
					<p>chat log</p>
					<p>chat log</p>
					<p>chat log</p>
					<p>chat log</p>
					<p>chat log</p>
					<p>chat log</p>
					<p>chat log</p>
					<p>chat log</p>
					<p>chat log</p>
					<p>chat log</p>
					<p>chat log</p>
					<p>chat log</p>
					<p>chat log</p>
					<p>chat log</p>
					<p>chat log</p>
					<p>chat log</p>
					<p>chat log</p>
					<p>chat log</p>
					<p>chat log</p>
					<p>chat log</p>
					<p>chat log</p>
					<p>chat log</p>
					<p>chat log</p>
					<p>chat log</p>

				</div>

			</div>
			<!-- END social-content-chatbox -->

			<!-- BEGIN social-content__chatinput -->
			<div class="social-content-chatinput d-flex align-items-center justify-content-center mr-3 ml-3 pos-r shadow-top">
				
			</div>
			<!-- END social-content__chatinput -->

		</div>
		<div class="tab-pane " id="test--2">
			test--2
		</div>

	</div>
	<!-- END social-content -->

</div>