<div class="tab-pane h-100 bg-white" id="msgr">

	<!-- BEGIN msgr-list -->
	<div class="msgr-list d-flex flex-column bg-white" role="tablist">
		<div class="msgr-option-container">
			<a class="msgr-list--item" data-toggle="tab" href="#chat-2" aria-expanded="false">
				<i class="fa fa-search msgr-list__icon"></i>
			</a>
		</div>
		<div class="msgr-option-container flex-1 h-100 custom-scroll">
			<div class="w-100">

				<a href="#" class="d-table w-100 p-2 pl-2 pr-2 pb-1 pt-1 text-secondary">
					<div class="d-table-cell v-align-m status status-online status-sm ">
						<img src="img/avatar-m.png" data-src="img/avatars/avatar-i.png" class="profile-image-md rounded-circle" alt="aa">
					</div>
					<div class="d-table-cell w-100 v-align-m pl-2 pr-2">
						<div class="text-truncate text-truncate-md">
							Miles K. Miller
							<small class="d-block font-italic text-success fs-xs">
								Online
							</small>
						</div>
					</div>
				</a>	

				<a href="#" class="d-table w-100 p-2 pl-2 pr-2 pb-1 pt-1 text-secondary">
					<div class="d-table-cell v-align-m status status-online status-sm ">
						<img src="img/avatar-m.png" data-src="img/avatars/avatar-b.png" class="profile-image-md rounded-circle" alt="aa">
					</div>
					<div class="d-table-cell w-100 v-align-m pl-2 pr-2">
						<div class="text-truncate text-truncate-md">
							oliver.kopyuv@nextgenadmin.com
							<small class="d-block font-italic text-success fs-xs">
								Online
							</small>
						</div>
					</div>
				</a>	

				<a href="#" class="d-table w-100 p-2 pl-2 pr-2 pb-1 pt-1 text-secondary">
					<div class="d-table-cell v-align-m status status-away status-sm ">
						<img src="img/avatar-m.png" data-src="img/avatars/avatar-e.png" class="profile-image-md rounded-circle" alt="aa">
					</div>
					<div class="d-table-cell w-100 v-align-m pl-2 pr-2">
						<div class="text-truncate text-truncate-md">
							oliver.kopyuv@nextgenadmin.com
							<small class="d-block font-italic fs-xs">
								Away
							</small>
						</div>
					</div>
				</a>

				<a href="#" class="d-table w-100 p-2 pl-2 pr-2 pb-1 pt-1 text-secondary">
					<div class="d-table-cell v-align-m">
						<img src="img/avatar-m.png" data-src="img/avatars/avatar-a.png" class="profile-image-md rounded-circle opacity-40" alt="aa">
					</div>
					<div class="d-table-cell w-100 v-align-m pl-2 pr-2">
						<div class="text-truncate text-truncate-md">
							oliver.kopyuv@nextgenadmin.com
							<small class="d-block font-italic fs-xs">
								Offline
							</small>
						</div>
					</div>
				</a>
	
				<a href="#" class="d-table w-100 p-2 pl-2 pr-2 pb-1 pt-1 text-secondary">
					<div class="d-table-cell v-align-m">
						<img src="img/avatar-m.png" data-src="img/avatars/avatar-c.png" class="profile-image-md rounded-circle opacity-40" alt="aa" >
					</div>
					<div class="d-table-cell w-100 v-align-m pl-2 pr-2">
						<div class="text-truncate text-truncate-md">
							oliver.kopyuv@nextgenadmin.com
							<small class="d-block font-italic fs-xs">
								Offline
							</small>
						</div>
					</div>
				</a>
		
			</div>
		</div>
		<div class="msgr-option-container">
			<a class="msgr-list--item" data-toggle="tab" href="#test--2" aria-expanded="false">
				<i class="fa fa-gear msgr-list__icon"></i>
			</a>
		</div>
	</div>
	<!-- END msgr-list -->

	<!-- BEGIN msgr -->
	<div class="tab-content msgr">

		<div class="tab-pane active d-flex h-100 flex-column" id="chat-1">

			<!-- BEGIN msgr-user 
			<div class="msgr-user flex-m mr-3 ml-3 pos-r shadow-bottom">
				<div class="info-card-text text-center">
					<span class="d-line-block text-truncate text-truncate-sm text-muted">IT Director</span>
					<div class="text-truncate text-truncate-sm">Ching S. Chan <i class="icon icon-chevron-down hidden-xs-down"></i></div>
				</div>
			</div>-->
			<!-- END msgr-user -->

			<!-- BEGIN custom-scroll -->
			<div class="custom-scroll flex-1 h-100">

				<div class="w-100 p-3 bg-subtlelight">

					<!-- start .chat-container -->
					<div class="chat-container">
						<div class="chat-stamp text-center mb-2 fw-400">
							Jun 19
						</div>
					</div>
					<!--  end .chat-container -->

					<!-- start .chat-container -->
					<div class="chat-container chat-container--sent">
						<div class="chat-message">
							<p>
								Hey Ching, did you get my files?
							</p>
						</div>
						<div class="chat-stamp text-right">
							3:00 am
						</div>
					</div>
					<!--  end .chat-container -->
					
					<!-- start .chat-container -->
					<div class="chat-container chat-container--rcvd">
						<img src="img/avatar-m.png" data-src="img/avatars/avatar-i.png" class="profile-image-sm rounded-circle chat-img" alt="Ching Chan">
						<div class="chat-message">
							<p>
								Hi
							</p>
							<p>
								Sorry going through a busy time in office. Yes I analyzed the solution. 
							</p>
							<p>
								It will require some resource, which I could not manage.
							</p>
						</div>
						<div class="chat-stamp">
							3:24 am
						</div>
					</div>
					<!--  end .chat-container -->

					<!-- start .chat-container -->
					<div class="chat-container chat-container--sent chat-start">
						<div class="chat-message">
							<p>
								Okay
							</p>
						</div>
						<div class="chat-stamp text-right">
							3:26 am
						</div>
					</div>
					<!--  end .chat-container -->

					<!-- start .chat-container -->
					<div class="chat-container chat-container--sent chat-end">
						<div class="chat-message">
							<p>
								Sending you some dough today, you can allocate the resources to this project.
							</p>
						</div>
						<div class="chat-stamp text-right">
							3:26 am
						</div>
					</div>
					<!--  end .chat-container -->

					<!-- start .chat-container -->
					<div class="chat-container chat-container--rcvd chat-start">
						<img src="img/avatar-m.png" data-src="img/avatars/avatar-i.png" class="profile-image-sm rounded-circle chat-img" alt="Ching Chan">	
						<div class="chat-message">
							<p>
								Perfect. Thanks a lot!
							</p>
						</div>
						<div class="chat-stamp">
							3:27 am
						</div>
					</div>
					<!--  end .chat-container -->

					<!-- start .chat-container -->
					<div class="chat-container chat-container--rcvd">
						<img src="img/avatar-m.png" data-src="img/avatars/avatar-i.png" class="profile-image-sm rounded-circle chat-img" alt="Ching Chan">
						<div class="chat-message">
							<p>
								I will have them ready by tonight.
							</p>
						</div>
						<div class="chat-stamp">
							3:27 am
						</div>
					</div>
					<!--  end .chat-container -->

					<!-- start .chat-container -->
					<div class="chat-container chat-container--rcvd chat-end">
						<img src="img/avatar-m.png" data-src="img/avatars/avatar-i.png" class="profile-image-sm rounded-circle chat-img" alt="Ching Chan">
						<div class="chat-message">
							<p>
								Cheers
							</p>
						</div>
						<div class="chat-stamp">
							3:27 am
						</div>
					</div>
					<!--  end .chat-container -->

				</div>

			</div>
			<!-- END custom-scroll  -->

			<!-- BEGIN msgr__chatinput -->
			<div class="msgr-chatinput pt-3 pb-3 mr-3 ml-3 pos-r shadow-top">
				<div class="form-group">
					<textarea class="form-control btn-press-scale-down" id="messenger_textarea" rows="3"></textarea>
				</div>
			</div>
			<!-- END msgr__chatinput -->

		</div>
		<div class="tab-pane " id="chat-2">

		</div>

	</div>
	<!-- END msgr -->

</div>