<div class="tab-pane h-100 bg-white" id="social">

	<!-- BEGIN social-list -->
	<div class="social-list d-flex flex-column bg-grade-light" role="tablist">
		<div class="social-option-container">
			<a class="social-list--item" data-toggle="tab" href="#chat-1" aria-expanded="true">
				<i class="social-list__icon icon icon-menu"></i>
			</a>
			<a class="social-list--item" data-toggle="tab" href="#chat-2" aria-expanded="false">
				<i class="fa fa-search social-list__icon"></i>
			</a>
		</div>
		<div class="social-option-container flex-1">
			a
		</div>
		<div class="social-option-container">
			<a class="social-list--item" data-toggle="tab" href="#test--2" aria-expanded="false">
				<i class="fa fa-gear social-list__icon"></i>
			</a>
		</div>
	</div>
	<!-- END social-list -->

	<!-- BEGIN social -->
	<div class="tab-content social">

		<div class="tab-pane active d-flex h-100 flex-column" id="chat-1">

			<!-- BEGIN social-user -->
			<div class="social-user d-flex align-items-center justify-content-center mr-3 ml-3 pos-r shadow-bottom">
				<div class="info-card-text text-center">
					<span class="d-line-block text-truncate text-truncate-sm text-muted">IT Director</span>
					<div class="text-truncate text-truncate-sm">Ching S. Chan <i class="icon icon-chevron-down hidden-xs-down"></i></div>
				</div>
			</div>
			<!-- END social-user -->

			<!-- BEGIN custom-scroll -->
			<div class="custom-scroll flex-1 h-100">

				<div class="w-100 p-3">

					<!-- start .chat-container -->
					<div class="chat-container chat-container--sent">
						<div class="chat-message">
							<p>
								Hey Ching, did you get my files?
							</p>
						</div>
						<div class="chat-stamp text-right">
							<i class="fa fa-check"></i> Sep 9 at 3:00 am
						</div>
					</div>
					<!--  end .chat-container -->
					
					<!-- start .chat-container -->
					<div class="chat-container chat-container--rcvd">
						<div class="chat-message">
							<p>
								Hi
							</p>
							<p>
								Sorry going through a busy time in office. Yes I analyzed the solution. 
							</p>
							<p>
								It will require some resource, which I could not manage.
							</p>
						</div>
						<div class="chat-stamp">
							Sep 9 at 3:24 am
						</div>
					</div>
					<!--  end .chat-container -->

					<!-- start .chat-container -->
					<div class="chat-container chat-container--sent chat-start">
						<div class="chat-message">
							<p>
								Okay
							</p>
						</div>
						<div class="chat-stamp text-right">
							<i class="fa fa-check"></i> Seen
						</div>
					</div>
					<!--  end .chat-container -->

					<!-- start .chat-container -->
					<div class="chat-container chat-container--sent chat-end">
						<div class="chat-message">
							<p>
								Sending you some dough today, you can allocate the resources to this project.
							</p>
						</div>
						<div class="chat-stamp text-right">
							<i class="fa fa-check"></i> Seen
						</div>
					</div>
					<!--  end .chat-container -->

					<!-- start .chat-container -->
					<div class="chat-container chat-container--rcvd chat-start">
						<div class="chat-message">
							<p>
								Thanks a lot!
							</p>
						</div>
						<div class="chat-stamp">
							Sep 9 at 3:27 am
						</div>
					</div>
					<!--  end .chat-container -->

					<!-- start .chat-container -->
					<div class="chat-container chat-container--rcvd chat-end">
						<div class="chat-message">
							<p>
								I will have them ready by tonight.
							</p>
						</div>
						<div class="chat-stamp">
							Sep 9 at 3:27 am
						</div>
					</div>
					<!--  end .chat-container -->

				</div>

			</div>
			<!-- END custom-scroll  -->

			<!-- BEGIN social__chatinput -->
			<div class="social-chatinput pt-3 pb-3 mr-3 ml-3 pos-r shadow-top">
				<div class="form-group">
					<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
				</div>
			</div>
			<!-- END social__chatinput -->

		</div>
		<div class="tab-pane " id="chat-2">

		</div>

	</div>
	<!-- END social -->

</div>