{{#> 
	layouts/auth 
	title="Login" 
	pagename="page_login"
}}

{{#*inline "head-block"}}{{/inline}}

{{#*inline "content-block"}}
<div class="page-wrapper">
	<div class="page-inner">
		
		<div class="d-flex  align-items-center justify-content-center height-9 w-100 shadow-1  px-4 ">
			<div class="page-logo m-0 align-items-center justify-content-center p-0 bg-white bg-img-none shadow-0 height-9">
				<a href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center">
				<img src="img/logo.png" alt="NextGen WebApp" aria-roledescription="logo">
				<span class="page-logo-text mr-1 color-fusion-800">NextGen WebApp</span>
				</a>
			</div>
			<div class="ml-auto">
				Need an account?
			</div>
		</div>

	</div>
</div>
{{/inline}}

{{#*inline "scripts-block"}}
{{/inline}}

{{/layouts/auth}}