{{#> 
	layouts/main 
	title="Input Groups" 
	pagename="form_input_groups" 
	heading="<i class='subheader-icon fal fa-edit'></i>  Input Groups" 
	category_1="Form Stuff" 
	pagedescription="Default input elements for forms"
}}
{{#*inline "content-block"}}
<div class="row">
	<div class="col-xl-6">
		<div id="panel-1" class="panel">
			<div class="panel-hdr">	
				<h2>
					Basic <span class="fw-300"><i>example</i></span> 
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-original-title="Collapse"></button>
					<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-original-title="Close"></button>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">									
					<div class="panel-tag">
						<p>Place one add-on or button on either side of an input. You may also place one on both sides of an input. Remember to place <code>&lt;label&gt;</code>s outside the input group.</p>
					</div>
					<div class="input-group mb-g">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1">@</span>
						</div>
						<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
					</div>
					<div class="input-group mb-g">
						<input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
						<div class="input-group-append">
							<span class="input-group-text" id="basic-addon2">@example.com</span>
						</div>
					</div>
					<label for="basic-url">Your vanity URL</label>
					<div class="input-group mb-g">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
						</div>
						<input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
					</div>
					<div class="input-group mb-g">
						<div class="input-group-prepend">
							<span class="input-group-text">$</span>
						</div>
						<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
						<div class="input-group-append">
							<span class="input-group-text">.00</span>
						</div>
					</div>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">With textarea</span>
						</div>
						<textarea class="form-control" aria-label="With textarea"></textarea>
					</div>
				</div>
			</div>
		</div>
		<div id="panel-2" class="panel">
			<div class="panel-hdr">	
				<h2>
					Wrapping <span class="fw-300"><i>inputs</i></span> 
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-original-title="Collapse"></button>
					<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-original-title="Close"></button>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">									
					<div class="panel-tag">
						Input groups wrap by default via <code>flex-wrap: wrap</code> in order to accommodate custom form field validation within an input group. You may disable this with <code>.flex-nowrap</code>
					</div>
					<div class="input-group flex-nowrap mb-g">
						<div class="input-group-prepend">
							<span class="input-group-text" id="addon-wrapping-left"><i class="fal fa-user fs-xl"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping-left">
					</div>
					<div class="input-group flex-nowrap mb-g">
						<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping-right">
						<div class="input-group-append">
							<span class="input-group-text" id="addon-wrapping-right"><i class="fal fa-user fs-xl"></i></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="panel-3" class="panel">
			<div class="panel-hdr">	
				<h2>
					Various <span class="fw-300"><i>sizing</i></span> 
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-original-title="Collapse"></button>
					<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-original-title="Close"></button>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">									
					<div class="panel-tag">
						Add the relative form sizing classes to the <code>.input-group</code> itself and contents within will automatically resize—no need for repeating the form control size classes on each element. <strong>Sizing on the individual input group elements isn’t supported</strong>
					</div>
					<div class="input-group input-group-sm mb-g">
						<div class="input-group-prepend">
							<span class="input-group-text" id="inputGroup-sizing-sm">Small</span>
						</div>
						<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
					</div>
					<div class="input-group mb-g">
						<div class="input-group-prepend">
							<span class="input-group-text" id="inputGroup-sizing-default">Default</span>
						</div>
						<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
					</div>
					<div class="input-group input-group-lg">
						<div class="input-group-prepend">
							<span class="input-group-text" id="inputGroup-sizing-lg">Large</span>
						</div>
						<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
					</div>
				</div>
			</div>
		</div>	
		<div id="panel-4" class="panel">
			<div class="panel-hdr">	
				<h2>
					Checkboxes <span class="fw-300"><i>and radios</i></span> 
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-original-title="Collapse"></button>
					<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-original-title="Close"></button>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">									
					<div class="panel-tag">
						Place any checkbox or radio option within an input group’s addon instead of text
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<div class="input-group-text">
								<input type="checkbox" aria-label="Checkbox for following text input">
							</div>
						</div>
						<input type="text" class="form-control" aria-label="Text input with checkbox">
					</div>
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text">
								<input type="radio" aria-label="Radio button for following text input">
							</div>
						</div>
						<input type="text" class="form-control" aria-label="Text input with radio button">
					</div>
				</div>
			</div>
		</div>
		<div id="panel-5" class="panel">
			<div class="panel-hdr">	
				<h2>
					Multiple <span class="fw-300"><i>inputs</i></span> 
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-original-title="Collapse"></button>
					<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-original-title="Close"></button>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">									
					<div class="panel-tag">
						Add the relative form sizing classes to the <code>.input-group</code> itself and contents within will automatically resize—no need for repeating the form control size classes on each element
					</div>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">Full name</span>
						</div>
						<input type="text" aria-label="First name" class="form-control" placeholder="First name">
						<input type="text" aria-label="Last name" class="form-control" placeholder="Last name">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-6">
		<div id="panel-6" class="panel">
			<div class="panel-hdr">	
				<h2>
					Multiple <span class="fw-300"><i>addons</i></span> 
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-original-title="Collapse"></button>
					<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-original-title="Close"></button>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">									
					<div class="panel-tag">
						Multiple add-ons are supported and can be mixed with checkbox and radio input versions
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">$</span>
							<span class="input-group-text">0.00</span>
						</div>
						<input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
					</div>
					<div class="input-group">
						<input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
						<div class="input-group-append">
							<span class="input-group-text">$</span>
							<span class="input-group-text">0.00</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="panel-7" class="panel">
			<div class="panel-hdr">	
				<h2>
					Button <span class="fw-300"><i>addon</i></span> 
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-original-title="Collapse"></button>
					<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-original-title="Close"></button>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">									
					<div class="input-group mb-g">
						<div class="input-group-prepend">
							<button class="btn btn-primary" type="button" id="button-addon1">Button</button>
						</div>
						<input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
					</div>
					<div class="input-group mb-g">
						<input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
						<div class="input-group-append">
							<button class="btn btn-success" type="button" id="button-addon2">Button</button>
						</div>
					</div>
					<div class="input-group mb-g">
						<div class="input-group-prepend" id="button-addon3">
							<button class="btn btn-outline-info" type="button">Button</button>
							<button class="btn btn-info" type="button">Button</button>
						</div>
						<input type="text" class="form-control" placeholder="" aria-label="Example text with two button addons" aria-describedby="button-addon3">
					</div>
					<div class="input-group">
						<div class="input-group-prepend">
							<button class="btn btn-danger" type="button">Button</button>
						</div>
						<input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
						<div class="input-group-append">
							<button class="btn btn-warning" type="button">Button</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="panel-8" class="panel">
			<div class="panel-hdr">	
				<h2>
					Buttons <span class="fw-300"><i>with dropdown</i></span> 
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-original-title="Collapse"></button>
					<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-original-title="Close"></button>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">									
					<div class="panel-tag">
						a
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Another action</a>
								<a class="dropdown-item" href="#">Something else here</a>
								<div role="separator" class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Separated link</a>
							</div>
						</div>
						<input type="text" class="form-control" aria-label="Text input with dropdown button">
					</div>
					<div class="input-group">
						<input type="text" class="form-control" aria-label="Text input with dropdown button">
						<div class="input-group-append">
							<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Another action</a>
								<a class="dropdown-item" href="#">Something else here</a>
								<div role="separator" class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Separated link</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="panel-9" class="panel">
			<div class="panel-hdr">	
				<h2>
					Segmented <span class="fw-300"><i>buttons</i></span> 
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-original-title="Collapse"></button>
					<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-original-title="Close"></button>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">									
					<div class="panel-tag">
						a
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<button type="button" class="btn btn-outline-secondary">Action</button>
							<button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="sr-only">Toggle Dropdown</span>
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Another action</a>
								<a class="dropdown-item" href="#">Something else here</a>
								<div role="separator" class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Separated link</a>
							</div>
						</div>
						<input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
					</div>
					<div class="input-group">
						<input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
						<div class="input-group-append">
							<button type="button" class="btn btn-outline-secondary">Action</button>
							<button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="sr-only">Toggle Dropdown</span>
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Another action</a>
								<a class="dropdown-item" href="#">Something else here</a>
								<div role="separator" class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Separated link</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="panel-10" class="panel">
			<div class="panel-hdr">	
				<h2>
					Custom <span class="fw-300"><i>forms</i></span> 
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-original-title="Collapse"></button>
					<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-original-title="Close"></button>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">									
					<div class="panel-tag">
						Input groups include support for custom selects and custom file inputs. Browser default versions of these are not supported
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<label class="input-group-text" for="inputGroupSelect01">Options</label>
						</div>
						<select class="custom-select" id="inputGroupSelect01">
							<option selected>Choose...</option>
							<option value="1">One</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
						</select>
					</div>
					<div class="input-group mb-3">
						<select class="custom-select" id="inputGroupSelect02">
							<option selected>Choose...</option>
							<option value="1">One</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
						</select>
						<div class="input-group-append">
							<label class="input-group-text" for="inputGroupSelect02">Options</label>
						</div>
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<button class="btn btn-outline-secondary" type="button">Button</button>
						</div>
						<select class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
							<option selected>Choose...</option>
							<option value="1">One</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
						</select>
					</div>
					<div class="input-group">
						<select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
							<option selected>Choose...</option>
							<option value="1">One</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
						</select>
						<div class="input-group-append">
							<button class="btn btn-outline-secondary" type="button">Button</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="panel-11" class="panel">
			<div class="panel-hdr">	
				<h2>
					Basic  <span class="fw-300"><i>example</i></span> 
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-original-title="Collapse"></button>
					<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-original-title="Close"></button>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">									
					<div class="panel-tag">
						a
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
						</div>
						<div class="custom-file">
							<input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
							<label class="custom-file-label" for="inputGroupFile01">Choose file</label>
						</div>
					</div>
					<div class="input-group mb-3">
						<div class="custom-file">
							<input type="file" class="custom-file-input" id="inputGroupFile02">
							<label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
						</div>
						<div class="input-group-append">
							<span class="input-group-text" id="inputGroupFileAddon02">Upload</span>
						</div>
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon03">Button</button>
						</div>
						<div class="custom-file">
							<input type="file" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03">
							<label class="custom-file-label" for="inputGroupFile03">Choose file</label>
						</div>
					</div>
					<div class="input-group">
						<div class="custom-file">
							<input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
							<label class="custom-file-label" for="inputGroupFile04">Choose file</label>
						</div>
						<div class="input-group-append">
							<button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Button</button>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>
{{/inline}}

{{#*inline "scripts-block"}}{{/inline}}



{{/layouts/main}}