{{#> 
	layouts/main 
	title="Panels" 
	pagename="ui_panels" 
	category_1="UI Components" 
	heading="<i class='subheader-icon fal fa-window'></i> Panels" 
	pagedescription="Panels can be used in almost any setuation, helping wrap everything in a slick & lightweight container"
}}

{{#*inline "head-block"}}
<link rel="stylesheet" media="screen, print" href="css/theme-demo.css">
{{/inline}}

{{!-- {{#*inline "header-space-block"}}
<div class="btn-group m-0" data-toggle="buttons">
	<label class="btn btn-secondary active m-0" aria-pressed="true" data-action="toggle" data-class="mod-panel-clean">
		<input type="radio" name="options" id="option1" checked=""> Default Panel
	</label>
	<label class="btn btn-secondary m-0" aria-pressed="true" data-action="toggle" data-class="mod-panel-clean">
		<input type="radio" name="options" id="option2"> Clean Panel
	</label>
</div>
{{/inline}} --}}

{{#*inline "content-block"}}

<div class="alert alert-primary alert-dismissible">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">
			<i class="fal fa-times"></i>
		</span>
	</button>
	<div class="d-flex flex-start w-100">
		<div class="mr-2 hidden-md-down">
			<span class="icon-stack icon-stack-lg">
				<i class="base base-6 icon-stack-3x opacity-100 color-primary-500"></i>
				<i class="base base-10 icon-stack-2x opacity-100 color-primary-300 fa-flip-vertical"></i>
				<i class="fal fa-info icon-stack-1x opacity-100 color-white"></i>
			</span>
		</div>
		<div class="d-flex flex-fill">
			<div class="flex-fill">
				<span class="h5">How it works</span>
				<br> 
				Be sure to add <code>aria-expanded</code> to the control element. This attribute explicitly conveys the current state of the collapsible element tied to the control to screen readers and similar assistive technologies. If the collapsible element is closed by default, the attribute on the control element should have a value of <code>aria-expanded="false"</code>. If you’ve set the collapsible element to be open by default using the <code>show</code> class, set <code>aria-expanded="true"</code> on the control instead.
				<br> 
				<br> 
				Learn more about this plugin on bootstrap's <a href="https://getbootstrap.com/docs/{{bs4v}}/components/collapse/#accordion-example" target="_blank">official documentation</a>.
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div id="panel-1" class="panel">
			<div class="panel-hdr">	
				<h2>
					Default <span class="fw-300"><i>Panel</i></span> 
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-original-title="Collapse"></button>
					<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-original-title="Close"></button>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">									
					<div class="panel-tag">
						
					</div>

				</div>
			</div>
		</div>
		<div id="panel-2" class="panel">
			<div class="panel-hdr">		
				<h2>
					Button <span class="fw-300">Colors</span> 
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-original-title="Collapse"></button>
					<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-original-title="Close"></button>
				</div>
				<div class="panel-toolbar">
					<button class="btn btn-toolbar-master" data-toggle="dropdown">
						<i class="fal fa-ellipsis-v"></i>
					</button>
					<div class="dropdown-menu dropdown-menu-animated dropdown-menu-right p-0">
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-tint width-1"></i> <span>Panel Color</span>
						</button>
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-edit width-1"></i> <span>Change Title</span>
						</button>
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-toggle-on width-1"></i> <span>Lock Panel</span>
						</button>
						<div class="dropdown-divider m-0"></div>
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-sync width-1"></i> <span>Refresh</span>
						</button>
					</div>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm">
		<div id="panel-3" class="panel">
			<div class="panel-hdr">
				<h2>
					Button <span class="fw-300">Colors</span> 
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-original-title="Collapse"></button>
					<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-original-title="Close"></button>
				</div>
				<div class="panel-toolbar">
					<button class="btn btn-toolbar-master" data-toggle="dropdown">
						<i class="fal fa-ellipsis-v"></i>
					</button>
					
					<div class="dropdown-menu dropdown-menu-animated dropdown-menu-right p-0">
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-tint width-1"></i> <span>Panel Color</span>
						</button>
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-edit width-1"></i> <span>Change Title</span>
						</button>
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-toggle-on width-1"></i> <span>Lock Panel</span>
						</button>
						<div class="dropdown-divider m-0"></div>
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-sync width-1"></i> <span>Refresh</span>
						</button>
					</div>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
				</div>
			</div>
		</div>
		<div id="panel-4" class="panel">
			<div class="panel-hdr">				
				<h2>
					Button <span class="fw-300">Colors</span> 
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-original-title="Collapse"></button>
					<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-original-title="Close"></button>
				</div>
				<div class="panel-toolbar">
					<button class="btn btn-toolbar-master" data-toggle="dropdown">
						<i class="fal fa-ellipsis-v"></i>
					</button>
					<div class="dropdown-menu dropdown-menu-animated dropdown-menu-right p-0">
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-tint width-1"></i> <span>Panel Color</span>
						</button>
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-edit width-1"></i> <span>Change Title</span>
						</button>
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-toggle-on width-1"></i> <span>Lock Panel</span>
						</button>
						<div class="dropdown-divider m-0"></div>
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-sync width-1"></i> <span>Refresh</span>
						</button>
					</div>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<div id="panel-5" class="panel">
			<div class="panel-hdr">				
				<h2>
					Button <span class="fw-300">Colors</span> 
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-original-title="Collapse"></button>
					<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-original-title="Close"></button>
				</div>
				<div class="panel-toolbar">
					<button class="btn btn-toolbar-master" data-toggle="dropdown">
						<i class="fal fa-ellipsis-v"></i>
					</button>
					<div class="dropdown-menu dropdown-menu-animated dropdown-menu-right p-0">
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-tint width-1"></i> <span>Panel Color</span>
						</button>
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-edit width-1"></i> <span>Change Title</span>
						</button>
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-toggle-on width-1"></i> <span>Lock Panel</span>
						</button>
						<div class="dropdown-divider m-0"></div>
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-sync width-1"></i> <span>Refresh</span>
						</button>
					</div>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6">

		<div id="panel-6" class="panel">
			<div class="panel-hdr">			
				<h2>
					<i class="fal fa-shield-alt mr-2"></i>
					Button <span class="fw-300">Colors</span> 
					<small>
						test
					</small>
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-original-title="Collapse"></button>
					<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-original-title="Close"></button>
				</div>
				<div class="panel-toolbar">
					<button class="btn btn-toolbar-master" data-toggle="dropdown">
						<i class="fal fa-ellipsis-v"></i>
					</button>
					<div class="dropdown-menu dropdown-menu-animated dropdown-menu-right p-0">
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-tint width-1"></i> <span>Panel Color</span>
						</button>
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-edit width-1"></i> <span>Change Title</span>
						</button>
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-toggle-on width-1"></i> <span>Lock Panel</span>
						</button>
						<div class="dropdown-divider m-0"></div>
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-sync width-1"></i> <span>Refresh</span>
						</button>
					</div>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
				</div>
			</div>
		</div>
	</div>
</div>
{{/inline}}

{{#*inline "scripts-block"}}{{/inline}}

{{/layouts/main}}