{{#> 
	layouts/main 
	title="Panels" 
	pagename="ui_panels" 
	category_1="UI Components" 
	heading="<i class='subheader-icon fal fa-window'></i> Panels" 
	pagedescription="Panels can be used in almost any setuation, helping wrap everything in a slick & lightweight container"
}}

{{#*inline "head-block"}}
<link rel="stylesheet" media="screen, print" href="css/fa-solid.css">
{{/inline}}

{{!-- {{#*inline "header-space-block"}}
<div class="btn-group m-0" data-toggle="buttons">
	<label class="btn btn-secondary active m-0" aria-pressed="true" data-action="toggle" data-class="mod-panel-clean">
		<input type="radio" name="options" id="option1" checked=""> Default Panel
	</label>
	<label class="btn btn-secondary m-0" aria-pressed="true" data-action="toggle" data-class="mod-panel-clean">
		<input type="radio" name="options" id="option2"> Clean Panel
	</label>
</div>
{{/inline}} --}}

{{#*inline "content-block"}}

<div class="alert alert-primary alert-dismissible">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">
			<i class="fal fa-times"></i>
		</span>
	</button>
	<div class="d-flex flex-start w-100">
		<div class="mr-2 hidden-md-down">
			<span class="icon-stack icon-stack-lg">
				<i class="base base-6 icon-stack-3x opacity-100 color-primary-500"></i>
				<i class="base base-10 icon-stack-2x opacity-100 color-primary-300 fa-flip-vertical"></i>
				<i class="fal fa-info icon-stack-1x opacity-100 color-white"></i>
			</span>
		</div>
		<div class="d-flex flex-fill">
			<div class="flex-fill">
				<span class="h5">How it works</span>
				<br> 
				Be sure to add <code>aria-expanded</code> to the control element. This attribute explicitly conveys the current state of the collapsible element tied to the control to screen readers and similar assistive technologies. If the collapsible element is closed by default, the attribute on the control element should have a value of <code>aria-expanded="false"</code>. If you’ve set the collapsible element to be open by default using the <code>show</code> class, set <code>aria-expanded="true"</code> on the control instead.
				<br> 
				<br> 
				Learn more about this plugin on bootstrap's <a href="https://getbootstrap.com/docs/{{bs4v}}/components/collapse/#accordion-example" target="_blank">official documentation</a>.
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xl-6">
		<div id="panel-1" class="panel">
			<div class="panel-hdr">	
				<h2>
					Default <span class="fw-300"><i>Panel</i></span> 
				</h2>
			</div>
			<div class="panel-container show">
				<div class="panel-content">									
					<div class="panel-tag">
						All panels needs to have an unique ID in order to use the panel funtions. <code>.panel</code> is a container with no padding, <code>.panel-hdr</code> has a <code>min-height</code> value and default <code>flexbox</code> properties. The <code>.panel-toolbar</code> is inserted into <code>.panel-hdr</code> for extra elements. The <code>.panel-container</code> wraps <code>.panel-content</code> which has a predefined padding.
					</div>
					<p>
						Default panel text.
					</p>
				</div>
			</div>
		</div>
		<div id="panel-2" class="panel panel-collapsed">
			<div class="panel-hdr text-success">	
				<h2>
					Collapsed <span class="fw-300"><i>Panel</i></span> 
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-original-title="Collapse"></button>
				</div>
			</div>
			<div class="panel-container collapse">
				<div class="panel-content">									
					<div class="panel-tag">
						This panel is closed by default. To close a panel we add the class <code>.panel-collapsed</code> to <code>.panel</code> and <code>.collapse</code> to <code>.panel-container</code>
					</div>
					<p>
						Default panel text.
					</p>
				</div>
			</div>
		</div>		
		<div id="panel-3" class="panel">
			<div class="panel-hdr color-success-600">	
				<h2>
					Collapsable <span class="fw-300"><i>Panel</i></span> 
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-original-title="Collapse"></button>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">									
					<div class="panel-tag">
						Panel is closed by using the attribute <code>data-action="panel-collapse"</code> placed inside <code>.panel-toolbar</code>
					</div>
					<p>
						Default panel text.
					</p>
					<a href="javascript:void(0);" data-action="panel-collapse">collapse</a>
				</div>
			</div>
		</div>
		<div id="panel-4" class="panel">
			<div class="panel-hdr color-warning-800">	
				<h2>
					Fullscreen <span class="fw-300"><i>Panel</i></span> 
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-original-title="Fullscreen"></button>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">									
					<div class="panel-tag">
						Panel is closed by using the attribute <code>data-action="panel-collapse"</code> placed inside <code>.panel-toolbar</code>
					</div>
					<p>
						Default panel text.
					</p>
					<a href="javascript:void(0);" data-action="panel-fullscreen">fullscreen</a>
				</div>
			</div>
		</div>
		<div id="panel-5" class="panel">
			<div class="panel-hdr text-danger">	
				<h2>
					Close <span class="fw-300"><i>Panel</i></span> 
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-original-title="Close"></button>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">									
					<div class="panel-tag">
						Panel is closed by using the attribute <code>data-action="panel-collapse"</code> placed inside <code>.panel-toolbar</code>
					</div>
					<p>
						Default panel text.
					</p>
					<a href="javascript:void(0);" data-action="panel-close" data-toggle="tooltip">close panel</a>
				</div>
			</div>
		</div>
		<div id="panel-6" class="panel">
			<div class="panel-hdr bg-primary-700 bg-success-gradient">				
				<h2>
					Panel <span class="fw-300">Colors</span> 
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-toolbar-master" data-toggle="dropdown">
						<i class="fal fa-ellipsis-v"></i>
					</button>
					<div class="dropdown-menu dropdown-menu-animated dropdown-menu-right p-0">
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-tint width-1"></i> <span>Panel Color</span>
						</button>
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-edit width-1"></i> <span>Change Title</span>
						</button>
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-toggle-on width-1"></i> <span>Lock Panel</span>
						</button>
						<div class="dropdown-divider m-0"></div>
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-sync width-1"></i> <span>Refresh</span>
						</button>
					</div>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">
					<div class="panel-tag">
						You can mix and match any color styles, below is what we were found to be an interesting match.
					</div>
					<div class="d-flex flex-wrap">
						<a href="javascript:void(0);" class="btn d-inline-block bg-primary-700 bg-success-gradient width-3 height-3 p-0 rounded-0 hover-effect-dot" data-class="bg-primary-700 bg-success-gradient" style="margin:1px;"></a> 
						<a href="javascript:void(0);" class="btn d-inline-block bg-primary-500 bg-info-gradient width-3 height-3 p-0 rounded-0 hover-effect-dot" data-class="bg-primary-500 bg-info-gradient" style="margin:1px;"></a> 
						<a href="javascript:void(0);" class="btn d-inline-block bg-primary-600 bg-primary-gradient width-3 height-3 p-0 rounded-0 hover-effect-dot" data-class="bg-primary-600 bg-primary-gradient" style="margin:1px;"></a> 
						<a href="javascript:void(0);" class="btn d-inline-block bg-info-600 bg-primray-gradient width-3 height-3 p-0 rounded-0 hover-effect-dot" data-class="bg-info-600 bg-primray-gradient" style="margin:1px;"></a> 
						<a href="javascript:void(0);" class="btn d-inline-block bg-info-600 bg-info-gradient width-3 height-3 p-0 rounded-0 hover-effect-dot" data-class="bg-info-600 bg-info-gradient" style="margin:1px;"></a> 
						<a href="javascript:void(0);" class="btn d-inline-block bg-info-700 bg-success-gradient width-3 height-3 p-0 rounded-0 hover-effect-dot" data-class="bg-info-700 bg-success-gradient" style="margin:1px;"></a> 
						<a href="javascript:void(0);" class="btn d-inline-block bg-success-900 bg-info-gradient width-3 height-3 p-0 rounded-0 hover-effect-dot" data-class="bg-success-900 bg-info-gradient" style="margin:1px;"></a> 
						<a href="javascript:void(0);" class="btn d-inline-block bg-success-700 bg-primary-gradient width-3 height-3 p-0 rounded-0 hover-effect-dot" data-class="bg-success-700 bg-primary-gradient" style="margin:1px;"></a> 
						<a href="javascript:void(0);" class="btn d-inline-block bg-success-600 bg-success-gradient width-3 height-3 p-0 rounded-0 hover-effect-dot" data-class="bg-success-600 bg-success-gradient" style="margin:1px;"></a> 
						<a href="javascript:void(0);" class="btn d-inline-block bg-danger-900 bg-info-gradient width-3 height-3 p-0 rounded-0 hover-effect-dot" data-class="bg-danger-900 bg-info-gradient" style="margin:1px;"></a> 
						<a href="javascript:void(0);" class="btn d-inline-block bg-fusion-400 bg-fusion-gradient width-3 height-3 p-0 rounded-0 hover-effect-dot" data-class="bg-fusion-400 bg-fusion-gradient" style="margin:1px;"></a> 
						<a href="javascript:void(0);" class="btn d-inline-block bg-faded width-3 height-3 p-0 rounded-0 hover-effect-dot" ddata-class="bg-faded" style="margin:1px;"></a>
					</div>
				</div>
			</div>
		</div>				
	</div>
	<div class="col-xl-6">
		<div id="panel-7" class="panel">
			<div class="panel-hdr">	
				<h2>
					Label <span class="fw-300"><i>Panel</i></span> 
				</h2>
				<div class="panel-toolbar">
					<h4 class="m-0">
						<span class="badge badge-pill badge-danger fw-400 l-h-n">
							11
						</span>
					</h4>
				</div>				
				<div class="panel-toolbar ml-2">
					<h4 class="m-0">
						<span class="badge badge-primary fw-400 l-h-n">
							Panel Badge
						</span>
					</h4>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">									
					<p>
						Default panel text.
					</p>
				</div>
				<!-- panel footer with utility classes -->
				<div class="panel-content py-2 rounded-bottom border-faded border-left-0 border-right-0 border-bottom-0 text-muted">	
					footer
				</div>
			</div>
		</div>	
		<div id="panel-8" class="panel">
			<div class="panel-hdr">
				<h2>
					Panel <span class="fw-300">toolbar</span> 
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-original-title="Collapse"></button>
					<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-original-title="Close"></button>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content py-2 bg-highlight border-faded border-left-0 border-right-0">
					<div class="btn-group mr-2" role="group" aria-label="Group A">
						<button type="button" class="btn btn-default bg-white"><i class="fas fa-bold"></i></button>
						<button type="button" class="btn btn-default bg-white"><i class="fas fa-italic"></i></button>
						<button type="button" class="btn btn-default bg-white"><i class="fas fa-underline"></i></button>
					</div>
					<div class="btn-group mr-2" role="group" aria-label="Group A">
						<button type="button" class="btn btn-default bg-white"><i class="fas fa-align-left"></i></button>
						<button type="button" class="btn btn-default bg-white"><i class="fas fa-align-center"></i></button>
						<button type="button" class="btn btn-default bg-white"><i class="fas fa-align-right"></i></button>
						<button type="button" class="btn btn-default bg-white"><i class="fas fa-align-justify"></i></button>
					</div>
				</div>
				<div class="panel-content p-0">
					<textarea class="form-control border-0 px-4 py-3" placeholder="Textarea" rows="10" placeholder="insert your text here...">This is a textarea - below me is panel footer and above is the a utility made toolbar!</textarea>
				</div>
				<!-- panel footer with utility classes -->
				<div class="d-flex align-items-center panel-content py-2 rounded-bottom bg-faded border-faded border-left-0 border-right-0 border-bottom-0 text-muted">
					<span class="opacity-50">Saved</span>
					<button class="btn btn-outline-danger ml-auto">Disregard</button>
					<button class="btn btn-success ml-2">Save</button>
				</div>
			</div>
		</div>
		<div id="panel-9" class="panel">
			<div class="panel-hdr">				
				<h2>
					Panel <span class="fw-300">form elements</span> 
				</h2>
				<div class="panel-toolbar">
					<div class="custom-control d-flex custom-switch">
						<input id="eventlog-switch" type="checkbox" class="custom-control-input" checked="checked">
						<label class="custom-control-label fw-500" for="eventlog-switch"></label>
					</div>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">


				</div>
				<!-- panel footer with utility classes -->
				<div class="panel-content py-2 rounded-bottom border-faded border-left-0 border-right-0 border-bottom-0 text-muted">
					footer
				</div>
			</div>
		</div>
		<div id="panel-10" class="panel">
			<div class="panel-hdr">				
				<h2>
					Panel <span class="fw-300">form inputs</span> 
				</h2>
				<div class="panel-toolbar">
					<div class="d-flex position-relative ml-auto" style="max-width: 10rem;">
						<i class="fal fa-search position-absolute pos-left fs-lg px-3 py-2 mt-1"></i>
						<input type="text" class="form-control pl-6" placeholder="Search">
					</div>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">
					

				</div>
				<!-- panel footer with utility classes -->
				<div class="panel-content py-2 rounded-bottom border-faded border-left-0 border-right-0 border-bottom-0 text-muted">
					footer
				</div>
			</div>
		</div>
		<div id="panel-11" class="panel">
			<div class="panel-hdr">				
				<h2>
					Panel <span class="fw-300">buttons</span> 
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-default btn-sm rounded-pill mr-1 shadow-0">
						<i class="fas fa-trash"></i>
					</button>
					<button class="btn btn-icon btn-sm btn-secondary mr-1 shadow-0">
						<i class="fas fa-trash"></i>
					</button>
					<button class="btn btn-icon btn-sm btn-success shadow-0 rounded-circle">
						<i class="fas fa-trash"></i>
					</button>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">
					

				</div>
				<!-- panel footer with utility classes -->
				<div class="panel-content py-2 rounded-bottom border-faded border-left-0 border-right-0 border-bottom-0 text-muted">
					footer
				</div>
			</div>
		</div>	
		<div id="panel-12" class="panel">
			<div class="panel-hdr border-faded border-top-0 border-right-0 border-left-0 shadow-0">				
				<h2>
					Panel <span class="fw-300">tabs</span> 
				</h2>
				<div class="panel-toolbar pr-3  align-self-end">
					<ul class="nav nav-tabs justify-content-end border-bottom-0" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#tab_default-1" role="tab">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#tab_default-2" role="tab">Set</a>
						</li>
						<li class="nav-item">
							<a class="nav-link disabled" data-toggle="tab" href="#" role="tab">Disabled</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">
					<div class="tab-content">
						<div class="tab-pane fade show active" id="tab_default-1" role="tabpanel">
							Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater
							eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone.
						</div>
						<div class="tab-pane fade" id="tab_default-2" role="tabpanel">
							Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo
							enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic.
						</div>
					</div>
				</div>
				<!-- panel footer with utility classes -->
				<div class="panel-content py-2 rounded-bottom border-faded border-left-0 border-right-0 border-bottom-0 text-muted">
					footer
				</div>
			</div>
		</div>		
	</div>
</div>

{{/inline}}

{{#*inline "scripts-block"}}{{/inline}}

{{/layouts/main}}