{{#> 
	layouts/main 
	title="Panels" 
	pagename="ui_panels" 
	category_1="UI Components" 
	heading="<i class='subheader-icon fal fa-window'></i> Panels" 
	pagedescription="Panels can be used in almost any setuation, helping wrap everything in a slick & lightweight container"
}}

{{#*inline "head-block"}}
<link rel="stylesheet" media="screen, print" href="css/theme-demo.css">
{{/inline}}

{{!-- {{#*inline "header-space-block"}}
<div class="btn-group m-0" data-toggle="buttons">
	<label class="btn btn-secondary active m-0" aria-pressed="true" data-action="toggle" data-class="mod-panel-clean">
		<input type="radio" name="options" id="option1" checked=""> Default Panel
	</label>
	<label class="btn btn-secondary m-0" aria-pressed="true" data-action="toggle" data-class="mod-panel-clean">
		<input type="radio" name="options" id="option2"> Clean Panel
	</label>
</div>
{{/inline}} --}}

{{#*inline "content-block"}}

<div class="row">
	
	<div class="col-sm-6">

		<div id="panel-1" class="panel">
			<div class="panel-hdr">	
				<h2>
					Default <span class="fw-300"><i>Panel</i></span> 
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-original-title="Collapse"></button>
					<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-original-title="Close"></button>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">									

<pre class="prettyprint mb-0">&lt;div id="[unique id]" class="<span class="color-info-500 fw-700">panel</span>"&gt;
  &lt;div class="<span class="color-info-500 fw-700">panel-hdr</span>"&gt;	
    &lt;h2&gt;
      <span class="text-muted fw-700">[YOUR HEADER]</span>
    &lt;/h2&gt;
    &lt;div class="<span class="color-info-500 fw-700">panel-toolbar</span>"&gt;
      &lt;button class="<span class="color-info-500 fw-700">btn btn-panel</span>" <span class="color-success-600 fw-700">data-action="panel-collapse"</span>&gt;&lt;/button&gt;
      &lt;button class="<span class="color-info-500 fw-700">btn btn-panel</span>" <span class="color-warning-700 fw-700">data-action="panel-fullscreen"</span>&gt;&lt;/button&gt;
      &lt;button class="<span class="color-info-500 fw-700">btn btn-panel</span>" <span class="color-danger-600 fw-700">data-action="panel-close"</span>&gt;&lt;/button&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="<span class="color-info-500 fw-700">panel-container show</span>"&gt;
    &lt;div class="<span class="color-info-500 fw-700">panel-content</span>"&gt;
      <span class="text-muted fw-700">[YOUR CONTENTS]</span>
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre>

				</div>
			</div>
		</div>

		<div id="panel-2" class="panel">
			<div class="panel-hdr">		
				<h2>
					Button <span class="fw-300">Colors</span> 
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-original-title="Collapse"></button>
					<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-original-title="Close"></button>
				</div>
				<div class="panel-toolbar">
					<button class="btn btn-toolbar-master" data-toggle="dropdown">
						<i class="fal fa-ellipsis-v"></i>
					</button>
					<div class="dropdown-menu dropdown-menu-animated dropdown-menu-right p-0">
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-tint width-1"></i> <span>Panel Color</span>
						</button>
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-edit width-1"></i> <span>Change Title</span>
						</button>
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-toggle-on width-1"></i> <span>Lock Panel</span>
						</button>
						<div class="dropdown-divider m-0"></div>
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-sync width-1"></i> <span>Refresh</span>
						</button>
					</div>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
				</div>
			</div>
		</div>
		
	</div>
	<div class="col-sm">

		<div id="panel-3" class="panel">
			<div class="panel-hdr">
				<h2>
					Button <span class="fw-300">Colors</span> 
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-original-title="Collapse"></button>
					<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-original-title="Close"></button>
				</div>
				<div class="panel-toolbar">
					<button class="btn btn-toolbar-master" data-toggle="dropdown">
						<i class="fal fa-ellipsis-v"></i>
					</button>
					
					<div class="dropdown-menu dropdown-menu-animated dropdown-menu-right p-0">
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-tint width-1"></i> <span>Panel Color</span>
						</button>
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-edit width-1"></i> <span>Change Title</span>
						</button>
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-toggle-on width-1"></i> <span>Lock Panel</span>
						</button>
						<div class="dropdown-divider m-0"></div>
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-sync width-1"></i> <span>Refresh</span>
						</button>
					</div>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
				</div>
			</div>
		</div>

		<div id="panel-4" class="panel">
			<div class="panel-hdr">				
				<h2>
					Button <span class="fw-300">Colors</span> 
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-original-title="Collapse"></button>
					<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-original-title="Close"></button>
				</div>
				<div class="panel-toolbar">
					<button class="btn btn-toolbar-master" data-toggle="dropdown">
						<i class="fal fa-ellipsis-v"></i>
					</button>
					<div class="dropdown-menu dropdown-menu-animated dropdown-menu-right p-0">
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-tint width-1"></i> <span>Panel Color</span>
						</button>
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-edit width-1"></i> <span>Change Title</span>
						</button>
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-toggle-on width-1"></i> <span>Lock Panel</span>
						</button>
						<div class="dropdown-divider m-0"></div>
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-sync width-1"></i> <span>Refresh</span>
						</button>
					</div>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
				</div>
			</div>
		</div>
		
	</div>

</div>

<div class="row">
	<div class="col-sm-6">

		<div id="panel-5" class="panel">
			<div class="panel-hdr">				
				<h2>
					Button <span class="fw-300">Colors</span> 
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-original-title="Collapse"></button>
					<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-original-title="Close"></button>
				</div>
				<div class="panel-toolbar">
					<button class="btn btn-toolbar-master" data-toggle="dropdown">
						<i class="fal fa-ellipsis-v"></i>
					</button>
					<div class="dropdown-menu dropdown-menu-animated dropdown-menu-right p-0">
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-tint width-1"></i> <span>Panel Color</span>
						</button>
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-edit width-1"></i> <span>Change Title</span>
						</button>
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-toggle-on width-1"></i> <span>Lock Panel</span>
						</button>
						<div class="dropdown-divider m-0"></div>
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-sync width-1"></i> <span>Refresh</span>
						</button>
					</div>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
				</div>
			</div>
		</div>

	</div>
	<div class="col-sm-6">

		<div id="panel-6" class="panel">
			<div class="panel-hdr">			
				<h2>
					<i class="fal fa-shield-alt mr-2"></i>
					Button <span class="fw-300">Colors</span> 
					<small>
						test
					</small>
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-original-title="Collapse"></button>
					<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-original-title="Close"></button>
				</div>
				<div class="panel-toolbar">
					<button class="btn btn-toolbar-master" data-toggle="dropdown">
						<i class="fal fa-ellipsis-v"></i>
					</button>
					<div class="dropdown-menu dropdown-menu-animated dropdown-menu-right p-0">
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-tint width-1"></i> <span>Panel Color</span>
						</button>
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-edit width-1"></i> <span>Change Title</span>
						</button>
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-toggle-on width-1"></i> <span>Lock Panel</span>
						</button>
						<div class="dropdown-divider m-0"></div>
						<button class="dropdown-item pt-2 pr-3 pb-2 pl-3">
							<i class="fal fa-sync width-1"></i> <span>Refresh</span>
						</button>
					</div>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
					<p>tewst</p>
				</div>
			</div>
		</div>

	</div>
</div>

{{/inline}}

{{#*inline "scripts-block"}}{{/inline}}

{{/layouts/main}}