{{#> 
	layouts/main 
	title="Blank" 
	pagename="blank" 
	category_1="parent_1"
	category_2="parent_2"
	heading="Blank" 
	pagedescription="blank description"
}}

{{#*inline "head-block"}}
	{{!-- Add your custom CSS files here --}}
{{/inline}}

{{#*inline "subheader-block"}}
	{{!-- Right content on content header --}}
	<div class="subheader-block">
		Right content of header
	</div>
{{/inline}}

{{#*inline "header-icon-block"}}
	{{!-- Header icon --}}
	<span class="stack-icons mr-2">
		<i class="base-stack base-7 color-fusion-200"></i>
		<i class="middle-stack base-7 color-fusion-500"></i>
		<i class="top-stack ni ni-layers icon-sm"></i>
	</span>
{{/inline}}

{{#*inline "content-block"}}
	{{!-- Your main content goes here --}}
	Main page content
{{/inline}}

{{#*inline "scripts-block"}}
	{{!-- Your custom scripts goes here --}}
{{/inline}}

{{/layouts/main}}