{{#> layouts/main title="Panels" pagename="plugin_panels" heading="Panels <sup class='badge badge-warning fw-300 font-xs'>core-addon</sup>" pagedescription="panels can be used in almost any setuation, helping wrap everything in a slick & lightweight container"}}

{{#*inline "head-block"}}{{/inline}}

{{#*inline "content-block"}}

<div class="row">
	
	<div class="col-sm">

		<div class="panel panel-hdr-boxed" id="test">
			<div class="panel-hdr">
				New data for the report
				<div class="panel-subtitle">
					 test description
				</div>
				<div class="panel-toolbar">
					<a href="#" class="btn btn-panel bg-fusion-50" data-action="panel-collapse" data-toggle="tooltip" title="" data-original-title="COLLAPSE"></a>
					<a href="#" class="btn btn-panel bg-fusion-400" data-action="panel-fullscreen" data-toggle="tooltip" title="" data-original-title="FULLSCREEN"></a>
					<a href="#" class="btn btn-panel bg-danger-200" data-action="panel-close" data-toggle="tooltip" title="" data-original-title="CLOSE"></a>
				</div>
			</div>
			<div class="panel-container">
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
			</div>
		</div>

		<div class="panel panel-hdr-boxed">
			<div class="panel-hdr">
				New data for the report
				<div class="panel-subtitle">
					 test description
				</div>
				<div class="panel-toolbar">
					<button type="button" class="btn btn-default btn-pills btn-sm">Close</button>
					<a href="#" class="btn btn-panel bg-fusion-50" data-action="panel-collapse" data-toggle="tooltip" title="" data-original-title="COLLAPSE"></a>
					<a href="#" class="btn btn-panel bg-fusion-400" data-action="panel-fullscreen" data-toggle="tooltip" title="" data-original-title="FULLSCREEN"></a>
					<a href="#" class="btn btn-panel bg-danger-200" data-action="panel-close" data-toggle="tooltip" title="" data-original-title="CLOSE"></a>
				</div>
			</div>
			<div class="panel-container">
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
			</div>
		</div>
		
	</div>
	<div class="col-sm">

		<div class="panel panel-hdr-boxed">
			<div class="panel-hdr">
				New data for the report
				<div class="panel-toolbar">
					<a href="#" class="btn btn-panel bg-fusion-50" data-action="panel-collapse" data-toggle="tooltip" title="" data-original-title="COLLAPSE"></a>
					<a href="#" class="btn btn-panel bg-fusion-400" data-action="panel-fullscreen" data-toggle="tooltip" title="" data-original-title="FULLSCREEN"></a>
					<a href="#" class="btn btn-panel bg-danger-200" data-action="panel-close" data-toggle="tooltip" title="" data-original-title="CLOSE"></a>
				</div>
			</div>
			<div class="panel-container">
				My body text...
			</div>
		</div>
		
	</div>

</div>

{{/inline}}

{{#*inline "scripts-block"}}{{/inline}}

{{/layouts/main}}