{{#> 
	layouts/main 
	title="Marketing Dashboard" 
	pagename="intel_marketing_dashboard" 
	category_1="Application Intel"
	heading="<i class='subheader-icon fal fa-chart-area'></i> Marketing <span class='fw-300'>Dashboard</span>" 
	pagedescription="Marketing results and profits for 2020"
}}

{{#*inline "head-block"}}

{{/inline}}

{{#*inline "subheader-block"}} {{/inline}}

{{#*inline "content-block"}}

<div class="row">
	<div class="col-sm-6 col-xl-3">
		<div class="p-3 bg-primary-300 rounded overflow-hidden position-relative text-white mb-g">
			<div class="">
				<h3 class="display-4 d-block l-h-n m-0 fw-500">
					21.5k
					<small class="m-0 l-h-n">users signed up</small>
				</h3>
			</div>
			<i class="fal fa-user position-absolute pos-right pos-bottom opacity-15 mb-n1 mr-n1" style="font-size:6rem"></i>
		</div>
	</div>
	<div class="col-sm-6 col-xl-3">
		<div class="p-3 bg-warning-400 rounded overflow-hidden position-relative text-white mb-g">
			<div class="">
				<h3 class="display-4 d-block l-h-n m-0 fw-500">
				   $10,203
					<small class="m-0 l-h-n">Visual Index Figure</small>
				</h3>
			</div>
			<i class="fal fa-gem position-absolute pos-right pos-bottom opacity-15  mb-n1 mr-n4" style="font-size: 6rem;"></i>
		</div>
	</div>
	<div class="col-sm-6 col-xl-3">
		<div class="p-3 bg-success-200 rounded overflow-hidden position-relative text-white mb-g">
			<div class="">
				<h3 class="display-4 d-block l-h-n m-0 fw-500">
					- 103.72
					<small class="m-0 l-h-n">Offset Balance Ratio</small>
				</h3>
			</div>
			<i class="fal fa-lightbulb position-absolute pos-right pos-bottom opacity-15 mb-n5 mr-n6" style="font-size: 8rem;"></i>
		</div>
	</div>
	<div class="col-sm-6 col-xl-3">
		<div class="p-3 bg-info-200 rounded overflow-hidden position-relative text-white mb-g">
			<div class="">
				<h3 class="display-4 d-block l-h-n m-0 fw-500">
				   +40%
					<small class="m-0 l-h-n">Product level increase</small>
				</h3>
			</div>
			<i class="fal fa-globe position-absolute pos-right pos-bottom opacity-15 mb-n1 mr-n4" style="font-size: 6rem;"></i>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xl-12">
		<div id="panel-1" class="panel">
			<div class="panel-hdr"> 
				<h2>
					Marketing profits
				</h2>
			</div>
			<div class="panel-container show">
				<div class="panel-content bg-subtlelight-fade">
					<div id="js-checkbox-toggles" class="d-flex mb-3">
						<div class="custom-control custom-switch mr-2">
							<input type="checkbox" class="custom-control-input" name="gra-0" id="gra-0" checked="checked">
							<label class="custom-control-label" for="gra-0">Target Profit</label>
						</div>
						<div class="custom-control custom-switch mr-2">
							<input type="checkbox" class="custom-control-input" name="gra-1" id="gra-1" checked="checked">
							<label class="custom-control-label" for="gra-1">Actual Profit</label>
						</div>
						<div class="custom-control custom-switch mr-2">
							<input type="checkbox" class="custom-control-input" name="gra-2" id="gra-2" checked="checked">
							<label class="custom-control-label" for="gra-2">User Signups</label>
						</div>
					</div>
					<div id="flot-toggles" class="w-100 mt-4" style="height: 300px"></div>
				</div> 
			</div>
		</div>
	</div>
	<div class="col-xl-6">
		<div id="panel-2" class="panel panel-locked" data-panel-sortable data-panel-collapsed data-panel-fullscreen data-panel-close data-panel-locked data-panel-refresh data-panel-reset data-panel-color>
			<div class="panel-hdr">	
				<h2>
					Flot <span class="fw-300"><i>Area</i></span> 
				</h2>
			</div>
			<div class="panel-container show">
				<div class="panel-content poisition-relative">		
					<div class="p-1 position-absolute pos-right pos-top mt-3 mr-3 z-index-cloud d-flex align-items-center justify-content-center">
						<div class="border-faded border-top-0 border-left-0 border-bottom-0 py-2 pr-4 mr-3 hidden-sm-down">
							<div class="text-right fw-500 l-h-n d-flex flex-column">									
								{{!-- <i class="fal fa-arrow-up mr-2 text-success fs-xl"></i> --}}
								
								<div class="h3 m-0 d-flex align-items-center justify-content-end">
									<div class='icon-stack mr-2'>
										<i class="base base-7 icon-stack-3x opacity-100 color-success-600"></i> 
										<i class="base base-7 icon-stack-2x opacity-100 color-success-500"></i> 
										<i class="fal fa-arrow-up icon-stack-1x opacity-100 color-white"></i>
									</div>
									$44.34 / GE
								</div>
								<span class="m-0 fs-xs text-muted">Increased Profit as per redux margins and estimates</span>
							</div> 
						</div>
						<div class="js-easy-pie-chart color-info-400 position-relative d-inline-flex align-items-center justify-content-center" data-percent="35" data-piesize="95" data-linewidth="10" data-scalelength="5">
							<div class="js-easy-pie-chart color-success-400 position-relative position-absolute pos-left pos-right pos-top pos-bottom d-flex align-items-center justify-content-center" data-percent="65" data-piesize="60" data-linewidth="5" data-scalelength="1" data-scalecolor="#fff">
								<div class="position-absolute pos-top pos-left pos-right pos-bottom d-flex align-items-center justify-content-center fw-500 fs-xl text-dark">78%</div>
							</div>	
						</div>
					</div>			
					<div id="flot-area" style="width:100%; height:300px;"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-6">
		<div id="panel-2" class="panel panel-locked" data-panel-sortable data-panel-collapsed data-panel-fullscreen data-panel-close data-panel-locked data-panel-refresh data-panel-reset data-panel-color>
			<div class="panel-hdr">	
				<h2>
					Flot <span class="fw-300"><i>Area</i></span> 
				</h2>
			</div>
			<div class="panel-container show">
				<div class="panel-content poisition-relative">		
					
					<div id="visitorsFlotChart" style="width:100%; height:300px;"></div>
				</div>
			</div>
		</div>
	</div>
</div>

{{/inline}}

{{#*inline "scripts-block"}}

	<script type="text/javascript">
	/* Activate smart panels */
	$('#js-page-content').smartPanel();
	</script>

	<!-- The order of scripts is irrelevant. Please check out the plugin pages for more details about these plugins below: -->
	<script src="js/statistics/easypiechart/easypiechart.bundle.js"></script>
	<script src="js/statistics/sparkline/sparkline.bundle.js"></script>
	<script src="js/statistics/flot/flot.bundle.js"></script>

	<script>

		/* defined datas */
		var dataTargetProfit = [
			[1354586000000, 153],
			[1364587000000, 658],
			[1374588000000, 198],
			[1384589000000, 663],
			[1394590000000, 801],
			[1404591000000, 1080],
			[1414592000000, 353],
			[1424593000000, 749],
			[1434594000000, 523],
			[1444595000000, 258],
			[1454596000000, 688],
			[1464597000000, 364]
		]
		var dataProfit = [
			[1354586000000, 53],
			[1364587000000, 65],
			[1374588000000, 98],
			[1384589000000, 83],
			[1394590000000, 980],
			[1404591000000, 808],
			[1414592000000, 720],
			[1424593000000, 674],
			[1434594000000, 23],
			[1444595000000, 79],
			[1454596000000, 88],
			[1464597000000, 36]
		]
		var dataSignups = [
			[1354586000000, 647],
			[1364587000000, 435],
			[1374588000000, 784],
			[1384589000000, 346],
			[1394590000000, 487],
			[1404591000000, 463],
			[1414592000000, 479],
			[1424593000000, 236],
			[1434594000000, 843],
			[1444595000000, 657],
			[1454596000000, 241],
			[1464597000000, 341]
		]
		var dataSet1 = [
			[0, 10],
			[100, 8],
			[200, 7],
			[300, 5],
			[400, 4],
			[500, 6],
			[600, 3],
			[700, 2]
		];
		var dataSet2 = [
			[0, 9],
			[100, 6],
			[200, 5],
			[300, 3],
			[400, 3],
			[500, 5],
			[600, 2],
			[700, 1]
		];

		$(document).ready(function () {
			/* flot toggle example */
			var flot_toggle = function () {

				var data = [{
					label: "Target Profit",
					data: dataTargetProfit,
					color: myapp_get_color.primary_500,
					bars: {
						show: true,
						align: "center",
						barWidth: 30 * 30 * 60 * 1000 * 80,
						lineWidth: 0,
						fillColor: {
							colors: [myapp_get_color.primary_900, myapp_get_color.primary_400]
						}
					},
					highlightColor: 'rgba(255,255,255,0.3)',
					shadowSize: 0
				}, {
					label: "Actual Profit",
					data: dataProfit,
					color: myapp_get_color.warning_500,
					lines: {
						show: true,
						lineWidth: 5
					},
					shadowSize: 0,
					points: {
						show: true
					}
				}, {
					label: "User Signups",
					data: dataSignups,
					color: myapp_get_color.success_500,
					lines: {
						show: true,
						lineWidth: 2
					},
					shadowSize: 0,
					points: {
						show: true
					}
				}]

				var options = {
					grid: {
						hoverable: true,
						clickable: true,
						tickColor: '#f2f2f2',
						borderWidth: 1,
						borderColor: '#f2f2f2'
					},
					tooltip: true,
					tooltipOpts: {
						cssClass: 'tooltip-inner',
						defaultTheme: false
					},
					xaxis: {
						mode: "time"
					},
					yaxes: {
						tickFormatter: function (val, axis) {
							return "$" + val;
						},
						max: 1200
					}

				};

				var plot2 = null;

				function plotNow() {
					var d = [];
					$("#js-checkbox-toggles").find(':checkbox').each(function () {
						if ($(this).is(':checked')) {
							d.push(data[$(this).attr("name").substr(4, 1)]);
						}
					});
					if (d.length > 0) {
						if (plot2) {
							plot2.setData(d);
							plot2.draw();
						} else {
							plot2 = $.plot($("#flot-toggles"), d, options);
						}
					}

				};

				$("#js-checkbox-toggles").find(':checkbox').on('change', function () {
					plotNow();
				});
				plotNow()
			}
			flot_toggle();
			/* flot toggle example -- end*/

			/* flot area */
			var flotArea = $.plot($('#flot-area'), [{
					data: dataSet1,
					label: 'New Customer',
					color: myapp_get_color.success_200
				},
				{
					data: dataSet2,
					label: 'Returning Customer',
					color: myapp_get_color.info_200
				}
			], {
				series: {
					lines: {
						show: true,
						lineWidth: 2,
						fill: 1
					},
					shadowSize: 0
				},
				points: {
					show: true,
				},
				legend: {
					noColumns: 1,
					position: 'nw'
				},
				grid: {
					hoverable: true,
					clickable: true,
					borderColor: '#ddd',
					tickColor: '#ddd',
					aboveData: true,
					borderWidth: 0,
					labelMargin: 5,
					backgroundColor: 'transparent'
				},
				yaxis: {
					tickLength: 1,
					min: 0,
					max: 15,
					color: '#eee',
					font: {
						size: 0,
						color: '#999'
					}
				},
				xaxis: {
					tickLength: 1,
					color: '#eee',
					font: {
						size: 10,
						color: '#999'
					}
				}

			});
			/* flot area -- end */
	   
			var flotRevChart =  $.plot('#visitorsFlotChart', [{
        data: [[3,0],[4,1],[5,3],[6,3],[7,10],[8,11],[9,12],[10,9],[11,12],[12,8],[13,5]],
        color: '#ced4da'
      },{
        data: [[1,0],[2,0],[3,1],[4,2],[5,2],[6,5],[7,8],[8,12],[9,9],[10,11],[11,5]],
        color: '#f10075'
      }], {
        series: {
          shadowSize: 0,
          lines: {
            show: true,
            lineWidth: 2,
            fill: true,
            fillColor: { colors: [ { opacity: 0 }, { opacity: 0.12 } ] }
          }
        },
        grid: {
          borderWidth: 0
        },
        yaxis: {
          min: 0,
          max: 15,
          tickColor: '#ddd',
          ticks: [[0,''],[5,'100K'],[10,'200K'],[15,'300K']],
          font: {
            color: '#444',
            size: 10
          }
        },
        xaxis: {

          tickColor: '#eee',
          ticks: [[2,'2am'],[3,'3am'],[4,'4am'],[5,'5am'],[6,'6am'],[7,'7am'],[8,'8am'],[9,'9am'],[10,'1pm'],[11,'2pm'],
        [12,'3pm'],[13,'4pm']],
          font: {
            color: '#999',
            size: 9
          }
        }
      });


		});
	</script>
{{/inline}}

{{/layouts/main}}