{{#> 
	layouts/main 
	title="Marketing Dashboard" 
	pagename="intel_marketing_dashboard" 
	category_1="Application Intel"
	heading="<i class='subheader-icon fal fa-chart-area'></i> Marketing <span class='fw-300'>Dashboard</span>" 
	pagedescription="Marketing results and profits for 2019"
}}

{{#*inline "head-block"}}
<link rel="stylesheet" media="screen, print" href="css/datagrid/datatables/datatables.bundle.css">
{{/inline}}

{{#*inline "subheader-block"}} {{/inline}}

{{#*inline "content-block"}}

<div class="row">
	<div class="col-sm-6 col-xl-3">
		<div class="p-3 bg-primary-300 rounded overflow-hidden position-relative text-white mb-g">
			<div class="">
				<h3 class="display-4 d-block l-h-n m-0 fw-500">
					21.5k
					<small class="m-0 l-h-n">users signed up</small>
				</h3>
			</div>
			<i class="fal fa-user position-absolute pos-right pos-bottom opacity-15 mb-n1 mr-n1" style="font-size:6rem"></i>
		</div>
	</div>
	<div class="col-sm-6 col-xl-3">
		<div class="p-3 bg-warning-400 rounded overflow-hidden position-relative text-white mb-g">
			<div class="">
				<h3 class="display-4 d-block l-h-n m-0 fw-500">
				   $10,203
					<small class="m-0 l-h-n">Visual Index Figure</small>
				</h3>
			</div>
			<i class="fal fa-gem position-absolute pos-right pos-bottom opacity-15  mb-n1 mr-n4" style="font-size: 6rem;"></i>
		</div>
	</div>
	<div class="col-sm-6 col-xl-3">
		<div class="p-3 bg-success-200 rounded overflow-hidden position-relative text-white mb-g">
			<div class="">
				<h3 class="display-4 d-block l-h-n m-0 fw-500">
					- 103.72
					<small class="m-0 l-h-n">Offset Balance Ratio</small>
				</h3>
			</div>
			<i class="fal fa-lightbulb position-absolute pos-right pos-bottom opacity-15 mb-n5 mr-n6" style="font-size: 8rem;"></i>
		</div>
	</div>
	<div class="col-sm-6 col-xl-3">
		<div class="p-3 bg-info-200 rounded overflow-hidden position-relative text-white mb-g">
			<div class="">
				<h3 class="display-4 d-block l-h-n m-0 fw-500">
				   +40%
					<small class="m-0 l-h-n">Product level increase</small>
				</h3>
			</div>
			<i class="fal fa-globe position-absolute pos-right pos-bottom opacity-15 mb-n1 mr-n4" style="font-size: 6rem;"></i>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xl-12">
		<div id="panel-1" class="panel">
			<div class="panel-hdr"> 
				<h2>
					Marketing profits
				</h2>
			</div>
			<div class="panel-container show">
				<div class="panel-content bg-subtlelight-fade">
					<div id="js-checkbox-toggles" class="d-flex mb-3">
						<div class="custom-control custom-switch mr-2">
							<input type="checkbox" class="custom-control-input" name="gra-0" id="gra-0" checked="checked">
							<label class="custom-control-label" for="gra-0">Target Profit</label>
						</div>
						<div class="custom-control custom-switch mr-2">
							<input type="checkbox" class="custom-control-input" name="gra-1" id="gra-1" checked="checked">
							<label class="custom-control-label" for="gra-1">Actual Profit</label>
						</div>
						<div class="custom-control custom-switch mr-2">
							<input type="checkbox" class="custom-control-input" name="gra-2" id="gra-2" checked="checked">
							<label class="custom-control-label" for="gra-2">User Signups</label>
						</div>
					</div>
					<div id="flot-toggles" class="w-100 mt-4" style="height: 300px"></div>
				</div> 
			</div>
		</div>
	</div>
	<div class="col-xl-6">
		<div id="panel-2" class="panel panel-locked" data-panel-sortable data-panel-collapsed data-panel-close>
			<div class="panel-hdr">	
				<h2>
					Flot <span class="fw-300"><i>Area</i></span> 
				</h2>
			</div>
			<div class="panel-container show">
				<div class="panel-content poisition-relative">		
					<div class="p-1 position-absolute pos-right pos-top mt-3 mr-3 z-index-cloud d-flex align-items-center justify-content-center">
						<div class="border-faded border-top-0 border-left-0 border-bottom-0 py-2 pr-4 mr-3 hidden-sm-down">
							<div class="text-right fw-500 l-h-n d-flex flex-column">																
								<div class="h3 m-0 d-flex align-items-center justify-content-end">
									<div class='icon-stack mr-2'>
										<i class="base base-7 icon-stack-3x opacity-100 color-success-600"></i> 
										<i class="base base-7 icon-stack-2x opacity-100 color-success-500"></i> 
										<i class="fal fa-arrow-up icon-stack-1x opacity-100 color-white"></i>
									</div>
									$44.34 / GE
								</div>
								<span class="m-0 fs-xs text-muted">Increased Profit as per redux margins and estimates</span>
							</div> 
						</div>
						<div class="js-easy-pie-chart color-info-400 position-relative d-inline-flex align-items-center justify-content-center" data-percent="35" data-piesize="95" data-linewidth="10" data-scalelength="5">
							<div class="js-easy-pie-chart color-success-400 position-relative position-absolute pos-left pos-right pos-top pos-bottom d-flex align-items-center justify-content-center" data-percent="65" data-piesize="60" data-linewidth="5" data-scalelength="1" data-scalecolor="#fff">
								<div class="position-absolute pos-top pos-left pos-right pos-bottom d-flex align-items-center justify-content-center fw-500 fs-xl text-dark">78%</div>
							</div>	
						</div>
					</div>			
					<div id="flot-area" style="width:100%; height:300px;"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-6">
		<div id="panel-2" class="panel panel-locked" data-panel-sortable data-panel-collapsed data-panel-close>
			<div class="panel-hdr">	
				<h2>
					Flot <span class="fw-300"><i>Area</i></span> 
				</h2>
			</div>
			<div class="panel-container show">
				<div class="panel-content poisition-relative">	

					<div class="pb-5 pt-3">

						<div class="row">

							<div class="col-6 col-xl-3 d-sm-flex align-items-center">
								<div class="p-2 mr-3 bg-info-200 rounded">
									<span class="peity-bar" data-peity="{&quot;fill&quot;: [&quot;#fff&quot;], &quot;width&quot;: 27, &quot;height&quot;: 27 }">3,4,5,8,2</span>
								</div>
								<div>
									<label class="fs-sm mb-0">Bounce Rate</label>
									<h4 class="font-weight-bold mb-0">37.56%</h4>
								</div>
							</div>
							<div class="col-6 col-xl-3 d-sm-flex align-items-center">
								<div class="p-2 mr-3 bg-info-300 rounded">
									<span class="peity-bar" data-peity="{&quot;fill&quot;: [&quot;#fff&quot;], &quot;width&quot;: 27, &quot;height&quot;: 27 }">5,3,1,7,9</span>
								</div>
								<div>
									<label class="fs-sm mb-0">Sessions</label>
									<h4 class="font-weight-bold mb-0">759</h4>
								</div>
							</div>
							<div class="col-6 col-xl-3 d-sm-flex align-items-center">
								<div class="p-2 mr-3 bg-success-300 rounded">
									<span class="peity-bar" data-peity="{&quot;fill&quot;: [&quot;#fff&quot;], &quot;width&quot;: 27, &quot;height&quot;: 27 }">3,4,3,5,5</span>
								</div>
								<div>
									<label class="fs-sm mb-0">New Sessions</label>
									<h4 class="font-weight-bold mb-0">12.17%</h4>
								</div>
							</div>
							<div class="col-6 col-xl-3 d-sm-flex align-items-center">
								<div class="p-2 mr-3 bg-success-500 rounded">
									<span class="peity-bar" data-peity="{&quot;fill&quot;: [&quot;#fff&quot;], &quot;width&quot;: 27, &quot;height&quot;: 27 }">6,4,7,5,6</span>
								</div>
								<div>
									<label class="fs-sm mb-0">Clickthrough</label>
									<h4 class="font-weight-bold mb-0">19.77%</h4>
								</div>
							</div>

						</div>

					</div>

					<div id="flotVisit" style="width:100%; height:208px;"></div>

				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-12">
			<div id="panel-2" class="panel">
			<div class="panel-hdr">	
				<h2>
					Sale <span class="fw-300"><i>Records</i></span> 
				</h2>
			</div>
			<div class="panel-container show">
				<div class="panel-content">	
					 <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
						<thead class="bg-warning-200">
							<tr>
								<th>Name</th>
								<th>Position</th>
								<th>Office</th>
								<th>Age</th>
								<th>Start date</th>
								<th>Salary</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Tiger Nixon</td>
								<td>System Architect</td>
								<td>Edinburgh</td>
								<td>61</td>
								<td>2011/04/25</td>
								<td>$320,800</td>
							</tr>
							<tr>
								<td>Garrett Winters</td>
								<td>Accountant</td>
								<td>Tokyo</td>
								<td>63</td>
								<td>2011/07/25</td>
								<td>$170,750</td>
							</tr>
							<tr>
								<td>Ashton Cox</td>
								<td>Junior Technical Author</td>
								<td>San Francisco</td>
								<td>66</td>
								<td>2009/01/12</td>
								<td>$86,000</td>
							</tr>
							<tr>
								<td>Cedric Kelly</td>
								<td>Senior Javascript Developer</td>
								<td>Edinburgh</td>
								<td>22</td>
								<td>2012/03/29</td>
								<td>$433,060</td>
							</tr>
							<tr>
								<td>Airi Satou</td>
								<td>Accountant</td>
								<td>Tokyo</td>
								<td>33</td>
								<td>2008/11/28</td>
								<td>$162,700</td>
							</tr>
							<tr>
								<td>Brielle Williamson</td>
								<td>Integration Specialist</td>
								<td>New York</td>
								<td>61</td>
								<td>2012/12/02</td>
								<td>$372,000</td>
							</tr>
							<tr>
								<td>Herrod Chandler</td>
								<td>Sales Assistant</td>
								<td>San Francisco</td>
								<td>59</td>
								<td>2012/08/06</td>
								<td>$137,500</td>
							</tr>
							<tr>
								<td>Rhona Davidson</td>
								<td>Integration Specialist</td>
								<td>Tokyo</td>
								<td>55</td>
								<td>2010/10/14</td>
								<td>$327,900</td>
							</tr>
							<tr>
								<td>Colleen Hurst</td>
								<td>Javascript Developer</td>
								<td>San Francisco</td>
								<td>39</td>
								<td>2009/09/15</td>
								<td>$205,500</td>
							</tr>
							<tr>
								<td>Sonya Frost</td>
								<td>Software Engineer</td>
								<td>Edinburgh</td>
								<td>23</td>
								<td>2008/12/13</td>
								<td>$103,600</td>
							</tr>
							<tr>
								<td>Jena Gaines</td>
								<td>Office Manager</td>
								<td>London</td>
								<td>30</td>
								<td>2008/12/19</td>
								<td>$90,560</td>
							</tr>
							<tr>
								<td>Quinn Flynn</td>
								<td>Support Lead</td>
								<td>Edinburgh</td>
								<td>22</td>
								<td>2013/03/03</td>
								<td>$342,000</td>
							</tr>
							<tr>
								<td>Charde Marshall</td>
								<td>Regional Director</td>
								<td>San Francisco</td>
								<td>36</td>
								<td>2008/10/16</td>
								<td>$470,600</td>
							</tr>
							<tr>
								<td>Haley Kennedy</td>
								<td>Senior Marketing Designer</td>
								<td>London</td>
								<td>43</td>
								<td>2012/12/18</td>
								<td>$313,500</td>
							</tr>
							<tr>
								<td>Tatyana Fitzpatrick</td>
								<td>Regional Director</td>
								<td>London</td>
								<td>19</td>
								<td>2010/03/17</td>
								<td>$385,750</td>
							</tr>
							<tr>
								<td>Michael Silva</td>
								<td>Marketing Designer</td>
								<td>London</td>
								<td>66</td>
								<td>2012/11/27</td>
								<td>$198,500</td>
							</tr>
							<tr>
								<td>Paul Byrd</td>
								<td>Chief Financial Officer (CFO)</td>
								<td>New York</td>
								<td>64</td>
								<td>2010/06/09</td>
								<td>$725,000</td>
							</tr>
							<tr>
								<td>Gloria Little</td>
								<td>Systems Administrator</td>
								<td>New York</td>
								<td>59</td>
								<td>2009/04/10</td>
								<td>$237,500</td>
							</tr>
							<tr>
								<td>Bradley Greer</td>
								<td>Software Engineer</td>
								<td>London</td>
								<td>41</td>
								<td>2012/10/13</td>
								<td>$132,000</td>
							</tr>
							<tr>
								<td>Dai Rios</td>
								<td>Personnel Lead</td>
								<td>Edinburgh</td>
								<td>35</td>
								<td>2012/09/26</td>
								<td>$217,500</td>
							</tr>
							<tr>
								<td>Jenette Caldwell</td>
								<td>Development Lead</td>
								<td>New York</td>
								<td>30</td>
								<td>2011/09/03</td>
								<td>$345,000</td>
							</tr>
							<tr>
								<td>Yuri Berry</td>
								<td>Chief Marketing Officer (CMO)</td>
								<td>New York</td>
								<td>40</td>
								<td>2009/06/25</td>
								<td>$675,000</td>
							</tr>
							<tr>
								<td>Caesar Vance</td>
								<td>Pre-Sales Support</td>
								<td>New York</td>
								<td>21</td>
								<td>2011/12/12</td>
								<td>$106,450</td>
							</tr>
							<tr>
								<td>Doris Wilder</td>
								<td>Sales Assistant</td>
								<td>Sidney</td>
								<td>23</td>
								<td>2010/09/20</td>
								<td>$85,600</td>
							</tr>
							<tr>
								<td>Angelica Ramos</td>
								<td>Chief Executive Officer (CEO)</td>
								<td>London</td>
								<td>47</td>
								<td>2009/10/09</td>
								<td>$1,200,000</td>
							</tr>
							<tr>
								<td>Gavin Joyce</td>
								<td>Developer</td>
								<td>Edinburgh</td>
								<td>42</td>
								<td>2010/12/22</td>
								<td>$92,575</td>
							</tr>
							<tr>
								<td>Jennifer Chang</td>
								<td>Regional Director</td>
								<td>Singapore</td>
								<td>28</td>
								<td>2010/11/14</td>
								<td>$357,650</td>
							</tr>
							<tr>
								<td>Brenden Wagner</td>
								<td>Software Engineer</td>
								<td>San Francisco</td>
								<td>28</td>
								<td>2011/06/07</td>
								<td>$206,850</td>
							</tr>
							<tr>
								<td>Fiona Green</td>
								<td>Chief Operating Officer (COO)</td>
								<td>San Francisco</td>
								<td>48</td>
								<td>2010/03/11</td>
								<td>$850,000</td>
							</tr>
							<tr>
								<td>Shou Itou</td>
								<td>Regional Marketing</td>
								<td>Tokyo</td>
								<td>20</td>
								<td>2011/08/14</td>
								<td>$163,000</td>
							</tr>
							<tr>
								<td>Michelle House</td>
								<td>Integration Specialist</td>
								<td>Sidney</td>
								<td>37</td>
								<td>2011/06/02</td>
								<td>$95,400</td>
							</tr>
							<tr>
								<td>Suki Burks</td>
								<td>Developer</td>
								<td>London</td>
								<td>53</td>
								<td>2009/10/22</td>
								<td>$114,500</td>
							</tr>
							<tr>
								<td>Prescott Bartlett</td>
								<td>Technical Author</td>
								<td>London</td>
								<td>27</td>
								<td>2011/05/07</td>
								<td>$145,000</td>
							</tr>
							<tr>
								<td>Gavin Cortez</td>
								<td>Team Leader</td>
								<td>San Francisco</td>
								<td>22</td>
								<td>2008/10/26</td>
								<td>$235,500</td>
							</tr>
							<tr>
								<td>Martena Mccray</td>
								<td>Post-Sales support</td>
								<td>Edinburgh</td>
								<td>46</td>
								<td>2011/03/09</td>
								<td>$324,050</td>
							</tr>
							<tr>
								<td>Unity Butler</td>
								<td>Marketing Designer</td>
								<td>San Francisco</td>
								<td>47</td>
								<td>2009/12/09</td>
								<td>$85,675</td>
							</tr>
							<tr>
								<td>Howard Hatfield</td>
								<td>Office Manager</td>
								<td>San Francisco</td>
								<td>51</td>
								<td>2008/12/16</td>
								<td>$164,500</td>
							</tr>
							<tr>
								<td>Hope Fuentes</td>
								<td>Secretary</td>
								<td>San Francisco</td>
								<td>41</td>
								<td>2010/02/12</td>
								<td>$109,850</td>
							</tr>
							<tr>
								<td>Vivian Harrell</td>
								<td>Financial Controller</td>
								<td>San Francisco</td>
								<td>62</td>
								<td>2009/02/14</td>
								<td>$452,500</td>
							</tr>
							<tr>
								<td>Timothy Mooney</td>
								<td>Office Manager</td>
								<td>London</td>
								<td>37</td>
								<td>2008/12/11</td>
								<td>$136,200</td>
							</tr>
							<tr>
								<td>Jackson Bradshaw</td>
								<td>Director</td>
								<td>New York</td>
								<td>65</td>
								<td>2008/09/26</td>
								<td>$645,750</td>
							</tr>
							<tr>
								<td>Olivia Liang</td>
								<td>Support Engineer</td>
								<td>Singapore</td>
								<td>64</td>
								<td>2011/02/03</td>
								<td>$234,500</td>
							</tr>
							<tr>
								<td>Bruno Nash</td>
								<td>Software Engineer</td>
								<td>London</td>
								<td>38</td>
								<td>2011/05/03</td>
								<td>$163,500</td>
							</tr>
							<tr>
								<td>Sakura Yamamoto</td>
								<td>Support Engineer</td>
								<td>Tokyo</td>
								<td>37</td>
								<td>2009/08/19</td>
								<td>$139,575</td>
							</tr>
							<tr>
								<td>Thor Walton</td>
								<td>Developer</td>
								<td>New York</td>
								<td>61</td>
								<td>2013/08/11</td>
								<td>$98,540</td>
							</tr>
							<tr>
								<td>Finn Camacho</td>
								<td>Support Engineer</td>
								<td>San Francisco</td>
								<td>47</td>
								<td>2009/07/07</td>
								<td>$87,500</td>
							</tr>
							<tr>
								<td>Serge Baldwin</td>
								<td>Data Coordinator</td>
								<td>Singapore</td>
								<td>64</td>
								<td>2012/04/09</td>
								<td>$138,575</td>
							</tr>
							<tr>
								<td>Zenaida Frank</td>
								<td>Software Engineer</td>
								<td>New York</td>
								<td>63</td>
								<td>2010/01/04</td>
								<td>$125,250</td>
							</tr>
							<tr>
								<td>Zorita Serrano</td>
								<td>Software Engineer</td>
								<td>San Francisco</td>
								<td>56</td>
								<td>2012/06/01</td>
								<td>$115,000</td>
							</tr>
							<tr>
								<td>Jennifer Acosta</td>
								<td>Junior Javascript Developer</td>
								<td>Edinburgh</td>
								<td>43</td>
								<td>2013/02/01</td>
								<td>$75,650</td>
							</tr>
							<tr>
								<td>Cara Stevens</td>
								<td>Sales Assistant</td>
								<td>New York</td>
								<td>46</td>
								<td>2011/12/06</td>
								<td>$145,600</td>
							</tr>
							<tr>
								<td>Hermione Butler</td>
								<td>Regional Director</td>
								<td>London</td>
								<td>47</td>
								<td>2011/03/21</td>
								<td>$356,250</td>
							</tr>
							<tr>
								<td>Lael Greer</td>
								<td>Systems Administrator</td>
								<td>London</td>
								<td>21</td>
								<td>2009/02/27</td>
								<td>$103,500</td>
							</tr>
							<tr>
								<td>Jonas Alexander</td>
								<td>Developer</td>
								<td>San Francisco</td>
								<td>30</td>
								<td>2010/07/14</td>
								<td>$86,500</td>
							</tr>
							<tr>
								<td>Shad Decker</td>
								<td>Regional Director</td>
								<td>Edinburgh</td>
								<td>51</td>
								<td>2008/11/13</td>
								<td>$183,000</td>
							</tr>
							<tr>
								<td>Michael Bruce</td>
								<td>Javascript Developer</td>
								<td>Singapore</td>
								<td>29</td>
								<td>2011/06/27</td>
								<td>$183,000</td>
							</tr>
							<tr>
								<td>Donna Snider</td>
								<td>Customer Support</td>
								<td>New York</td>
								<td>27</td>
								<td>2011/01/25</td>
								<td>$112,000</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th>Name</th>
								<th>Position</th>
								<th>Office</th>
								<th>Age</th>
								<th>Start date</th>
								<th>Salary</th>
							</tr>
						</tfoot>
					</table>
					<!-- datatable end -->


				</div>
			</div>
		</div>
	</div>
</div>

{{/inline}}

{{#*inline "scripts-block"}}

	<script type="text/javascript">
	/* Activate smart panels */
	$('#js-page-content').smartPanel();
	</script>

	<!-- The order of scripts is irrelevant. Please check out the plugin pages for more details about these plugins below: -->
	<script src="js/statistics/peity/peity.bundle.js"></script>
	<script src="js/statistics/flot/flot.bundle.js"></script>
	<script src="js/statistics/easypiechart/easypiechart.bundle.js"></script>
	<script src="js/datagrid/datatables/datatables.bundle.js"></script>

	<script>

		/* defined datas */
		var dataTargetProfit = [
			[1354586000000, 153],
			[1364587000000, 658],
			[1374588000000, 198],
			[1384589000000, 663],
			[1394590000000, 801],
			[1404591000000, 1080],
			[1414592000000, 353],
			[1424593000000, 749],
			[1434594000000, 523],
			[1444595000000, 258],
			[1454596000000, 688],
			[1464597000000, 364]
		]
		var dataProfit = [
			[1354586000000, 53],
			[1364587000000, 65],
			[1374588000000, 98],
			[1384589000000, 83],
			[1394590000000, 980],
			[1404591000000, 808],
			[1414592000000, 720],
			[1424593000000, 674],
			[1434594000000, 23],
			[1444595000000, 79],
			[1454596000000, 88],
			[1464597000000, 36]
		]
		var dataSignups = [
			[1354586000000, 647],
			[1364587000000, 435],
			[1374588000000, 784],
			[1384589000000, 346],
			[1394590000000, 487],
			[1404591000000, 463],
			[1414592000000, 479],
			[1424593000000, 236],
			[1434594000000, 843],
			[1444595000000, 657],
			[1454596000000, 241],
			[1464597000000, 341]
		]
		var dataSet1 = [
			[0, 10],
			[100, 8],
			[200, 7],
			[300, 5],
			[400, 4],
			[500, 6],
			[600, 3],
			[700, 2]
		];
		var dataSet2 = [
			[0, 9],
			[100, 6],
			[200, 5],
			[300, 3],
			[400, 3],
			[500, 5],
			[600, 2],
			[700, 1]
		];

		$(document).ready(function () {

			/* init datatables */
			$('#dt-basic-example').dataTable(
			{
				responsive: true,
				dom:
					"<'row mb-3'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'f><'col-sm-12 col-md-6 d-flex align-items-center justify-content-end'B>>" +
					"<'row'<'col-sm-12'tr>>" +
					"<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
				buttons: [
					{
						extend: 'colvis',
						text: 'Column Visibility',
						titleAttr: 'Col visibility',
						className: 'btn-outline-default'
					},
					{
						extend: 'csvHtml5',
						text: 'CSV',
						titleAttr: 'Generate CSV',
						className: 'btn-outline-default'
					},
					{
						extend: 'copyHtml5',
						text: 'Copy',
						titleAttr: 'Copy to clipboard',
						className: 'btn-outline-default'
					},
					{
						extend: 'print',
						text: '<i class="fal fa-print"></i>',
						titleAttr: 'Print Table',
						className: 'btn-outline-default'
					}

				]
			});


			/* flot toggle example */
			var flot_toggle = function () {

				var data = [{
					label: "Target Profit",
					data: dataTargetProfit,
					color: myapp_get_color.info_400,
					bars: {
						show: true,
						align: "center",
						barWidth: 30 * 30 * 60 * 1000 * 80,
						lineWidth: 0,
						/*fillColor: {
							colors: [myapp_get_color.primary_500, myapp_get_color.primary_900]
						},*/
						fillColor: {
							colors: [{
								opacity: 0.9
							}, {
								opacity: 0.1
							}]
						}
					},
					highlightColor: 'rgba(255,255,255,0.3)',
					shadowSize: 0
				}, {
					label: "Actual Profit",
					data: dataProfit,
					color: myapp_get_color.warning_500,
					lines: {
						show: true,
						lineWidth: 2
					},
					shadowSize: 0,
					points: {
						show: true
					}
				}, {
					label: "User Signups",
					data: dataSignups,
					color: myapp_get_color.success_500,
					lines: {
						show: true,
						lineWidth: 2
					},
					shadowSize: 0,
					points: {
						show: true
					}
				}]

				var options = {
					grid: {
						hoverable: true,
						clickable: true,
						tickColor: '#f2f2f2',
						borderWidth: 1,
						borderColor: '#f2f2f2'
					},
					tooltip: true,
					tooltipOpts: {
						cssClass: 'tooltip-inner',
						defaultTheme: false
					},
					xaxis: {
						mode: "time"
					},
					yaxes: {
						tickFormatter: function (val, axis) {
							return "$" + val;
						},
						max: 1200
					}

				};

				var plot2 = null;

				function plotNow() {
					var d = [];
					$("#js-checkbox-toggles").find(':checkbox').each(function () {
						if ($(this).is(':checked')) {
							d.push(data[$(this).attr("name").substr(4, 1)]);
						}
					});
					if (d.length > 0) {
						if (plot2) {
							plot2.setData(d);
							plot2.draw();
						} else {
							plot2 = $.plot($("#flot-toggles"), d, options);
						}
					}

				};

				$("#js-checkbox-toggles").find(':checkbox').on('change', function () {
					plotNow();
				});
				plotNow()
			}
			flot_toggle();
			/* flot toggle example -- end*/

			/* flot area */
			var flotArea = $.plot($('#flot-area'), [{
					data: dataSet1,
					label: 'New Customer',
					color: myapp_get_color.success_200
				},
				{
					data: dataSet2,
					label: 'Returning Customer',
					color: myapp_get_color.info_200
				}
			], {
				series: {
					lines: {
						show: true,
						lineWidth: 2,
						fill: true,
						fillColor: {
							colors: [{
								opacity: 0
							}, {
								opacity: 0.5
							}]
						}
					},
					shadowSize: 0
				},
				points: {
					show: true,
				},
				legend: {
					noColumns: 1,
					position: 'nw'
				},
				grid: {
					hoverable: true,
					clickable: true,
					borderColor: '#ddd',
					tickColor: '#ddd',
					aboveData: true,
					borderWidth: 0,
					labelMargin: 5,
					backgroundColor: 'transparent'
				},
				yaxis: {
					tickLength: 1,
					min: 0,
					max: 15,
					color: '#eee',
					font: {
						size: 0,
						color: '#999'
					}
				},
				xaxis: {
					tickLength: 1,
					color: '#eee',
					font: {
						size: 10,
						color: '#999'
					}
				}

			});
			/* flot area -- end */
	   
			var flotVisit =  $.plot('#flotVisit', [{
					data: [
					[3, 0],
					[4, 1],
					[5, 3],
					[6, 3],
					[7, 10],
					[8, 11],
					[9, 12],
					[10, 9],
					[11, 12],
					[12, 8],
					[13, 5]
				],
				color: myapp_get_color.success_200
			}, {
				data: [
					[1, 0],
					[2, 0],
					[3, 1],
					[4, 2],
					[5, 2],
					[6, 5],
					[7, 8],
					[8, 12],
					[9, 9],
					[10, 11],
					[11, 5]
				],
				color: myapp_get_color.info_200
			}], {
				series: {
					shadowSize: 0,
					lines: {
						show: true,
						lineWidth: 2,
						fill: true,
						fillColor: {
							colors: [{
								opacity: 0
							}, {
								opacity: 0.12
							}]
						}
					}
				},
				grid: {
					borderWidth: 0
				},
				yaxis: {
					min: 0,
					max: 15,
					tickColor: '#ddd',
					ticks: [
						[0, ''],
						[5, '100K'],
						[10, '200K'],
						[15, '300K']
					],
					font: {
						color: '#444',
						size: 10
					}
				},
				xaxis: {

					tickColor: '#eee',
					ticks: [
						[2, '2am'],
						[3, '3am'],
						[4, '4am'],
						[5, '5am'],
						[6, '6am'],
						[7, '7am'],
						[8, '8am'],
						[9, '9am'],
						[10, '1pm'],
						[11, '2pm'],
						[12, '3pm'],
						[13, '4pm']
					],
					font: {
						color: '#999',
						size: 9
					}
				}
			});


		});
	</script>
{{/inline}}

{{/layouts/main}}