{{#> 
	layouts/main 
	title="App & Plugin Licensing" 
	pagename="info_app_licensing" 
	heading="<i class='subheader-icon fal fa-tag'></i> App & Plugin Licensing"
	category_1="Package Info" 
	pagedescription="Product licenses explained"
}}

{{#*inline "content-block"}}

{{!-- Your main content goes here --}}

<div class="card mb-g">

	<div class="card-body">
		
        <div class="alert alert-warning">
            <div class="d-table w-100">
                <div class="d-table-cell align-middle pl-1">
                    <div class="d-flex">
                        <div class="flex-1">
                            <span class="h5">Wrapbootstrap License</span>
                            <br> The licenses cannot be upgraded, however you may own more than one license types (for instance, you may purchase the Single App. License for evaluation purpose and later purchase the Multiple or Extended licenses when your end-product is getting ready to be published).
                        </div>
                        <div class="d-flex align-items-center">
                            <a href="http://support.wrapbootstrap.com/knowledge_base/topics/usage-licenses" class="btn btn-warning" target="blank_">License Page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


		<h3 class="fw-500">
			Product usage licenses
			<small>
				Use of an item is bound by the license you purchase. A license grants you a non-exclusive and non-transferable right to use and incorporate the item in your personal or commercial projects. 
			</small>
		</h3>

		<h4>Single Application License</h4>

		<ol class="mb-g">
		  <li>Your use of the item is restricted to a single installation.</li>
		  <li>You may use the item in work which you are creating for your own purposes or for your client.</li>
		  <li>You must not incorporate the item in a work which is created for redistribution or resale by you or your client.</li>
		  <li>The item may not be redistributed or resold.</li>
		  <li>If the item contains licensed components, those components must only be used within the item and you must not extract and use them on a stand-alone basis.</li>
		  <li>If the item was created using materials which are the subject of a GNU General Public License (GPL), your use of the item is subject to the terms of the GPL in place of the foregoing conditions (to the extent the GPL applies).</li>
		</ol>

		<h4>Multiple Applications License</h4>

		<ol class="mb-g">
		  <li>Your use of the item may extend to multiple installations.</li>
		  <li>You may use the item in work which you are creating for your own purposes or for your clients.</li>
		  <li>You must not incorporate the item in a work which is created for redistribution or resale by you or your clients.</li>
		  <li>The item may not be redistributed or resold.</li>
		  <li>If the item contains licensed components, those components must only be used within the item and you must not extract and use them on a stand-alone basis.</li>
		  <li>If the item was created using materials which are the subject of a GNU General Public License (GPL), your use of the item is subject to the terms of the GPL in place of the foregoing conditions (to the extent the GPL applies).</li>
		</ol>

		<h4>Extended License</h4>

		<p>This license must be purchased if you intend to license, sublicense, redistribute, or resell the final product.</p>

		<ol class="mb-0">
		  <li>Your use of the item may extend to multiple installations.</li>
		  <li>You may use the item in work which you are creating for your own purposes or for your clients.</li>
		  <li>You may license, sublicense, redistribute, or resell the item in the following circumstances:
		    <ol>
		      <li>the item is incorporated into a larger work you have created; or</li>
		      <li>if you modify the item and resell the end product.</li>
		    </ol>
		  </li>
		  <li>If the item contains licensed components, those components must only be used within the item and you must not extract and use them on a stand-alone basis.</li>
		  <li>If the item was created using materials which are the subject of a GNU General Public License (GPL), your use of the item is subject to the terms of the GPL in place of the foregoing conditions (to the extent the GPL applies).</li>
		</ol>

    </div>
</div>

<div class="card mb-g">
	<div class="card-body">

		<h3 class="fw-500">
			FAQ
			<small>
				Use of an item is bound by the license you purchase. A license grants you a non-exclusive and non-transferable right to use and incorporate the item in your personal or commercial projects. 
			</small>
		</h3>

		<div class="accordion" id="accordionExample">
			<div class="mb-g">
				<div class="card-header p-3 pl-4 bg-warning-300">
					<a href="#" class="m-0 fw-500 h5" data-toggle="collapse" data-target="#faq-1">
						How do I upgrade or downgrade licenses once purchased?
					</a>
				</div>
				<div id="faq-1" class="collapse show" data-parent="#accordionExample">
					<div class="card-body bg-warning-50 pt-4 pr-4 pb-5 pl-4">
						Currently there is no way to upgrade your license(s) on wrapbootstrap, however you may purchase the Single Application License for an evaluation purpose and later obtain the license you actually need before releasing your end product.
					</div>
				</div>

				<div class="card-header p-3 pl-4 bg-warning-300">
					<a href="#" class="m-0 fw-500 h5" data-toggle="collapse" data-target="#faq-2">
						I plan to make a SaaS based application where I would sell the users access/time to the end product, which license type do I need?
					</a>
				</div>
				<div id="faq-2" class="collapse" data-parent="#accordionExample">
					<div class="card-body bg-warning-50 pt-4 pr-4 pb-5 pl-4">
						If you modified the template and want to resell the end product, then the platform used for it does not matter that much; in this case SaaS is used to sell the users access/time to the product you created, so in essence you are reselling the product. For this purpose you would need to obtain an extended license.
					</div>
				</div>

				<div class="card-header p-3 pl-4 bg-warning-300">
					<a href="#" class="m-0 fw-500 h5" data-toggle="collapse" data-target="#faq-3">
						I plan on creating an end product that can be accessed via github publically, what license do I need?
					</a>
				</div>
				<div id="faq-3" class="collapse" data-parent="#accordionExample">
					<div class="card-body bg-warning-50 pt-4 pr-4 pb-5 pl-4">
						This license must be purchased if you intend to license, sublicense, redistribute, or resell the final product.
					</div>
				</div>

				<div class="card-header p-3 pl-4 bg-warning-300">
					<a href="#" class="m-0 fw-500 h5" data-toggle="collapse" data-target="#faq-4">
						I have multiple developers that will be using NextGen, which license type is best suited?
					</a>
				</div>
				<div id="faq-4" class="collapse" data-parent="#accordionExample">
					<div class="card-body bg-warning-50 pt-4 pr-4 pb-5 pl-4">
						This license must be purchased if you intend to license, sublicense, redistribute, or resell the final product.
					</div>
				</div>

				<div class="card-header p-3 pl-4 bg-warning-300">
					<a href="#" class="m-0 fw-500 h5" data-toggle="collapse" data-target="#faq-5">
						 Does the Extended license allow me to distribute or resell multiple end products?
					</a>
				</div>
				<div id="faq-5" class="collapse" data-parent="#accordionExample">
					<div class="card-body bg-warning-50 pt-4 pr-4 pb-5 pl-4">
						No. You are allowed to create only 'one' end product for distribution or resell per Extended License. 
					</div>
				</div>

				<div class="card-header p-3 pl-4 bg-warning-300">
					<a href="#" class="m-0 fw-500 h5" data-toggle="collapse" data-target="#faq-6">
						 Can I get audited for my proper license usage?
					</a>
				</div>
				<div id="faq-6" class="collapse" data-parent="#accordionExample">
					<div class="card-body bg-warning-50 pt-4 pr-4 pb-5 pl-4">
						We will conduct audits if we have any reason to believe you are using incorrect license type for your end-product. However, with that being said, we belive in the honour system and have faith that everyone is using the correct license.
					</div>
				</div>

				<div class="card-header p-3 pl-4 bg-warning-300">
					<a href="#" class="m-0 fw-500 h5" data-toggle="collapse" data-target="#faq-7">
						I found NextGen on a free website, do I still need to pay to use it?
					</a>
				</div>
				<div id="faq-7" class="collapse" data-parent="#accordionExample">
					<div class="card-body bg-warning-50 pt-4 pr-4 pb-5 pl-4">
						Yes you will need to pay to use Nextgen. NextGen is sold exclusively on Wrapbootstrap.com; if you happen to find this item available on any other website, please report it to us immideately so we can take proper action. 
					</div>
				</div>

			</div>
		</div>

	</div>
</div>	


<div class="card mb-g">
	<div class="card-body">

		<h3 class="fw-500">
			Plugin licenses
			<small>
				Use of an item is bound by the license you purchase. A license grants you a non-exclusive and non-transferable right to use and incorporate the item in your personal or commercial projects. 
			</small>
		</h3>


	</div>
</div>	

<div class="card mb-g">
	<div class="card-body">

		<h3 class="fw-500">
			Image licenses
			<small>
				Use of an item is bound by the license you purchase. A license grants you a non-exclusive and non-transferable right to use and incorporate the item in your personal or commercial projects. 
			</small>
		</h3>


	</div>
</div>	

<div class="card mb-g">
	<div class="card-body">

		<h3 class="fw-500">
			Other licenses
			<small>
				Use of an item is bound by the license you purchase. A license grants you a non-exclusive and non-transferable right to use and incorporate the item in your personal or commercial projects. 
			</small>
		</h3>


	</div>
</div>	

{{/inline}}

{{#*inline "scripts-block"}}
	{{!-- Your custom scripts goes here --}}
{{/inline}}

{{/layouts/main}}