/* btn switch */
.btn-switch {
	background: $fusion-300;

    &:after{
		@include text-contrast(#828282);
	    background: $white;
    }

    &.active {
    	color:$white;
    	background:$color-primary;
    	&:before {
    		@include text-contrast($color-primary);
    	}
    	&:after {
    		color:$color-primary;
    	}
    }

    & + .onoffswitch-title {
    	& + .onoffswitch-title-desc {
			color: #989da5;
    	}
    }

}