$nav-function-top-menu-item-bg: darken($nav-base-color, 15%);

@include media-breakpoint-up($mobile-breakpoint) {

	.nav-function-top {


		&:not(.nav-function-fixed) {

			#settings-demo {
				position:absolute;
				
				.list {
					&#fh {
						.onoffswitch-title {
							color: $warning-700;
						}
						.onoffswitch-title-desc {
							color: $warning-500;
						}
						&:after {
							background: $warning-50;
							border: 1px solid $warning-800;
							color:$fusion-900;
						}
					}
				}
			}

		}


		#left-panel {

			#primary-nav {

				.ngmenu {


					> li {
						&:hover {
							> a {
								background: $nav-function-top-menu-item-bg;

								// sub 1
								& + ul {
									background:$nav-function-top-menu-item-bg;

									li {

										&:hover {
											> a {
												background: rgba( $primary-500, .9 );
												color:$white;
											}
										}
									} 
								}
							}						
						}

						&.active {
							> a {
								@include box-shadow( inset 0 2px 0 darken($color-primary, 10%) );
							}
						}

					}
				}
			}
		}
	}	
}