@include media-breakpoint-up($mobile-breakpoint) {

	.nav-function-minify:not(.nav-function-top) {

		.left-panel {

			.logo {

				background: $nav-minify-logo-bg;
			}

			.primary-nav {

				.navigation {
					margin:0;

					> li {

						> a {

							text-align: center;

							> .navigation-link-text {
								background: $nav-minify-hover-bg;
							}

						}
					}
				}
				

				&:hover {
					
					.navigation > li:hover {

						> a {
							background: $nav-minify-hover-bg;
							color: $white;
						}
					} 
					
				}

			}

		}
		
		.header {
			[data-class="nav-function-minify"] {
				background: $header-btn-active-bg !important;
				border-color: darken($header-btn-active-bg, 10%) !important;
				color:$header-btn-active-color !important;
			}
		}

	}

}
