#settings-demo {

	background: $settings-panel-bg;
	border: 1px solid lighten($fusion-50, 15%);

	.nav-pills {
		.nav-item {

			&:first-child {
				> .nav-link {
					border-left:1px solid lighten($fusion-50, 15%);
				}
			}

			.nav-link {

				&.active {
					color:$color-primary;
				}
			}
		}
	}

	.settings-panel {

		h5 {
			color: $fusion-500;
		}
	
	}

	.list {
    	color:darken($settings-panel-bg, 60%);

    	&:hover{
    		color:darken($settings-panel-bg, 80%);
			background:rgba( $white, .7 );
		}

		.btn-switch {
			background: $fusion-300;
		    @include text-contrast($fusion-300);

		    &:after{
				@include text-contrast(#828282);
			    background: $white;
		    }

		    &.active {
		    	color:$white;
		    	background:$color-primary;
		    	&:before {
		    		@include text-contrast($color-primary);
		    	}

		    	&:after {
		    		background:$white;
		    		color:$color-primary;
		    	}

		    }

		    & + .onoffswitch-title {

		    	& + .onoffswitch-title-desc {
					color: #989da5;
		    	}
		    }

		}

		& + .expanded {

			&:before,
			&:after {
				border-bottom-color: $white;
			}
			&:before {
				border-bottom-color: $fusion-400;
			}
		}

	}
	
	&:before {
		border-left: 1px dotted rgba($black,.4);
	}

	#opener {
		background: #2a2e33;
	}

}

.display-right-panel {

	[data-class="display-right-panel"] {
		background:$fusion-400;

	    > .fa,
	    > .#{$cust-icon-prefix} {
	    	color: $white !important;
	    }

	}

}

// localstorage success fade animation
.saving {
	#saving {
		@extend %spin-loader;
	}
}

@include set-settings(display-right-panel);
@include set-settings(header-function-fixed);
@include set-settings(nav-function-fixed);
@include set-settings(nav-function-minify);
@include set-settings(nav-function-hidden);
@include set-settings(nav-function-top);
@include set-settings(nav-mobile-push);
@include set-settings(nav-mobile-no-overlay);
@include set-settings(nav-mobile-slide-out);
@include set-settings(mod-main-boxed);
@include set-settings(mod-fixed-bg);
@include set-settings(mod-clean-page-bg);
@include set-settings(mod-pace-custom);
@include set-settings(mod-bigger-font);
@include set-settings(mod-high-contrast);
@include set-settings(mod-color-blind);
@include set-settings(mod-hide-nav-icons);
@include set-settings(mod-hide-info-card);
@include set-settings(mod-lean-page-header);
@include set-settings(mod-disable-animation);
@include set-settings(mod-app-rtl);