{{#> 
	layouts/main 
	title="Basic Tables" 
	pagename="datagrid_basic_tables" 
	heading="<i class='fal fa-th-list text-primary'></i>  Basic tables" 
	category_1="Datagrid" 
	pagedescription="Documentation and examples for opt-in styling of tables (given their prevelant use in JavaScript plugins) with Bootstrap."
}}

{{#*inline "head-block"}}{{/inline}}

{{#*inline "content-block"}}

<div class="row">
	
	<div class="col-lg-12 col-xl-6">
		
		<div class="card mb-g">

			<h4 class="card-header">
				Basic <span class="fw-300">Tables</span>
			</h4>
			
			<div class="card-body">

				<h5 class="frame-heading">
					Most basic
					<small>
						Using the most basic table markup, here’s how <code>.table</code>-based tables look in NextGen. 
					</small>
				</h5>
				<div class="frame-wrap">
					<table class="table m-0">
					  <thead>
					    <tr>
					      <th>#</th>
					      <th>First Name</th>
					      <th>Last Name</th>
					      <th>Username</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th scope="row">1</th>
					      <td>Mark</td>
					      <td>Otto</td>
					      <td>@mdo</td>
					    </tr>
					    <tr>
					      <th scope="row">2</th>
					      <td>Jacob</td>
					      <td>Thornton</td>
					      <td>@fat</td>
					    </tr>
					    <tr>
					      <th scope="row">3</th>
					      <td>Larry</td>
					      <td>the Bird</td>
					      <td>@twitter</td>
					    </tr>
						<tr>
					      <th scope="row">4</th>
					      <td colspan="2">Larry the Bird</td>
					      <td>@twitter</td>
					    </tr>
					  </tbody>
					</table>
				</div>

				<h5 class="frame-heading">
					Inverse
					<small>
						You can also invert the colors—with light text on dark backgrounds—with <code>.table-dark</code>.
					</small>
				</h5>
				<div class="frame-wrap">
					<table class="table table-dark m-0">
					  <thead>
					    <tr>
					      <th>#</th>
					      <th>First Name</th>
					      <th>Last Name</th>
					      <th>Username</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th scope="row">1</th>
					      <td>Mark</td>
					      <td>Otto</td>
					      <td>@mdo</td>
					    </tr>
					    <tr>
					      <th scope="row">2</th>
					      <td>Jacob</td>
					      <td>Thornton</td>
					      <td>@fat</td>
					    </tr>
					    <tr>
					      <th scope="row">3</th>
					      <td>Larry</td>
					      <td>the Bird</td>
					      <td>@twitter</td>
					    </tr>
					  </tbody>
					</table>
				</div>

			</div>

		</div>	

		<div class="card mb-g">

			<h4 class="card-header">
				Table <span class="fw-300">head</span>
			</h4>
			
			<div class="card-body">

				<h5 class="frame-heading">
					Inverse <code>.thead-inverse</code>
					<small>
						Similar to default and inverse tables, use one of two modifier classes to make <code>&lt;thead&gt;</code>s appear custom, dark gray, white and themed.
					</small>
				</h5>
				<div class="frame-wrap">
					<table class="table m-0">
					  <thead class="thead-dark">
					    <tr>
					      <th>#</th>
					      <th>First Name</th>
					      <th>Last Name</th>
					      <th>Username</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th scope="row">1</th>
					      <td>Mark</td>
					      <td>Otto</td>
					      <td>@mdo</td>
					    </tr>
					    <tr>
					      <th scope="row">2</th>
					      <td>Jacob</td>
					      <td>Thornton</td>
					      <td>@fat</td>
					    </tr>
					    <tr>
					      <th scope="row">3</th>
					      <td>Larry</td>
					      <td>the Bird</td>
					      <td>@twitter</td>
					    </tr>
					  </tbody>
					</table>
				</div>

				<h5 class="frame-heading">
					Custom class <code>thead class='bg-fusion-50'</code>
					<small>
						See the full list of <a href="intel_colors.html" title="Color Pallets">color selection</a>
					</small>
				</h5>
				<div class="frame-wrap">
					<table class="table m-0">
					  <thead class="bg-fusion-50">
					    <tr>
					      <th>#</th>
					      <th>First Name</th>
					      <th>Last Name</th>
					      <th>Username</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th scope="row">1</th>
					      <td>Mark</td>
					      <td>Otto</td>
					      <td>@mdo</td>
					    </tr>
					    <tr>
					      <th scope="row">2</th>
					      <td>Jacob</td>
					      <td>Thornton</td>
					      <td>@fat</td>
					    </tr>
					    <tr>
					      <th scope="row">3</th>
					      <td>Larry</td>
					      <td>the Bird</td>
					      <td>@twitter</td>
					    </tr>
					  </tbody>
					</table>
				</div>

				<h5 class="frame-heading">
					Default <code>.thead-dark</code>
				</h5>
				<div class="frame-wrap">
					<table class="table m-0">
					  <thead class="thead-dark">
					    <tr>
					      <th>#</th>
					      <th>First Name</th>
					      <th>Last Name</th>
					      <th>Username</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th scope="row">1</th>
					      <td>Mark</td>
					      <td>Otto</td>
					      <td>@mdo</td>
					    </tr>
					    <tr>
					      <th scope="row">2</th>
					      <td>Jacob</td>
					      <td>Thornton</td>
					      <td>@fat</td>
					    </tr>
					    <tr>
					      <th scope="row">3</th>
					      <td>Larry</td>
					      <td>the Bird</td>
					      <td>@twitter</td>
					    </tr>
					  </tbody>
					</table>
				</div>	

				<h5 class="frame-heading">
					Themed <code>.thead-themed</code>
				</h5>
				<div class="frame-wrap">
					<table class="table m-0">
					  <thead class="thead-themed">
					    <tr>
					      <th>#</th>
					      <th>First Name</th>
					      <th>Last Name</th>
					      <th>Username</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th scope="row">1</th>
					      <td>Mark</td>
					      <td>Otto</td>
					      <td>@mdo</td>
					    </tr>
					    <tr>
					      <th scope="row">2</th>
					      <td>Jacob</td>
					      <td>Thornton</td>
					      <td>@fat</td>
					    </tr>
					    <tr>
					      <th scope="row">3</th>
					      <td>Larry</td>
					      <td>the Bird</td>
					      <td>@twitter</td>
					    </tr>
					  </tbody>
					</table>
				</div>

			</div>

		</div>

		<div class="card mb-g">
			
			<h4 class="card-header">
				Table <span class="fw-300">rows</span>
			</h4>			

			<div class="card-body">

				<h5 class="frame-heading">
					Striped rows (default)
					<small>
						Use <code>.table-striped</code> to add zebra-striping to any table row within the <code>&lt;tbody&gt;</code>.
					</small>
				</h5>

				<div class="frame-wrap">
					
					<table class="table table-striped m-0">
					  <thead>
					    <tr>
					      <th>#</th>
					      <th>First Name</th>
					      <th>Last Name</th>
					      <th>Username</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th scope="row">1</th>
					      <td>Mark</td>
					      <td>Otto</td>
					      <td>@mdo</td>
					    </tr>
					    <tr>
					      <th scope="row">2</th>
					      <td>Jacob</td>
					      <td>Thornton</td>
					      <td>@fat</td>
					    </tr>
					    <tr>
					      <th scope="row">3</th>
					      <td>Larry</td>
					      <td>the Bird</td>
					      <td>@twitter</td>
					    </tr>
					  </tbody>
					</table>

				</div>

				<h5 class="frame-heading">
					Striped rows (inverse)
					<small>
						Use <code>.table-striped .table-dark</code> to add zebra-striping to any table row within the <code>&lt;tbody&gt;</code>.
					</small>
				</h5>

				<div class="frame-wrap">

					<table class="table table-striped table-dark m-0">
					  <thead>
					    <tr>
					      <th>#</th>
					      <th>First Name</th>
					      <th>Last Name</th>
					      <th>Username</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th scope="row">1</th>
					      <td>Mark</td>
					      <td>Otto</td>
					      <td>@mdo</td>
					    </tr>
					    <tr>
					      <th scope="row">2</th>
					      <td>Jacob</td>
					      <td>Thornton</td>
					      <td>@fat</td>
					    </tr>
					    <tr>
					      <th scope="row">3</th>
					      <td>Larry</td>
					      <td>the Bird</td>
					      <td>@twitter</td>
					    </tr>
					  </tbody>
					</table>

				</div>

			</div>

		</div>

	</div>

	<div class="col-lg-12 col-xl-6">

		<div class="card mb-g">

			<h4 class="card-header">
				Table <span class="fw-300">Bordered</span>
			</h4>		
			
			<div class="card-body">

				<h5 class="frame-heading">
					Default border style
					<small>
						Add <code>.table-bordered</code> for borders on all sides of the table and cells.
					</small>
				</h5>

				<div class="frame-wrap">
					<table class="table table-bordered m-0">
					  <thead>
					    <tr>
					      <th>#</th>
					      <th>First Name</th>
					      <th>Last Name</th>
					      <th>Username</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th scope="row">1</th>
					      <td>Mark</td>
					      <td>Otto</td>
					      <td>@mdo</td>
					    </tr>
					    <tr>
					      <th scope="row">2</th>
					      <td>Mark</td>
					      <td>Otto</td>
					      <td>@TwBootstrap</td>
					    </tr>
					    <tr>
					      <th scope="row">3</th>
					      <td>Jacob</td>
					      <td>Thornton</td>
					      <td>@fat</td>
					    </tr>
					    <tr>
					      <th scope="row">4</th>
					      <td colspan="2">Larry the Bird</td>
					      <td>@twitter</td>
					    </tr>
					  </tbody>
					</table>
				</div>

			</div>

		</div>	

		<div class="card mb-g">

			<h4 class="card-header">
				Table <span class="fw-300">Hover</span>
			</h4>
			
			<div class="card-body">

				<h5 class="frame-heading">
					Hoverable rows
					<small>
						Add <code>.table-hover</code> to enable a hover state on table rows within a <code>&lt;tbody&gt;</code>.
					</small>
				</h5>
				<div class="frame-wrap">

					<table class="table table-bordered table-hover m-0">
						<thead class="thead-themed">
						<tr>
					  		<th>#</th>
					  		<th>First Name</th>
					  		<th>Last Name</th>
					  		<th>Username</th>
						</tr>
						</thead>
						<tbody>
						<tr>
					      	<th scope="row">1</th>
					      	<td>Jhon</td>
					      	<td>Stone</td>
					      	<td>@jhon</td>
						</tr>
						<tr>
					  		<th scope="row">2</th>
					  		<td>Lisa</td>
					  		<td>Nilson</td>
					  		<td>@lisa</td>
						</tr>
						<tr>
					  		<th scope="row">3</th>
					  		<td>Larry</td>
					  		<td>the Bird</td>
					  		<td>@twitter</td>
						</tr>
						</tbody>
					</table>
				</div>

				<h5 class="frame-heading">
					Inverse table hover
					<small>
						This is inverse hover with <code>.thead-themed</code> as header
					</small>
				</h5>
				<div class="frame-wrap">

					<table class="table table-bordered table-hover table-dark m-0">
						<thead class="thead-themed">
						<tr>
					  		<th>#</th>
					  		<th>First Name</th>
					  		<th>Last Name</th>
					  		<th>Username</th>
						</tr>
						</thead>
						<tbody>
						<tr>
					      	<th scope="row">1</th>
					      	<td>Jhon</td>
					      	<td>Stone</td>
					      	<td>@jhon</td>
						</tr>
						<tr>
					  		<th scope="row">2</th>
					  		<td>Lisa</td>
					  		<td>Nilson</td>
					  		<td>@lisa</td>
						</tr>
						<tr>
					  		<th scope="row">3</th>
					  		<td>Larry</td>
					  		<td>the Bird</td>
					  		<td>@twitter</td>
						</tr>
						</tbody>
					</table>
				</div>

			</div>

		</div>

		<div class="card mb-g">

			<h4 class="card-header">
				Contextual <span class="fw-300">classes</span>
			</h4>
			
			<div class="card-body">

				<h5 class="frame-heading">
					Table Row States
					<small>
						Use contextual classes to color table rows or individual cells. See the full list of <a href="intel_colors.html" title="Color Pallets">color selection</a>
					</small>
				</h5>

				<div class="frame-wrap">

					<table class="table m-0">
					  	<thead>
					    	<tr>
					      		<th>#</th>
					      		<th>First Name</th>
					      		<th>Last Name</th>
					      		<th>Username</th>
					    	</tr>
					  	</thead>
					  	<tbody>
					  		<tr class="active">
					      		<th scope="row">1</th>
					      		<td>Lisa</td>
					      		<td>Nilson</td>
					      		<td>@lisa</td>
					    	</tr>
					    	<tr class="bg-primary-400">
					      		<th scope="row">2</th>
					      		<td>Lisa</td>
					      		<td>Nilson</td>
					      		<td>@lisa</td>
					    	</tr>
					    	<tr class="bg-success-100">
					      		<th scope="row">3</th>
					      		<td>Nick</td>
					      		<td>looper</td>
					      		<td>@king</td>
					    	</tr>
					    	<tr class="bg-info-500">
					      		<th scope="row">4</th>
					      		<td>Joan</td>
					      		<td>thestar</td>
					      		<td>@joan</td>
					    	</tr>
					    	<tr class="bg-warning-500">
					      		<th scope="row">5</th>
					      		<td>Sean</td>
					      		<td>coder</td>
					      		<td>@coder</td>
					    	</tr>
					    	<tr class="bg-danger-500">
					      		<th scope="row">6</th>
					      		<td>Sean</td>
					      		<td>coder</td>
					      		<td>@coder</td>
					    	</tr>
					  	</tbody>
					</table>
					
				</div>

			</div>

		</div>

		<div class="card mb-g">

			<h4 class="card-header">
				Table <span class="fw-300">Small</span>
			</h4>
			
			<div class="card-body">

				<h5 class="frame-heading">
					Compact table size
					<small>
						Add <code> .table-sm</code> to make tables more compact by cutting cell padding in half. See the full list of <a href="intel_colors.html" title="Color Pallets">color selection</a>
					</small>
				</h5>
				<div class="frame-wrap">
					<table class="table table-sm m-0">
					  <thead class="bg-primary-500">
					    <tr>
					      <th>#</th>
					      <th>First Name</th>
					      <th>Last Name</th>
					      <th>Username</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th scope="row">1</th>
					      <td>Mark</td>
					      <td>Otto</td>
					      <td>@mdo</td>
					    </tr>
					    <tr>
					      <th scope="row">2</th>
					      <td>Jacob</td>
					      <td>Thornton</td>
					      <td>@fat</td>
					    </tr>
					    <tr>
					      <th scope="row">3</th>
					      <td colspan="2">Larry the Bird</td>
					      <td>@twitter</td>
					    </tr>
					  </tbody>
					</table>
				</div>

				<h5 class="frame-heading">
					Compact table size with bg-color
					<small>
						We are also adding custom <code>bg-{color}-{#}</code> to the table. See the full list of <a href="intel_colors.html" title="Color Pallets">color selection</a>
					</small>
				</h5>
				<div class="frame-wrap">

					<table class="table table-sm bg-info-900 table-bordered m-0">
					  <thead class="bg-info-500">
					    <tr>
					      <th>#</th>
					      <th>First Name</th>
					      <th>Last Name</th>
					      <th>Username</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th scope="row">1</th>
					      <td>Mark</td>
					      <td>Otto</td>
					      <td>@mdo</td>
					    </tr>
					    <tr>
					      <th scope="row">2</th>
					      <td>Jacob</td>
					      <td>Thornton</td>
					      <td>@fat</td>
					    </tr>
					    <tr>
					      <th scope="row">3</th>
					      <td colspan="2">Larry the Bird</td>
					      <td>@twitter</td>
					    </tr>
					  </tbody>
					</table>

				</div>

			</div>

		</div>	

		<div class="card mb-g">

			<h4 class="card-header">
				Table <span class="fw-300">Responsive</span>
			</h4>
			
			<div class="card-body">

				<h5 class="frame-heading">
					Make any table responsive
					<small>
						Make any table responsive across all viewports by adding <code>.table-responsive</code> class on <code>.table</code>. Or, pick a maximum breakpoint with which to have a responsive table up to by adding <code>.table-responsive{-sm|-md|-lg|-xl}</code>.
					</small>
				</h5>
				<div class="frame-wrap">

					<div class="table-responsive-lg">

						<table class="table table-bordered m-0">
						    <thead>
						      <tr>
						        <th>#</th>
						        <th>Table heading</th>
						        <th>Table heading</th>
						        <th>Table heading</th>
						        <th>Table heading</th>
						        <th>Table heading</th>
						        <th>Table heading</th>
						      </tr>
						    </thead>
						    <tbody>
						      <tr>
						        <th scope="row">1</th>
						        <td>Table cell</td>
						        <td>Table cell</td>
						        <td>Table cell</td>
						        <td>Table cell</td>
						        <td>Table cell</td>
						        <td>Table cell</td>
						      </tr>
						      <tr>
						        <th scope="row">2</th>
						        <td>Table cell</td>
						        <td>Table cell</td>
						        <td>Table cell</td>
						        <td>Table cell</td>
						        <td>Table cell</td>
						        <td>Table cell</td>
						      </tr>
						      <tr>
						        <th scope="row">3</th>
						        <td>Table cell</td>
						        <td>Table cell</td>
						        <td>Table cell</td>
						        <td>Table cell</td>
						        <td>Table cell</td>
						        <td>Table cell</td>
						      </tr>
						    </tbody>
						</table>

				  	</div>

				</div>				

			</div>

		</div>
		
	</div>

</div>

{{/inline}}

{{#*inline "scripts-block"}}{{/inline}}

{{/layouts/main}}