{{#> 
	layouts/main 
	title="Typography" 
	pagename="ui_typography" 
	heading="Typography" 
	category_1="UI Components" 
	pagedescription="Typography description"
}}

{{#*inline "head-block"}}{{/inline}}

{{#*inline "content-block"}}

<div class="row">

	<div class="col-md-12 col-xl-6">

		<div class="card mb-g">

			<div class="card-body">

				<h3 class="mb-4">
					Heading <span class="fw-300">Formats</span>
					<small>
						Various heading formats used within the content paramater
					</small>
				</h3>

				<h4 class="frame-headings">
					Basic HTML heading, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code>, are accessible.
				</h4>

				<div class="frame-wrap">			
					<div class="row">
						<div class="col-md-6">
							<h1>h1. Heading 1</h1>
							<h2>h2. Heading 2</h2>
							<h3>h3. Heading 3</h3>
							<h4>h4. Heading 4</h4>
							<h5>h5. Heading 5</h5>
							<h6 class="mb-0">h6. Heading 6</h6>
						</div>
						<div class="col-md-6">
							<h1 class="text-success">h1. Heading 1</h1>
							<h2 class="text-info">h2. Heading 2</h2>
							<h3 class="text-warning">h3. Heading 3</h3>
							<h4 class="text-danger">h4. Heading 4</h4>
							<h5 class="text-primary">h5. Heading 5</h5>
							<h6 class="text-muted mb-0">h6. Heading 6</h6>
						</div>
					</div>
				</div>

				<h4 class="frame-headings">
					Page heading with class <code>.page-header</code>
				</h4>

				<div class="frame-wrap">
					<div class="page-heading m-0">
						<h1 class="page-header mb-0">
							h1. Default Page Header
							<small class="mb-0">
								with text description on the <span class="fw-500">bottom</span>
							</small>
						</h1>
					</div>		
				</div>

				<h4 class="frame-headings">
					Display headings <code>.display-*{1-3}</code>
				</h4>

				<div class="frame-wrap">
					<h3 class="display-1">Display 1</h3>
					<h3 class="display-2">Display 2</h3>
					<h3 class="display-3 mb-0">Display 3</h3>		
				</div>

			</div>
			
		</div>

	</div>

	<div class="col-md-12 col-xl-6">
		<div class="card mb-g">
			
		</div>
	</div>

</div>

<div class="row">
	<div class="col-md-12 col-xl-6">
		<div class="card mb-g">
			
		</div>
	</div>
	<div class="col-md-12 col-xl-6">
		<div class="card mb-g">
			
		</div>
	</div>
</div>

{{/inline}}

{{#*inline "scripts-block"}}{{/inline}}

{{/layouts/main}}