{{#> 
	layouts/main 
	title="Image replacement" 
	pagename="ui_image_replacement" 
	heading="<i class='subheader-icon fal fa-window'></i>  Image replacement" 
	category_1="Utilities" 
	pagedescription="Swap text for background images with the image replacement class."
}}

{{#*inline "head-block"}}
<link rel="stylesheet" media="screen, print" href="css/theme-demo.min.css">
{{/inline}}

{{#*inline "content-block"}}

<div class="row">

	<div class="col-md-12 col-xl-6">

		<div class="card mb-g">

			<div class="card-body">

				<h3 class="mb-4">
					Basic <span class="fw-300">Example</span> 
					<small>
						The most basic example
					</small>
				</h3>

				<h4 class="frame-heading">
					Wrap a series of buttons with <code>.btn</code> in <code>.btn-group</code>.
				</h4>

				<div class="frame-wrap">
					a
				</div>

			</div>
			
		</div>
	
	
	</div>

	<div class="col-md-12 col-xl-6">

		<div class="card mb-g">

			<div class="card-body">

				<h3 class="mb-4">
					Basic <span class="fw-300">Alerts</span> 
					<small>
						Contextual minimalistic alerts
					</small>
				</h3>



			</div>
			
		</div>

</div>

{{/inline}}

{{#*inline "scripts-block"}}{{/inline}}

{{/layouts/main}}