{{#> 
	layouts/main 
	title="Introduction" 
	pagename="intel_introduction" 
	heading="<i class='fal fa-info-circle'></i> Introduction" 
	category_1="NextGen Intel" 
	pagedescription="A brief introduction to NextGen WebApp"
}}

{{#*inline "head-block"}}{{/inline}}

{{#*inline "content-block"}}
<h2>
	Why NextGen? 
</h2>
<p>
	safety in numbers, just look at our themes and its sales. We have limited number of themes so we can concentrate more in one
</p>
<p>
	A peace of mind. We do all our testing on actual machines and also browserstack.com; know that what you are coding with has been tested for all UX tests and passed with grace. 
</p>
{{/inline}}

{{#*inline "scripts-block"}}{{/inline}}

{{/layouts/main}}