{{#> 
	layouts/main 
	title="Introduction" 
	pagename="intel_introduction" 
	heading="<i class='fal fa-info-circle'></i> Introduction" 
	category_1="Application Intel" 
	pagedescription="A brief introduction to this WebApp"
}}

{{#*inline "head-block"}}{{/inline}}

{{#*inline "content-block"}}
<h2>
	Why {{app-name}} 
</h2>
<p>
	safety in numbers, just look at our themes and its sales. We have limited number of themes so we can concentrate more in one
</p>
<p>
	A peace of mind. We do all our testing on actual machines and also browserstack.com; know that what you are coding with has been tested for all UX tests and passed with grace. 
</p>
<p>
	We have taken our sweet time when developing {{app}}. We have been working on this webapp relentlessly for 3 years and continuing. We also have repository deposits to prove it! 
</p>
<p>
	What this means for you? As we all know, as soon as a new bootstrap version is released, it becomes a new market for all authors, most authors will strive to finish their themes to get it out on the market and take those big cuts for being on the first ones on the market. What this does in turn is, and this is a general rule for everything rushed, is that you will get a product with lots of mistakes. Furthermore, when bootstrap stable version is released, it is really not that stable, you will still see major improvements and bug fixes - therefore if the author of the template is not active in the bootstrap community their theme will be impacted greately as they will be unaware of all the minor details and changes that are happening.
</p>
<p>
	We are very active on the community and we like to take our time when creating such products. We do not like to rush things and get things done right. You will love our clean codes and see how organized we made it for you to enjoy and transform a simple product it to something your users will enjoy using.
</p>
{{/inline}}

{{#*inline "scripts-block"}}{{/inline}}

{{/layouts/main}}