{{#> 
	layouts/main 
	title="Introduction" 
	pagename="intel_introduction" 
	heading="Introduction" 
	category_1="NextGen Intel" 
	pagedescription="A brief introduction to NextGen WebApp"
}}

{{#*inline "head-block"}}{{/inline}}

{{#*inline "content-block"}}
test
{{/inline}}

{{#*inline "splitcontent-block"}}
<p>a</p>
<p>a</p>

<p>a</p>
<p>a</p>
<p>a</p>
<p>a</p>
{{/inline}}

{{#*inline "scripts-block"}}{{/inline}}

{{/layouts/main}}