{{#> layouts/main title="Theme Settings: Skin Options" pagename="intel_skin_options" heading="Theme Settings: <span class='fw-400'>Skin Options</span>" pagedescription="Skin options"}}

{{#*inline "head-block"}}
<link rel="stylesheet" media="screen, print" href="css/theme-demo.min.css">
{{/inline}}

{{#*inline "content-block"}}

<div class="row">

	<div class="col-sm-12">
		<div class="alert alert-info">
			

			<div class="d-flex justify-content-start">
				<div class="">
						<h5 class="fw-500 m-0">
							Even more layout options
						</h5>
						Find the complete list of all layout options and possibilities
				  </div>
				  <div class="ml-auto d-flex flex-middle">
				  	<a href="intel_layout_options.html" class="float-right btn btn-success legitRipple">Check it out!</a>
				  </div>
			</div>

		</div>
	</div>

	<div class="col-sm-12 col-lg-12 col-xl-6">

		<div class="card pt-4 pr-3 pb-3 pl-3 d-block mb-4">

			<h4 class="text-center">
				Skin option "<strong>Hematite</strong>" <br> 
				<small>
					Header is in a fixed position at all times 
					<code>.header-function-fixed</code>
				</small>
			</h4>
			<div class="d-flex ng-body-demo">
				<div class="ng-nav-demo ng-hematite-demo">
					<div class="pl-2 pr-2 ng-header-demo flex-middle">
						<img src="img/logo-white.png" alt="NextGen Logo" class="img-fluid">
					</div>
				</div>
				<div class="d-flex flex-column flex-1">
					<div class="ng-header-demo bg-white card-header p-0 d-flex align-items-center pl-2">
						<div class="btn-default ng-header-btn-demo d-flex flex-middle">
							<i class="icon icon-menu"></i>
						</div>
						&nbsp;
					</div>
					<div class="ng-container-demo flex-1 p-2 bg card-header border-0">
						<!--<img src="img/demo/s-1.png" class="w-100 h-100">-->
					</div>
				</div>
			</div>

		</div>

	</div>

	<div class="col-sm-12 col-lg-12 col-xl-6">

		<div class="card pt-4 pr-3 pb-3 pl-3 d-block mb-4">

			<h4 class="text-center">
				Skin option "<strong>Sapphire</strong>" <br> 
				<small>
					Header is in a fixed position at all times 
					<code>.header-function-fixed</code>
				</small>
			</h4>
			<div class="d-flex ng-body-demo">
				<div class="ng-nav-demo ng-sapphire-demo">
					<div class="pl-2 pr-2 ng-header-demo flex-middle">
						<img src="img/logo-white.png" alt="NextGen Logo" class="img-fluid">
					</div>
				</div>
				<div class="d-flex flex-column flex-1">
					<div class="ng-header-demo bg-white card-header p-0 d-flex align-items-center pl-2">
						<div class="btn-default ng-header-btn-demo d-flex flex-middle">
							<i class="icon icon-menu"></i>
						</div>
						&nbsp;
					</div>
					<div class="ng-container-demo flex-1 p-3 bg card-header border-0">
						<!--<img src="img/demo/s-1.png" class="w-100 h-100">-->

					</div>
				</div>
			</div>

		</div>

	</div>

	<div class="col-sm-12 col-lg-12 col-xl-6">

		<div class="card pt-4 pr-3 pb-3 pl-3 d-block mb-4">

			<h4 class="text-center">
				Skin option "<strong>Aquamarine</strong>" <br> 
				<small>
					Header is in a fixed position at all times 
					<code>.header-function-fixed</code>
				</small>
			</h4>
			<div class="d-flex ng-body-demo">
				<div class="ng-nav-demo ng-aquamarine-demo">
					<div class="pl-2 pr-2 ng-header-demo flex-middle">
						<img src="img/logo-white.png" alt="NextGen Logo" class="img-fluid">
					</div>
				</div>
				<div class="d-flex flex-column flex-1">
					<div class="ng-header-demo bg-white card-header p-0 d-flex align-items-center pl-2">
						<div class="btn-default ng-header-btn-demo d-flex flex-middle">
							<i class="icon icon-menu"></i>
						</div>
						&nbsp;
					</div>
					<div class="ng-container-demo flex-1 p-3 bg card-header border-0">
						<!--<img src="img/demo/s-1.png" class="w-100 h-100">-->

					</div>
				</div>
			</div>

		</div>

	</div>

	<div class="col-sm-12 col-lg-12 col-xl-6">

		<div class="card pt-4 pr-3 pb-3 pl-3 d-block mb-4">

			<h4 class="text-center">
				Skin option "<strong>Amethyst</strong>" <br> 
				<small>
					Header is in a fixed position at all times 
					<code>.header-function-fixed</code>
				</small>
			</h4>
			<div class="d-flex ng-body-demo">
				<div class="ng-nav-demo ng-amethyst-demo">
					<div class="pl-2 pr-2 ng-header-demo flex-middle">
						<img src="img/logo-white.png" alt="NextGen Logo" class="img-fluid">
					</div>
				</div>
				<div class="d-flex flex-column flex-1">
					<div class="ng-header-demo bg-white card-header p-0 d-flex align-items-center pl-2">
						<div class="btn-default ng-header-btn-demo d-flex flex-middle">
							<i class="icon icon-menu"></i>
						</div>
						&nbsp;
					</div>
					<div class="ng-container-demo flex-1 p-3 bg card-header border-0">
						<!--<img src="img/demo/s-1.png" class="w-100 h-100">-->

					</div>
				</div>
			</div>

		</div>

	</div>

</div>
	


{{/inline}}

{{#*inline "scripts-block"}}{{/inline}}

{{/layouts/main}}