{{#> 
	layouts/main 
	title="Skin Options" 
	pagename="settings_skin_options" 
	category_1="Theme Settings" 
	heading="Theme Settings: <span class='fw-300'>Skin Options</span>" 
	pagedescription="Skin options"
}}

{{#*inline "head-block"}}
<link rel="stylesheet" media="screen, print" href="css/theme-demo.css">
{{/inline}}

{{#*inline "content-block"}}

<div class="row">

	<div class="col-sm-12">

		<div class="alert alert-primary alert-dismissible">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		        <span aria-hidden="true">
		            <i class="fal fa-times"></i>
		        </span>
		    </button>
		    <div class="d-flex flex-start w-100">
		        <div class="mr-2">
		            <span class="icon-stack icon-stack-lg">
						<i class="base-7 icon-stack-3x color-primary-400"></i>
						<i class="base-3 icon-stack-2x color-primary-600"></i>
						<i class="fal fa-cubes icon-stack-1x text-white"></i>
					</span>
		        </div>
		        <div class="d-flex flex-fill">
		            <div class="flex-fill">
		                <span class="h5">Even more layout options!</span>
		                <br>
		                Find the complete list of all layout options and possibilities
		            </div>
		        </div>
		    </div>
		</div>
		
	</div>

	<div class="col-sm-12 col-lg-12 col-xl-6">

		<div class="card mb-g">

			<div class="card-body">

				<h4 class="mb-g mt-2 text-center">
					Skin option "<strong>Hematite</strong>" <br> 
					<small>
						Header is in a fixed position at all times 
						<code>.header-function-fixed</code>
					</small>
				</h4>

				<div class="d-flex app-body-demo">

					<div class="app-nav-demo app-hematite-demo">
						<div class="pl-2 pr-2 app-header-demo d-flex align-items-center justify-content-center">
							<img src="img/logo-white.png" alt="NextGen Logo" class="img-fluid">
						</div>
					</div>

					<div class="d-flex flex-column flex-1">
						<div class="app-header-demo bg-white card-header p-0 d-flex align-items-center pl-2">
							<div class="btn-default app-header-btn-demo d-flex align-items-center justify-content-center">
								<i class="ni ni-menu"></i>
							</div>
							&nbsp;
						</div>
						<div class="app-container-demo flex-1 p-2 bg card-header border-0">
							<!--<img src="img/demo/s-1.png" class="w-100 h-100">-->
						</div>
					</div>

				</div>

			</div>	

		</div>

	</div>

	<div class="col-sm-12 col-lg-12 col-xl-6">

		<div class="card mb-g">

			<div class="card-body">

				<h4 class="mb-g mt-2 text-center">
					Skin option "<strong>Sapphire</strong>" <br> 
					<small>
						Header is in a fixed position at all times 
						<code>.header-function-fixed</code>
					</small>
				</h4>

				<div class="d-flex app-body-demo">
					<div class="app-nav-demo app-sapphire-demo">
						<div class="pl-2 pr-2 app-header-demo d-flex align-items-center justify-content-center">
							<img src="img/logo-white.png" alt="NextGen Logo" class="img-fluid">
						</div>
					</div>
					<div class="d-flex flex-column flex-1">
						<div class="app-header-demo bg-white card-header p-0 d-flex align-items-center pl-2">
							<div class="btn-default app-header-btn-demo d-flex align-items-center justify-content-center">
								<i class="ni ni-menu"></i>
							</div>
							&nbsp;
						</div>
						<div class="app-container-demo flex-1 p-3 bg card-header border-0">
							<!--<img src="img/demo/s-1.png" class="w-100 h-100">-->

						</div>
					</div>
				</div>

			</div>	

		</div>

	</div>

	<div class="col-sm-12 col-lg-12 col-xl-6">

		<div class="card mb-g">

			<div class="card-body">

				<h4 class="mb-g mt-2 text-center">
					Skin option "<strong>Aquamarine</strong>" <br> 
					<small>
						Header is in a fixed position at all times 
						<code>.header-function-fixed</code>
					</small>
				</h4>

				<div class="d-flex app-body-demo">
					<div class="app-nav-demo app-aquamarine-demo">
						<div class="pl-2 pr-2 app-header-demo d-flex align-items-center justify-content-center">
							<img src="img/logo-white.png" alt="NextGen Logo" class="img-fluid">
						</div>
					</div>
					<div class="d-flex flex-column flex-1">
						<div class="app-header-demo bg-white card-header p-0 d-flex align-items-center pl-2">
							<div class="btn-default app-header-btn-demo d-flex align-items-center justify-content-center">
								<i class="ni ni-menu"></i>
							</div>
							&nbsp;
						</div>
						<div class="app-container-demo flex-1 p-3 bg card-header border-0">
							<!--<img src="img/demo/s-1.png" class="w-100 h-100">-->

						</div>
					</div>
				</div>

			</div>

		</div>

	</div>

	<div class="col-sm-12 col-lg-12 col-xl-6">

		<div class="card mb-g">

			<div class="card-body">

				<h4 class="mb-g mt-2 text-center">
					Skin option "<strong>Amethyst</strong>" <br> 
					<small>
						Header is in a fixed position at all times 
						<code>.header-function-fixed</code>
					</small>
				</h4>

				<div class="d-flex app-body-demo">
					<div class="app-nav-demo app-amethyst-demo">
						<div class="pl-2 pr-2 app-header-demo d-flex align-items-center justify-content-center">
							<img src="img/logo-white.png" alt="NextGen Logo" class="img-fluid">
						</div>
					</div>
					<div class="d-flex flex-column flex-1">
						<div class="app-header-demo bg-white card-header p-0 d-flex align-items-center pl-2">
							<div class="btn-default app-header-btn-demo d-flex align-items-center justify-content-center">
								<i class="ni ni-menu"></i>
							</div>
							&nbsp;
						</div>
						<div class="app-container-demo flex-1 p-3 bg card-header border-0">
							<!--<img src="img/demo/s-1.png" class="w-100 h-100">-->

						</div>
					</div>
				</div>

			</div>

		</div>

	</div>

</div>

{{/inline}}

{{#*inline "scripts-block"}}{{/inline}}

{{/layouts/main}}