{{#> 
	layouts/main 
	title="Documentation" 
	pagename="info_app_docs" 
	heading="<i class='subheader-icon fal fa-tag'></i> Documentation"
	category_1="Package Info"
	pagedescription="Product documentation, plugin reference, and online help"
}}

{{#*inline "head-block"}}{{/inline}}

{{#*inline "content-block"}}



<div class="card mb-g">

	<div class="card-body">

			
		<h2 class="fw-700 m-0">
			Overview

			<small class="m-0">
				This webapp UI toolkit is based on Bootstrap 4 framework that provides a complete frontend user interface to build any type of web or mobile application. The package includes state of the art build tools to manage and deploy project assets with ease. This documentation will provide information you need to be able to use {{app-name}} in your applications, customising it to match your development needs and requirements at a fast pace environment. 
			</small>
		</h2>
		
		<hr class="my-3">

		<h2 class="fw-700">
			Installation
			<small>
				This section guides you to install all required software and libraries in order to fully utilize this UI toolkit for your project(s).
			</small>
		</h2>


		<h3>
			Install Node.js
		</h3>
		<p>
			Node.js® is a JavaScript runtime built on Chrome's V8 JavaScript engine. Node.js is required in order to run the application build tools. Download the latest version of Node and install it: nodejs.org/en/download/
		</p>

		<div class="height-1 mb-2"></div>

		<h3>
			Install NPM
		</h3>
		<p>
			Npm is the package manager for JavaScript and the world’s largest software registry. Npm is a separate project from Node.js, and tends to update more frequently. As a result, even if you’ve just downloaded Node.js (and therefore npm), you’ll probably need to update your npm.
		</p>
		<code class="bg-fusion-500 d-block w-100 pt-2 pr-3 pb-2 pl-3 fw-700 mb-3">
			npm install npm@latest -g
		</code> 
		<p>
			Verify that npm in successfully installed, and version of installed npm will appear.
		</p>
		<code class="bg-fusion-500 d-block w-100 pt-2 pr-3 pb-2 pl-3 fw-700 mb-3">
			npm --version
		</code> 

		<div class="height-1 mb-2"></div>

		<h3>
			Install Gulp
		</h3>
		<p>
			Gulp is a toolkit that helps you automate your time-consuming tasks in development workflow. To install gulp globally.
		</p>
		<code class="bg-fusion-500 d-block w-100 pt-2 pr-3 pb-2 pl-3 fw-700 mb-3">
			npm install gulp-cli -g
		</code> 
		<p>
			If you have previously installed a version of <code>gulp</code> globally, please remove it to make sure old version doesn't collide with new <code>gulp-cli</code>
		</p>
		<code class="bg-fusion-500 d-block w-100 pt-2 pr-3 pb-2 pl-3 fw-700 mb-3">
			npm rm --global gulp
		</code> 
		<p>
			Verify that gulp in successfully installed, and version of installed gulp will appear.
		</p>
		<code class="bg-fusion-500 d-block w-100 pt-2 pr-3 pb-2 pl-3 fw-700">
			gulp --version
		</code> 

			
	</div>

</div>	

<div class="card mb-g">

	<div class="card-body">
		<h2 class="fw-700 mb-g">
			File Structure

			<small>
				This webapp toolkit comes with a flexible file structure that can be easily used for small to large scope projects. This section will explains app's file structure and how to adapt it to your project.
			</small>
		</h2>

		<ul>
			<li>_resources</li>
			<li>developer
				<ul>
					<li>angular_seed</li>
					<li>core-2_seed</li>
					<li>html</li>
					<li>html_seed
						<ul>
							<li>build</li>
							<li>dist</li>
							<li>src
								<ul>
									<li>content</li>
									<li>custom
									<li>image</li>
									<li>js</li>
									<li>scss
										<ul>
											<li>_extensions</li>
											<li>_imports</li>
											<li>_mixins</li>
											<li>_modules</li>
											<li>...</li>
										</ul>
									</li>
									<li>template
										<ul>
											<li>layouts</li>
											<li>include</li>
											<li>_helpers</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>docs</li>
		</ul>
	</div>
	
</div>		


<div class="card mb-g">
	<div class="card-body">

		<h3 class="fw-500">
			Plugin reference
			<small>
				Use of an item is bound by the license you purchase. A license grants you a non-exclusive and non-transferable right to use and incorporate the item in your personal or commercial projects. 
			</small>
		</h3>

	</div>
</div>	

<div class="card mb-g">
	<div class="card-body">

		<h3 class="fw-500">
			Resources
			<small>
				Use of an item is bound by the license you purchase. A license grants you a non-exclusive and non-transferable right to use and incorporate the item in your personal or commercial projects. 
			</small>
		</h3>

	</div>
</div>	





{{/inline}}

{{/layouts/main}}