{{#> 
	layouts/main 
	title="Documentation" 
	pagename="info_app_docs" 
	heading="<i class='subheader-icon fal fa-tag'></i> Documentation"
	category_1="Package Info"
}}

{{#*inline "head-block"}}{{/inline}}

{{#*inline "content-block"}}

<ul>
	<li>
		test
	</li>
</ul>

{{/inline}}

{{/layouts/main}}