{{#> layouts/main title="Widgets" pagename="widgets" heading="Widgets" pagedescription="Widgets can be used in almost any setuation, helping wrap everything in a slick & lightweight container"}}

{{#> head-block}}{{/head-block}}

{{#*inline "content-block"}}


<div class="row">
	
	<div class="col-sm-6">

		<div class="wgt wgt-hdr-boxed">
			<div class="wgt-hdr">
				New data for the report
				<div class="wgt-subtitle">
					 test description
				</div>
				<div class="wgt-toolbar">
					<button type="button" class="btn btn-default btn-pills btn-sm">Close</button>
					<a href="#" class="btn btn-wgt bg-fusion-50" data-action="wgt-collapse" data-toggle="tooltip" title="" data-original-title="COLLAPSE"></a>
					<a href="#" class="btn btn-wgt bg-fusion-400" data-action="wgt-fullscreen" data-toggle="tooltip" title="" data-original-title="FULLSCREEN"></a>
					<a href="#" class="btn btn-wgt bg-danger-200" data-action="wgt-close" data-toggle="tooltip" title="" data-original-title="CLOSE"></a>
				</div>
			</div>
			<div class="wgt-container">
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
				<p>tewst</p>
			</div>
		</div>
		
	</div>
	<div class="col-sm-6">

		<div class="wgt wgt-hdr-boxed">
			<div class="wgt-hdr">
				New data for the report
				<div class="wgt-toolbar">
					<a href="#" class="btn btn-wgt bg-fusion-50" data-action="wgt-collapse" data-toggle="tooltip" title="" data-original-title="COLLAPSE"></a>
					<a href="#" class="btn btn-wgt bg-fusion-400" data-action="wgt-fullscreen" data-toggle="tooltip" title="" data-original-title="FULLSCREEN"></a>
					<a href="#" class="btn btn-wgt bg-danger-200" data-action="wgt-close" data-toggle="tooltip" title="" data-original-title="CLOSE"></a>
				</div>
			</div>
			<div class="wgt-container">
				My body text...
			</div>
		</div>
		
	</div>

</div>

{{/inline}}

{{#*inline "splitcontent-block"}}
widgets
{{/inline}}

{{#*inline "scripts-block"}}{{/inline}}

{{/layouts/main}}