{{#> 
	layouts/main 
	title="Breadcrumbs" 
	pagename="ui_breadcrumbs" 
	heading="Breadcrumbs" 
	category_1="UI Components" 
	pagedescription="Indicate the current page’s location within a navigational hierarchy. Separators are automatically added in CSS through <code>::before</code> and content."
}}

{{#*inline "head-block"}}{{/inline}}

{{#*inline "content-block"}}

<ol class="breadcrumb">
  <li class="breadcrumb-item active">Home</li>
</ol>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">Home</a></li>
  <li class="breadcrumb-item active">Library</li>
</ol>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">Home</a></li>
  <li class="breadcrumb-item"><a href="#">Library</a></li>
  <li class="breadcrumb-item active">Data</li>
</ol>

{{/inline}}

{{#*inline "scripts-block"}}{{/inline}}

{{/layouts/main}}