{{#> 
	layouts/main 
	title="Navigation" 
	pagename="plugin_navigation" 
	category_1="Core Plugins" 
	heading="<i class='subheader-icon fal fa-shield-alt'></i> Navigation <sup class='badge badge-danger fw-500'>CORE</sup>" 
	pagedescription="Application Navigation"
}}

{{#*inline "head-block"}}
<link rel="stylesheet" media="screen, print" href="css/theme-demo.css">
{{/inline}}

{{#*inline "content-block"}}

<!-- card -->
<div class="card mb-gb">

	<h4 class="card-header">
	    Build <span class="fw-300">the menu</span> 
	    <small>
	        See available options...
	    </small>
	</h4>

	<div class="card-body">

		<div class="row">

			<!-- build controled menu -->
			<div class="col-sm-12">

			
				<div class="alert alert-primary-outline alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">
							<i class="fal fa-times"></i>
						</span>
					</button>
					<strong>Heads up!</strong> This alert needs your attention, but it's not super important.
				</div>
			

				<div class="mb-gb bg-faded frame">
					<div class="alert alert-primary p-g">

						<form>
							<div class="row">
								<div class="form-group col-lg-6 col-xl-6">
									<label class="form-label" for="nav_animation">Animation</label>
									<select class="custom-select w-100" id="nav_animation">
										<option value="easeOutExpo">easeOutExpo</option>
										<option value="easeInExpo">easeInExpo</option>
										<option value="easeInOutBounce">easeInOutBounce</option>
										<option value="easeOutBounce">easeOutBounce</option>
										<option value="easeInBounce">easeInBounce</option>
										<option value="easeInOutElastic">easeInOutElastic</option>
										<option value="easeOutElastic">easeOutElastic</option>
										<option value="easeInElastic">easeInElastic</option>
										<option value="easeInOutBack">easeInOutBack</option>
										<option value="easeOutBack">easeOutBack</option>
										<option value="easeInOutCirc">easeInOutCirc</option>
										<option value="easeOutCirc">easeOutCirc</option>
										<option value="easeInOutExpo">easeInOutExpo</option>
										<option value="easeInOutQuint">easeInOutQuint</option>
										<option value="easeOutQuint">easeOutQuint</option>
										<option value="easeInQuint">easeInQuint</option>
										<option value="easeInOutQuart">easeInOutQuart</option>
										<option value="easeOutQuart">easeOutQuart</option>
										<option value="easeInQuart">easeInQuart</option>
										<option value="easeInOutCubic">easeInOutCubic</option>
										<option value="easeOutCubic">easeOutCubic</option>
										<option value="easeInCubic">easeInCubic</option>
										<option value="easeInOutQuad">easeInOutQuad</option>
										<option value="easeInQuad">easeInQuad</option>
										<option value="easeInOutSine">easeInOutSine</option>
										<option value="easeOutSine">easeOutSine</option>
										<option value="easeInSine">easeInSine</option>
									</select>
								</div>
								<div class="form-group col-lg-6 col-xl-6">
									<label class="form-label" for="nav_openedSign">Collapse Sign</label>
									<select class="custom-select w-100" id="nav_openedSign">
										<option value="-">Default icon...</option>
										<option value="[-]">[-]</option>
										<option value="<i class='ni ni-chevron-up'></i>">icon-chevron-down</option>
									</select>
								</div>
								<div class="form-group col-lg-6 col-xl-6">
									<label class="form-label" for="nav_speed">Speed</label>
									<div class="input-group mb-2 mr-sm-2 mb-sm-0">
										<input type="text" class="form-control" id="nav_speed" placeholder="Speed" value="400">
										<div class="input-group-append">
											 <span class="input-group-text">miliseconds</span>
										</div>
									</div>
								</div>
								<div class="form-group col-lg-6 col-xl-6">
									<label class="form-label" for="nav_closedSign">Expand Sign</label>
									<select class="custom-select w-100" id="nav_closedSign">
										<option value="+">Default icon...</option>
										<option value="[+]">[+][-]</option>
										<option value="<i class='ni ni-chevron-down'></i>">icon-chevron-up</option>
									</select>
								</div>
							</div>
						</form>

						<div class="d-flex align-items-center">
							<div class="flex-1">

								<div class="custom-control d-inline-flex custom-checkbox mb-2 mr-sm-2 mb-sm-0">
									<input id="nav_accordion" type="checkbox" class="custom-control-input" checked="checked">
									<label class="form-label custom-control-label" for="nav_accordion">Accordion menu</label>
								</div>

								<div class="custom-control d-inline-flex custom-checkbox mb-2 mr-sm-2 mb-sm-0">
									<input id="nav_syndicate" type="checkbox" class="custom-control-input" checked="checked">
									<label class="form-label custom-control-label" for="nav_syndicate">Syndicated structure</label>
								</div>

							</div>

							<button id="destroy" class="btn btn-danger btn-w-m"> Destroy Menu </button>
							<button id="build" class="btn btn-success btn-w-m"> Build Menu </button>
						</div>

					</div>
				</div>

			</div>
			<!-- / build controled menu -->

			<!-- clean look -->
			<div class="col-sm-12 col-xl-6">

				<h5 class="frame-heading p-0 bg-white mb-2 mt-0">
					Default with <code>data-nav-accordion="true"</code>
				</h5>
				
				<ul id="nav-1" class="nav-menu bg-primary-700 nav-menu-bordered w-100 mb-sm-4" data-nav-accordion="true">
					<li>
						<a href="#"> 
							<span class="nav-link-text">Menu Parent </span> 
							<strong class="dl-ref bg-primary-500">&nbsp;1.0&nbsp;</strong>
						</a>
						<ul>
							<li>
								<a href="#"> 
									<span class="nav-link-text"> Menu Item</span> 
								</a>
							</li>
							<li>
								<a href="#"> 
									<span class="nav-link-text"> Menu Item</span> 
								</a>
							</li>
							<li>
								<a href="#"> 
									<span class="nav-link-text">
										Menu Item w/ child
									</span> 
									<strong class="dl-ref bg-primary-500">&nbsp;1.3&nbsp;</strong>
								</a>
								<ul>
									<li>
										<a href="#"> 
											<span class="nav-link-text">
												First Child (1.3.1)
											</span>
										</a>
									</li>
									<li>
										<a href="#"> 
											<span class="nav-link-text">
												Second Child (1.3.2)
											</span>
										</a>
									</li>
									<li>
										<a href="#"> 
											<span class="nav-link-text">
												Last child (1.3.3)
											</span>
										</a>
									</li>
								</ul>		
							</li>
						</ul>	
					</li>
					<li>
						<a href="#"> 
							<span class="nav-link-text">
								Menu Parent
							</span> 
							<strong class="dl-ref bg-primary-500">&nbsp;2.0&nbsp;</strong>
						</a>						
						<ul>
							<li>
								<a href="#"> 
									<span class="nav-link-text">
										Menu Item
									</span> 
								</a>
							</li>
							<li>
								<a href="#"> 
									<span class="nav-link-text">
										Menu Item
									</span> 
								</a>
							</li>
							<li>
								<a href="#"> 
									<span class="nav-link-text">
										Menu Item
									</span> 
								</a>
							</li>
							<li>
								<a href="#"> 
									<span class="nav-link-text">
										Menu Item
									</span> 
								</a>
							</li>

						</ul>
					</li>
					<li>
						<a href="#"> 
							<span class="nav-link-text">Menu Parent </span> 
							<strong class="dl-ref bg-primary-500">&nbsp;3.0&nbsp;</strong>
						</a>
						<ul>
							<li>
								<a href="#"> 
									<span class="nav-link-text"> Menu Item</span> 
								</a>
							</li>
							<li>
								<a href="#"> 
									<span class="nav-link-text"> Menu Item</span> 
								</a>
							</li>
							<li>
								<a href="#"> 
									<span class="nav-link-text">
										Menu Item w/ child
									</span> 
									<strong class="dl-ref bg-primary-500">&nbsp;3.3&nbsp;</strong>
								</a>
								<ul>
									<li>
										<a href="#"> 
											<span class="nav-link-text">
												First Child (3.3.1)
											</span>
										</a>
									</li>
									<li>
										<a href="#"> 
											<span class="nav-link-text">
												Second Child (3.3.2)
											</span>
										</a>
									</li>
									<li class="disabled">
										<a href="#"> 
											<span class="nav-link-text">
												Last child (3.3.3)
											</span>
										</a>
									</li>
								</ul>		
							</li>
						</ul>	
					</li>
					<li class="disabled">
						<a href="#"> 
							<span class="nav-link-text">
								Menu Parent (disabled)
							</span> 
						</a>
					</li>
				</ul>

			</div>
			<!-- /clean look -->

			<!-- default settings -->
			<div class="col-sm-12 col-xxl-6">

				<h5 class="frame-heading p-0 bg-white mb-2 mt-0">
					Customized gradient with <code>data-nav-accordion="false"</code>
				</h5>

				<ul id="nav-2" class="nav-menu bg-primary-900 bg-info-gradient nav-menu-bordered w-100" data-nav-accordion="false">
					<li>
						<a href="#" title="Menu Parent" class=""> 
							<span class="nav-link-text">Menu Parent </span> 
							<strong class="dl-ref bg-primary-500">&nbsp;1.0&nbsp;</strong>
						</a>
						<ul class="bg-info-800">
							<li>
								<a href="#"> 
									<span class="nav-link-text"> Menu Item</span> 
								</a>
							</li>
							<li>
								<a href="#"> 
									<span class="nav-link-text"> Menu Item</span> 
								</a>
							</li>
							<li>
								<a href="#"> 
									<span class="nav-link-text">
										Menu Item w/ child
									</span> 
									<strong class="dl-ref bg-primary-500">&nbsp;1.3&nbsp;</strong>
								</a>
								<ul class="bg-info-900">
									<li>
										<a href="#"> 
											<span class="nav-link-text">
												First Child (1.3.1)
											</span>
										</a>
									</li>
									<li>
										<a href="#"> 
											<span class="nav-link-text">
												Second Child (1.3.2)
											</span>
										</a>
									</li>
									<li>
										<a href="#"> 
											<span class="nav-link-text">
												Last child (1.3.3)
											</span>
										</a>
									</li>
								</ul>		
							</li>
						</ul>	
					</li>
					<li>
						<a href="#" title="Package Info"> 
							<span class="nav-link-text">
								Menu Parent
							</span> 
							<strong class="dl-ref bg-primary-500">&nbsp;2.0&nbsp;</strong>
						</a>						
						<ul class="bg-info-800">
							<li>
								<a href="documentation-and-faq.html"> 
									<span class="nav-link-text">
										Menu Item
									</span> 
								</a>
							</li>
							<li>
								<a href="info_package.html"> 
									<span class="nav-link-text">
										Menu Item
									</span> 
								</a>
							</li>
							<li>
								<a href="info_app_licensing.html"> 
									<span class="nav-link-text">
										Menu Item
									</span> 
								</a>
							</li>
							<li>
								<a href="info_app_flavors.html"> 
									<span class="nav-link-text">
										Menu Item
									</span> 
								</a>
							</li>

						</ul>
					</li>
					<li>
						<a href="#"> 
							<span class="nav-link-text">Menu Parent </span> 
							<strong class="dl-ref bg-primary-500">&nbsp;3.0&nbsp;</strong>
						</a>
						<ul class="bg-info-800">
							<li>
								<a href="#"> 
									<span class="nav-link-text"> Menu Item</span> 
								</a>
							</li>
							<li>
								<a href="#"> 
									<span class="nav-link-text"> Menu Item</span> 
								</a>
							</li>
							<li>
								<a href="#"> 
									<span class="nav-link-text">
										Menu Item w/ child
									</span> 
									<strong class="dl-ref bg-primary-500">&nbsp;3.3&nbsp;</strong>
								</a>
								<ul class="bg-info-900">
									<li>
										<a href="#"> 
											<span class="nav-link-text">
												First Child (3.3.1)
											</span>
										</a>
									</li>
									<li>
										<a href="#"> 
											<span class="nav-link-text">
												Second Child (3.3.2)
											</span>
										</a>
									</li>
									<li>
										<a href="#"> 
											<span class="nav-link-text">
												Last child (3.3.3)
											</span>
										</a>
									</li>
								</ul>		
							</li>
						</ul>	
					</li>
					<li class="disabled">
						<a href="#"> 
							<span class="nav-link-text">
								Menu Parent (disabled)
							</span> 
						</a>
					</li>
				</ul>
				
			</div>
			<!-- /default settings -->

		</div>

	</div>

</div>
<!--/ card -->

<div class="card">

	<h4 class="card-header">
	    Structure <span class="fw-300">and dependencies</span> 
		<small>
		    Allows you to
		</small>
	</h4>

	<div class="card-body">
			<div class="col-xl-12">

				<h5 class="frame-heading p-0 bg-white mb-2 mt-0">
					Structure
				</h5>
				
<pre class="prettyprint">
&lt;ul id="mynav" class="nav-menu bg-primary-700 nav-menu-bordered w-100" data-nav-accordion="true"&gt;
    &lt;li&gt;
        &lt;a href="#"&gt;&lt;span class="nav-link-text"&gt;Menu Parent &lt;/span&gt;&lt;/a&gt;
        &lt;ul&gt;
            &lt;li&gt;
                &lt;a href="#"&gt;&lt;span class="nav-link-text"&gt; Menu Item &lt;/span&gt;&lt;/a&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;a href="#"&gt;&lt;span class="nav-link-text"&gt; Menu Item &lt;/span&gt;&lt;/a&gt;
                &lt;ul&gt;
                    &lt;li&gt;
                        &lt;a href="#"&gt;&lt;span class="nav-link-text"&gt; First Child &lt;/span&gt;&lt;/a&gt;
                    &lt;/li&gt;
                &lt;/ul&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/li&gt;
   &lt;li class="disabled"&gt;
        &lt;a href="#"&gt;&lt;span class="nav-link-text"&gt;Menu Parent (disabled)&lt;/span&gt;&lt;/a&gt;
   &lt;/li&gt;
&lt;/ul&gt;</pre>			


				<h5 class="frame-heading p-0 bg-white mb-2 mt-0">
					Script
				</h5>

<pre class="prettyprint">
$("#mynav").navigation({
   accordion: 'true', 
   animate: 'ease-in', 
   speed: 400, 
   closedSign: 'fal fa-minus', 
   openedSign: 'fal fa-plus'
});</pre>	

				<h5 class="frame-heading p-0 bg-white mb-2 mt-0">
					Dependencies
				</h5>

<pre class="prettyprint">
&lt;link rel="stylesheet" media="screen, print" href="css/myapp.css">
&lt;script src="js/app.jquery.bundle.js">&lt;/script>
&lt;script src="js/app.core.plugins.js">&lt;/script></pre>

			<h5 class="frame-heading p-0 bg-white mb-2 mt-0">
				SCSS path
			</h5>


			<strong>developer/.../src/scss/_modules/_nav.scss</strong>
			<br>
			<strong>developer/.../src/scss/_modules/_nav-*.scss</strong>
					
	</div>
</div>


{{/inline}}

{{#*inline "scripts-block"}}
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

<script type="text/javascript">

$("#destroy").hide();
//$('#pre-nav-1').hide()
	
	//$('#nav_accordion').val()

	$("#build").on('click', function () {

		if ( $("#nav_syndicate").is(':checked') ? true : false ) {
			$("#nav-1, #nav-2").navigation({accordion: $("#nav_accordion").is(':checked') ? true : false, animate: $('#nav_animation').val(), speed: parseInt( $('#nav_speed').val(), 10 ), closedSign:$('#nav_closedSign').val(), openedSign:$('#nav_openedSign').val()}); 

			//$("#app-eventlog").text('$("#nav-1, #nav-2").navigation({ accordion:' + true + ', ' + 'animate:' +  $('#nav_animation').val() + '})')

		} else {
			$("#nav-1").navigation({accordion: $("#nav_accordion").is(':checked') ? true : false, animate: $('#nav_animation').val(), speed: parseInt( $('#nav_speed').val(), 10 ), closedSign:$('#nav_closedSign').val(), openedSign:$('#nav_openedSign').val()}); 
			$("#nav-2").navigation({accordion: $("#nav_accordion").is(':checked') ? true : false, animate: $('#nav_animation').val(), speed: parseInt( $('#nav_speed').val(), 10 ), closedSign:$('#nav_closedSign').val(), openedSign:$('#nav_openedSign').val()}); 
		}

		$("#build").hide();
		$("#destroy").show();
		$("#nav_accordion, #nav_animation, #nav_speed, #nav_closedSign, #nav_openedSign, #nav_syndicate").attr('disabled', true);

		//$('#pre-nav-1').show().text( $('#nav-1')[0].innerHTML ).css('max-height', '400px');

/*		$('#pre-nav-1').html(function() {
			return this.innerHTML.replace(/\t/g, '&nbsp;');
		});*/

	});
	$("#destroy").on('click', function () {
		$("#nav-1").destroy(); 
		$("#nav-2").destroy();
		$("#destroy").hide();
		$("#build").show();
		$("#nav_accordion, #nav_animation, #nav_speed, #nav_closedSign, #nav_openedSign, #nav_syndicate").removeAttr('disabled');

		//$('#pre-nav-1').text("").hide();
	});

</script>

{{/inline}}

{{/layouts/main}}