{{#> 
	layouts/main 
	title="Alerts" 
	pagename="ui_alerts" 
	heading="<i class='subheader-icon fal fa-window'></i>  Alerts" 
	category_1="UI Components" 
	pagedescription="Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages."
}}

{{#*inline "head-block"}}
<link rel="stylesheet" media="screen, print" href="css/theme-demo.min.css">
{{/inline}}

{{#*inline "content-block"}}

<div class="row">

	<div class="col-md-12 col-xl-6">

		<div class="card mb-g">

			<div class="card-body">

				<h3 class="mb-4">
					Basic <span class="fw-300">Alerts</span> 
					<small>
						Contextual minimalistic alerts
					</small>
				</h3>

				<div class="alert alert-primary" role="alert">
					<strong>Heads up!</strong> This alert needs your attention, but it's not super important.
				</div>

				<div class="alert alert-success" role="alert">
					<strong>Well Done!</strong> You successfully read this important alert message.
				</div>

				<div class="alert alert-danger" role="alert">
					<strong>Oh snap!</strong> Change a few things up and try submitting again.
				</div>

				<div class="alert alert-warning" role="alert">
					<strong>Holy guacamole!</strong> You should check in on some of those fields below.
				</div>

				<div class="alert alert-info" role="alert">
					<strong>Info!</strong> Alert for passing information to user.
				</div>

				<div class="alert alert-secondary" role="alert">
					<strong>Hello World!</strong> This is default alert message box.
				</div>

			</div>
			
		</div>

		<div class="card mb-g">

			<div class="card-body">

				<h3 class="mb-4">
					Dismissable <span class="fw-300">Alerts</span> 
					<small>
						Alerts with close button and fade transition
					</small>
				</h3>

				<div class="alert alert-primary alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<strong>Heads up!</strong> This alert needs your attention, but it's not super important.
				</div>

				<div class="alert alert-success alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<strong>Well Done!</strong> You successfully read this important alert message.
				</div>

				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<strong>Oh snap!</strong> Change a few things up and try submitting again.
				</div>

				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<strong>Holy guacamole!</strong> You should check in on some of those fields below.
				</div>

				<div class="alert alert-info alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<strong>Info!</strong> Alert for passing information to user.
				</div>

				<div class="alert alert-secondary alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<strong>Hello World!</strong> This is default alert message box.
				</div>

			</div>
			
		</div>

		<div class="card mb-g">

			<div class="card-body">

				<h3 class="mb-4">
					Large <span class="fw-300">Alerts</span> 
					<small>
						Alert to surely capture attention!
					</small>
				</h3>


				<div class="alert alert-success text-success alert-dismissible fade show bg-transparent" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
						
					<div class="d-flex align-items-center">
						<div>
							<i class="fal fa-exclamation-triangle fs-xxl mb-0 mr-3"></i> 
						</div>
						<div class="flex-1">
							<div class="h5 m-0">
								Alert big
								<small class="m-0">
									Alert for passing information to user.
								</small>
							</div>			
						</div>
					</div>
				</div>

				<div class="alert alert-danger text-danger alert-dismissible fade show bg-transparent" role="alert">
					<div class="d-flex align-items-center">
						<i class="fal fa-exclamation-triangle fs-xxl mb-0 mr-3"></i> 
						<div class="flex-1">
							<span class="h5 m-0 fw-700">Alert big! </span>
							Alert for passing information to user.	
						</div>
						<button type="button" class="btn btn-info btn-pills btn-sm btn-w-m  mr-1">
							Repair
						</button>
						<button type="button" class="btn btn-danger btn-pills btn-sm btn-w-m" data-dismiss="alert" aria-label="Close">
							Dismiss
						</button>
					</div>
				</div>

				<div class="alert alert-success alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<div class="d-flex align-items-center">
						<div>
							<i class="fal fa-exclamation-triangle fs-xxl mb-0 mr-3"></i> 
						</div>
						<div class="flex-1">
							<div class="h5 m-0">
								Alert big
								<small class="m-0">
									Alert for passing information to user.
								</small>
							</div>
						</div>
					</div>
				</div>

				<div class="alert alert-dismissible text-white bg-info-600 fade show bg-transparent" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<div class="d-flex align-items-center">
						<div>
							<i class="fal fa-check-circle fs-xxl mb-0 mr-3"></i> 
						</div>
						<div class="flex-1">
							<div class="h5 m-0">
								Alert big
								<small class="m-0">
									Alert for passing information to user.
								</small>
							</div>
						</div>
					</div>
				</div>

				<div class="alert alert-primary">
					<div class="d-table w-100">
						<div class="d-table-cell v-align-m width-6">
							<span class="stack-icons">
								<i class="base-stack base-7 color-primary-400"></i>
								<i class="middle-stack base-3 color-primary-600 mt-1 opacity-70"></i>
								<i class="top-stack fal fa-cubes opacity-90"></i>
							</span>
						</div>
						<div class="d-table-cell v-align-m pl-1">
							<div class="d-flex">
								<div class="flex-1">
									<span class="h5">Even more layout options!</span> 	
									<br>
									Find the complete list of all layout options and possibilities
								</div>
								<div class="d-flex align-items-center">
									<a href="intel_layout_options.html" class="btn btn-outline-primary btn-pills btn-sm btn-w-m">Close</a>							
								</div>
							</div>
						</div>
					</div>
				</div>
				

			</div>
			
		</div>
	
	</div>

	<div class="col-md-12 col-xl-6">

		<div class="card mb-g">

			<div class="card-body">

				<h3 class="mb-4">
					Alert <span class="fw-300">Styles</span> 
					<small>
						Alternative alert styles.
					</small>
				</h3>

				<h4 class="frame-heading">
					Outline Style
				</h4>
				<div class="frame-wrap p-0 border-0">	
					<div class="alert alert-primary alert-dismissible fade show bg-transparent text-primary" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
						<strong>Heads up!</strong> This alert needs your attention, but it's not super important.
					</div>

					<div class="alert alert-success alert-dismissible fade show bg-transparent text-success" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
						<strong>Well Done!</strong> You successfully read this important alert message.
					</div>

					<div class="alert alert-danger alert-dismissible fade show bg-transparent text-danger" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
						<strong>Oh snap!</strong> Change a few things up and try submitting again.
					</div>

					<div class="alert alert-info alert-dismissible fade show bg-transparent text-info" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
						<strong>Info!</strong> Alert for passing information to user.
					</div>

					<div class="alert alert-dark alert-dismissible fade show bg-transparent" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
						<strong>Hello World!</strong> This is default alert message box.
					</div>
				</div>

				<h4 class="frame-heading">
					Different background colors
				</h4>
				<div class="frame-wrap p-0 border-0">	
					<div class="alert bg-info-500 alert-dismissible fade show" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
						<strong>Info!</strong> Alert for passing information to user.
					</div>

					<div class="alert bg-primary-200 alert-dismissible fade show text-white" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
						<strong>Info!</strong> Alert for passing information to user.
					</div>

					<div class="alert bg-danger-400 alert-dismissible fade show text-white" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
						<strong>Info!</strong> Alert for passing information to user.
					</div>

					<div class="alert bg-fusion-200 alert-dismissible fade show text-white" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
						<strong>Info!</strong> Alert for passing information to user.
					</div>

					<div class="alert bg-warning-700 alert-dismissible fade show text-white" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
						<strong>Info!</strong> Alert for passing information to user.
					</div>

					<div class="alert bg-success-300 alert-dismissible fade show text-white" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
						<strong>Info!</strong> Alert for passing information to user.
					</div>

				</div>

				<h4 class="frame-heading">
					Squar styles
				</h4>

				<div class="frame-wrap p-0 border-0">

					<div class="alert alert-primary alert-dismissible fade show bg-transparent text-primary border-radius-0" role="alert">
						<strong>Heads up!</strong> This alert needs your attention, but it's not super important.
					</div>

					<div class="alert bg-danger-50 border-radius-0 text-danger" role="alert">
						<strong>Info!</strong> Alert for passing information to user.
					</div>

					<div class="alert alert-primary border-radius-0" role="alert">
						<strong>Info!</strong> Alert for passing information to user.
					</div>

					<div class="alert alert-info alert-dismissible fade show border-radius-0 text-info" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
						<div class="h5 m-0">
							Alert big
							<small class="m-0">
								Alert for passing information to user.
							</small>
						</div>
					</div>

					<div class="alert alert-secondary alert-dismissible fade show border-radius-0" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
						<div class="h5 m-0">
							Alert big
							<small class="m-0">
								Alert for passing information to user.
							</small>
						</div>
					</div>

				</div>

				<h4 class="frame-heading">
					Alert with icons
				</h4>

				<div class="frame-wrap p-0 border-0">

					<div class="alert alert-primary alert-dismissible fade show bg-transparent text-primary border-radius-0" role="alert">
						<strong>Heads up!</strong> This alert needs your attention, but it's not super important.
					</div>

					<div class="alert alert-warning border-radius-0" role="alert">
						<strong>Info!</strong> Alert for passing information to user.
					</div>

					<div class="alert bg-success-200 border-radius-0 text-white border-0" role="alert">
						<strong>Info!</strong> Alert for passing information to user.
					</div>

				</div>

				
				{{!-- <div class="alert alert-dark alert-dismissible fade show" role="alert">
					<div class="d-flex align-items-center">
						<div class="flex-1">
							This is a dark alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
						</div>
						<div class="text-right">
							<button type="button" data-dismiss="alert" aria-label="Close" class="btn btn-sm btn-secondary">
								CLOSE
							</button>
						</div>
					</div>
				</div> --}}

				{{!-- <div class="alert bg-primary-300 alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<select class="float-sm-right target btn-w-l">
						
							<option value="bg-primary-50">bg-primary-50</option>
							<option value="bg-primary-100">bg-primary-100</option>
							<option value="bg-primary-200">bg-primary-200</option>
							<option value="bg-primary-300" selected="selected">bg-primary-300</option>
							<option value="bg-primary-400">bg-primary-400</option>
							<option value="bg-primary-500">bg-primary-500</option>
							<option value="bg-primary-600">bg-primary-600</option>
							<option value="bg-primary-700">bg-primary-700</option>
							<option value="bg-primary-800">bg-primary-800</option>
							<option value="bg-primary-900">bg-primary-900</option>
						
					</select>
					<strong>Primary</strong> Alert
				</div>

				<div class="alert bg-fusion-200 alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<select class="float-sm-right target btn-w-l">
						
							<option value="bg-fusion-50">bg-fusion-50</option>
							<option value="bg-fusion-100">bg-fusion-100</option>
							<option value="bg-fusion-200">bg-fusion-200</option>
							<option value="bg-fusion-300" selected="selected">bg-fusion-300</option>
							<option value="bg-fusion-400">bg-fusion-400</option>
							<option value="bg-fusion-500">bg-fusion-500</option>
							<option value="bg-fusion-600">bg-fusion-600</option>
							<option value="bg-fusion-700">bg-fusion-700</option>
							<option value="bg-fusion-800">bg-fusion-800</option>
							<option value="bg-fusion-900">bg-fusion-900</option>
					
					</select>
					<strong>Secondary</strong> Alert
				</div>

				<div class="alert bg-success-300 alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<strong>Success</strong> Alert
					<select class="float-sm-right target btn-w-l">
						<option value="bg-success-50">bg-success-50</option>
						<option value="bg-success-100">bg-success-100</option>
						<option value="bg-success-200">bg-success-200</option>
						<option value="bg-success-300">bg-success-300</option>
						<option value="bg-success-400" selected="selected">bg-success-400</option>
						<option value="bg-success-500">bg-success-500</option>
						<option value="bg-success-600">bg-success-600</option>
						<option value="bg-success-700">bg-success-700</option>
						<option value="bg-success-800">bg-success-800</option>
						<option value="bg-success-900">bg-success-900</option>
					</select>
				</div>

				<div class="alert bg-danger-500 alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<strong>Danger</strong> Alert
					<select class="float-sm-right target btn-w-l">
						<option value="bg-danger-50">bg-danger-50</option>
						<option value="bg-danger-100">bg-danger-100</option>
						<option value="bg-danger-200" selected="selected">bg-danger-200</option>
						<option value="bg-danger-300">bg-danger-300</option>
						<option value="bg-danger-400">bg-danger-400</option>
						<option value="bg-danger-500">bg-danger-500</option>
						<option value="bg-danger-600">bg-danger-600</option>
						<option value="bg-danger-700">bg-danger-700</option>
						<option value="bg-danger-800">bg-danger-800</option>
						<option value="bg-danger-900">bg-danger-900</option>
					</select>
				</div>

				<div class="alert bg-warning-300 alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<strong>Warning</strong> Alert
					<select class="float-sm-right target btn-w-l">
						<option value="bg-warning-50">bg-warning-50</option>
						<option value="bg-warning-100" selected="selected">bg-warning-100</option>
						<option value="bg-warning-200">bg-warning-200</option>
						<option value="bg-warning-300">bg-warning-300</option>
						<option value="bg-warning-400">bg-warning-400</option>
						<option value="bg-warning-500">bg-warning-500</option>
						<option value="bg-warning-600">bg-warning-600</option>
						<option value="bg-warning-700">bg-warning-700</option>
						<option value="bg-warning-800">bg-warning-800</option>
						<option value="bg-warning-900">bg-warning-900</option>
					</select>
				</div>

				<div class="alert bg-info-500 alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<strong>Info</strong> Alert
					<select class="float-sm-right target btn-w-l">
						<option value="bg-info-50">bg-info-50</option>
						<option value="bg-info-100" selected="selected">bg-info-100</option>
						<option value="bg-info-200">bg-info-200</option>
						<option value="bg-info-300">bg-info-300</option>
						<option value="bg-info-400">bg-info-400</option>
						<option value="bg-info-500">bg-info-500</option>
						<option value="bg-info-600">bg-info-600</option>
						<option value="bg-info-700">bg-info-700</option>
						<option value="bg-info-800">bg-info-800</option>
						<option value="bg-info-900">bg-info-900</option>
					</select>
				</div>

				<div class="alert alert-note fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<strong>Note</strong> Alert
				</div>

				<div class="alert alert-notice alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<strong>Notice</strong> Alert
				</div> --}}


			</div>
			
		</div>
	
	</div>

</div>

{{!-- <div class="container card p-g mb-g d-block">

	<h3>
		Link color
		<small>
			Use the .alert-link utility class to quickly provide matching colored links within any alert.
		</small>
	</h3>


</div>

<div class="container card p-g mb-g d-block">

	<div class="alert alert-success" role="alert">
	  <h3 class="alert-heading">Well done!</h3>
	  <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
	  <hr>
	  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
	</div>

	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
	</div>

</div> --}}

{{/inline}}

{{#*inline "scripts-block"}}
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<script>
/**
 * jQuery alterClass plugin
 *
 * Remove element classes with wildcard matching. Optionally add classes:
 *   $( '#foo' ).alterClass( 'foo-* bar-*', 'foobar' )
 *
 * Copyright (c) 2011 Pete Boere (the-echoplex.net)
 * Free under terms of the MIT license: http://www.opensource.org/licenses/mit-license.php
 *
 */
(function ( $ ) {
	
$.fn.alterClass = function ( removals, additions ) {
	
	var self = this;
	
	if ( removals.indexOf( '*' ) === -1 ) {
		// Use native jQuery methods if there is no wildcard matching
		self.removeClass( removals );
		return !additions ? self : self.addClass( additions );
	}

	var patt = new RegExp( '\\s' + 
			removals.
				replace( /\*/g, '[A-Za-z0-9-_]+' ).
				split( ' ' ).
				join( '\\s|\\s' ) + 
			'\\s', 'g' );

	self.each( function ( i, it ) {
		var cn = ' ' + it.className + ' ';
		while ( patt.test( cn ) ) {
			cn = cn.replace( patt, ' ' );
		}
		it.className = $.trim( cn );
	});

	return !additions ? self : self.addClass( additions );
};

})( jQuery );

$(".target").change(function() {
	$(this).parent(".alert").alterClass( 'bg-*', $(this).val() );
});
</script>

{{/inline}}

{{/layouts/main}}