{{#> 
	layouts/main 
	title="Alerts" 
	pagename="ui_alerts" 
	heading="<i class='subheader-icon fal fa-window'></i>  Alerts" 
	category_1="UI Components" 
	pagedescription="Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages."
}}

{{#*inline "head-block"}}
<link rel="stylesheet" media="screen, print" href="css/theme-demo.min.css">
{{/inline}}

{{#*inline "content-block"}}

<div class="row">

	<div class="col-md-12 col-xl-6">

		<div class="card mb-g">

			<div class="card-body">

				<h3 class="mb-4">
					Basic <span class="fw-300">Alerts</span> 
					<small>
						Contextual minimalistic alerts
					</small>
				</h3>

				<div class="alert alert-primary" role="alert">
					<i class="fal fa-info-circle mr-1"></i> 
					<strong>Heads up!</strong> This alert needs your attention, but it's not super important.
				</div>

				<div class="alert alert-success" role="alert">
					<i class="fal fa-check mr-1"></i> 
					<strong>Well Done!</strong> You successfully read this important alert message.
				</div>

				<div class="alert alert-danger" role="alert">
					<i class="fal fa-times mr-1"></i> 
					<strong>Oh snap!</strong> Change a few things up and try submitting again.
				</div>

				<div class="alert alert-warning" role="alert">
					<i class="fal fa-exclamation-triangle mr-1"></i> 
					<strong>Holy guacamole!</strong> You should check in on some of those fields below.
				</div>

				<div class="alert alert-info" role="alert">
					<strong>Info!</strong> Alert for passing information to user.
				</div>

				<div class="alert alert-secondary" role="alert">
					<strong>Hello World!</strong> This is default alert message box.
				</div>

			</div>
			
		</div>

		<div class="card mb-g">

			<div class="card-body">

				<h3 class="mb-4">
					Dismissable <span class="fw-300">Alerts</span> 
					<small>
						Alerts with close button and fade transition
					</small>
				</h3>

				<div class="alert alert-primary alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<strong>Heads up!</strong> This alert needs your attention, but it's not super important.
				</div>

				<div class="alert alert-success alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<strong>Well Done!</strong> You successfully read this important alert message.
				</div>

				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<strong>Oh snap!</strong> Change a few things up and try submitting again.
				</div>

				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<strong>Holy guacamole!</strong> You should check in on some of those fields below.
				</div>

				<div class="alert alert-info alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<strong>Info!</strong> Alert for passing information to user.
				</div>

				<div class="alert alert-secondary alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<strong>Hello World!</strong> This is default alert message box.
				</div>

			</div>
			
		</div>

		<div class="card mb-g">

			<div class="card-body">

				<h3 class="mb-4">
					Large <span class="fw-300">Alerts</span> 
					<small>
						Alert to surely capture attention!
					</small>
				</h3>

				<div class="alert alert-success-outline alert-dismissible fade show" role="alert">

					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<div class="d-flex align-items-center">

						<div class="alert-icon">
							<i class="fal fa-check"></i> 
						</div>

						<div class="flex-1">
							<span class="h5 m-0 fw-700">Alert big! </span>
							Alert for passing information to user.	
						</div>

					</div>

				</div>

				<div class="alert alert-info-outline alert-dismissible fade show" role="alert">
					<div class="d-flex align-items-center">

						<div class="alert-icon">
							<i class="fal fa-exclamation-triangle"></i> 
						</div>

						<div class="flex-1">
							<span class="h5 m-0 fw-700">Alert big! </span>
							Alert for passing information to user.	
						</div>

						<button type="button" class="btn btn-info btn-pills btn-sm btn-w-m  mr-1">
							Repair
						</button>
						<button type="button" class="btn btn-danger btn-pills btn-sm btn-w-m" data-dismiss="alert" aria-label="Close">
							Dismiss
						</button>

					</div>
				</div>

				<div class="alert alert-info alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>

					<div class="d-flex align-items-center">

						<div class="alert-icon">
							<i class="fal fa-info-circle"></i> 
						</div>

						<div class="flex-1">
							<span class="h5">Tests complete!</span> 	
							<br>
							All member tests have passed successfully.
						</div>

					</div>
				</div>

				<div class="alert alert-primary fade show" role="alert">
					<div class="d-flex align-items-center">

						<div class="alert-icon">
							<i class="fal fa-lightbulb"></i>
						</div>

						<div class="flex-1">
							<span class="h5">Tests complete!</span> 	
							<br>
							All member tests have passed successfully.
						</div>
						
						<a href="#" class="btn btn-primary btn-pills btn-sm width-7">OK</a>							

					</div>
				</div>


				<div class="alert bg-fusion-400 border-0 fade show">
					<div class="d-flex align-items-center">

						<div class="alert-icon">
							<i class="fal fa-shield-check text-warning"></i>
						</div>

						<div class="flex-1">
							<span class="h5">Download complete</span> 	
							<br>
							Install the latest version of NextGen WebApp
						</div>

						<a href="#" class="btn btn-warning btn-w-m fw-500 btn-sm" data-dismiss="alert" aria-label="Close">Install</a>	

					</div>	
				</div>			

			</div>
			
		</div>
	
	</div>

	<div class="col-md-12 col-xl-6">

		<div class="card mb-g">

			<div class="card-body">

				<h3 class="mb-4">
					Alert <span class="fw-300">Outline</span> 
					<small>
						We remove the background to give a cleaner look.
					</small>
				</h3>

				<div class="alert alert-primary-outline alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<strong>Heads up!</strong> This alert needs your attention, but it's not super important.
				</div>

				<div class="alert alert-success-outline alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<strong>Well Done!</strong> You successfully read this important alert message.
				</div>

				<div class="alert alert-danger-outline alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<strong>Oh snap!</strong> Change a few things up and try submitting again.
				</div>

				<div class="alert alert-warning-outline alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<strong>Holy guacamole!</strong> You should check in on some of those fields below.
				</div>

				<div class="alert alert-info-outline alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<strong>Info!</strong> Alert for passing information to user.
				</div>

				<div class="alert alert-secondary-outline alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<strong>Hello World!</strong> This is default alert message box.
				</div>

			</div>

		</div>	

		<div class="card mb-g">

			<div class="card-body">

				<h3 class="mb-4">
					Alternative <span class="fw-300">Backgrounds</span> 
					<small>
						Use theme's color pallet to add over 54 background choices.
					</small>
				</h3>

				<div class="alert bg-info-500 alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<strong>Info!</strong> Alert for passing information to user.
				</div>

				<div class="alert bg-primary-200 alert-dismissible fade show text-white" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<strong>Info!</strong> Alert for passing information to user.
				</div>

				<div class="alert bg-danger-400 alert-dismissible fade show text-white" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<strong>Info!</strong> Alert for passing information to user.
				</div>

				<div class="alert bg-fusion-200 alert-dismissible fade show text-white" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<strong>Info!</strong> Alert for passing information to user.
				</div>

				<div class="alert bg-warning-700 alert-dismissible fade show text-white" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<strong>Info!</strong> Alert for passing information to user.
				</div>

				<div class="alert bg-success-300 alert-dismissible fade show text-white" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<strong>Info!</strong> Alert for passing information to user.
				</div>

			</div>

		</div>	

		<div class="card mb-g">

			<div class="card-body">

				<h3 class="mb-4">
					Stack <span class="fw-300">Icon</span> 
					<small>
						We remove the background to give a cleaner look.
					</small>
				</h3>


				<div class="alert alert-primary-outline alert-dismissible fade show" role="alert">

					<div class="d-flex align-items-center">

						<div class="alert-icon">
							<span class="icon-stack icon-stack-md">
								<i class="base-2 icon-stack-3x color-primary-200"></i>
								<i class="base-3 icon-stack-2x color-primary-300"></i>
								<i class="fal fa-check icon-stack-1x text-white"></i>
							</span>
						</div>
						
						<div class="flex-1">
							<span class="h5 m-0 fw-700">Alert big! </span>
							Alert for passing information to user.	
						</div>

					</div>

				</div>

				<div class="alert alert-success fade show">

					<div class="d-flex align-items-center">

						<div class="alert-icon">
							<span class="icon-stack icon-stack-md">
								<i class="base-7 icon-stack-3x color-success-700 opacity-60"></i>
								<i class="base-7 icon-stack-2x color-success-700 opacity-30"></i>
								<i class="fal fa-comment-alt icon-stack-1x text-white"></i>
							</span>
						</div>

						<div class="flex-1">
							<span class="h5">Tests complete!</span> 	
							<br>
							All member tests have passed successfully.
						</div>

						<a href="#" class="btn btn-info btn-pills btn-sm btn-w-m" data-dismiss="alert" aria-label="Close">Close</a>		

					</div>

				</div>

				<div class="alert bg-info-400 text-white alert-dismissible fade show" role="alert">
					<div class="d-flex align-items-center">

						<div class="alert-icon">
							<span class="icon-stack icon-stack-md">
								<i class="base-7 icon-stack-3x color-warning-200"></i>
								<i class="base-7 icon-stack-2x color-warning-500"></i>
								<i class="ni ni-graph icon-stack-1x text-info"></i>
							</span>
						</div>	

						<div class="flex-1">
							<span class="h5">Tests complete!</span> 	
							<br>
							All member tests have passed successfully
						</div>

						<a href="#" class="btn btn-warning btn-pills" data-dismiss="alert" aria-label="Close">Fix</a>

					</div>
				</div>

				<div class="alert alert-danger alert-dismissible bg-danger-400 border-0 text-white fade show">

					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>

					<div class="d-flex align-items-center">

						<div class="alert-icon">
							<span class="icon-stack icon-stack-md">
								<i class="base-2 icon-stack-3x color-fusion-400"></i>
								<i class="ni md-mask text-white icon-stack-1x"></i>
								<i class="ni md-profile color-fusion-800 icon-stack-2x"></i>
							</span>
						</div>

						<div class="flex-1 pl-1">
							<span class="h5">Hold on there Sparky!</span> 	
							<br>
							Better fix those errors before you can complete this request
						</div>

					</div>

				</div>	


			</div>
			
		</div>
	
	</div>

</div>

{{!-- <div class="container card p-g mb-g d-block">

	<h3>
		Link color
		<small>
			Use the .alert-link utility class to quickly provide matching colored links within any alert.
		</small>
	</h3>


</div>

<div class="container card p-g mb-g d-block">

	<div class="alert alert-success" role="alert">
	  <h3 class="alert-heading">Well done!</h3>
	  <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
	  <hr>
	  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
	</div>

	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
	</div>

</div> --}}

{{/inline}}

{{#*inline "scripts-block"}}
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<script>
/**
 * jQuery alterClass plugin
 *
 * Remove element classes with wildcard matching. Optionally add classes:
 *   $( '#foo' ).alterClass( 'foo-* bar-*', 'foobar' )
 *
 * Copyright (c) 2011 Pete Boere (the-echoplex.net)
 * Free under terms of the MIT license: http://www.opensource.org/licenses/mit-license.php
 *
 */
(function ( $ ) {
	
$.fn.alterClass = function ( removals, additions ) {
	
	var self = this;
	
	if ( removals.indexOf( '*' ) === -1 ) {
		// Use native jQuery methods if there is no wildcard matching
		self.removeClass( removals );
		return !additions ? self : self.addClass( additions );
	}

	var patt = new RegExp( '\\s' + 
			removals.
				replace( /\*/g, '[A-Za-z0-9-_]+' ).
				split( ' ' ).
				join( '\\s|\\s' ) + 
			'\\s', 'g' );

	self.each( function ( i, it ) {
		var cn = ' ' + it.className + ' ';
		while ( patt.test( cn ) ) {
			cn = cn.replace( patt, ' ' );
		}
		it.className = $.trim( cn );
	});

	return !additions ? self : self.addClass( additions );
};

})( jQuery );

$(".target").change(function() {
	$(this).parent(".alert").alterClass( 'bg-*', $(this).val() );
});
</script>

{{/inline}}

{{/layouts/main}}