{{#> 
	layouts/main 
	title="Idle Timer" 
	pagename="miscellaneous_lightgallery" 
	category_1="Miscellaneous"
	heading="<i class='subheader-icon fal fa-globe'></i> Light Gallery<sup class='badge badge-primary fw-500'>PREMIUM ADDON</sup>" 
	pagedescription="blank description"
}}

{{#*inline "head-block"}}
	<link rel="stylesheet" media="screen, print" href="css/miscellaneous/lightgallery/lightgallery.css">
{{/inline}}

{{#*inline "content-block"}}

<div class="alert alert-primary">
	<div class="d-flex flex-start w-100">
		<div class="mr-2 hidden-md-down">
			<span class="icon-stack icon-stack-lg">
				<i class="base base-6 icon-stack-3x opacity-100 color-primary-500"></i>
				<i class="base base-10 icon-stack-2x opacity-100 color-primary-300 fa-flip-vertical"></i>
				<i class="ni ni-blog-read icon-stack-1x opacity-100 color-white"></i>
			</span>
		</div>
		<div class="d-flex flex-fill">
			<div class="flex-fill">
				<span class="h5">About</span>
				<p>Points.</p>
				<p class="m-0">
					Find in-depth, guidelines, tutorials and more on Addon's <a href="#" target="_blank">Official Documentation</a> 
				</p>
			</div>
		</div>
	</div>
</div>

{{!-- Your main content goes here --}}
<div class="row">
	<div class="col-xl-6">
		<div id="panel-1" class="panel">
			<div class="panel-hdr">	
				<h2>
					Panel <span class="fw-300"><i>Title</i></span> 
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-original-title="Collapse"></button>
					<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-original-title="Close"></button>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">									
					<div class="panel-tag">
						Panel tag <code>code</code>
					</div>
<div id="aniimated-thumbnials" class="list-unstyled">
                        <a class="" href="../static/img/1.jpg" data-sub-html="sdsdsd">
                            <img class="img-responsive" src="../static/img/thumb-1.jpg">
                            <div class="demo-gallery-poster">
                                <img src="../static/img/zoom.png">
                            </div>
                            
                        </a>
                        <a class="" href="../static/img/2.jpg">
                            
                            <img class="img-responsive" src="../static/img/thumb-2.jpg">
                            <div class="demo-gallery-poster">
                                <img src="../static/img/zoom.png">
                            </div>
                            
                        </a>
                        <a class="" href="../static/img/3.jpg">
                            
                            <img class="img-responsive" src="../static/img/thumb-3.jpg">
                            <div class="demo-gallery-poster">
                                <img src="../static/img/zoom.png">
                            </div>
                            
                        </a>
                        <a class="" href="../static/img/4.jpg">
                            
                            <img class="img-responsive" src="../static/img/thumb-4.jpg">
                            <div class="demo-gallery-poster">
                                <img src="../static/img/zoom.png">
                            </div>
                            
                        </a>
                        <a class="" href="../static/img/5.jpg" data-sub-html="sdsdsd">
                            
                            <img class="img-responsive" src="../static/img/thumb-5.jpg">
                            <div class="demo-gallery-poster">
                                <img src="../static/img/zoom.png">
                            </div>
                            
                        </a>
                        <a class="" href="../static/img/6.jpg">
                            
                            <img class="img-responsive" src="../static/img/thumb-6.jpg">
                            <div class="demo-gallery-poster">
                                <img src="../static/img/zoom.png">
                            </div>
                            
                        </a>
                        <a class="" href="../static/img/7.jpg">
                            
                            <img class="img-responsive" src="../static/img/thumb-7.jpg">
                            <div class="demo-gallery-poster">
                                <img src="../static/img/zoom.png">
                            </div>
                            
                        </a>
                        <a class="" href="../static/img/8.jpg">
                            
                            <img class="img-responsive" src="../static/img/thumb-8.jpg">
                            <div class="demo-gallery-poster">
                                <img src="../static/img/zoom.png">
                            </div>
                            
                        </a>
                        <a class="" href="../static/img/9.jpg" data-sub-html="sdsdsd">
                            
                            <img class="img-responsive" src="../static/img/thumb-9.jpg">
                            <div class="demo-gallery-poster">
                                <img src="../static/img/zoom.png">
                            </div>
                            
                        </a>
                        <a class="" href="../static/img/10.jpg">
                            
                            <img class="img-responsive" src="../static/img/thumb-10.jpg">
                            <div class="demo-gallery-poster">
                                <img src="../static/img/zoom.png">
                            </div>
                            
                        </a>
                        <a class="" href="../static/img/11.jpg" data-sub-html="sdsdsd">
                            
                            <img class="img-responsive" src="../static/img/thumb-11.jpg">
                            <div class="demo-gallery-poster">
                                <img src="../static/img/zoom.png">
                            </div>
                            
                        </a>
                        <a class="" href="../static/img/12.jpg">
                            
                            <img class="img-responsive" src="../static/img/thumb-12.jpg">
                            <div class="demo-gallery-poster">
                                <img src="../static/img/zoom.png">
                            </div>
                            
                        </a>
                        <a class="" href="../static/img/13.jpg">
                            
                            <img class="img-responsive" src="../static/img/thumb-13.jpg">
                            <div class="demo-gallery-poster">
                                <img src="../static/img/zoom.png">
                            </div>
                            
                        </a>
                        <a class="" href="../static/img/14.jpg">
                            
                            <img class="img-responsive" src="../static/img/thumb-14.jpg">
                            <div class="demo-gallery-poster">
                                <img src="../static/img/zoom.png">
                            </div>
                            
                        </a>
                        <a class="" href="../static/img/15.jpg" data-sub-html="sdsdsd">
                            
                            <img class="img-responsive" src="../static/img/thumb-15.jpg">
                            <div class="demo-gallery-poster">
                                <img src="../static/img/zoom.png">
                            </div>
                            
                        </a>
                        <a class="" href="../static/img/16.jpg">
                            
                            <img class="img-responsive" src="../static/img/thumb-16.jpg">
                            <div class="demo-gallery-poster">
                                <img src="../static/img/zoom.png">
                            </div>
                            
                        </a>
                        <a class="" href="../static/img/17.jpg">
                            
                            <img class="img-responsive" src="../static/img/thumb-17.jpg">
                            <div class="demo-gallery-poster">
                                <img src="../static/img/zoom.png">
                            </div>
                            
                        </a>
                        <a class="" href="../static/img/18.jpg">
                            
                            <img class="img-responsive" src="../static/img/thumb-18.jpg">
                            <div class="demo-gallery-poster">
                                <img src="../static/img/zoom.png">
                            </div>
                            
                        </a>
                        <a class="" href="../static/img/19.jpg" data-sub-html="sdsdsd">
                            
                            <img class="img-responsive" src="../static/img/thumb-19.jpg">
                            <div class="demo-gallery-poster">
                                <img src="../static/img/zoom.png">
                            </div>
                            
                        </a>
                        <a class="" href="../static/img/20.jpg">
                            
                            <img class="img-responsive" src="../static/img/thumb-20.jpg">
                            <div class="demo-gallery-poster">
                                <img src="../static/img/zoom.png">
                            </div>
                            
                        </a>
                    </div>
					
				</div>
			</div>
		</div>
	</div>
</div>
{{/inline}}

{{#*inline "scripts-block"}}
	<script src="js/miscellaneous/lightgallery/lightgallery.js"></script>
	<script>
		$(document).ready(function () {
			
		});
	</script>
{{/inline}}

{{/layouts/main}}